Repository Liquipedia/Lua-Modules, pull requests merged in 2021-11, with the labels that each got.

#644 Fix bug where missing displayname would result in empty string for previous/next in LPDB
  components/infobox/commons/infobox_league.lua
Labels: bug, c: infobox

#642 Adjust chronology storgae for sc2
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox

#605 Allow more organizers and sponsors for LPDB
  components/infobox/commons/infobox_league.lua
Labels: enhancement, c: infobox

#641 Add facebook-gaming to `Module:Links`
  components/infobox/commons/infobox_widget_links.lua
  standard/links.lua
Labels: c: standard

#651 Fix variable tournament_startdate to be filled from args.sdate or date
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#649 Set tournament_date variables from date if possible, but use fallbacks
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#654 Add Namespace.idFromName
  standard/namespace.lua
Labels: c: standard

#655 Change match1 player saving
  components/match2/wikis/rocketleague/match_legacy.lua
Labels: g: rocket league, c: match2

#656 prepare for infobox player implementation on RL and CS
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#660 Fix Team Display in infobox person
  components/infobox/commons/infobox_person.lua
Labels: bug, c: infobox

#661 Add Table.deepMergeInto
  standard/table.lua
Labels: c: standard

#658 Add school tier LPDB storage to RL infobox team
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
Labels: g: rocket league, c: infobox

#664 Add JsonExt.parseIfTable
  standard/json_ext.lua
Labels: c: standard

#646 Add ArrayExt.findIndex
  standard/array_ext.lua
Labels: c: standard

#607 Add Array.minBy, Array.maxBy, Array.reduce
  standard/array.lua
  standard/fn_util.lua
Labels: c: standard

#648 [pl1] Split MatchGroupUtil.makeMatchGroup into separate function
  components/match2/commons/match_group_util.lua
Labels: c: standard

#668 Use id instead of name for `objectname`
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#669 Remove useless line
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: bug, g: starcraft, c: infobox

#666 Rename race to faction (SC, SC2)
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/starcraft2/match_legacy.lua
Labels: g: starcraft, c: match2

#665 Add infobox item implementation
  components/infobox/commons/infobox_item.lua
  components/infobox/wikis/wildrift/infobox_item_custom.lua
Labels: c: infobox, g: wildrift

#667 Round `currentYearEarnings` display
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: g: starcraft, c: infobox

#670 Use capital letter
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, chore, g: counter-strike

#672 Add missing `{}`
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: bug, g: starcraft, c: infobox, severe

#671 Selectively show `organizers` plural
  components/infobox/commons/infobox_league.lua
Labels: c: infobox, g: counter-strike

#674 Set `challonge` prefix for players
  standard/links.lua
Labels: bug, c: standard

#675 Adjust param name
  components/infobox/wikis/wildrift/infobox_item_custom.lua
Labels: c: infobox, g: wildrift

#676 Catch empty opponents
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: bug, g: starcraft, c: infobox

#677 Fix Achievements display
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: bug, g: starcraft, c: infobox

#678 enable `darkmodeforced` in infoboxes
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_basic.lua
Labels: enhancement, c: infobox

#679 Make header customizable
  components/infobox/commons/infobox_unit.lua
Labels: c: infobox

#650 Add ArrayExt.uniqueElement
  standard/array_ext.lua
  standard/logic.lua
  standard/table.lua
Labels: c: standard

#680 Implement Infobox champion
  components/infobox/wikis/wildrift/infobox_unit_champion.lua
Labels: c: infobox, g: wildrift

#673 Add metadata to counterstrike
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#682 Add MathUtil.dotProduct
  standard/math_util.lua
Labels: c: standard

#684 Fixed lua error in Match2 -> Match1 mapping
  components/match2/wikis/rainbow_six/match_legacy.lua
Labels: bug, g: rainbow six, c: match2

#685 Ensure numbers are of number type and not strings
  components/match2/wikis/rainbow_six/match_group_input_custom.lua
Labels: bug, g: rainbow six, c: match2

#686 Add TimeZone (UTC) to the call to Module:Countdown
  components/match2/commons/match_group_display_helper.lua
Labels: bug, c: match2

#691 Add Table.deepMergeInto
  standard/table.lua
Labels: c: standard

#690 Remove Class.export from starcraft display components
  components/match2/commons/starcraft_starcraft2/match_external_links_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_bracket_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_matchlist_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_ffa_starcraft.lua
  components/match2/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
Labels: g: starcraft

#687 Allow boolean true for racehistorical
  components/match2/commons/starcraft_starcraft2/player_util_starcraft.lua
Labels: g: starcraft, c: match2

#662 Add Module:Player/Ext
  components/match2/commons/player_ext.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_ext_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_util_starcraft.lua
Labels: c: standard

#693 Adjust `localizedname` storage
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#692 Improved the style of the Match Summary popout
  components/match2/wikis/rainbow_six/match_summary.lua
Labels: g: rainbow six, c: match2

#694 Adjust achievements display
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#695 Allow to set custom variables for teams
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#696 Adjust placement calculation
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: bug, g: rocket league, c: match2

#702 [SUGGESTION] Allow matches to be manually set as not finished
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: g: rocket league, c: match2

#700 Adjust tier and tiertype vars
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox, g: apex

#697 Calculate match draw
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: enhancement, g: rocket league, c: match2

#698 Make nationality display customizable
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#706 Update Macao --> Macau
  standard/flags_master_data.lua
Labels: c: standard

#705 Adjust platforms
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
Labels: c: infobox, g: apex

#711 Remove legacy (tier --> tier + tiertype) stuff
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
Labels: c: infobox, g: apex

#721 Fix length being parsed as number instead of string
  components/match2/commons/match_group_util.lua
Labels: bug, c: match2

#709 Add Wildrift match Input processing
  components/match2/wikis/wildrift/brkts_wiki_specific.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2, g: wildrift

#632 Use filler icon if no icon is found
  standard/league_icon.lua
Labels: c: standard

#712 Add sc2 `Infobox league/hidden`
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: g: starcraft, c: infobox

#717 Use dev of Brkts/WikiSpecific/Base if dev-mode is enabled
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
Labels: g: rainbow six, c: match2

#710 Add legacy support for icons with file prefix
  standard/league_icon.lua
Labels: c: standard

#726 Adjust sc(2) input processing order of players in teams
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#723 Adjust wildrift walkover handling
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2, g: wildrift

#659 Implement Infobox player
  components/infobox/wikis/rocketleague/infobox_person_player.lua
Labels: g: rocket league, c: infobox

#704 Show Match Score in the Match Summary
  components/match2/commons/match_summary_base.lua
  components/match2/commons/opponent_display.lua
  components/match2/wikis/rainbow_six/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, g: rainbow six, c: match2

#716 Add Display Type SingleMatch
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_group_display.lua
  components/match2/commons/match_group_display_singlematch.lua
  components/match2/commons/match_group_util.lua
Labels: c: match2

#733 Adjust participantNumber display in halo infobox league
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: c: infobox, g: halo

#713 Create Infobox/Item for Mobile Legends
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
Labels: c: infobox, g: mobilelegends

#728 Add `Module:WarningBox`
  components/match2/commons/match_group_display.lua
  standard/warning_box.lua
Labels: c: standard

#738 Fix lua ambiguity
  components/match2/commons/match_summary_ffa.lua
Labels: chore

#732 Create Brkts/WikiSpecific for Splitgate
  components/match2/wikis/splitgate/brkts_wiki_specific.lua
Labels: c: match2, g: splitgate

#720 Change interface of starcraft's Template:MatchExternalLink
  components/match2/commons/starcraft_starcraft2/match_external_links_starcraft.lua
Labels: g: starcraft

#737 Brkts/WikiSpecific Cleanup
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/wikis/brawlstars/brkts_wiki_specific.lua
  components/match2/wikis/halo/brkts_wiki_specific.lua
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
  components/match2/wikis/splitgate/brkts_wiki_specific.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/match2/wikis/valorant/brkts_wiki_specific.lua
  components/match2/wikis/wildrift/brkts_wiki_specific.lua
Labels: c: match2

#547 [coords1] Add bracketData.lowerEdges
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_util.lua
Labels: c: match2

#622 [try1] Add Module:Error, Module:Error/Ext, Module:Error/Display
  standard/error.lua
  standard/error_display.lua
  standard/error_ext.lua
Labels: c: standard

#724 Add wildrift legacy storage
  components/match2/wikis/wildrift/match_legacy.lua
Labels: c: match2, g: wildrift

#739 Fix short circuiting in Logic.nilOr
  standard/logic.lua
Labels: c: standard

#708 Normalize location and location2 before saving to lpdb (Infobox Team)
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/halo/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: c: infobox

#725 Add match2 copy paste generator for wildrift
  components/match2/wikis/wildrift/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: wildrift

#689 Add Module:Date/Ext
  standard/date_ext.lua
Labels: c: standard

#718 Add option to display scores in SC/SC2 MatchSummary headers
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/commons/starcraft_starcraft2/opponent_display_starcraft.lua
Labels: g: starcraft, c: match2

#746 Adjust trigger function for MatchSummary popup
  components/match2/wikis/wildrift/brkts_wiki_specific.lua
Labels: c: match2, g: wildrift

#735 Add Earnings implementation
  components/earnings/commons/earnings.lua
  components/earnings/commons/earnings_base.lua
  components/earnings/wikis/halo/earnings.lua
  components/earnings/wikis/rocketleague/earnings.lua
  components/earnings/wikis/valorant/earnings.lua
Labels: c: infobox, c: standard

#722 Add wildrift matchsummary
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2, g: wildrift

#748 Fix function name
  components/earnings/wikis/halo/earnings.lua
  components/earnings/wikis/rocketleague/earnings.lua
  components/earnings/wikis/valorant/earnings.lua
Labels: bug, c: standard

#736 Set location category for teams
  components/infobox/commons/infobox_team.lua
Labels: bug, c: infobox

#727 Standardize nationality storage
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#760 Store mapHeader for halo
  components/match2/wikis/halo/match_group_input_custom.lua
Labels: c: match2, g: halo

#757 Fix HiddenDataBox bugs
  components/hidden_data_box/commons/hidden_data_box.lua
Labels: bug

#740 Provide default earnings function in infobox team
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/halo/infobox_team_custom.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
Labels: bug, c: infobox

#756 Adjust http —> https
  standard/links.lua
Labels: bug, c: standard

#548 [coords2] Move bracket connectors into separate component
  components/match2/commons/match_group_display_bracket.lua
Labels: c: match2

#758 Add function `varDefineEcho`
  standard/variables.lua
Labels: c: standard

#751 Add CopyPaste Generator support for SingleMatch
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
  components/match2/commons/starcraft_starcraft2/get_match_group_copy_paste_starcraft.lua
Labels: c: match2

#755 Add Module:Region/Ept
  standard/region/commons/region.lua
  standard/region/commons/region_data.lua
  standard/region/extensions/ept.lua
  standard/region/extensions/ept_data.lua
Labels: c: standard

#749 Center Game.length display vertically
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2, g: wildrift

#747 Remove custom css
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#765 Adjust earnings to allow differently stored player pagenames
  components/earnings/commons/earnings_base.lua
Labels: c: standard

#767 Add support for special teams
  components/squad/squad_row.lua
Labels: enhancement, c: squad

#771 Add AoE support
  components/notability/commons/notability_checker.lua
  components/notability/wikis/rocketleague/notability_checker_config.lua
Labels: g: ageofempires, c: notability

#557 [coords4] Add Module:MatchGroup/Coordinates
  components/match2/commons/match_group_coordinates.lua
Labels: c: match2

#688 [pl6] Add Module:Stream/Ext
  standard/stream_links.lua
Labels: c: standard

#663 [pl4] Add Module:Opponent
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/opponent.lua
Labels: c: standard

#742 Provide default earnings function in infobox person
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/halo/infobox_person_player.lua
  components/infobox/wikis/rocketleague/infobox_person_player.lua
Labels: c: infobox

#768 Add LPDB to Squad
  components/squad/squad_custom.lua
  components/squad/squad_row.lua
Labels: enhancement, c: squad, f: lpdb

#787 Push Module:Squad to live
  components/squad/squad.lua
  components/squad/squad_person.lua
  components/squad/squad_row.lua
  components/squad/wikis/rocketleague/squad_custom.lua
Labels: g: rocket league, c: squad

#790 Add friendlier error to squad
  components/squad/squad_row.lua
Labels: enhancement, c: squad

#792 Fix Squad typo
  components/squad/squad_row.lua
Labels: bug, c: squad

#791 Add Squad to mobilelegends
  components/squad/wikis/mobilelegends/squad_custom.lua
Labels: g: mobilelegends, c: squad

#788 Add SC2 custom for Squad modules
  components/squad/wikis/starcraft2/squad_custom.lua
Labels: g: starcraft, c: squad

#780 [coords5a] Update type declarations in MatchGroupUtil
  components/match2/commons/match_group_util.lua
Labels: c: match2

#793 Fix bugs with sc2 squads
  components/squad/wikis/starcraft2/squad_custom.lua
Labels: bug, g: starcraft, c: squad

#794 Add Space between id and icon
  components/squad/squad_row.lua
Labels: c: squad

#730 Create MatchGroup/Input/Custom for Splitgate wiki
  components/match2/wikis/splitgate/match_group_input_custom.lua
Labels: c: match2, g: splitgate

#798 Remove special tier handling in RL Infobox League
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: rocket league, c: infobox, breaking change, f: lpdb

#802 Valorant - Improve BigMatch
  components/match2/wikis/valorant/big_match.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#801 Use Opponent.toName for highlight key
  components/match2/commons/match_group_display_helper.lua
Labels: c: match2

#781 [coords5b] Split makeMatchGroup into bracket and matchlist specific functions
  components/match2/commons/match_group_util.lua
Labels: c: match2
