Repository Liquipedia/Lua-Modules, pull requests merged in 2021-06, with the labels that each got.

#39 Add icon retrieval for storage during match processing
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: Starcraft

#46 Sync from live modules for valorant
  match2/wikis/valorant/match_summary.lua
Labels: valorant

#47 Add TBD checks in starcraft/starcraft2 save to smw
  match2/wikis/starcraft/match_legacy.lua
  match2/wikis/starcraft2/match_legacy.lua
Labels: Starcraft

#48 Remove LuaUtils usage in match2/wikis/rocketleague/brkts_wiki_specific.lua
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League
