Repository Liquipedia/Lua-Modules, pull requests merged in 2021-12, with the labels that each got.

#803 Remove Legacy Date Vars for SC2
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: g: starcraft, c: infobox

#804 Add `Module:VodLink`
  standard/vod_link.lua
Labels: c: standard

#782 [coords5c] Read upperMatchIds from lpdb
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_util.lua
Labels: c: match2

#809 CRLF -> LF in MatchGroup/Coordinates
  components/match2/commons/match_group_coordinates.lua
Labels: c: match2

#805 Adjust Modules to use the `VodLink` module
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/rainbow_six/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
Labels: c: match2

#806 Add Match/Legacy for Valorant
  components/match2/wikis/valorant/big_match.lua
  components/match2/wikis/valorant/match_legacy.lua
Labels: g: valorant, c: match2

#810 Improve Population of Tournament Match from Big Match
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#812 Add dq options to BlockPlayer
  components/match2/commons/player_display.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
Labels: c: match2

#814 Automate Tournament Link for Big Match
  components/match2/wikis/valorant/big_match.lua
Labels: g: valorant, c: match2

#820 Add ChallengerMode to Rainbow Six Match2
  components/match2/wikis/rainbow_six/match_group_input_custom.lua
  components/match2/wikis/rainbow_six/match_summary.lua
Labels: g: rainbow six, c: match2

#819 Add Brkts/WikiSpecific for Mobile Legends
  components/infobox/wikis/mobilelegends/brkts_wikispecific.lua
Labels: c: match2, g: mobilelegends

#816 Fix custom earnings bug for infobox player
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: bug, c: infobox

#825 Fix variables in `Module:Infobox/League/Custom`
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#823 Add option to store a list of sub/accademy teams to extradata
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#827 Add tracking category and error in `Module:Infobox/League/Custom` on AoE
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#731 Create MatchSummary for Splitgate
  components/match2/wikis/splitgate/match_summary.lua
Labels: c: match2, g: splitgate

#817 Improve Economy Tab of BigMatch
  components/match2/wikis/valorant/big_match.lua
Labels: g: valorant, c: match2

#821 Use /dev of MatchGroup/Display/Helper if in dev mode
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/match_group_display_singlematch.lua
  components/match2/commons/match_summary_ffa.lua
  components/match2/commons/opponent_display.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/rainbow_six/match_legacy.lua
  components/match2/wikis/rainbow_six/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/rocketleague/opponent_display_custom.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2

#783 [coords5d] Read coordinates from lpdb
  components/match2/commons/match_group_coordinates.lua
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_util.lua
Labels: c: match2

#829 [BigMatch] Code Cleanup
  components/match2/wikis/valorant/big_match.lua
Labels: g: valorant, c: match2

#824 Move mobilelegends brkts/wikispec to correct folder
  components/match2/wikis/mobilelegends/brkts_wikispecific.lua
Labels: c: match2, g: mobilelegends

#835 Avoid `string.lower(nil)`
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: bug, g: starcraft, c: infobox

#784 [coords5e] Read lowerMatchIds and lowerEdges from lpdb
  components/match2/commons/match_group_util.lua
Labels: c: match2

#785 [coords5f] Read advance spots from lpdb
  components/match2/commons/match_group_util.lua
Labels: c: match2

#786 [coords5g] Remove deprecated fields
  components/match2/commons/match_group_util.lua
Labels: c: match2

#842 Rename infobox_person_map maker.lua to infobox_person_map_maker.lua
  components/infobox/wikis/starcraft2/infobox_person_map_maker.lua
Labels: bug, g: starcraft, c: infobox

#840 Fix config.showScore handling in starcraft MatchSummary
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#837 Fix aligulac link
  standard/links.lua
Labels: bug, c: standard

#838 Make type a customizable cell in infobox league
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#844 Match2->Match1: Fix incorrect score handling
  components/match2/wikis/rainbow_six/match_legacy.lua
Labels: g: rainbow six, c: match2

#845 Add Online/Offline Tournament Category
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#839 Adjust type handling
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#830 Add CopyPaste for R6
  components/match2/wikis/rainbow_six/get_match_group_copy_paste_wiki.lua
Labels: g: rainbow six, c: match2

#836 Fix some bugs in sc2 infobox league
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#847 Adjust function `_cleanPrizeValue`
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox

#841 Adjust sc2 MatchSummary veto & Caster Display
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#849 Fix Reference Cleaner
  standard/reference_cleaner.lua
  standard/test/reference_cleaner_test.lua
Labels: bug, c: standard

#848 use `Module:ReferenceCleaner` in function `League:_cleanDate`
  components/infobox/commons/infobox_league.lua
Labels: bug, c: infobox

#851 Resolve redirects for creators in maps
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
Labels: g: starcraft, c: infobox

#853 Remove `birthdate >= _EPOCH_DATE` condition
  components/infobox/extensions/commons/age.lua
Labels: c: infobox_extensions

#854 Add HiddenSort implementation as a module
  standard/hidden_sort.lua
Labels: c: standard

#559 [coords6] Save new bracketdata fields to lpdb
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_util.lua
Labels: c: match2, f: lpdb

#856 Add MatchGroupUtil.indexTableToRecord
  components/match2/commons/match_group_util.lua
Labels: c: match2

#861 Adjust earnings display for persons
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: c: infobox

#862 Unify earnings display between team and person infoboxes
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: c: infobox

#858 Fix Typo
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_map_maker.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: bug, g: starcraft, c: infobox

#859 Add links to VOD, SiegeGG and r6esports.br to SMW match
  components/match2/wikis/rainbow_six/match_legacy.lua
Labels: g: rainbow six, c: match2

#864 Switch SC(2) Match Input Processing to use the new standard date vars
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#857 Adjust SC2 `adjustLPDB` functions in `Infobox/Person/...`
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: bug, g: starcraft, c: infobox

#826 Add game version to LPDB in `Module:Infobox/League/Custom` on AoE
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#865 Adjust SC2 Earnings Display for teams and persons
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#863 Fixing Wild Rift Infobox Item bad argument error
  components/infobox/wikis/wildrift/infobox_item_custom.lua
Labels: bug, c: infobox, g: wildrift

#869 Fix RL Infobox car
  components/infobox/wikis/rocketleague/infobox_unit_car.lua
Labels: bug, g: rocket league, c: infobox

#770 Create infobox_weapon.lua
  components/infobox/commons/infobox_weapon.lua
Labels: c: infobox

#880 Earnings - Update default players per team
  components/earnings/wikis/halo/earnings.lua
  components/earnings/wikis/valorant/earnings.lua
Labels: g: valorant, c: infobox, g: halo

#752 Create Match Summary for Mobile Legends
  components/match2/wikis/mobilelegends/match_summary.lua
Labels: c: match2, g: mobilelegends

#701 Create Infobox/Team for R6
  components/earnings/wikis/rainbowsix/earnings.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
Labels: g: rainbow six, c: infobox

#885 Add Literal as allowed mode in CopyPasta/Base
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
Labels: c: match2

#884 Add option to display Warnings in Infobox/League
  components/infobox/commons/infobox_league.lua
Labels: c: match2

#795 Mass-Add `Module:Info`
  scripts/generate_module_info.ps1
  standard/info/wikis/ageofempires/info.lua
  standard/info/wikis/apexlegends/info.lua
  standard/info/wikis/arenafps/info.lua
  standard/info/wikis/arenaofvalor/info.lua
  standard/info/wikis/battalion/info.lua
  standard/info/wikis/brawlstars/info.lua
  standard/info/wikis/callofduty/info.lua
  standard/info/wikis/clashroyale/info.lua
  standard/info/wikis/counterstrike/info.lua
  standard/info/wikis/dota2/info.lua
  standard/info/wikis/fifa/info.lua
  standard/info/wikis/fighters/info.lua
  standard/info/wikis/freefire/info.lua
  standard/info/wikis/halo/info.lua
  standard/info/wikis/heroes/info.lua
  standard/info/wikis/leagueoflegends/info.lua
  standard/info/wikis/mobilelegends/info.lua
  standard/info/wikis/overwatch/info.lua
  standard/info/wikis/pokemon/info.lua
  standard/info/wikis/pubg/info.lua
  standard/info/wikis/rainbowsix/info.lua
  standard/info/wikis/rocketleague/info.lua
  standard/info/wikis/smash/info.lua
  standard/info/wikis/splitgate/info.lua
  standard/info/wikis/squadron/info.lua
  standard/info/wikis/starcraft/info.lua
  standard/info/wikis/starcraft2/info.lua
  standard/info/wikis/teamfighttactics/info.lua
  standard/info/wikis/teamfortress/info.lua
  standard/info/wikis/trackmania/info.lua
  standard/info/wikis/valorant/info.lua
  standard/info/wikis/warcraft/info.lua
  standard/info/wikis/wildrift/info.lua
  standard/info/wikis/worldofwarcraft/info.lua
Labels: c: standard

#890 Address comments from google sheet
  standard/info/wikis/arenaofvalor/info.lua
  standard/info/wikis/counterstrike/info.lua
  standard/info/wikis/rainbowsix/info.lua
Labels: c: standard

#560 [coords7] Store bracketData.coordinates in lpdb for bracket templates
  components/match2/commons/bracket_template.lua
  components/match2/commons/match_group_util.lua
Labels: c: match2, breaking change, f: lpdb

#894 Adjust `CRLF` --> `LF`
  standard/info/wikis/ageofempires/info.lua
  standard/info/wikis/apexlegends/info.lua
  standard/info/wikis/arenafps/info.lua
  standard/info/wikis/arenaofvalor/info.lua
  standard/info/wikis/battalion/info.lua
  standard/info/wikis/brawlstars/info.lua
  standard/info/wikis/callofduty/info.lua
  standard/info/wikis/clashroyale/info.lua
  standard/info/wikis/counterstrike/info.lua
  standard/info/wikis/dota2/info.lua
  standard/info/wikis/fifa/info.lua
  standard/info/wikis/fighters/info.lua
  standard/info/wikis/freefire/info.lua
  standard/info/wikis/halo/info.lua
  standard/info/wikis/heroes/info.lua
  standard/info/wikis/leagueoflegends/info.lua
  standard/info/wikis/mobilelegends/info.lua
  standard/info/wikis/overwatch/info.lua
  standard/info/wikis/pokemon/info.lua
  standard/info/wikis/pubg/info.lua
  standard/info/wikis/rainbowsix/info.lua
  standard/info/wikis/rocketleague/info.lua
  standard/info/wikis/smash/info.lua
  standard/info/wikis/splitgate/info.lua
  standard/info/wikis/squadron/info.lua
  standard/info/wikis/starcraft/info.lua
  standard/info/wikis/starcraft2/info.lua
  standard/info/wikis/teamfighttactics/info.lua
  standard/info/wikis/teamfortress/info.lua
  standard/info/wikis/trackmania/info.lua
  standard/info/wikis/valorant/info.lua
  standard/info/wikis/warcraft/info.lua
  standard/info/wikis/wildrift/info.lua
  standard/info/wikis/worldofwarcraft/info.lua
Labels: chore

#707 Create Infobox/League for R6
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
Labels: g: rainbow six, c: infobox

#897 Fix two issues with #707
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
Labels: bug, g: rainbow six, c: infobox

#898 Improve R6 Infobox League
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
Labels: g: rainbow six, c: infobox
