Repository Liquipedia/Lua-Modules, pull requests merged in 2021-09, with the labels that each got.

#304 Rework to table interface
  components/infobox/commons/dev_infobox.lua
  components/infobox/commons/example.lua
Labels: c: infobox

#305 Create Infobox/Widget/Header
  components/infobox/commons/infobox_widget.lua
  components/infobox/commons/infobox_widget_header.lua
Labels: c: infobox

#306 Create Infobox/Widget/Title
  components/infobox/commons/infobox_widget_title.lua
Labels: c: infobox

#307 Create Infobox/Widget/Center
  components/infobox/commons/infobox_widget_center.lua
Labels: c: infobox

#308 Create Customizable widget
  components/infobox/commons/dev_infobox.lua
  components/infobox/commons/infobox_widget_customizable.lua
  components/infobox/commons/infobox_widget_injector.lua
Labels: c: infobox

#309 Return self after having set a widgetInjector
  components/infobox/commons/dev_infobox.lua
Labels: bug, c: infobox

#310 Add null check for injector
  components/infobox/commons/infobox_widget_customizable.lua
Labels: bug, c: infobox

#311 Create Cell widget
  components/infobox/commons/infobox_widget_cell.lua
Labels: c: infobox

#312 Finish support for Customizable in Infobox
  components/infobox/commons/dev_infobox.lua
  components/infobox/commons/infobox_widget_cell.lua
Labels: c: infobox

#313 Fix Header
  components/infobox/commons/infobox_widget_header.lua
Labels: bug, c: infobox

#314 Create Links widget
  components/infobox/commons/infobox_widget_links.lua
Labels: c: infobox

#315 Create Chronology widget
  components/infobox/commons/infobox_widget_chronology.lua
Labels: c: infobox

#316 Provide all widgets from one export file
  components/infobox/commons/infobox_widgets.lua
Labels: c: infobox

#317 Fix typo
  components/infobox/commons/infobox_widget_links.lua
Labels: c: infobox

#318 Do not mandate an injector for Customizable
  components/infobox/commons/infobox_widget_customizable.lua
Labels: c: infobox

#320 Add `addCustomCells` to `Injector`
  components/infobox/commons/infobox_widget_customizable.lua
  components/infobox/commons/infobox_widget_injector.lua
Labels: c: infobox

#323 Switch to named arguments for widgets
  components/infobox/commons/infobox_widget_center.lua
  components/infobox/commons/infobox_widget_chronology.lua
  components/infobox/commons/infobox_widget_customizable.lua
  components/infobox/commons/infobox_widget_links.lua
  components/infobox/commons/infobox_widget_title.lua
Labels: c: infobox

#324 Create builder widget
  components/infobox/commons/infobox_widget_builder.lua
Labels: c: infobox

#303 Add `Module:Infobox/Company/Custom`
  components/infobox/wikis/pubg/infobox_company_custom.lua
Labels: c: infobox, g: pubg

#325 Fix typo in recognising custom id
  components/infobox/commons/infobox_widget_customizable.lua
Labels: bug, c: infobox

#326 Remove empty centered cells
  components/infobox/commons/infobox_widget_center.lua
Labels: bug, c: infobox

#331 (R6) Added storage of winner to smw in legacy
  components/match2/wikis/rainbow_six/match_legacy.lua
Labels: g: rainbow six, c: match2

#322 Migrate infobox scene
  components/infobox/commons/infobox_scene.lua
Labels: g: starcraft, c: infobox

#327 Migrate Infobox Skill
  components/infobox/commons/infobox_skill.lua
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
Labels: g: starcraft, c: infobox

#330 Migrate Infobox map
  components/infobox/commons/infobox_map.lua
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
Labels: g: starcraft, c: infobox

#343 Add Breakdown Widget
  components/infobox/commons/infobox_widget_breakdown.lua
Labels: c: infobox

#338 Improve `makeFullLinksForTableItems`
  standard/links.lua
Labels: enhancement, c: standard

#345 Don't make blank opponents hoverable in matchlist and bracket
  components/match2/commons/match_group_display_helper.lua
Labels: c: match2

#333 Create widget factory
  components/infobox/commons/dev_infobox.lua
  components/infobox/commons/infobox_widget_factory.lua
Labels: c: infobox

#334 Migrate Infobox League
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_map.lua
  components/infobox/commons/infobox_widget_chronology.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: g: rocket league, c: infobox, g: counter-strike

#346 Fix some stuff in infobox team
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#337 Migrate Infobox patch
  components/infobox/commons/infobox_basic.lua
  components/infobox/commons/infobox_patch.lua
  components/infobox/commons/infobox_patch_custom.lua
  components/infobox/commons/infobox_widget_highlights.lua
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
Labels: g: starcraft, c: infobox

#348 Add missing insertion of widget injector to Infobox/Team
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
Labels: bug, g: rocket league, c: infobox, severe

#349 Pass context to Customizable children
  components/infobox/commons/infobox_widget_factory.lua
Labels: bug, c: infobox, severe

#350 Fix typo in providing series name
  components/infobox/wikis/rocketleague/infobox_series_custom.lua
Labels: bug, c: infobox, severe

#347 Bug fix infobox series sc2
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: g: starcraft, c: infobox

#351 Fix Race Category handling
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
Labels: bug, g: starcraft, c: infobox, severe

#352 Fix Race Category handling (ability)
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
Labels: bug, g: starcraft, c: infobox

#353 Adjust `isEmpty` check for `getAllArgsForBase`
  components/infobox/commons/infobox_basic.lua
Labels: bug, c: infobox

#354 Add Title to team achievements
  components/infobox/commons/infobox_team.lua
Labels: bug, c: infobox

#355 Fix tier issue
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: bug, g: starcraft, c: infobox

#359 Support default team logo
  components/infobox/commons/infobox_team.lua
Labels: bug, c: infobox

#361 Clean up whitespace
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_basic.lua
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_company_custom.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_show_custom.lua
  components/infobox/commons/infobox_widget_chronology.lua
  components/infobox/commons/infobox_widget_header.lua
  components/infobox/commons/infobox_widget_links.lua
  components/infobox/commons/infobox_widget_title.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_company_custom.lua
  components/infobox/wikis/rocketleague/infobox_company_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
  components/infobox/wikis/starcraft2/infobox_show_custom.lua
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
  components/match2/wikis/rocketleague/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/starcraft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/starcraft/match_group_legacy.lua
  components/match2/wikis/starcraft2/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/starcraft2/match_group_legacy.lua
  standard/links.lua
Labels: chore

#362 Remove default `:addCustomContent` function (stacked on #361)
  components/infobox/commons/infobox_basic.lua
Labels: c: infobox

#363 Sort Links in Infobox
  components/infobox/commons/infobox_widget_links.lua
  standard/links.lua
Labels: c: infobox

#358 Add `Module:Infobox/League/Custom`
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox

#356 Add LPDB storage to infobox team
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, g: rocket league, c: infobox

#367 Preserve original Links array
  components/infobox/commons/infobox_widget_links.lua
Labels: bug, c: infobox

#366 Only display ad box for first infobox
  components/infobox/commons/infobox.lua
Labels: c: infobox

#369 Add `challengermode` and `gamersclubcs` to links
  components/infobox/commons/infobox_widget_links.lua
  standard/links.lua
Labels: c: standard

#357 Clean up code (sc2 custom infobox team - stacked on #356 )
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#371 Fix bug on pubg infobox company
  components/infobox/wikis/pubg/infobox_company_custom.lua
Labels: bug, c: infobox, g: pubg

#370 Allow classes for centered cells
  components/infobox/commons/infobox_widget_center.lua
Labels: c: infobox

#372 Fix bug for centered cells
  components/infobox/commons/infobox_widget_center.lua
Labels: bug, c: infobox

#376 Make `popularized` a link
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
Labels: g: starcraft, c: infobox

#375 Adjust Breakdown Widget
  components/infobox/commons/infobox_widget_breakdown.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#374 Add `Module:Infobox/UnofficialWorldChampion`
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/wikis/starcraft2/infobox_unofficial_world_champion_custom.lua
Labels: g: starcraft, c: infobox

#365 Add Modules for infobox placement stats display
  components/infobox/extensions/commons/placement_stats.lua
  components/infobox/extensions/commons/placement_stats_config.lua
  components/infobox/extensions/wikis/apexlegends/placement_stats_config.lua
Labels: c: infobox_extensions

#377 Add some tiny infobox modules
  components/infobox/commons/infobox_campaign.lua
  components/infobox/commons/infobox_unofficial_world_champion_custom.lua
Labels: c: infobox

#378 Merge Infobox technique into infobox strategy
  components/infobox/commons/infobox_strategy.lua
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
Labels: g: starcraft, c: infobox

#383 Add Facebook stream to R6 matches
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
Labels: g: rainbow six, c: match2

#381 Allow `URL` as alias for website
  standard/links.lua
Labels: c: standard

#384 Address Counter-Strike Infobox/League complaints
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#382 Add `Infobox website`
  components/infobox/commons/infobox_website.lua
  components/infobox/commons/infobox_website_custom.lua
Labels: c: infobox

#385 Add missing space
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#380 Add `Infobox campaign mission`
  components/infobox/commons/infobox_campaign_mission.lua
  components/infobox/commons/infobox_widget_header.lua
  components/infobox/wikis/starcraft2/infobox_campaign_mission_custom.lua
Labels: g: starcraft, c: infobox

#387 Fix Header images
  components/infobox/commons/infobox_widget_header.lua
Labels: bug, c: infobox, severe

#388 Re-add subHeader without error
  components/infobox/commons/infobox_widget_header.lua
Labels: c: infobox

#284 Add `Module:Infobox/League/Custom` for ageofempires
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#390 Add missing links to Links.transform
  standard/links.lua
Labels: chore, c: standard

#391 Add link to smashgg
  components/infobox/commons/infobox_widget_links.lua
  standard/links.lua
Labels: c: standard

#392 Make sure there are no gaps in opponentX_pY (R6)
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
Labels: bug, g: rainbow six, c: match2

#394 Support DarkMode
  components/infobox/commons/infobox_campaign.lua
  components/infobox/commons/infobox_campaign_mission.lua
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_game.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_map.lua
  components/infobox/commons/infobox_patch.lua
  components/infobox/commons/infobox_scene.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_show.lua
  components/infobox/commons/infobox_skill.lua
  components/infobox/commons/infobox_strategy.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/commons/infobox_website.lua
  components/infobox/commons/infobox_widget_header.lua
  components/infobox/wikis/starcraft2/infobox_campaign_mission_custom.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: enhancement, c: infobox

#397 Adjust icon handling
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: bug, enhancement, c: infobox

#396 Fix Typo
  components/infobox/commons/infobox_company.lua
Labels: bug, c: infobox

#395 Support darkmode icon in match2
  components/match2/commons/match.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/brawlstars/brkts_wiki_specific.lua
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
  components/match2/wikis/valorant/brkts_wiki_specific.lua
Labels: c: match2

#402 Allow race & flag for literals
  components/match2/commons/starcraft_starcraft2/match_group_display_bracket_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/opponent_display_starcraft.lua
Labels: g: starcraft, c: match2

#405 Add legacy warnings
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_legacy.lua
  components/match2/wikis/rocketleague/legacy_match_list.lua
  components/match2/wikis/starcraft2/legacy_player_cross_table.lua
  components/match2/wikis/starcraft2/match_group_legacy.lua
Labels: c: match2

#409 Handle empty string
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
Labels: bug, g: starcraft, c: infobox, severe

#58 [ffa 4/5] Add FFA match summary display component
  components/match2/commons/match_summary_ffa.lua
Labels: c: match2

#59 [ffa 5/5] Starcraft specific FFA match summary
  components/match2/commons/starcraft_starcraft2/match_summary_ffa_starcraft.lua
Labels: g: starcraft, c: match2

#66 Show `&zwsp;` for empty block-style opponents
  components/match2/commons/opponent_display.lua
  components/match2/commons/player_display.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
Labels: c: match2

#410 Rename icon key `esea-d` to `esea`
  components/infobox/commons/infobox_widget_links.lua
Labels: bug, c: infobox, g: counter-strike

#411 Add `faceit-c`
  components/infobox/commons/infobox_widget_links.lua
  standard/links.lua
Labels: c: infobox, c: standard, g: counter-strike

#412 Use Lua.requireDev for modules with dev and non-dev versions
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_display_bracket_template.lua
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/match_summary_ffa.lua
  components/match2/commons/opponent_display.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_bracket_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_matchlist_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_summary_ffa_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
  components/match2/wikis/rainbow_six/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/rocketleague/opponent_display.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: c: match2, chore

#413 Document match group entry points
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_display.lua
Labels: c: match2

#415 Add Module:Lua
  .luacheckrc
  standard/lua.lua
Labels: c: standard

#406 Store Section Headers for matches
  components/match2/commons/match_group_base.lua
Labels: c: match2

#418 Move Legacy matchlist Warning
  components/match2/commons/match_group_base.lua
Labels: c: match2

#401 Create age module
  components/infobox/extensions/commons/age.lua
Labels: enhancement, c: infobox

#421 Add header
  components/infobox/extensions/commons/age.lua
Labels: c: infobox_extensions

#386 Rewrite infobox person
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: g: starcraft, c: infobox

#420 Create infobox_building.lua
  components/infobox/commons/infobox_building.lua
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
Labels: g: starcraft, c: infobox

#389 Add Infobox mapmaker
  components/infobox/wikis/starcraft2/infobox_person_map maker.lua
Labels: g: starcraft, c: infobox

#393 Add Infobox commentator
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
Labels: g: starcraft, c: infobox

#399 Add Infobox User
  components/infobox/commons/infobox_person_user.lua
  components/infobox/wikis/starcraft2/infobox_person_user.lua
Labels: g: starcraft, c: infobox

#422 Bug Fixes
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#417 Add LeagueIcon Module
  standard/league_icon.lua
Labels: c: standard

#423 Add infobox team custom
  components/infobox/wikis/halo/infobox_team_custom.lua
Labels: c: infobox, halo

#425 Add halo match2 implementation
  components/match2/wikis/halo/brkts_wiki_specific.lua
  components/match2/wikis/halo/match_summary.lua
Labels: c: match2, halo

#414 Capitalization: FFA -> Ffa, StarCraft -> Starcraft
  components/match2/commons/match_summary_ffa.lua
  components/match2/commons/starcraft_starcraft2/README.txt
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_ffa_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
Labels: c: match2

#428 Add match2 copy paste generators to halo wiki
  components/match2/wikis/halo/bracket_alias.lua
  components/match2/wikis/halo/get_match_group_copy_paste_wiki.lua
Labels: c: match2, halo

#430 Fix typo
  components/match2/wikis/halo/get_match_group_copy_paste_wiki.lua
Labels: bug, c: match2, g: halo

#424 Add infobox league custom
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: c: infobox, g: halo

#431 Add match vod display
  components/match2/wikis/halo/match_summary.lua
Labels: bug, c: match2, g: halo

#436 Fix typo
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#433 Fix Display Bug
  standard/league_icon.lua
Labels: bug, c: standard, severe

#437 Adjust LeagueIcon Module for Infobox/League
  standard/league_icon.lua
Labels: bug, enhancement, c: standard

#435 Adjust map stuff in infobox league custom
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: halo

#441 Avoid concating nil
  components/infobox/extensions/commons/age.lua
Labels: bug, severe, c: infobox_extensions

#438 Set `tournament_mode`
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: c: infobox, g: halo

#440 Resolve Redirect of opponent name
  components/match2/wikis/halo/brkts_wiki_specific.lua
Labels: c: match2, g: halo

#434 Add iconDark retrieval from LIS
  components/infobox/commons/infobox_league.lua
Labels: enhancement, c: infobox

#442 Add Default image for infobox person
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#439 [mg1] Enable dev on MatchGroup/Base and MatchGroup/Display
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_base.lua
  components/match2/wikis/valorant/match_group.lua
Labels: c: match2

#444 Switch to use Region Module
  components/infobox/commons/infobox_person.lua
Labels: enhancement, c: infobox

#446 Adjust LPDB custom storage
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: c: infobox, g: halo

#448 Adjust prize pool function
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: c: infobox, g: halo

#449 Add tier highlighting for `|hcs-sponsored=true`
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: c: infobox, g: halo

#455 Fix bug
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
Labels: bug, c: match2

#461 Remove region display
  components/infobox/wikis/halo/infobox_person_player.lua
Labels: c: infobox, g: halo

#453 Adjust game storage in infobox league
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: c: infobox, g: halo

#463 Add var `tournament_publishertier`
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: c: infobox, g: halo

#452 Fix age display bug
  components/infobox/extensions/commons/age.lua
Labels: bug, c: infobox_extensions

#464 Add `publishertier` storage in matches
  components/match2/wikis/halo/brkts_wiki_specific.lua
Labels: c: match2, g: halo

#454 [mg6] Move match group input processing to dedicated module
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_display.lua
  components/match2/commons/match_group_input.lua
Labels: c: match2

#456 [mg7] Consolidate match group entry points
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_display.lua
  components/match2/commons/match_group_input.lua
  components/match2/wikis/valorant/match_group.lua
Labels: c: match2

#466 Fix Icon bug
  components/infobox/commons/infobox_league.lua
  standard/league_icon.lua
Labels: bug, c: infobox, c: standard, severe

#465 Kick region display for sc2 person infoboxes
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_map maker.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
  components/infobox/wikis/starcraft2/infobox_person_user.lua
Labels: g: starcraft, c: infobox

#459 Few fixes + Add /dev to StarcraftMatchSummary
  components/match2/commons/match_group_display.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_bracket_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_matchlist_starcraft.lua
Labels: g: starcraft, c: match2

#467 Adjust region & location handling for teams
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: enhancement, c: infobox

#474 Fix typo
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_map maker.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
  components/infobox/wikis/starcraft2/infobox_person_user.lua
Labels: bug, c: infobox

#473 Fix bug for links
  standard/links.lua
Labels: bug, c: standard

#475 Avoid nil concat
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
Labels: bug, g: starcraft, c: infobox

#472 Fix bug in infobox person
  components/infobox/commons/infobox_person.lua
Labels: bug, c: infobox

#457 [mg8] Clean up Module:MatchGroup/Input
  components/match2/commons/match_group_display.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_util.lua
Labels: c: match2

#479 Fix for disappearing ratings on Rocket League
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
Labels: bug, g: rocket league, c: infobox, severe

#493 Revert "Adjust region & location handling for teams"
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: bug, c: infobox, severe

#496 CRLF -> LF
  components/match2/commons/match_group_display_bracket_template.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_summary_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_summary_ffa_starcraft.lua
  components/match2/wikis/brawlstars/brkts_wiki_specific.lua
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
  components/match2/wikis/rocketleague/match_group_display_bracket_custom.lua
  components/match2/wikis/valorant/brkts_wiki_specific.lua
  standard/feature_flag.lua
  standard/lua.lua
Labels: chore

#497 Make region customizable
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#500 Kick Region in sc2
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#499 Add `Module:Class`
  .luacheckrc
  standard/class.lua
Labels: c: standard

#504 Fix legacy bracket template id passing
  components/match2/commons/match_group_legacy.lua
  components/match2/wikis/starcraft/match_group_legacy.lua
  components/match2/wikis/starcraft2/match_group_legacy.lua
Labels: bug, c: match2

#505 Use `String.convertWikiListToHtmlList` in sc2 building infobox
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
Labels: g: starcraft, c: infobox

#471 Add region module
  standard/region.lua
  standard/region_data.lua
Labels: c: standard

#485 Add `Module:FnUtil`
  standard/fn_util.lua
Labels: c: standard

#483 Add `Module:ReferenceCleaner`
  standard/reference_cleaner.lua
Labels: c: standard

#490 Add `Module:Namespace`
  standard/namespace.lua
Labels: c: standard

#488 Add `Module:TreeUtil`
  standard/tree_util.lua
Labels: c: standard

#501 Use module for region
  components/infobox/wikis/halo/infobox_team_custom.lua
Labels: c: infobox, g: halo
