Repository Liquipedia/Lua-Modules, pull requests merged in 2021-10, with the labels that each got.

#513 Fix draw issues
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: bug, g: starcraft, c: match2

#507 Removed resulttype 'submatch' for legacy matches (on the starcraft 1 wiki)
  components/match2/wikis/starcraft/match_legacy.lua
Labels: g: starcraft, c: match2

#516 Adjust custom infobox unit
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
Labels: g: starcraft, c: infobox

#470 [mg12] Add deprecation warnings to match group entry points
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_display.lua
Labels: c: match2

#491 Add `Module:Hotkey`
  standard/hotkey.lua
Labels: c: standard

#517 Clean up SC `Module:Match/Legacy`
  components/match2/wikis/starcraft/match_legacy.lua
Labels: g: starcraft, c: match2

#518 Fix Link order in infoboxes
  components/infobox/commons/infobox_widget_links.lua
Labels: bug, enhancement, c: standard

#529 Use warning box to prompt template purge
  components/match2/commons/match_group_input.lua
Labels: enhancement, c: match2

#519 Add Module:ResultOrError
  standard/result_or_error.lua
Labels: c: standard

#480 Add `Module:Logic`
  standard/logic.lua
Labels: c: standard

#458 [mg9] Merge matchBuilder mechanism into processMatch
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_display.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_util.lua
  components/match2/wikis/valorant/big_match.lua
  components/match2/wikis/valorant/match_group.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: c: match2

#503 Add `Module:Table`
  standard/table.lua
Labels: c: standard

#524 Add Table.iter.pairsByPrefix
  standard/table.lua
Labels: c: standard

#492 Add `Module:Flags`
  standard/flags.lua
  standard/flags_master_data.lua
Labels: c: standard

#506 Add `Module:StringUtils`
  standard/string_utils.lua
Labels: c: standard

#498 Re-add changes from #457
  components/match2/commons/match_group_display.lua
Labels: c: match2

#476 [mg13] Simplify matchlist/bracket container interface
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_group_display.lua
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_bracket_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_matchlist_starcraft.lua
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
  components/match2/wikis/rocketleague/match_group_display_bracket_custom.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
Labels: c: match2

#535 Add Logic.isNotEmpty, Table.isNotEmpty, StringUtils.isNotEmpty
  standard/logic.lua
  standard/string_utils.lua
  standard/table.lua
Labels: c: standard

#484 Add `Module:Array`
  standard/array.lua
Labels: c: standard

#540 Add Gender field to default `Infobox user`
  components/infobox/commons/infobox_person_user.lua
Labels: c: infobox

#541 Add Module:MathUtil
  standard/math_util.lua
Labels: c: standard

#514 Switch `Module:Flags` to use `Module:Class`
  standard/flags.lua
Labels: c: standard

#487 Add `Module:Json`
  standard/json.lua
Labels: c: standard

#531 Add Casters Display (and storage) for SC2 matches
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: enhancement, g: starcraft, c: match2

#543 Fix typo
  components/infobox/commons/infobox_person_user.lua
  components/infobox/wikis/starcraft2/infobox_person_user.lua
Labels: bug, c: infobox

#495 Allow infinite league locations
  components/infobox/commons/infobox_league.lua
Labels: enhancement, c: infobox

#545 Add dota2 version of infobox user
  components/infobox/wikis/dota2/infobox_person_user.lua
Labels: c: infobox

#549 Array.fromTableKeys -> Array.extractKeys, Array.fromTableValues ->Array.extractValues
  components/match2/commons/match_group_input.lua
  standard/array.lua
Labels: c: standard

#550 Avoid nil concat
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
Labels: bug, c: infobox

#525 [mg14] Move halo match input code to Module:MatchGroup/Input/Custom
  components/match2/wikis/halo/brkts_wiki_specific.lua
  components/match2/wikis/halo/match_group_input_custom.lua
Labels: c: match2, g: halo

#546 Allow disabling missing match warning in brackets
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_display.lua
  components/match2/commons/match_group_input.lua
Labels: c: match2

#528 Add workaround for player indexing bug
  components/match2/commons/match_group_util.lua
  components/match2/commons/match_group_workaround.lua
Labels: bug, c: match2
