Repository Liquipedia/Lua-Modules, pull requests merged in 2021-08, with the labels that each got.

#144 Enable custom links for solo opp. in LegacyBrkts
  match2/wikis/rocketleague/brkts_wiki_specific.lua
  match2/wikis/rocketleague/match_group_legacy_default.lua
Labels: Rocket League

#146 Support `mapXtYgoals` STORAGE for Legacy reasons
  match2/wikis/rocketleague/brkts_wiki_specific.lua
  match2/wikis/rocketleague/match_group_legacy_default.lua
Labels: Rocket League

#143 Create legacy_match_list.lua
  match2/wikis/rocketleague/legacy_match_list.lua
Labels: Rocket League

#145 Add Support for Legacy usage of `|pXteam=`
  match2/wikis/rocketleague/match_summary.lua
Labels: Rocket League

#148 resolve redirect for `opponent.name` (stacked, first)
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League

#149 Add walkover handling (stacked)
  match2/wikis/rocketleague/brkts_wiki_specific.lua
  match2/wikis/rocketleague/match_legacy.lua
Labels: Rocket League

#151 Create legacy_player_cross_table.lua
  match2/wikis/starcraft2/legacy_player_cross_table.lua
Labels: Starcraft

#150 allow date to be header if header isn't set
  match2/wikis/rocketleague/legacy_match_list.lua
Labels: Rocket League

#152 Switch TeamTemplate Processing
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Starcraft, Rocket League

#153 Fix due to rename in extension
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Starcraft, Rocket League

#154 moved check to wiki code
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: Starcraft

#155 add option to display it as matchList
  match2/wikis/starcraft2/legacy_player_cross_table.lua
Labels: Starcraft

#156 fix typo
  match2/wikis/starcraft2/legacy_player_cross_table.lua
Labels: Starcraft

#137 Add some R6 modules
  match2/wikis/rainbow_six/brkts_wiki_specific.lua
  match2/wikis/rainbow_six/match_legacy.lua
  match2/wikis/rainbow_six/match_summary.lua
Labels: r6

#159 R6 improved literals
  match2/wikis/rainbow_six/brkts_wiki_specific.lua
  match2/wikis/rainbow_six/match_legacy.lua
Labels: r6

#160 Fixed Match1 Operator Bans
  match2/wikis/rainbow_six/match_legacy.lua
Labels: r6

#161 Fixed two cases when automatic match score calculations could fail
  match2/wikis/rainbow_six/brkts_wiki_specific.lua
Labels: r6

#163 store patch in match2game
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: Starcraft

#169 add sc2 specific custom modules
  components/infoboxes/wikis/starcraft2/infobox_series_custom.lua
  components/infoboxes/wikis/starcraft2/infobox_team_custom.lua
Labels: Starcraft, infobox

#176 Add .gitignore
  .gitignore
Labels: chore

#174 Make infoboxes => infobox in file path
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_cell.lua
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_company_custom.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/rocketleague/infobox_company_custom.lua
  components/infobox/wikis/rocketleague/infobox_series_custom.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: infobox, chore

#179 add more links & customization option
  standard/links.lua
Labels: infobox

#175 adjust Flags and Links
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_team.lua
Labels: infobox

#173 R6 - Improvements in the Datetime and Date displaying
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
  components/match2/wikis/rainbow_six/match_summary.lua
Labels: Rainbow Six, match2

#177 add optional function to define vars (stacked)
  components/infobox/commons/infobox_series.lua
Labels: infobox

#178 add addCustomContent option (stacked)
  components/infobox/commons/infobox_team.lua
Labels: infobox

#180 R6 - Removed span from comment.
  components/match2/wikis/rainbow_six/match_summary.lua
Labels: Rainbow Six

#183 adjust to changes on the commons modules
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: infobox

#182 allow twitch2, twitter2, ...
  components/infobox/commons/infobox.lua
Labels: infobox

#184 Better customization options for matchHasDetails
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
Labels: enhancement, match2

#187 Add brkts/wikispecific module for brawlstars
  components/match2/wikis/brawlstars/brkts_wiki_specific.lua
Labels: match2, Brawl Stars

#188 3 minor bugfixes for R6
  components/match2/wikis/rainbow_six/match_legacy.lua
  components/match2/wikis/rainbow_six/match_summary.lua
Labels: bug, Rainbow Six, match2

#193 fix bug for custom vars
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: bug, Starcraft, infobox

#192 add exception for matcherino
  components/infobox/commons/infobox.lua
Labels: infobox

#200 adjust link key cleanup
  components/infobox/commons/infobox.lua
Labels: infobox

#204 kick sponsor
  components/infobox/commons/infobox_team.lua
Labels: infobox

#207 Create infobox_scene.lua
  components/infobox/commons/infobox_scene.lua
Labels: infobox

#210 Actually increment the chronology index
  components/infobox/commons/infobox.lua
Labels: bug, infobox

#186 Create infobox league
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: infobox

#205 Set infobox league vars
  components/infobox/commons/infobox_league.lua
Labels: infobox

#211 Adjust chronology display
  components/infobox/commons/infobox.lua
Labels: infobox

#213 fix typo
  components/match2/commons/match_group_display_helper.lua
Labels: bug, match2

#206 Set infobox league LPDB data
  components/infobox/commons/infobox_league.lua
Labels: infobox

#212 add support for draws
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: enhancement, Rocket League, match2

#209 Create prizepool calculation for tournaments
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: Rocket League, infobox

#218 Reformat infobox league
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: infobox

#217 Create infobox_basic.lua
  components/infobox/commons/infobox_basic.lua
Labels: infobox

#219 Add args to basic infobox class
  components/infobox/commons/infobox_basic.lua
Labels: infobox

#220 Convert Infobox/League to use Infobox/Basic
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: infobox

#221 Create league liquipediatier
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: Rocket League, infobox

#222 fix chronology
  components/infobox/commons/infobox.lua
Labels: bug, infobox

#224 Add mode cell to RL league infobox
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: Rocket League, infobox

#112 Add BracketTemplateDisplay
  components/match2/commons/match_group_display_bracket_template.lua
  components/match2/commons/match_group_display_helper.lua
Labels: match2

#208 add infobox patch implementation
  components/infobox/commons/infobox_patch.lua
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
Labels: infobox

#214 Add infobox map & infobox strategy
  components/infobox/commons/infobox_map.lua
  components/infobox/commons/infobox_strategy.lua
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
Labels: infobox

#216 add infobox show
  components/infobox/commons/infobox_show.lua
  components/infobox/wikis/starcraft2/infobox_show_custom.lua
Labels: infobox

#233 Add RL specific league vars
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: Rocket League, infobox

#235 fix `BasicInfobox:createBottomContent`
  components/infobox/commons/infobox_basic.lua
Labels: infobox

#238 get the actual page name
  components/infobox/commons/infobox_basic.lua
Labels: bug, infobox

#236 convert infobox company to use infobox basic
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_company_custom.lua
  components/infobox/wikis/rocketleague/infobox_company_custom.lua
Labels: infobox

#239 Add RL league LPDB data
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: Rocket League, infobox

#242 Fix whitespace
  components/infobox/commons/infobox_league.lua
Labels: infobox, chore

#234 convert infobox team to use infobox basic
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: infobox

#243 Reset class vars in cell
  components/infobox/commons/infobox_cell.lua
Labels: bug, infobox

#245 Reformat Infobox/Cell
  components/infobox/commons/infobox_cell.lua
Labels: infobox, chore

#244 Set remaining League categories on Rocket League
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: Rocket League, infobox

#241 convert infobox scene to use `Module:Infobox/Basic`
  components/infobox/commons/infobox_scene.lua
Labels: infobox

#246 convert infobox series to use `Module:Infobox/Basic`
  components/infobox/commons/infobox_series.lua
  components/infobox/wikis/rocketleague/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: infobox

#247 switch to lowercase & use self
  components/infobox/commons/infobox_company_custom.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_map.lua
  components/infobox/commons/infobox_patch.lua
  components/infobox/commons/infobox_show.lua
  components/infobox/commons/infobox_strategy.lua
  components/infobox/wikis/rocketleague/infobox_company_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
  components/infobox/wikis/starcraft2/infobox_show_custom.lua
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: infobox

#249 Switch to use localization module
  components/infobox/commons/infobox_series.lua
  standard/localisation.lua
Labels: bug, enhancement, standard

#252 Add function `getAllArgsForBase` to `Module:Infobox/Basic`
  components/infobox/commons/infobox_basic.lua
Labels: enhancement, infobox

#253 add option to change the size of infoboxImage
  components/infobox/commons/infobox.lua
Labels: enhancement, infobox

#254 Add a catch for nil
  components/infobox/commons/infobox_basic.lua
Labels: bug, infobox

#255 Add Game cell for Rocket League
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: Rocket League, infobox

#257 add function `makeFullLinksForTableItems`
  standard/links.lua
Labels: standard

#251 Add Infobox/Skill
  components/infobox/commons/infobox_skill.lua
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
Labels: infobox

#248 Various R6 fixes
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
  components/match2/wikis/rainbow_six/match_legacy.lua
  components/match2/wikis/rainbow_six/match_summary.lua
Labels: Rainbow Six, match2

#258 Provide base custom Infobox/League
  components/infobox/commons/infobox_league_custom.lua
Labels: infobox

#259 Handle links being given to `_exists`
  components/infobox/commons/infobox_league.lua
Labels: bug, infobox

#263 Remove non-existent function call from Series
  components/infobox/commons/infobox_series.lua
Labels: bug, infobox

#250 add `Module:Infobox/Game`
  components/infobox/commons/infobox_game.lua
Labels: infobox

#265 Add header for `module:Infobox/Game`
  components/infobox/commons/infobox_game.lua
Labels: chore

#270 R6 - Extradata.matchsection in legacy mapping, fix css class for map draws
  components/match2/wikis/rainbow_six/match_legacy.lua
  components/match2/wikis/rainbow_six/match_summary.lua
Labels: Rainbow Six, match2

#266 Iterate through links alphabetically
  components/infobox/commons/infobox.lua
Labels: infobox, standard

#267 Default to enddate when no startdate is given
  components/infobox/commons/infobox_league.lua
Labels: bug, infobox

#261 Adjust custom variables
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: Starcraft, infobox

#271 Handle valid locations which are not countries
  components/infobox/commons/infobox_league.lua
Labels: bug, infobox

#269 Capitalize league type
  components/infobox/commons/infobox_league.lua
Labels: bug, infobox

#268 Use legacy liquipediatiertype for RL
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: bug, infobox

#272 Added action header to R6's Brkts/WikiSpecific
  components/match2/wikis/rainbow_six/brkts_wiki_specific.lua
Labels: chore

#273 copy from live
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/opponent_display.lua
  components/match2/commons/player_display.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
  components/match2/wikis/starcraft2/match_legacy.lua
Labels: bug, chore

#274 fix header
  components/match2/commons/bracket_alias.lua
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/display_util.lua
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/commons/get_match_group_copy_paste_wiki.lua
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
  components/match2/commons/match.lua
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_display.lua
  components/match2/commons/match_group_display_bracket_template.lua
  components/match2/commons/match_group_legacy.lua
  components/match2/commons/match_group_util.lua
  components/match2/commons/match_subobjects.lua
  components/match2/commons/match_summary_base.lua
  components/match2/commons/template_match.lua
Labels: bug, chore

#181 Create Infobox/Person
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/starcraft2/infobox_person_player.lua
Labels: infobox

#275 Create Infobox/Patch/Custom
  components/infobox/commons/infobox_patch_custom.lua
Labels: infobox

#277 Allow more customization of `Infobox/League`
  components/infobox/commons/infobox_league.lua
Labels: enhancement, infobox

#282 Use `tournament_enddate` instead of `tournament_date`
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: bug, Rocket League, match2

#276 Add LPDB storage
  components/infobox/commons/infobox_patch.lua
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
Labels: infobox

#278 Use a function from `Module:Links` (stacked)
  components/infobox/commons/infobox_league.lua
Labels: enhancement, infobox

#279 Move `_definePageVariables` to the start of run
  components/infobox/commons/infobox_league.lua
Labels: infobox

#283 Allow adding class to Cell
  components/infobox/commons/infobox_cell.lua
Labels: enhancement, infobox

#299 Adjust date display
  components/match2/commons/match_group_display_helper.lua
Labels: enhancement, c: match2

#300 Fix a concat boolean bug
  components/match2/wikis/starcraft2/get_match_group_copy_paste_wiki.lua
Labels: bug, g: starcraft, c: match2

#301 Add `Module:Page`
  standard/page.lua
Labels: c: standard

#302 Adjust Vars & LPDB and page exist calls
  components/infobox/commons/infobox_league.lua
Labels: c: infobox
