Repository Liquipedia/Lua-Modules, pull requests merged in 2021-07, with the labels that each got.

#69 Adjust Date Processing (stacked, first)
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: Starcraft

#70 Adjust Icon/TeamPage retrieval (stacked)
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: Starcraft

#73 Add pbg/bg processing in FFA Input processing
  match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
Labels: Starcraft

#71 Adjust match.extradata processing (stacked)
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: Starcraft

#72 Remove redundant (stacked)
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: Starcraft

#82 Fix Legacy Conversion error (stacked 1st)
  match2/wikis/starcraft2/match_group_legacy.lua
Labels: Starcraft

#83 Add option to disable storage for Legacy brackets (stacked)
  match2/wikis/starcraft2/match_group_legacy.lua
Labels: Starcraft

#87 Add option to disable duplicate Check (stacked)
  match2/wikis/starcraft2/match_group_legacy.lua
Labels: Starcraft

#84 Add UserSpace workarounds (stacked)
  match2/wikis/starcraft2/match_group_legacy.lua
Labels: Starcraft

#88 Adjust Legacy resulttype storage
  match2/wikis/starcraft2/match_legacy.lua
Labels: Starcraft

#92 Fix h2h link
  match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: Starcraft

#95 Move map stuff into extra function
  match2/wikis/starcraft2/match_group_legacy_default.lua
Labels: Starcraft

#89 Add Legacy edit warning (stacked)
  match2/wikis/starcraft2/match_group_legacy.lua
Labels: Starcraft

#90 Change double to single quotes (stacked, resolves comment of #83 )
  match2/wikis/starcraft2/match_group_legacy.lua
Labels: Starcraft

#91 Switch double to single quotes (stacked)
  match2/wikis/starcraft2/match_legacy.lua
Labels: Starcraft

#93 Fix DE reset conversion (stacked)
  match2/wikis/starcraft2/match_group_legacy.lua
Labels: Starcraft

#96 Allow advantage input the old way in legacy conversion.
  match2/wikis/starcraft2/match_group_legacy.lua
Labels: Starcraft

#98 Add functions `matchMappingFromCustom` and `matchResetMappingFromCustom`
  match2/wikis/starcraft2/match_group_legacy_default.lua
Labels: Starcraft

#99 Add & Adjust RL Legacy Conversion
  match2/wikis/rocketleague/brkts_wiki_specific.lua
  match2/wikis/rocketleague/match_group_legacy_default.lua
Labels: Rocket League

#100 Adjust number
  match2/wikis/rocketleague/match_group_legacy_default.lua
Labels: Rocket League

#101 Add functions for custom mappings (stacked)
  match2/wikis/rocketleague/match_group_legacy_default.lua
Labels: Rocket League

#102 code style (stacked)
  match2/wikis/rocketleague/match_group_legacy_default.lua
Labels: Rocket League

#103 Adjust processing to allow score2 & score3
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League

#105 Copy from Commons to RL (stacked, first, just basis for real changes)
  match2/wikis/rocketleague/opponent_display.lua
Labels: Rocket League

#106 Add Option for score2 & score3 (stacked)
  match2/wikis/rocketleague/opponent_display.lua
Labels: Rocket League

#107 Create match_legacy.lua
  match2/wikis/rocketleague/match_legacy.lua
Labels: Rocket League

#104 Add optional gameHeader display
  match2/wikis/rocketleague/match_summary.lua
Labels: Rocket League

#109 Fix LP tier and tiertype
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League

#113 change icon and name retrieval
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League

#51 Starcraft: Clear values when extracting from extradata
  match2/commons/match_group_util.lua
  match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
Labels: Starcraft

#56 [ffa 2/5] Rework offrace computatation (Scarlett race switch param)
  match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: Starcraft

#114 Add Catch for "bye"
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League

#116 add forgotten line
  match2/wikis/rocketleague/match_group_legacy_default.lua
Labels: Rocket League

#117 kick `RxMBR` match if score2 is empty
  match2/commons/match_group_legacy.lua
Labels: Rocket League

#119 Add Safety regarding date format
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: Starcraft

#126 Enable Lower header handling
  match2/wikis/rocketleague/match_group_legacy_default.lua
Labels: Rocket League

#118 Store team template resolved
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League

#124 Add mode to smw storage
  match2/wikis/rocketleague/match_legacy.lua
Labels: Rocket League

#128 Fix hjps stupid mistakes
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League, Starcraft

#130 fix maps copy paste
  match2/wikis/rocketleague/get_match_group_copy_paste_wiki.lua
Labels: Rocket League

#132 Add option for unfinished maps (OPTION 2)
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League

#136 avoid indexing nil
  match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: Rocket League

#138 resolve redirect for vetoed maps
  match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: Starcraft
