Repository Liquipedia/Lua-Modules, pull requests merged in 2022-02, with the labels that each got.

#1027 Fix three bugs on dota's Infobox Player
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
Labels: c: infobox, g: dota2

#1026 Fix askfm links
  standard/links/commons/links.lua
Labels: c: infobox, c: standard

#1024 Create PUBG Weapon Infobox
  components/infobox/wikis/pubg/infobox_weapon_custom.lua
Labels: c: infobox, g: pubg, g: pubgmobile

#1034 Disable duplicate check for non storage legacy match lists
  components/match2/wikis/starcraft2/legacy/match_maps_legacy.lua
Labels: g: starcraft, c: match2

#1035 Adding throwable cells PUBG Weapon Infobox
  components/infobox/wikis/pubg/infobox_weapon_custom.lua
Labels: c: infobox, g: pubg, g: pubgmobile

#1037 Add location to Infobox/Map
  components/infobox/commons/infobox_map.lua
Labels: c: infobox

#1032 Adjust Stream handling in match2 input processing
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/arenaofvalor/matchgroup_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/matchgroup_input_custom.lua
  components/match2/wikis/rainbow_six/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  standard/stream_links.lua
Labels: bug, c: match2

#1042 Add vidio as supported link in infoboxes
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox, c: standard

#1022 Add MatchGroup Input for Dota 2
  components/match2/wikis/dota2/matchgroup_input_custom.lua
Labels: c: match2, g: dota2

#1045 Rename TFT wiki
  standard/info/wikis/tft/info.lua
Labels: chore, p: high

#1046 Siege link addition
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: chore

#1049 Update group_table_league_next.lua
  components/group_table_league/commons/group_table_league_next.lua
  components/group_table_league/commons/group_table_league_util.lua
Labels: c: match2

#1050 Add `.mapInterleavedPrefix` function to `Module:Table`
  standard/table.lua
Labels: c: standard

#1051 Fix #1047
  components/match2/commons/match_group_input.lua
Labels: c: match2

#1052 Fix `bosniaandherzegovina` flags data
  standard/flags_master_data.lua
Labels: bug, chore, c: standard

#1053 Add `section` to LPDB `standing`
  components/standings/standings_storage.lua
Labels: enhancement, f: lpdb, c: standings

#714 Create Infobox/Hero for Mobile Legends
  components/infobox/wikis/mobilelegends/infobox_hero_custom.lua
Labels: c: infobox, g: mobilelegends

#1056 Fix SC2 historical race fetching from player pages
  components/match2/commons/starcraft_starcraft2/player_ext_starcraft.lua
Labels: bug, g: starcraft

#1054 Add a wrapper function for mass LPDB queries
  standard/lpdb.lua
Labels: c: standard

#769 Add `YearsActive` commons implementation
  components/infobox/extensions/commons/years_active.lua
  components/infobox/extensions/commons/years_active_base.lua
  components/infobox/extensions/wikis/rocketleague/years_active.lua
Labels: c: infobox_extensions

#1061 Add bilibili streams
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox, c: standard

#1063 Add namespace check for player role
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
Labels: c: infobox, g: dota2

#1041 Add Infobox League for PUBG
  components/infobox/wikis/pubg/infobox_league_custom.lua
Labels: c: infobox, g: pubg, g: pubgmobile

#1043 Create Overwatch Infobox Map
  components/infobox/wikis/overwatch/infobox_map_custom.lua
Labels: c: infobox, g: overwatch

#1071 Fix age calculation
  components/infobox/extensions/commons/age.lua
Labels: bug, c: infobox_extensions

#1070 Add `roundindex` to standings storage
  components/standings/standings_storage.lua
Labels: c: standings

#1074 Add Copy Paste generators for brawlstars
  components/match2/wikis/brawlstars/get_match_group_copy_paste.lua
Labels: c: match2, g: brawl stars
