Repository Liquipedia/Lua-Modules, pull requests merged in 2022-11, with the labels that each got.

#2139 Fix index where to insert overtime.l
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#2105 Add `pagename` as a custom type
  standard/mock/mock_lpdb.lua
  standard/type_util.lua
Labels: c: standard

#2136 Add support for a third role in the player infobox
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
Labels: c: infobox, g: leagueoflegends

#2127 Add TournamentsSummaryTable/Custom for trackmania
  standard/tournaments_summary_table/wikis/trackmania/tournaments_summary_table_custom.lua
Labels: c: standard, g: trackmania

#2138 PPT (New) for PUBG Mobile
  components/prize_pool/wikis/pubgmobile/prize_pool_custom.lua
Labels: g: pubgmobile, c: prize_pool

#2117 Error for missing standingsIndex
  components/standings/commons/standings_storage.lua
Labels: bug, c: standings

#2129 Allow comments per mvp player in mvp display in matchSummary
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_summary_base.lua
Labels: c: match2

#2140 Add unit tests for Squads
  components/squad/test/squad_test.lua
  standard/mock/mock_lpdb.lua
Labels: t: squad

#2141 Fix wrong name in magic comment
  standard/tournaments_summary_table/wikis/trackmania/tournaments_summary_table_custom.lua
Labels: bug, c: standard, g: trackmania

#2144 Move opponent modules to its own folder
  components/opponent/commons/opponent.lua
  components/opponent/commons/opponent_display.lua
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/opponent/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/opponent/wikis/ageofempires/opponent_custom.lua
  components/opponent/wikis/fortnite/opponent_custom.lua
  components/opponent/wikis/fortnite/opponent_display_custom.lua
  components/opponent/wikis/rocketleague/opponent_display_custom.lua
Labels: chore

#2131 Add Ballchasing link to RL's match summary. Fix link storage on RL
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_summary.lua
Labels: g: rocket league, c: match2

#2143 Add Custom opponent Libs to info modules
  standard/info/wikis/ageofempires/info.lua
  standard/info/wikis/fortnite/info.lua
  standard/info/wikis/rocketleague/info.lua
  standard/info/wikis/starcraft/info.lua
  standard/info/wikis/starcraft2/info.lua
Labels: g: starcraft, g: rocket league, chore, g: ageofempires, g: fortnite, g: broodwar

#2095 Adding Casters parameter to R6 Match2
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2

#2146 Add annotation to Lua.import
  standard/lua.lua
Labels: chore

#2147 Fix empty Octane and Ballchasing error
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: bug, g: rocket league, c: match2

#2145 Add `Module:OpponentLibraries`
  components/opponent/commons/opponent_libraries.lua
Labels: c: opponent

#2150 Fix issue on Rocket League match2 with Goal displays
  components/match2/wikis/rocketleague/match_summary.lua
Labels: bug, g: rocket league, c: match2

#2152 Add `Module:Info` on commons
  standard/info/commons/info.lua
Labels: c: standard

#2153 Fix OpponentLibraries module
  components/opponent/commons/opponent_libraries.lua
Labels: bug, c: opponent

#2151 Apply #2145 to Standings Storage
  components/standings/commons/standings_storage.lua
  components/standings/commons/starcraft_starcraft2/standings_storage_starcraft_legacy.lua
Labels: chore, c: standings

#2042 Simplify match2 to match1 logic for `Header` field
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/valorant/match_legacy.lua
Labels: c: match2

#2148 Create initial unit tests for Prize Pool Table
  components/prize_pool/test/prize_pool_test.lua
Labels: t: prize_pool

#2048 Remove usages of `flatMap`
  components/group_table_league/commons/group_table_league_util.lua
  components/match2/commons/match_group_workaround.lua
  components/prize_pool/commons/prize_pool_import.lua
  standard/error_ext.lua
Labels: chore

#2155 Add fallback for missing match2players in reading mvp
  components/match2/commons/match_group_input.lua
Labels: bug, c: match2

#2149 Fixing match2 bug on Siege
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
Labels: bug, g: rainbow six, c: match2

#1767 Make `|input=` values case-insensitive in player infobox
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
Labels: c: infobox, g: apex

#2121 Add init + functions it calls to results table
  components/results_table/commons/results_table.lua
Labels: c: results_table

#2156 Add head-to-head to RL's match summary
  components/hidden_data_box/wikis/rocketleague/hidden_data_box_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_summary.lua
Labels: g: rocket league, c: match2

#2165 Set up Battlerite Info Module
  standard/info/wikis/battlerite/info.lua
Labels: chore

#2166 Set up Auto Chess Info Module
  standard/info/wikis/autochess/info.lua
Labels: chore

#2167 Set up Underlords Info Module
  standard/info/wikis/underlords/info.lua
Labels: chore

#2168 Set up Runeterra Info Module
  standard/info/wikis/runeterra/info.lua
Labels: chore

#2169 Set up Hearthstone Info Module
  standard/info/wikis/hearthstone/info.lua
Labels: chore

#2170 Set up Sim Racing Info Module
  standard/info/wikis/simracing/info.lua
Labels: chore

#2171 Set up Splatoon Info Module
  standard/info/wikis/splatoon/info.lua
Labels: chore

#2172 Set up Artifact Info Module
  standard/info/wikis/artifact/info.lua
Labels: chore

#2175 Setup Magic info Module
  standard/info/wikis/magic/info.lua
Labels: chore

#2162 Have infobox league define LPDB `extradata`
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#2174 Store series2 in lpdb_tournament_extradata
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#2176 Fix annotation issues on lambda functions
  standard/table.lua
Labels: chore, c: standard

#2163 Wiki InfoboxLeague customs should not overwrite extradata
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
  components/infobox/wikis/brawlhalla/infobox_league_custom.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/crossfire/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/pokemon/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/splatoon/infobox_league_custom.lua
  components/infobox/wikis/valorant/infobox_league_custom.lua
Labels: c: infobox, chore

#2159 Prepare sc2 infobox league (+ hidden) for placement cleanup
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: g: starcraft, c: infobox, chore

#2177 Remove StringUtils.explode
  components/match2/commons/match_group_input.lua
  standard/string_utils.lua
Labels: chore

#2173 Add brawlstars infobox player
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
Labels: c: infobox, g: brawl stars

#1894 LPA-6895: Set dateexact to false for cancelled or postponed games
  components/match2/wikis/counterstrike/match_group_input_custom.lua
Labels: c: match2, g: counter-strike

#2157 Store `textlesslogo` from infobox team
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#2158 Remove custom Team `logo` storage
  components/infobox/wikis/apexlegends/infobox_team_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_team_custom.lua
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/infobox/wikis/freefire/infobox_team_custom.lua
  components/infobox/wikis/halo/infobox_team_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/overwatch/infobox_team_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
  components/infobox/wikis/wildrift/infobox_team_custom.lua
Labels: g: rocket league, g: valorant, g: rainbow six, c: infobox, g: counter-strike, g: halo, g: dota2, g: apex, g: wildrift, g: overwatch, g: arenaofvalor, g: leagueoflegends, g:freefire

#2160 Add :create() + functions it calls to base results table
  components/results_table/commons/results_table.lua
Labels: c: results_table

#2180 Allow wiki spec. categories in infobox map
  components/infobox/commons/infobox_map.lua
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
Labels: g: starcraft, c: infobox

#2182 Force PlayerTeamAuto on Halo in Player Infobox
  components/infobox/wikis/halo/infobox_person_player_custom.lua
Labels: c: infobox, g: halo

#2132 Halo Match2 rewrite to base (Match Summary)
  components/match2/wikis/halo/match_summary.lua
Labels: c: match2, chore, g: halo

#2184 Add 'icon' as valid TeamStyle in OpponentDisplay
  components/opponent/commons/opponent_display.lua
Labels: c: opponent

#2179 Add base display functions to base module for standardized Results table
  components/results_table/commons/results_table.lua
Labels: c: results_table

#2187 Move autoPlayerIntro from bottom content to after the infobox
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: brawl stars

#2186 Use pairs over ipairs in Table.includes
  standard/table.lua
  standard/test/table_test.lua
Labels: c: standard, t: standard

#2183 Have darkmode images fallback to lightmode if required
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#2181 Add Squad/Custom with SquadAuto support for ageofempires
  components/squad/wikis/ageofempires/squad_custom.lua
Labels: g: ageofempires, c: squad

#2190 Add runAuto to Valorant's Squad
  components/squad/wikis/valorant/squad_custom.lua
Labels: g: valorant, c: squad

#2120 Add base module for standardized Results table
  components/results_table/commons/results_table_base.lua
Labels: c: results_table

#2198 Store game standardized in sc2 infobox league
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox

#2194 Remove $ sign from prize pool inputs
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox

#2192 Add Awards Table module (header and row display)
  components/results_table/commons/results_table_award.lua
Labels: c: results_table

#2202 Add `advantage` comment in matchsummary
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#2200 Add lastvs processing to base of results table
  components/results_table/commons/results_table_base.lua
Labels: c: results_table

#2203 Handle future tournaments in Years Active
  components/infobox/extensions/commons/years_active_base.lua
Labels: c: infobox_extensions
