Repository Liquipedia/Lua-Modules, pull requests merged in 2022-03, with the labels that each got.

#1072 Update custom input processing
  components/match2/wikis/brawlstars/match_group_input_custom.lua
Labels: c: match2, g: brawl stars

#1073 Add MatchSummary for BrawlStars
  components/match2/wikis/brawlstars/match_summary.lua
Labels: c: match2, g: brawl stars

#1078 Do not add category in userspace (Person)
  components/infobox/commons/infobox_person.lua
Labels: bug, c: infobox

#1081 Fix typo in unofficial world champ infobox
  components/infobox/commons/infobox_unofficial_world_champion.lua
Labels: bug, c: infobox

#1082 Add option to disable storage in LPDB
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
Labels: bug, g: starcraft, c: infobox

#1077 Fix Historical TT's in Legacy Brackets
  components/match2/commons/match_group_input.lua
Labels: bug, c: match2

#1085 Update brawlstars match2 copy-paste generator
  components/match2/wikis/brawlstars/get_match_group_copy_paste.lua
Labels: c: match2, g: brawl stars

#1086 Fix Typo
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: bug, g: starcraft, c: infobox

#1083 Add match2 legacy storage module
  components/match2/wikis/brawlstars/match_legacy.lua
Labels: c: match2, g: brawl stars

#1088 Add index to pairsByPrefix
  standard/table.lua
Labels: c: standard

#1084 Update brawlstars match2 input processing
  components/match2/wikis/brawlstars/match_group_input_custom.lua
Labels: bug, c: match2, g: brawl stars

#1094 Update variable name
  components/match2/wikis/splitgate/match_group_input_custom.lua
Labels: bug, c: match2, g: splitgate

#1095 Update t1firstside to always be an object
  components/match2/wikis/rainbow_six/match_group_input_custom.lua
  components/match2/wikis/rainbow_six/match_legacy.lua
  components/match2/wikis/rainbow_six/match_summary.lua
Labels: g: rainbow six, c: match2, breaking change, f: lpdb

#1096 Fix width of Goaltimes
  components/match2/wikis/rocketleague/match_summary.lua
Labels: bug, g: rocket league, c: match2

#1090 Store dark mode icon for team opponents in match2
  components/match2/commons/match.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/arenaofvalor/matchgroup_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/dota2/matchgroup_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/matchgroup_input_custom.lua
  components/match2/wikis/rainbow_six/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2, chore, f: lpdb

#1087 Default parent if not set
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: c: infobox

#1098 Rename infobox_league.lua to infobox_league_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
Labels: c: infobox, chore, g: arenaofvalor

#1092 Save parent to standings if set
  components/standings/standings_storage.lua
Labels: f: lpdb, c: standings

#1100 Save parent to match2game if set
  components/match2/commons/match.lua
Labels: c: match2, f: lpdb

#1101 Rename R6 folder
  components/match2/wikis/rainbowsix/brkts_wiki_specific.lua
  components/match2/wikis/rainbowsix/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/rainbowsix/legacy/legacy_bracket_match_summary.lua
  components/match2/wikis/rainbowsix/legacy/match_group_legacy_default.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy_store.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: chore

#1104 Copy-Paste for dota2
  components/match2/wikis/dota2/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: dota2

#1105 Add initial match2 to match1 handling
  components/match2/wikis/dota2/match_legacy.lua
Labels: c: match2, g: dota2

#1103 Remove player input, extract publisherid parsing from vod function
  components/match2/wikis/dota2/matchgroup_input_custom.lua
Labels: c: match2, g: dota2

#1102 Add initial match summary for dota2
  components/match2/wikis/dota2/match_summary.lua
Labels: c: match2, g: dota2

#1109 Catch nil
  components/infobox/wikis/starcraft2/infobox_person_custom_shared.lua
Labels: bug, g: starcraft, c: infobox

#1108 Tweak overflow:hidden handling
  components/match2/wikis/dota2/match_summary.lua
Labels: c: match2, g: dota2

#1110 Fix dota2 finished calculation on even numbered bestOf's
  components/match2/wikis/dota2/matchgroup_input_custom.lua
Labels: bug, c: match2, g: dota2

#1111 Automatic match scoring on match start time instead of map
  components/match2/wikis/dota2/matchgroup_input_custom.lua
Labels: c: match2, g: dota2

#1115 Fix missing Hero Bans
  components/match2/wikis/dota2/match_summary.lua
Labels: bug, c: match2, g: dota2

#1112 Adjust SC2 infobox team
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#1118 Change missing date to use EPOCH
  components/match2/wikis/dota2/matchgroup_input_custom.lua
Labels: c: match2, g: dota2

#1119 Convert match2 bestof to match1 object
  components/match2/wikis/dota2/match_legacy.lua
Labels: bug, c: match2, g: dota2

#1120 Fix #992 (last_heading issue)
  components/match2/commons/match.lua
  components/standings/standings_storage.lua
Labels: bug, c: match2, c: standings

#1122 Add missing return to function
  components/match2/wikis/dota2/matchgroup_input_custom.lua
Labels: c: match2, g: dota2

#1121 Empty the LPDB fallback value for section
  components/match2/commons/match.lua
Labels: c: match2

#1123 Updating Rainbow Six to 9 Map Map Pool
  components/match2/wikis/rainbowsix/get_match_group_copy_paste_wiki.lua
Labels: g: rainbow six, c: match2

#1124 Adjusting Rainbow Six notability points
  components/notability/wikis/rainbowsix/notability_checker_config.lua
Labels: g: rainbow six, c: notability

#1126 Show upcoming games in Match Summary
  components/match2/wikis/dota2/match_summary.lua
Labels: c: match2, g: dota2

#1127 Store teamtemplate in lpdb_player
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
Labels: c: infobox, f: lpdb

#1129 Use better date for resolving opponents when date is missing
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
Labels: g: rainbow six, c: match2

#1128 Store newteamtemplate in lpdb_squadplayer
  components/squad/squad_row.lua
Labels: c: squad, f: lpdb

#1131 Remove indents from copy-paste generator
  components/match2/wikis/dota2/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: dota2

#1135 Remove HTML from Title field
  components/standings/standings_storage.lua
Labels: c: standings

#1134 Add publishertier LPDB in Infobox League ML
  components/infobox/wikis/mobilelegends/infobox_league.lua
Labels: c: infobox, g: mobilelegends

#1133 Fix `extradata.isfeatured` in RL matches
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: bug, g: rocket league, c: match2

#1099 Add Infobox League for PUBG MOBILE
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
Labels: c: infobox, g: pubgmobile

#1140 Fix team legacy matchlist for non 1v1 submatches
  components/match2/wikis/starcraft2/legacy/match_maps_team_legacy.lua
Labels: bug, g: starcraft, c: match2

#1136 Allow easier player input in maps for sc/sc2
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#1137 Add timeout and caster support to RL matches
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_summary.lua
Labels: g: rocket league, c: match2
