Repository Liquipedia/Lua-Modules, pull requests merged in 2022-05, with the labels that each got.

#1197 Fix finished bug for League
  components/match2/wikis/leagueoflegends/matchgroup_input_custom.lua
Labels: bug, c: match2, g: leagueoflegends

#1199 Kick extra colon in the "Misc Mode" cell name
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: bug, g: rocket league, c: infobox

#1192 Store new Stream Key Format
  standard/stream_links.lua
Labels: c: standard

#1201 Fix countryDisplay when not in main space
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: dota2

#1204 Fix country display in dota infobox player
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: dota2

#1202 Add support for Swiss tables
  components/standings/standings_storage.lua
Labels: c: standings

#1203 Use matchsection as section for some last_heading
  components/match2/commons/match.lua
Labels: c: match2

#1183 Exception handling in Widgets
  components/infobox/commons/infobox_widget.lua
  components/infobox/commons/infobox_widget_factory.lua
Labels: c: infobox

#1210 Save Dark Mode Icon in Standings
  components/standings/standings_storage.lua
Labels: c: standings

#1209 Fix typo in Standings extradata
  components/standings/standings_storage.lua
Labels: c: standings

#1200 Make earnings values available to /Custom modules
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#1207 Activate "TemplatesForSpecialTeams" on Rocket League
  components/squad/wikis/rocketleague/squad_custom.lua
Labels: g: rocket league, c: squad

#1181 Add Infobox Player for Brawlhalla
  components/infobox/wikis/brawlhalla/infobox_person_player_custom.lua
Labels: c: infobox, brawlhalla

#1206 Add template entry point to Standings Store
  components/standings/standings_storage.lua
Labels: c: standings

#1150 Support `individualprizemoney` lpdb field in earnings module
  components/earnings/commons/earnings_base.lua
Labels: c: earnings

#1194 Adjust display for aggregated submatches
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#1213 Fix file name (`_custom` missing)
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
Labels: chore, g: mobilelegends

#1218 Fix date usage in Standings fromTemplate
  components/standings/standings_storage.lua
Labels: bug, c: standings

#1217 Correct match1 data for ties
  components/match2/wikis/leagueoflegends/match_legacy.lua
Labels: bug, c: match2, g: leagueoflegends

#1216 Change AgentIcon templates to module version for VAL match2
  components/match2/wikis/valorant/big_match.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#1222 Avoid nil as index
  components/match2/wikis/brawlstars/match_group_input_custom.lua
Labels: bug, c: match2, g: brawl stars

#1221 Create TeamCard Storage
  components/team_card/team_card_storage.lua
Labels: c: team card

#1223 Infobox League: Add seriespage DB storage
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#1215 Update Module:tier and modules that depend on it
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: g: starcraft, c: infobox

#1226 Initial support for LPDB field type
  components/squad/squad_row.lua
Labels: c: squad

#1227 Allow Warnings in infobox series
  components/infobox/commons/infobox_series.lua
Labels: c: infobox

#1219 Add default prizePool function to commons infobox league
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
  components/infobox/wikis/brawlhalla/infobox_league_custom.lua
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
Labels: c: infobox

#1212 Infobox League for Wild Rift
  components/infobox/wikis/wildrift/infobox_league_custom.lua
Labels: c: infobox, g: wildrift

#1195 Adjust SC/SC2 FFA SingleMatch display
  components/match2/commons/starcraft_starcraft2/match_group_display_singlematch_starcraft.lua
Labels: g: starcraft, c: match2

#1231 Adjust resulttype in match1 legacy storage
  components/match2/wikis/brawlstars/match_legacy.lua
Labels: bug, c: match2, g: brawl stars

#1230 CleanUp SC2 `Infobox/League/Custom`
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox

#1236 Remove unused wikivariables
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
Labels: bug, g: starcraft

#1235 Create Infobox Player for R6
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
Labels: g: rainbow six, c: infobox

#1238 Fix afreecatv issue with stream links
  standard/stream_links.lua
Labels: bug, c: standard

#1240 Fix two bugs
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
Labels: bug, g: rainbow six, c: infobox

#1237 Add non-representing localisation
  standard/locale_data_countries.lua
Labels: c: standard

#1055 Fix typos in a comment
  standard/table.lua
Labels: chore, c: standard

#1106 Add Squad to PUBG (Desktop Wiki)
  components/squad/wikis/pubg/squad_custom.lua
Labels: g: pubg, c: squad

#1241 Adjust Person infobox module for non-representing players
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
Labels: c: infobox

#1245 Squads: Add support for TeamRole parameter
  components/squad/squad.lua
  components/squad/squad_row.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
Labels: c: squad

#1233 Add option for series cell to only display LIS icons
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#1220 Add default lp tier display function to commons infobox league
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#1242 Create Squad for dota2
  components/squad/wikis/dota2/squad_custom.lua
Labels: g: dota2, c: squad

#1248 Add fortnite Info module
  standard/info/wikis/fortnite/info.lua
Labels: c: standard, g: fortnite

#1250 Infobox tier update aoe
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: bug, c: infobox, g: ageofempires

#1249 Add fortnite infobox player
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
Labels: c: infobox, g: fortnite

#1246 Create Infobox League for dota2
  components/infobox/wikis/dota2/infobox_league_custom.lua
Labels: c: infobox, g: dota2

#1251 Display newTeamRole without newTeam
  components/squad/squad_row.lua
Labels: c: squad

#1253 Squads: Don't clean player input
  components/squad/squad_row.lua
Labels: bug, c: infobox

#1254 Adjust tier + cleanup
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
Labels: c: infobox, g: apex

#1257 Adjust tier handling to use commons
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
Labels: c: infobox, g: pubg, g: pubgmobile

#1256 Adjust tier handling to use commons
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
Labels: g: rainbow six, c: infobox

#1255 Overwrite createLiquipediaTierDisplay directly
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: g: rocket league, c: infobox

#1263 Add missing space
  components/infobox/wikis/dota2/infobox_league_custom.lua
Labels: bug, c: infobox, g: dota2

#1252 Make error message a widget
  components/infobox/commons/infobox_widget.lua
  components/infobox/commons/infobox_widget_error.lua
  components/infobox/commons/infobox_widgets.lua
Labels: c: infobox

#1259 Move 'Individual Tournaments' category to commons
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: c: infobox

#1266 Dota2 League Infobox Improvements
  components/infobox/wikis/dota2/infobox_league_custom.lua
Labels: c: infobox, g: dota2

#1239 Create Valorant Infobox Team
  components/infobox/wikis/valorant/infobox_team_custom.lua
Labels: g: valorant, c: infobox

#1267 Squads: Add support for former & inactive status
  components/squad/squad.lua
  components/squad/wikis/dota2/squad_custom.lua
Labels: g: dota2, c: squad

#1268 Move several wikis over to using the commons tier display
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
  components/infobox/wikis/brawlhalla/infobox_league_custom.lua
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
Labels: c: infobox, g: brawl stars, g: halo, g: wildrift, g: mobilelegends, g: overwatch, g: arenaofvalor, g: brawlhalla

#1272 Avoid nil
  components/squad/wikis/dota2/squad_custom.lua
Labels: bug, g: dota2, c: squad

#1269 Adjust CS Tier handling
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#1274 Add support for 2nd rulebook
  standard/links/commons/links.lua
Labels: c: standard

#1278 Adding Tournaments to Valorant Infobox
  components/infobox/wikis/valorant/infobox_team_custom.lua
Labels: g: valorant, c: infobox

#1279 Add missing dota2 wiki-variables
  components/infobox/wikis/dota2/infobox_league_custom.lua
Labels: bug, c: infobox

#1264 Set `tournament_mode` in HiddenDataBox
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
Labels: g: ageofempires

#1281 Adjust number of maximum players in a placement
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox, chore

#1283 Fix playlist icons in infobox links
  components/infobox/commons/infobox_widget_links.lua
Labels: bug, c: infobox

#1284 Fix a gsub + trim combination issue in Player/Ext
  components/match2/commons/player_ext.lua
Labels: bug, c: match2

#1282 Store `publishertier` into smw for WR match2
  components/match2/wikis/wildrift/match_legacy.lua
Labels: enhancement, c: match2, g: wildrift, f: lpdb

#1185 [SC match2 clean up 2] Clean up for non-ffa input
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#1290 Add missing matchsection in league
  components/match2/wikis/leagueoflegends/match_legacy.lua
Labels: bug, c: match2, g: leagueoflegends

#1308 Remove BigMatch link for Valorant
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#1296 Change empty race display
  components/infobox/wikis/starcraft2/infobox_person_custom_shared.lua
Labels: bug, g: starcraft, c: infobox

#1294 Fix SC/SC2 map extradata bug
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: bug, g: starcraft, c: match2, g: broodwar

#1262 Allow not setting `Injector:parse` in /Custom infoboxes
  components/infobox/commons/infobox_widget_injector.lua
Labels: c: infobox

#1297 Create Match2 Copy-Paste for Valorant
  components/match2/wikis/valorant/get_match_group_copy_paste_wiki.lua
Labels: g: valorant, c: match2

#1298 4 bug fixes for Valorant
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/valorant/match_legacy.lua
Labels: bug, g: valorant, c: match2

#1301 Add MapVeto support for Valorant
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#1300 Add automatic bestOf for Valorant
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#1304 Rework storage for round scores
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#1303 Valorant Match2 Cleanup
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#1309 Add support for a less verbose input of player data
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#1307 Add automatic calculation of score and status
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#1311 Overtime functionlity for Valorant
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#1312 Fix some sc/sc2 bugs with match2
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: bug, g: starcraft, c: match2

#1289 Adjust Sc2 player_number handling
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#1315 Allow wiki categories without overwriting commons categories
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#1317 Add several infobox links
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: standard

#1314 Allow historical earnings queries for teams
  components/earnings/commons/earnings_base.lua
  components/infobox/commons/infobox_team.lua
Labels: c: infobox, c: earnings

#1321 Add custom content cell to series
  components/infobox/commons/infobox_series.lua
Labels: c: infobox

#1322 Create Series for Valorant
  components/infobox/wikis/valorant/infobox_series_custom.lua
Labels: g: valorant, c: infobox

#1326 Fix small sc/sc2 bug with literals in matches
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: bug, g: starcraft, c: infobox

#1293 Add wildrift HiddenDataBox/Custom
  components/hidden_data_box/wikis/wildrift/hidden_data_box_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
Labels: g: wildrift, c: hidden_data_box

#1327 Player handling use explicit information
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/valorant/match_legacy.lua
Labels: bug, g: valorant, c: match2

#1328 Add 4 extradata fields in match1
  components/match2/wikis/valorant/match_legacy.lua
Labels: g: valorant, c: match2

#1330 Fix team2 page resolve
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
Labels: bug, g: rainbow six, c: infobox

#1325 Create Infobox League for Valorant
  components/infobox/wikis/valorant/infobox_league_custom.lua
Labels: g: valorant, c: infobox

#1208 Change dota2 css styles
  components/match2/wikis/dota2/match_summary.lua
Labels: c: match2, g: dota2
