Repository Liquipedia/Lua-Modules, pull requests merged in 2022-08, with the labels that each got.

#1598 Fix bug in match2 Countdown
  components/match2/commons/match_group_display_helper.lua
Labels: bug, c: match2

#1597 Add to instead of overwrite extradata
  components/infobox/wikis/starcraft2/infobox_person_map_maker.lua
Labels: g: starcraft, c: infobox

#1461 Store Weapons into LPDB + Update Game appearances cell name
  components/infobox/commons/infobox_weapon.lua
Labels: c: infobox

#1593 Store Prize Pool Index in Prize Pool Tables
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1601 Adjust cancelled_tournament handling in sc/sc2 match2
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#1603 Add links for Infobox Player on CS
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox, c: standard

#1602 Create Player Infobox for CS
  components/infobox/wikis/counterstrike/infobox_person_player_custom.lua
Labels: c: infobox, g: counter-strike

#1599 Added support for prizepoints.
  components/prize_pool/wikis/apexlegends/prize_pool_custom.lua
Labels: g: apex, c: prize_pool

#1610 Add default header support for GSL style matchlists
  components/match2/commons/match_group_input.lua
Labels: c: match2

#1596 Player Infobox - Uppercase first letter in status
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: leagueoflegends

#1605 Add Participant Fetching & Cleaning the code
  components/hidden_data_box/commons/hidden_data_box.lua
  components/hidden_data_box/commons/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/wildrift/hidden_data_box_custom.lua
Labels: c: hidden_data_box

#1609 Add "individual" to tournament_extradata
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
Labels: c: infobox, g: apex

#1615 Map CS Steam to SteamAlternative
  components/infobox/wikis/counterstrike/infobox_person_player_custom.lua
Labels: c: infobox, g: counter-strike

#1613 Adjust some icons to use darkmode friendly versions
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
Labels: c: match2, chore

#1616 Adjust match2 copy paste to be a bit more customizable + cleanup
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
  components/match2/commons/starcraft_starcraft2/get_match_group_copy_paste_starcraft.lua
Labels: c: match2

#1614 Create Squad Custom for League
  components/squad/wikis/leagueoflegends/squad_custom.lua
Labels: c: squad, g: leagueoflegends

#1618 Fix PP participantflag storage
  components/prize_pool/commons/prize_pool.lua
Labels: bug, c: prize_pool

#1619 Forgot to push these minor fixes onto #1614
  components/squad/wikis/leagueoflegends/squad_custom.lua
Labels: bug, c: squad, g: leagueoflegends

#1617 Counterstrike match2 Copy/Paste
  components/match2/wikis/counterstrike/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: counter-strike

#1620 Create HiddenDataBox for R6
  components/hidden_data_box/wikis/rainbowsix/hidden_data_box_custom.lua
Labels: g: rainbow six, c: hidden_data_box

#1624 Fix `|link=` in manual squad tables on League
  components/squad/wikis/leagueoflegends/squad_custom.lua
Labels: bug, c: squad, g: leagueoflegends

#1627 Remove cybergamer from Links
  standard/links/commons/links.lua
Labels: c: standard

#1622 Default TBD's to hide link in sc/sc2 opponents
  components/match2/commons/starcraft_starcraft2/opponent_display_starcraft.lua
Labels: g: starcraft, c: match2

#1625 Add basic (common) match2 extradata lpdb storage
  components/match2/commons/match.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/arenaofvalor/matchgroup_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/dota2/matchgroup_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/matchgroup_input_custom.lua
  components/match2/wikis/mobilelegends/matchgroup_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/matchgroup_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#1630 Move some files to match naming scheme
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
Labels: chore

#1628 Create HDB for Rocket League
  components/hidden_data_box/wikis/rocketleague/hidden_data_box_custom.lua
Labels: g: rocket league, c: hidden_data_box

#1629 Create HDB for Valorant
  components/hidden_data_box/wikis/valorant/hidden_data_box_custom.lua
Labels: g: valorant, c: hidden_data_box

#1594 Replace hardcoded colors with css classes
  components/squad/commons/squad.lua
  components/squad/commons/squad_row.lua
Labels: chore, c: squad

#1604 Set up Custom Player Module for Wild Rift
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
Labels: c: infobox, g: wildrift

#1637 Store `firstname` and `lastname` into wiki variables
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#1635 Add support for `kuaishou` in infobox links
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox, c: standard

#1640 Fix typo in dota2 matchsummary
  components/match2/wikis/dota2/match_summary.lua
Labels: bug, c: match2, g: dota2

#1632 Move common tournament Variable retrieval to commons
  components/match2/commons/match_group_input.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2, chore

#1600 Allow PrizePool to fetch flags for party opponents
  components/match2/commons/opponent.lua
  components/prize_pool/commons/prize_pool.lua
Labels: enhancement, c: prize_pool

#1626 Setting up Custom player infobox for PUBGM
  components/infobox/wikis/pubgmobile/infobox_person_player_custom.lua
Labels: c: infobox, g: pubgmobile

#1643 Create HDB for dota2
  components/hidden_data_box/wikis/dota2/hidden_data_box_custom.lua
Labels: g: dota2, c: hidden_data_box

#1644 Bug fixed on Custom HDBs
  components/hidden_data_box/wikis/dota2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/rainbowsix/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/rocketleague/hidden_data_box_custom.lua
Labels: g: dota2, c: hidden_data_box

#1387 Add `Module:Opponent/Starcraft`
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: g: starcraft, c: match2

#1563 Match Summary for Pokemon
  components/match2/wikis/pokemon/match_summary.lua
Labels: c: match2, g: pokemon

#1641 Implement `PrizePool` for Age of Empires
  components/match2/wikis/ageofempires/opponent_custom.lua
  components/match2/wikis/ageofempires/player_ext_custom.lua
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
Labels: g: ageofempires, c: prize_pool

#1607 Add match2 support for counterstrike
  components/match2/wikis/counterstrike/brkts_wiki_specific.lua
  components/match2/wikis/counterstrike/match_external_links.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_legacy.lua
  components/match2/wikis/counterstrike/match_summary.lua
Labels: c: match2, g: counter-strike

#1639 Update non team opponent display in prize pools
  components/match2/commons/match_group_util.lua
  components/match2/commons/opponent_display.lua
  components/match2/commons/player_display.lua
  components/match2/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1651 Fix match legacy extradata values
  components/match2/wikis/counterstrike/match_legacy.lua
Labels: c: match2, g: counter-strike

#1652 Create HDB for League of Legends
  components/hidden_data_box/wikis/leagueoflegends/hidden_data_box_custom.lua
Labels: g: leagueoflegends, c: hidden_data_box

#1648 Create HDB for CounterStrike
  components/hidden_data_box/wikis/counterstrike/hidden_data_box_custom.lua
Labels: g: counter-strike, c: hidden_data_box

#1642 Brackets WikiSpecific for Pokemon
  components/match2/wikis/pokemon/brkts_wikispecific.lua
Labels: c: match2, g: pokemon

#1645 Use new infobox prize pool module
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#1647 Adjust sc2 infobox league (+hidden) to use `Module:Currency`
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: g: starcraft, c: infobox

#1650 Add retired date to lpdb in apex
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
Labels: c: infobox, g: apex

#1655 Add FactorGG support (League match2, Links, Widget Sorting)
  components/infobox/commons/infobox_widget_links.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  standard/links/commons/links.lua
Labels: c: infobox, c: match2, g: leagueoflegends

#1582 LoL League Infobox
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
Labels: c: infobox, g: leagueoflegends

#1646 Use currency rate variables in PrizePool
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1657 LoL League: Fallback tickername to shortname
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
Labels: c: infobox, g: leagueoflegends

#1656 Create PPT for League of Legends
  components/prize_pool/wikis/leagueoflegends/prize_pool_custom.lua
  components/prize_pool/wikis/leagueoflegends/prize_pool_legacy_custom.lua
Labels: g: leagueoflegends, c: prize_pool

#1660 Default extradata before usage in HDB Customs
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/dota2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/leagueoflegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/valorant/hidden_data_box_custom.lua
Labels: g: starcraft, g: valorant, g: ageofempires, g: dota2, g: leagueoflegends, c: hidden_data_box

#1659 Change the call order of match.getLinks
  components/match2/wikis/counterstrike/match_group_input_custom.lua
Labels: c: match2, g: counter-strike

#1664 PPT Legacy: Map `q` to checkmark
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1667 Use the module that actually has that function
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: bug, g: starcraft, c: match2

#1665 Add support for special score in PPT (W,FF,DQ,L,D)
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1668 Adjust handling of missing TTs in opponents
  components/match2/commons/opponent.lua
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/prize_pool/commons/prize_pool.lua
Labels: c: match2, c: prize_pool

#1671 Set parent into extradata in game1
  components/match2/wikis/leagueoflegends/match_legacy.lua
Labels: c: match2, g: leagueoflegends

#1670 Support additional "status" parameters in infobox/person
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#1661 Support Literals in PPT
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1662 Fix Module:Opponent/Starcraft
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: bug, g: starcraft, c: match2

#1672 Add intellisense annotations to Module:Variables
  standard/variables.lua
Labels: chore, c: standard

#1676 Change 'teams' to 'participants' in the prizepool prizenote
  components/prize_pool/commons/prize_pool.lua
Labels: enhancement, c: prize_pool

#1666 Call Opponent.toName only if player.team is not nil
  components/match2/commons/opponent.lua
Labels: bug, c: match2

#1677 Tidy up counterstrike match copy paste
  components/match2/wikis/counterstrike/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: counter-strike

#1669 Implement PPT Custom for Counterstrike
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_legacy_custom.lua
Labels: g: counter-strike, c: prize_pool

#1680 Make links without displaytext parsable by PP Legacy
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1673 Allow negative scores in PP
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1679 Allow wikis to decide on the rounding precision in prize pool currency values
  components/prize_pool/commons/prize_pool.lua
  standard/currency/currency.lua
Labels: chore, c: prize_pool

#1683 VAL: Add category for Female Tournaments
  components/infobox/wikis/valorant/infobox_league_custom.lua
Labels: g: valorant, c: infobox

#1684 Save Qualified LPDB field on CS
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
Labels: g: counter-strike, c: prize_pool

#1685 Improve column sorting of Prizes
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1682 Add more roles to VAL Infobox Player
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
Labels: g: valorant, c: infobox

#1687 Always set bestofx in match legacy
  components/match2/wikis/counterstrike/match_legacy.lua
Labels: c: match2, g: counter-strike

#1688 Respect disable LPDB/SMW storage on CS League Infobox
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#1689 Catch empty strings in some ifs
  components/infobox/commons/infobox_person.lua
Labels: bug, c: infobox

#1690 Allow unnamed matchParams for matchlists in copy paste
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/wikis/counterstrike/get_match_group_copy_paste_wiki.lua
Labels: c: match2

#1686 Add option to override a point's link
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1692 Only reset iconsInserted if dot is inserted
  components/match2/wikis/counterstrike/match_summary.lua
Labels: c: match2, g: counter-strike

#1653 NotabilityChecker config file for apexlegends wiki
  components/notability/wikis/apexlegends/notability_checker_config.lua
Labels: c: notability, g: apex

#1695 Catch empty strings
  standard/currency/currency.lua
Labels: c: standard

#1696 Catch case of `prizepoolusd` without `prizepool`
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#1694 Update broodwar MatchGroup/Legacy
  components/match2/wikis/starcraft/legacy/match_group_legacy.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy_default.lua
Labels: c: match2, g: broodwar

#1698 Save Qualified LPDB field on VAL
  components/prize_pool/wikis/valorant/prize_pool_custom.lua
Labels: g: valorant, c: prize_pool

#1709 Use Json.Stringify for standings matches
  components/standings/standings_storage.lua
Labels: p: high, f: lpdb, c: standings

#1612 Prepare match footer icons for darkmode
  components/match2/commons/match_summary_base.lua
Labels: c: match2

#1716 Add additional text label for ML Hero Infobox
  components/infobox/wikis/mobilelegends/infobox_hero_custom.lua
Labels: enhancement, c: infobox, g: mobilelegends

#1702 Add `Footer:addLinks` function to matchSummary/Base
  components/match2/commons/match_summary_base.lua
Labels: c: match2

#1717 Move to correct directory
  components/earnings/wikis/apexlegends/earnings.lua
Labels: bug, chore, g: apex

#1708 LPA-5872 match2 on web: Gameline breaks on < 450px on Dota2 and LoL(LPA-5875)
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: bug, c: match2, g: dota2, g: leagueoflegends

#1703 Use `footer:addLinks` in R6 MatchSummary
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2

#1704 Use `footer:addLinks` in OW MatchSummary
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: overwatch

#1721 Catch some empty cases in broodwar legacy handling
  components/match2/wikis/starcraft/legacy/match_group_legacy.lua
Labels: bug, c: match2, g: broodwar

#1722 Add `Footer:addLink` function to MatchSummary/Base
  components/match2/commons/match_summary_base.lua
Labels: c: match2

#1705 Prepare dota2 matchSummary footer for darkmode
  components/match2/wikis/dota2/match_summary.lua
Labels: c: match2, g: dota2

#1706 Prepare CS matchSummary footer for darkmode
  components/match2/wikis/counterstrike/match_external_links.lua
  components/match2/wikis/counterstrike/match_summary.lua
Labels: c: match2, g: counter-strike

#1727 Set OpponentIndex in Data Storage
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1731 Remove info around links in PPT Legacy
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1700 OW HDB Custom
  components/hidden_data_box/wikis/overwatch/hidden_data_box_custom.lua
Labels: g: overwatch, c: hidden_data_box

#1733 Make sc2 infobox player a bit faster
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox

#1732 Add Resolve Redirect on CS `series2`
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#1734 LPA-6211: Sanitize tournament names before inserting into LPDB or Wiki-Variables
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#1737 Update StaticID on mobas to match other wikis
  components/match2/wikis/arenaofvalor/match_legacy.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/wildrift/match_legacy.lua
Labels: c: match2, g: dota2, g: wildrift, g: mobilelegends, g: arenaofvalor, g: leagueoflegends

#1728 Handling points-link in CS Legacy PPT
  components/prize_pool/wikis/counterstrike/prize_pool_legacy_custom.lua
Labels: g: counter-strike, c: prize_pool

#1729 Forward `|qualifier=` in PPT Legacy for CS
  components/prize_pool/wikis/counterstrike/prize_pool_legacy_custom.lua
Labels: g: counter-strike, c: prize_pool

#1697 Add option to disable query in HDB
  components/hidden_data_box/commons/hidden_data_box.lua
Labels: c: hidden_data_box

#1741 Fix typo'd wiki name in Module
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
Labels: c: infobox, g: leagueoflegends

#1740 LPA-5995: Add mapping for 3166-2 to parent 3166-1 alpha2
  standard/flags.lua
  standard/flags_master_data.lua
Labels: c: standard

#1714 Kick Smw param usage on sc2
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_custom_shared.lua
  components/infobox/wikis/starcraft2/infobox_person_map_maker.lua
  components/infobox/wikis/starcraft2/infobox_person_user.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/starcraft2/legacy/legacy_player_cross_table.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_maps_legacy.lua
Labels: g: starcraft, c: infobox, c: match2

#1744 Ensure non-nil in BracketOpponentEntry
  components/match2/commons/opponent_display.lua
Labels: bug, c: match2

#1746 Fix Bug caused by setting match.walkover in counterstrike
  components/match2/wikis/counterstrike/match_legacy.lua
Labels: bug, c: match2, g: counter-strike

#1736 LPA-6348: Remove legacy lpdb storage of standings
  components/standings/standings_storage.lua
Labels: chore, c: standings

#1724 Allow noScore for ffa singleMatch display
  components/match2/commons/starcraft_starcraft2/match_group_display_singlematch_starcraft.lua
Labels: g: starcraft, c: match2

#1743 LPA-6245 Split venue/venue-link in LPDB
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_series.lua
  standard/locale.lua
Labels: c: infobox

#1726 Add option to push header params up top in match2 copy paste
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/wikis/counterstrike/get_match_group_copy_paste_wiki.lua
Labels: c: match2

#1745 Kick TournamentUtil usage from Player/Ext and Player/Ext/Starcraft
  components/match2/commons/player_ext.lua
  components/match2/commons/starcraft_starcraft2/player_ext_starcraft.lua
Labels: c: match2

#1693 Add Broodwar MatchMaps/Legacy module
  components/match2/wikis/starcraft/legacy/match_maps_legacy.lua
Labels: c: match2, g: broodwar

#1752 Suggestion for #1730
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#1738 LPA-5998: Have `Misc` as an alias for Tier `-1` on R6
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
Labels: g: rainbow six, c: infobox

#1378 Add 2 functions to `Module:MatchGroup/Coordinates`
  components/match2/commons/match_group_coordinates.lua
Labels: c: match2, f: lpdb, c: prize_pool

#1754 Adjust standings storage in preparation for sc/sc2
  components/standings/commons/standings_storage.lua
Labels: c: standings

#1756 Fix issue with index being applied twice in `locaitons`
  standard/locale.lua
Labels: c: standard

#1747 Store `participantteam` in extradata in PPT
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1748 Add option for adjusted reset match display in matchSummary
  components/match2/commons/match_summary_base.lua
Labels: c: match2

#1757 Don't store standings into LPDB if disable storage is set
  components/standings/commons/standings_storage.lua
Labels: c: standings

#1759 Improve counterstrike handling of match status (postponed/canceled)
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_summary.lua
Labels: c: match2, g: counter-strike

#1765 Fix inconsistency in parent storage
  components/hidden_data_box/commons/hidden_data_box.lua
Labels: bug, c: hidden_data_box

#1691 Add option to merge slots with same place in legacy PPT
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1768 Allow for "TeamCard/Custom/dev" lpdb storage
  components/team_card/team_card_storage.lua
Labels: c: team_card

#1772 LPA-5874: Update paddings on LOL's match summary
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: c: match2, g: leagueoflegends

#1773 PrizePool: Add extradata fields to lpdb.placement storage
  components/prize_pool/wikis/apexlegends/prize_pool_custom.lua
Labels: g: apex, c: prize_pool

#1751 Change match2.bestof to an integer from string
  components/match2/commons/match_group_util.lua
  components/match2/wikis/counterstrike/match_legacy.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/starcraft2/match_legacy.lua
  components/match2/wikis/valorant/match_legacy.lua
Labels: c: match2

#1775 Allow for space on either side of the `/` in br/hr in Legacy PPT
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1770 Add `w`, `d`, `l`, `dq` classes to `Placement.placementClasses` for later usage in PPT
  standard/placement.lua
Labels: c: standard

#1749 Use new reset display in splitgate matchsummary
  components/match2/wikis/splitgate/match_summary.lua
Labels: c: match2, g: splitgate

#1777 Catch special cases in PPT Legacy merge option
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: bug, c: prize_pool

#1778 Add support for w, d, l specialStatuses
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1774 Support multiple `venue` with similiar wikicode format to `organizer`
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_series.lua
Labels: c: infobox

#1776 Infobox League for CrossFire
  components/infobox/wikis/crossfire/infobox_league_custom.lua
Labels: c: infobox, g: crossfire

#1785 Do not have 1/2/3/4 bg color for special statuses
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1713 Add Infobox Character for Apex Legends
  components/infobox/wikis/apexlegends/infobox_character_custom.lua
Labels: c: infobox, g: apex

#1701 Suppress 0 display in PPT
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1715 Change stuff from smwPrefix to lpdbPrefix
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1707 Add Infobox Weapon for Apex Legends
  components/infobox/wikis/apexlegends/infobox_weapon_custom.lua
Labels: c: infobox, g: apex

#1786 Remove check in CS custom that commons does
  components/prize_pool/wikis/counterstrike/prize_pool_legacy_custom.lua
Labels: g: counter-strike, c: prize_pool

#1712 Improve lpdb_prefix support
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_legacy.lua
  components/team_card/team_card_storage.lua
Labels: c: prize_pool

#1057 Add localisation data to flags master data
  standard/flags_master_data.lua
Labels: c: standard
