Repository Liquipedia/Lua-Modules, pull requests merged in 2022-07, with the labels that each got.

#1442 Adjust LOL match2 copy paste generator
  components/match2/wikis/leagueoflegends/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: leagueoflegends

#1408 Automatically convert local cash to usd
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1447 Fix `Array.foreach` --> `Array.forEach` in prize pool
  components/prize_pool/commons/prize_pool.lua
Labels: bug, c: prize_pool

#1446 Fix git header
  standard/tournaments_summary_table/wikis/starcraft2/tournaments_summary_table_custom.lua
Labels: chore

#1448 Fix missing return and reversed if statement
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1420 Don't call function that doesn't exist
  components/match2/commons/opponent_display.lua
Labels: c: match2

#1451 Add Official Device for PUBGM Infobox League
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: pubgmobile

#1452 Add Official Device for ML Infobox League
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: mobilelegends

#1454 Add Official Device for AOV Infobox League
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: arenaofvalor

#1434 Fix params in ML Infobox Item
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
Labels: bug, c: infobox, g: mobilelegends

#1430 Add more stats & add sorting in Hero Infobox
  components/infobox/wikis/mobilelegends/infobox_hero_custom.lua
Labels: c: infobox, g: mobilelegends

#1388 Add `fromLpdbStruct` and `toLpdbStruct` in `Module:Opponent`
  components/match2/commons/opponent.lua
Labels: c: match2, c: standings, c: prize_pool

#1407 Store data into LPDB
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1456 Create LPDB Injector Interface
  standard/lpdb/lpdb_injector.lua
Labels: c: standard

#1412 Create infobox league for Naraka
  components/infobox/wikis/naraka/infobox_league_custom.lua
Labels: c: infobox, g: naraka

#1443 Overwatch Infobox Player
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
Labels: c: infobox, g: overwatch

#1406 Creating Infobox League for Pokemon
  components/infobox/wikis/infobox_league_custom.lua
Labels: c: infobox, g: pokemon

#1397 Creating Infobox Character Custom
  components/infobox/commons/infobox_character_custom.lua
Labels: c: infobox

#1468 Make prize pool's responsive (horizontal scroll)
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1467 Merge multiple occurrences of the same prize type into one column, for some types
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1469 Add support for Wrapping content in Table Cells
  components/prize_pool/commons/prize_pool.lua
  components/widget/widget_table_cell.lua
Labels: c: standard, c: prize_pool

#1472 Removing THA from OW
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
Labels: c: infobox, g: overwatch

#1466 OW hard limit for signature hero
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
Labels: c: infobox, g: overwatch

#1470 Add points storage into extradata
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1473 Add R6 Custom Points handling
  components/prize_pool/wikis/rainbowsix/prize_pool_custom.lua
Labels: g: rainbow six, c: prize_pool

#1475 Add currency exchange information
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1477 Add special status to Prize Pool Tables
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1480 Rework rewards parsing
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1481 Allow custom opponentDisplay library in PP
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1483 Map special letter places (w, d, l) in Legacy
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1482 Support new lpdb tables `standingstable` and `standingsentry`
  components/standings/standings_storage.lua
Labels: c: standings

#1485 Fix mixed usage `.slotIndex` and `.slotindex`
  components/standings/standings_storage.lua
Labels: bug, c: standings

#1486 Handle legacy Module call
  components/standings/standings_storage.lua
Labels: c: standings

#1487 Copy fallback tables before returning
  components/standings/standings_storage.lua
Labels: bug, c: standings

#1489 Fix typo in #1487
  components/standings/standings_storage.lua
Labels: c: standings

#1490 Add annotations to `Class.export`
  standard/class.lua
Labels: chore

#1492 Fix `isAfter` in Currency/Date
  standard/currency/currency_data.lua
Labels: bug, c: standard

#1493 Convert data to flatten locations table (LPDB Json)
  standard/locale.lua
  standard/region/commons/region.lua
Labels: c: standard

#1494 Set lpdb's `locations` where it exists
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#1496 Fix typo
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
Labels: bug, g: starcraft, c: hidden_data_box

#1495 Infobox's calling the wrong Hotkey function
  components/infobox/commons/infobox_building.lua
  components/infobox/commons/infobox_skill.lua
  components/infobox/commons/infobox_unit.lua
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
Labels: bug, c: infobox

#1491 Change from Module:String to Module:StringUtils everywhere
  components/infobox/commons/infobox_basic.lua
  components/infobox/commons/infobox_building.lua
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_scene.lua
  components/infobox/commons/infobox_skill.lua
  components/infobox/commons/infobox_strategy.lua
  components/infobox/commons/infobox_unit.lua
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/extensions/commons/age.lua
  components/infobox/extensions/commons/metadata_generator.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_team_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
  components/match2/wikis/rainbowsix/legacy/legacy_bracket_match_summary.lua
  components/notability/commons/notability_checker.lua
  components/squad/squad.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  standard/region/commons/region.lua
Labels: chore

#1426 Create MatchGroup/Input/Custom for Pokemon
  components/match2/wikis/pokemon/matchgroup_input_custom.lua
Labels: c: match2, g: pokemon

#1498 Annotate deprecated instead of just having a comment
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/starcraft_starcraft2/player_ext_starcraft.lua
Labels: chore

#1500 Move to correct folder
  components/infobox/wikis/pokemon/infobox_league_custom.lua
Labels: c: infobox, chore, g: pokemon

#1499 Dropped `p` as internal name in match2 to match1
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/rocketleague/match_legacy.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/starcraft2/match_legacy.lua
  components/match2/wikis/valorant/match_legacy.lua
Labels: c: match2, chore

#1501 Fix typo Legacy mapping
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1502 Have match2-to-match1 respect store flags.
  components/match2/wikis/arenaofvalor/match_legacy.lua
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/rocketleague/match_legacy.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/starcraft2/match_legacy.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/wildrift/match_legacy.lua
Labels: c: match2

#1503 Fix case sensitivity of seed in Prize Pool Legacy
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1506 Have match2-to-match1 respect store flags (SC2)
  components/match2/wikis/starcraft2/match_legacy.lua
Labels: g: starcraft, c: match2, chore

#1504 Remove uses of `p` in favor of better names
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/rocketleague/legacy/match_group_legacy_default.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy_default.lua
Labels: c: match2, chore

#1507 Have match2-to-match1 respect store flags (broodwar)
  components/match2/wikis/starcraft/match_legacy.lua
Labels: c: match2, chore, g: broodwar

#1512 Add min-width to place, team & player columns
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1514 Make the default behavior of TBD is to hide the link
  components/match2/commons/opponent_display.lua
Labels: c: standard

#1513 Correct OpponentType on TBDs
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1515 Remove css class that causes issues
  components/match2/commons/opponent_display.lua
Labels: c: standard

#1519 Match2 - add retrieval of game property
  components/match2/commons/match_group_util.lua
Labels: c: match2

#1520 Add PrizePool Custom for Rocket League
  components/prize_pool/wikis/rocketleague/prize_pool_custom.lua
Labels: g: rocket league, c: prize_pool

#1523 Move Legacy Custom from R6 to Commons
  components/prize_pool/commons/prize_pool_legacy_custom.lua
Labels: c: prize_pool

#1526 Allow `u` as valid race entry in maps for players in team matches
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#1518 SEO Tags for Infobox League
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_widget_header.lua
  components/infobox/extensions/commons/metadata_generator.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox

#1527 Do not default to `u` for manual race input per map
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: bug, g: starcraft, c: match2

#1531 Resolve Redirect Tournament Links
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1532 Create Legacy Custom for Valorant PPT
  components/prize_pool/wikis/valorant/prize_pool_legacy_custom.lua
Labels: g: valorant, c: prize_pool

#1529 Create PPT Custom for Valorant
  components/prize_pool/wikis/valorant/prize_pool_custom.lua
Labels: g: valorant, c: prize_pool

#1539 Fix localcurrency in Valorant Legacy
  components/prize_pool/wikis/valorant/prize_pool_legacy_custom.lua
Labels: g: valorant, c: prize_pool

#1538 Remove images in points in Valorant's legacy PPT
  components/prize_pool/wikis/valorant/prize_pool_legacy_custom.lua
Labels: g: valorant, c: prize_pool

#1530 Create PPT Custom for dota2
  components/prize_pool/wikis/dota2/prize_pool_custom.lua
Labels: g: dota2, c: prize_pool

#1540 Fix lastscore not working in Legacy Mapping
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1542 Automatically get the Tournament Name in PPT Legacy
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1543 Create Legacy Custom for dota2
  components/prize_pool/wikis/dota2/prize_pool_legacy_custom.lua
Labels: g: dota2, c: prize_pool

#1528 Remove Icon Link if links should be removed in Team Display
  components/match2/commons/opponent_display.lua
Labels: c: standard

#1534 Creating infobox person for Apex Legends
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
Labels: c: infobox, g: apex

#1537 Create Custom infobox team for Apex Legends
  components/infobox/wikis/apexlegends/infobox_team_custom.lua
Labels: c: infobox, g: apex

#1551 In Infobox Team, make Staff a customizable.
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#1550 Add Links needed by CS Team Infobox
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
  standard/links/wikis/counterstrike/links_custom_data.lua
Labels: c: standard

#1549 Create Team Infobox for CS
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
Labels: c: infobox, g: counter-strike

#1556 Fix missing override in Team infobox
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
Labels: c: infobox, g: counter-strike

#1552 Fix TBD handling for Party Opponents
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1557 Remove the /doc part of the link when linking to template
  components/infobox/commons/infobox_widget_header.lua
Labels: c: infobox

#1553 Party TBDs - hide link by default
  components/match2/commons/opponent_display.lua
Labels: c: standard

#1546 Add PrizePool Legacy for Apex Legends
  components/prize_pool/wikis/apexlegends/prize_pool_legacy_custom.lua
Labels: g: apex, c: prize_pool

#1560 Set up Module:Earnings for Apex
  components/prize_pool/wikis/apexlegends/earnings.lua
Labels: g: apex, c: earnings

#1545 Add Custom Prizepool handler to Apex
  components/prize_pool/wikis/apexlegends/prize_pool_custom.lua
Labels: g: apex, c: prize_pool

#1547 Create Squad Custom for Apex
  components/squad/wikis/apexlegends/squad_custom.lua
Labels: g: apex, c: squad

#1561 Metadata Generator - Fix typo in name fallback
  components/infobox/extensions/commons/metadata_generator.lua
Labels: bug, c: infobox_extensions

#1562 Fix Date Validation in Prize Pool
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1559 Made Series match League in formatting slightly more
  components/infobox/commons/infobox_series.lua
Labels: c: infobox

#1558 Create Infobox Series for Counterstrike
  components/infobox/wikis/counterstrike/infobox_series_custom.lua
Labels: c: infobox, g: counter-strike

#1565 Add Esportal link, update icon for ESEA-D
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: standard

#1564 Cleanup, fix and improve CS Infobox League
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#1567 Add `Non-representing` support to EPT Regions stuff
  standard/region/extensions/ept_data.lua
Labels: c: standard

#1570 Remove team list from Infobox League on CS
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#1571 Fix string concat typo
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#1572 Add 4 links, add sorting to 2 links
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: standard

#1517 Create a plugin for the sumenko extension
  plugins/sumneko_plugin.lua
Labels: chore

#1574 Create Squad Custom for Counterstrike
  components/squad/wikis/counterstrike/squad_custom.lua
Labels: g: counter-strike, c: squad

#1573 In flags template fallback, lowercase the flag name
  standard/flags.lua
Labels: c: standard

#1576 Change so all categories are only set in mainspace
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#1577 Make SC2 player (and caster) infoboxes faster
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox

#1578 Remove several "globals" in sc2 infobox player
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox

#1580 Two more categories not to display in userspace
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#1583 Add player link for ESEA
  standard/links/commons/links.lua
Labels: c: standard

#1584 Fix faceit player & team links
  standard/links/commons/links.lua
  standard/links/wikis/counterstrike/links_custom_data.lua
  standard/links/wikis/rainbowsix/links_custom_data.lua
Labels: c: standard

#1554 Store `tournament` in `match2games`
  components/match2/commons/match.lua
Labels: c: match2

#1585 Limit queried keys to lower the used lua memory significantly
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: bug, g: starcraft, c: infobox

#1588 Apply same directory structure we have for the other components to squads also
  components/squad/commons/squad.lua
  components/squad/commons/squad_row.lua
Labels: chore, c: squad

#1586 Pass along 10 instead of 5 matches
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox

#1591 Infobox League CS: Always set USD Prize Pool wiki-var
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#1589 Add support for using (Module:Tier).link to get set tier link
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#1592 Store Mode into LPDB from Infobox League
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#1579 LoL Player Infobox
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
Labels: c: infobox, g: leagueoflegends

#1396 Create Infobox Character
  components/infobox/commons/infobox_character.lua
Labels: c: infobox

#1389 Add to and from LpdbStruct sc/sc2 specifics
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: g: starcraft, c: match2, c: standings, c: prize_pool

#1569 Adjust `fetchMatchForBracketDisplay `
  components/match2/commons/match_group_util.lua
Labels: c: match2

#1566 Rework SC/SC2 matchSummary display for bracketResets
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#1393 Add a space between time and timezone
  components/match2/commons/match_group_display_helper.lua
  standard/date_ext.lua
Labels: c: match2
