Repository Liquipedia/Lua-Modules, pull requests merged in 2022-01, with the labels that each got.

#892 Change notability dropoff to placement date instead of on new years
  components/notability/commons/notability_checker.lua
Labels: c: notability

#876 Move/Rename Infobox Person modules to `.../Custom`
  components/infobox/commons/infobox_person_user_custom.lua
  components/infobox/wikis/dota2/infobox_person_user_custom.lua
  components/infobox/wikis/halo/infobox_person_player_custom.lua
  components/infobox/wikis/overwatch/infobox_person_user_custom.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
Labels: c: infobox, chore

#831 Add match1 to match2 modules
  components/match2/wikis/rainbow_six/legacy/legacy_bracket_match_summary.lua
  components/match2/wikis/rainbow_six/legacy/match_group_legacy_default.lua
  components/match2/wikis/rainbow_six/legacy/match_maps_legacy.lua
  components/match2/wikis/rainbow_six/legacy/match_maps_legacy_store.lua
Labels: g: rainbow six, c: match2

#754 Adding MatchGroup/Input/Custom for Mobile Legends
  matchgroup_input_custom.lua
Labels: c: match2, g: mobilelegends

#906 Adjusting MatchGroup/Input/Custom for Wild Rift
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2, g: wildrift

#877 Make Links customizable
  standard/links/commons/links.lua
  standard/links/wikis/starcraft2/links_custom_data.lua
Labels: c: standard

#567 Reorder match entries in bracket copy+paste template
  components/match2/commons/get_match_group_copy_paste.lua
Labels: c: match2

#907 Move Legacy into subfolders
  components/match2/wikis/rocketleague/legacy/legacy_match_list.lua
  components/match2/wikis/rocketleague/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft2/legacy/legacy_player_cross_table.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy_default.lua
Labels: chore

#777 [coords11] Store match2bracketdata.groupRoundIndex
  components/match2/commons/match_group_input.lua
Labels: c: match2

#909 Add "Disbanded Teams" category
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#883 Create custom Map Infobox for Halo
  components/infobox/wikis/halo/infobox_map_custom.lua
Labels: c: infobox, g: halo

#870 Add `dateHeader` option in `matchList`
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_util.lua
Labels: enhancement, c: match2, f: lpdb

#911 Add "United States" to Region data
  standard/region/commons/region_data.lua
Labels: enhancement, c: standard

#913 Improvement to Legacy/Default
  components/match2/wikis/rainbow_six/legacy/match_group_legacy_default.lua
Labels: g: rainbow six, c: match2

#914 Adjust `steam` link for rocketleague
  standard/links/wikis/rocketleague/links_custom_data.lua
Labels: g: rocket league, c: standard

#916 Fix Header for Halo Map Infobox
  components/infobox/wikis/halo/infobox_map_custom.lua
Labels: c: infobox, g: halo

#918 Fix typo in infobox person
  components/infobox/commons/infobox_person.lua
Labels: bug, c: infobox

#917 Adding Icon switches in MatchSummary for Mobile Legends
  components/match2/wikis/mobilelegends/match_summary.lua
Labels: c: match2, g: mobilelegends

#874 Adjust SC2 Player and Commentator infoboxes
  components/infobox/wikis/starcraft2/infobox_person_commentator.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox

#855 Add match2 implementation for `Module:Bracket matches table`
  components/match2/commons/matches_table.lua
  components/match2/commons/starcraft_starcraft2/matches_table_starcraft.lua
Labels: c: match2

#828 Add CopyPaste Generator for Splitgate
  components/match2/wikis/splitgate/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: splitgate

#763 [pl8] Combine opponent and match input processing
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_legacy.lua
  components/match2/commons/match_subobjects.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/rainbow_six/match_group_input_custom.lua
  components/match2/wikis/rocketleague/legacy/legacy_match_list.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#921 Add missing "Module:"
  components/match2/commons/starcraft_starcraft2/matches_table_starcraft.lua
Labels: bug, g: starcraft

#915 Extracting position bg and tournaments data
  components/automatic-points-table/commons/automatic-points-table.lua
Labels: enhancement

#922 Add support for fetch results as coach
  components/notability/commons/notability_checker.lua
  components/notability/wikis/rocketleague/notability_checker_config.lua
Labels: c: notability

#923 Add configuration for notability checker on AoE
  components/notability/wikis/ageofempires/notability_checker_config.lua
Labels: g: ageofempires, c: notability

#926 Move to correct directory
  components/match2/wikis/mobilelegends/matchgroup_input_custom.lua
Labels: c: match2, chore, g: mobilelegends

#924 Remove unused code
  components/notability/commons/notability_checker.lua
Labels: c: notability

#929 Add Brkts/WikiSpecific for Arena of Valor
  components/match2/wikis/arenaofvalor/brkts_wikispecific.lua
Labels: c: match2, g: arenaofvalor

#931 Fix Match1 issue on R6 after #763
  components/match2/wikis/rainbow_six/match_legacy.lua
Labels: g: rainbow six, c: match2

#881 Extract createOpponent and createScore to MatchSummary/Base
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/rainbow_six/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2

#927 Adjust according to PR 763
  components/match2/wikis/mobilelegends/matchgroup_input_custom.lua
Labels: bug, c: match2, chore, g: mobilelegends

#928 Add Legacy storage modules for Mobile Legends
  components/match2/wikis/mobilelegends/match_legacy.lua
Labels: c: match2, g: mobilelegends

#867 Create Wiki Specific Brkts for OW
  components/match2/wikis/overwatch/brkts_wiki_specific.lua
Labels: c: match2, g: overwatch

#925 Add Notability Config for R6
  components/notability/wikis/rainbowsix/notability_checker_config.lua
Labels: g: rainbow six, c: notability

#872 Add Module with shared functions for sc2 person infoboxes
  components/infobox/wikis/starcraft2/infobox_person_custom_shared.lua
Labels: g: starcraft, c: infobox

#936 Add `matchIndex` to MatchList `match2bracketdata`
  components/match2/commons/match_group_input.lua
Labels: c: match2, f: lpdb

#938 Adjusting Legacy Module for Mobile Legends
  components/match2/wikis/mobilelegends/match_legacy.lua
Labels: c: match2, g: mobilelegends

#899 Create Brkts wiki specific Sideswipe
  components/match2/wikis/sideswipe/brkts_wiki_specific.lua
Labels: c: match2, g: sideswipe

#934 Add HiddenDataBox for AoE
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
Labels: g: ageofempires

#910 Update Infobox to allow "local/native" ID in Subheader
  components/infobox/commons/infobox_person.lua
Labels: enhancement, c: infobox

#896 Enable language flags
  standard/flags.lua
  standard/flags_master_data.lua
Labels: c: standard

#941 Adjust Legacy Bracket MatchGroup calls
  components/match2/commons/match_group_legacy.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy.lua
Labels: c: match2

#940 SC2 Legacy Match list - Part 2
  components/match2/wikis/starcraft2/legacy/match_maps_legacy_store.lua
Labels: g: starcraft, c: match2

#942 Adjust Legacy Matchlist MatchGroup calls
  components/match2/wikis/rocketleague/legacy/legacy_match_list.lua
  components/match2/wikis/starcraft2/legacy/legacy_player_cross_table.lua
Labels: c: match2, chore

#886 Adding default parameters for Infobox Map
  components/infobox/commons/infobox_map.lua
Labels: c: infobox

#944 Rename MatchGroup components
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_base.lua
  components/match2/wikis/rainbow_six/legacy/match_maps_legacy_store.lua
Labels: c: match2

#943 Make LeagueIcon handling consistent
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#945 Retrieve Abbreviation from LPDB series if unset
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#930 Added parseTeams
  components/automatic-points-table/commons/automatic-points-table.lua
Labels: enhancement

#935 Add Match Legacy for Arena of Valor
  components/match2/wikis/arenaofvalor/match_legacy.lua
Labels: c: match2, g: arenaofvalor

#878 Fix `faceit` Links
  standard/links/commons/links.lua
  standard/links/wikis/counterstrike/links_custom_data.lua
Labels: c: standard

#946 Create structured LPDB conditions
  standard/lpdb/condition.lua
  standard/lpdb/condition_test.lua
Labels: c: standard

#953 Add match2 version of GroupTableLeague - SC(2) Custom
  components/group_table_league/commons/group_table_league_starcraft_next.lua
Labels: g: starcraft, c: group_table_league

#954 Add utility module for GroupTableLeague
  components/group_table_league/commons/group_table_league_util.lua
Labels: c: group_table_league

#957 Stop overwriting Commons extradata
  components/infobox/wikis/halo/infobox_person_player_custom.lua
Labels: c: infobox, g: halo

#932 Add MatchSummary for Arena of Valor
  components/match2/wikis/arenaofvalor/match_summary.lua
Labels: c: match2, g: arenaofvalor

#967 Avoid nil concats in `Module:GetMatchGroupCopyPaste`
  components/match2/commons/get_match_group_copy_paste.lua
Labels: bug, c: match2

#970 1v1 notability modifier for Rocket League
  components/notability/wikis/rocketleague/notability_checker_config.lua
Labels: g: rocket league, c: notability

#969 Create storage for standing
  components/standings/standings_storage.lua
Labels: c: standings

#974 Adjust variable name to matche the one set by infobox league
  components/match2/wikis/halo/match_group_input_custom.lua
Labels: bug, c: match2, g: halo

#973 Allow table of matches as input for MatchlistContainer
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_matchlist_starcraft.lua
Labels: c: match2

#933 Add MatchGroup Input for Arena of Valor
  components/match2/wikis/arenaofvalor/matchgroup_input_custom.lua
Labels: c: match2, g: arenaofvalor

#975 Add Brkts/WikiSpecific module for Dota 2
  components/match2/wikis/dota2/brkts_wikispecific.lua
Labels: c: match2, g: dota2

#988 Adding new TierTypes
  components/notability/wikis/halo/notability_checker_config.lua
Labels: c: notability, g: halo

#961 Add Infobox League for ML
  components/infobox/wikis/mobilelegends/infobox_league.lua
Labels: c: infobox, g: mobilelegends

#978 Add `section` to matches
  components/match2/commons/match.lua
Labels: c: match2

#991 Adjustments for ML MatchGroup Input
  components/match2/wikis/mobilelegends/matchgroup_input_custom.lua
Labels: enhancement, c: match2, g: mobilelegends

#994 Add links needed by Dota
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: standard, g: dota2

#995 Fix issue with R6's match1.header
  components/match2/wikis/rainbow_six/match_legacy.lua
Labels: g: rainbow six, c: match2

#866 Create MatchSummary for Overwatch
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: overwatch

#990 Add Infobox League for Brawl Stars
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
Labels: c: infobox, g: brawl stars

#955 Extract the inner loop of _calculateWeight()
  components/notability/commons/notability_checker.lua
Labels: c: notability

#1005 Create abbreviation module
  standard/abbreviation.lua
Labels: c: standard

#972 Create Infobox/Player for Dota
  components/infobox/commons/infobox_widget_links.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
Labels: c: infobox, g: dota2

#1003 Adjusting for WR MatchGroup Input
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: enhancement, c: match2, g: wildrift

#1000 Add Infobox League for AOV
  components/infobox/wikis/arenaofvalor/infobox_league.lua
Labels: c: infobox, g: arenaofvalor

#1004 Rework SC2 Legacy Match Lists
  components/match2/wikis/starcraft2/legacy/match_maps_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_maps_legacy_store.lua
Labels: g: starcraft, c: match2

#1006 Fix null error on Dota
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
Labels: bug, g: dota2

#999 Add Infobox Player for ML
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
Labels: c: infobox, g: mobilelegends

#1012 Fix role categories not set on Dota
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
Labels: bug, g: dota2

#1014 Removing unused code from Halo Match2
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/halo/match_summary.lua
Labels: c: match2, g: halo

#1015 Remove R6 Custom Earnings - use Commons instead
  components/earnings/wikis/rainbowsix/earnings.lua
Labels: g: rainbow six

#996 Add link for Halo Data Hive
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: g: halo

#1018 Correct Wild Rift's icons and remove irrelevant parameters
  components/infobox/wikis/wildrift/infobox_unit_champion.lua
Labels: c: infobox, g: wildrift

#1020 Fix deploy header
  components/infobox/commons/infobox_weapon.lua
Labels: bug, c: infobox

#1021 Add subheader support to Infobox Unit
  components/infobox/commons/infobox_unit.lua
Labels: enhancement, c: infobox

#1025 Create Infobox Weapon Custom
  components/infobox/commons/infobox_weapon_custom.lua
Labels: c: infobox

#1023 Add VLR support to Links
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox, c: standard
