Repository Liquipedia/Lua-Modules, pull requests merged in 2022-10, with the labels that each got.

#1986 Adjust Featured match
  components/match2/wikis/counterstrike/match_group_input_custom.lua
Labels: bug, c: match2, g: counter-strike

#1989 FN OpponentCustom - Folder Move
  components/match2/wikis/fortnite/opponent_custom.lua
Labels: chore, g: fortnite

#1990 FN PlayerExt - Folder Move
  components/match2/wikis/fortnite/player_ext_custom.lua
Labels: chore, g: fortnite

#1995 Add `finished` to standingstable extradata
  components/standings/commons/standings_storage.lua
Labels: c: standings

#1987 Allow penalty as param in sc/sc2 opponents in match2
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/opponent_display_starcraft.lua
Labels: g: starcraft, c: match2

#1996 Change default group score delimiter in PPT import
  components/prize_pool/commons/prize_pool_import.lua
Labels: chore, c: prize_pool

#1997 Fix typo in PPT import
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#2000 Move `IGL` in Valorant's Infobox Team
  components/infobox/wikis/valorant/infobox_team_custom.lua
Labels: g: valorant, c: infobox

#1988 Set standardized lpdb_placement fields in teamCard storage
  components/team_card/team_card_storage.lua
Labels: c: team_card

#1999 Only apply gtl for finished gtls in ppt import
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#2001 Add enddate to standingstable extradata
  components/standings/commons/standings_storage.lua
Labels: c: standings

#2002 Add TBD Opponent as fallback if no opponent is entered in TeamCard standardized storage
  components/team_card/team_card_storage.lua
Labels: bug, c: team_card

#1994 add Infobox Team for freefire
  components/infobox/wikis/freefire/infobox_team_custom.lua
Labels: c: infobox, g:freefire

#1868 Allow partial input for non literal/team Opponents
  components/prize_pool/commons/prize_pool_placement.lua
Labels: c: prize_pool

#1998 Do not overwrite date while merging in PPT import
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#1828 Add sc/sc2 PPT Legacy Module
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
Labels: g: starcraft, c: prize_pool

#2005 Set `allGroupsUseWdl` as `true` for R6, RL and lol
  components/prize_pool/wikis/leagueoflegends/prize_pool_custom.lua
  components/prize_pool/wikis/rainbowsix/prize_pool_custom.lua
  components/prize_pool/wikis/rocketleague/prize_pool_custom.lua
Labels: g: rocket league, g: rainbow six, g: leagueoflegends, c: prize_pool

#1508 Minor code cleanup in Valorant Big Match
  components/match2/wikis/valorant/big_match.lua
Labels: g: valorant, c: match2

#959 MatchLegacy for Halo
  components/match2/wikis/halo/match_legacy.lua
Labels: c: match2, g: halo

#2008 Use shared functions for MapMaker infobox
  components/infobox/wikis/starcraft2/infobox_person_map_maker.lua
  components/infobox/wikis/starcraft2/infobox_person_map_maker_custom.lua
Labels: g: starcraft, c: infobox

#2007 disabling tournament templates on VAL infobox team
  components/infobox/wikis/valorant/infobox_team_custom.lua
Labels: g: valorant, c: infobox

#901 Create Sideswipe MatchSummary
  components/match2/wikis/sideswipe/match_summary.lua
Labels: c: match2, g: sideswipe

#2009 Create Match Legacy for Side Swipe
  components/match2/wikis/sideswipe/match_legacy.lua
Labels: c: match2, g: sideswipe

#2011 Fix `expected` vs `actual` in Reference Cleaner Tests
  standard/test/reference_cleaner_test.lua
Labels: t: standard

#2013 Only format seriesNumber if it is numeric
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox

#1348 WidgetFactory Rework
  components/infobox/commons/infobox_widget_factory.lua
Labels: c: infobox

#2017 move to correct directory
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: chore

#2012 Do not store legacy standings from non main space
  components/standings/commons/starcraft_starcraft2/standings_storage_starcraft_legacy.lua
Labels: g: starcraft, c: standings

#2018 Adjust filling up slots handling in SC/SC2 PPT Legacy
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#2016 Adjust old prize pool call in case of awards
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#1510 Remove frame parameter from `processMap`
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_subobjects.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/legacy/legacy_match_list.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#2019 One function call was not updated in #1510
  components/match2/commons/match_group_legacy.lua
Labels: bug, c: match2

#1509 Remove the frame parameter from `processMatch`
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/big_match.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#2024 BrktsSpecific for Splatoon
  components/match2/wikis/splatoon/brkts_wiki_specific.lua
Labels: c: match2, g: Splatoon

#2029 Change nil check to isNotEmpty check
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#2027 Allow manual match/map winner
  components/match2/wikis/counterstrike/match_group_input_custom.lua
Labels: c: match2, g: counter-strike

#2026 Check opponenttype in the correct table when determining mode
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#2025 Catch Seeds that are plain text in Legacy
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#2022 Fix slotSize calculations for Non-Team/Solo opponent in SC2 Legacy
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#2023 Fill up placement with first opponent if no first opponent is present
  components/prize_pool/commons/prize_pool_placement.lua
Labels: bug, c: prize_pool

#2031 Use `scoreinfo.status` to check for score set
  components/match2/wikis/counterstrike/match_group_input_custom.lua
Labels: c: match2, g: counter-strike

#2028 Both `hltv` and `hltvlegacy` can have `stats`and `legacystats` as map stats
  components/match2/wikis/counterstrike/match_external_links.lua
Labels: c: match2, g: counter-strike

#2033 RequireDevIfEnavbled for ReferenceCleaner Testcases
  standard/test/reference_cleaner_test copy.lua
Labels: t: standard

#2036 Create unit tests for Date/Ext
  standard/test/date_ext_test.lua
Labels: t: standard

#1992 MatchSummary for Splatoon
  components/match2/wikis/splatoon/match_summary.lua
Labels: c: match2, g: Splatoon

#1991 MatchGroupInput/Custom for Splatoon
  components/match2/wikis/match_group_input_custom.lua
Labels: c: match2, g: Splatoon

#2035 Create unit tests for Module:Abbreviation
  standard/test/abbreviation_test.lua
Labels: t: standard

#2034 Add missing `"` in Abbreviation Module
  standard/abbreviation.lua
Labels: c: standard

#2037 Create unit tests for Module:Flags
  standard/test/flags_test.lua
Labels: t: standard

#2045 Move earnings variables into self
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#2041 Add support for "Start.GG" in links
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: enhancement, t: standard

#2046 Rework earnings for sc2 infobox team
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#2051 Create unit test for Module:Locale
  standard/test/locale_test.lua
Labels: t: standard

#2054 Create unit tests for Module:Page
  standard/test/page_test.lua
Labels: t: standard

#2053 Create Unit Tests for MathUtil
  standard/test/math_util_test.lua
Labels: t: standard

#2055 Create Unit Tests for Module:Placement
  standard/test/placement.lua
Labels: t: standard

#2052 Minor cleanup for `Locale.formatLocation`
  standard/locale.lua
Labels: c: standard

#2038 Match Legacy for Splatoon
  components/match2/wikis/splatoon/match_legacy.lua
Labels: c: match2, g: Splatoon

#2049 Create tests for Module:Json
  standard/test/json_test.lua
Labels: t: standard

#2059 Fix issue when using LF with our Plugin
  plugins/sumneko_plugin.lua
Labels: bug, chore

#2060 Convert indentation to tabs in Plugin
  plugins/sumneko_plugin.lua
Labels: chore

#2063 Fix: #2033 made a copy of the file
  standard/test/reference_cleaner_test copy.lua
  standard/test/reference_cleaner_test.lua
Labels: chore

#2062 Move folder for Splatoon's match2 input custom
  components/match2/wikis/splatoon/match_group_input_custom.lua
Labels: chore

#2061 Fix capitalisation typo in mapmaker category check
  components/infobox/wikis/starcraft2/infobox_person_custom_shared.lua
Labels: bug, g: starcraft, c: infobox

#2066 Add annotations to Module:StringUtils
  standard/string_utils.lua
Labels: chore

#2065 Create unit tests for Module:StringUtils
  standard/test/string_utils_test.lua
Labels: t: standard

#2068 Create unit test for Module:TextSanitizer
  standard/test/text_sanitizer.lua
Labels: t: standard

#2069 Create Unit Tests for Module:Timezone
  standard/test/timezone_test.lua
Labels: t: standard

#2071 Create Unit Tests for Module:Currency
  standard/test/currency_test.lua
Labels: t: standard

#2070 Create Unit Tests for Module:Variables
  standard/test/variables_test.lua
Labels: t: standard

#2073 Create Unit Test for Module:Region
  standard/test/region_test.lua
Labels: t: standard

#2072 Create unit tests for Module:Ordinal
  standard/test/ordinal_test.lua
Labels: t: standard

#2074 Create unit tests for some function in Module:Lua
  components/match2/test/lua_test.lua
  standard/test/lua_test.lua
Labels: t: standard

#2075 Create Unit Tests for PVN
  standard/test/page_variable_namespace_test.lua
Labels: t: standard

#2076 Use standardized fields in sc2 infobox league placement queries
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: g: starcraft, c: infobox, chore

#2058 Catch unset winner for finished matches
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: bug, g: starcraft, c: match2

#2057 Infobox Player for Splatoon
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
Labels: c: infobox, g: Splatoon

#2078 Correcting error in Fortnite Infobox/Series
  components/infobox/wikis/fortnite/infobox_series_custom.lua
Labels: bug, c: infobox, g: fortnite

#2080 Adjust sc2 infobox player to use new standardized fields when querying placements
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox, chore

#2081 Slightly change code style in sc2 infobox player
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox, chore

#2084 Adjust achievements processing in sc2 infobox player
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: bug, g: starcraft, c: infobox

#2077 Earnings Module for Splatoon
  components/earnings/wikis/splatoon/earnings.lua
Labels: c: earnings, g: Splatoon

#2085 Add `Module:Format/Table`
  standard/format_table.lua
  standard/test/format_table_testcases.lua
Labels: c: standard

#1901 Add PPT for Arena of Valor
  components/prize_pool/wikis/arenaofvalor/prize_pool_custom.lua
Labels: g: arenaofvalor, c: prize_pool

#2089 Infobox Team for AoV
  components/infobox/wikis/arenaofvalor/infobox_team_custom.lua
Labels: c: infobox, g: arenaofvalor

#2056 Infobox League for Splatoon
  components/infobox/wikis/splatoon/infobox_league_custom.lua
Labels: c: infobox, g: Splatoon

#2094 Calculate individualprizemoney for non team opponents
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#2098 Use standardized placement key in bw infobox league query
  components/infobox/wikis/starcraft/infobox_league_custom.lua
Labels: c: infobox, g: broodwar

#2099 Prevent series icon links when the page does not exist
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#2079 Warcraft Infobox Series Custom
  components/infobox/wikis/warcraft/infobox_series_custom.lua
Labels: c: infobox, g: warcraft

#2047 Initial version of a Mock for Lpdb
  .luacheckrc
  standard/mock/mock_lpdb.lua
  test_assets/lpdb_player.lua
Labels: chore

#2102 Create Lpdb Storage mocking with value checking
  standard/mock/mock_lpdb.lua
Labels: t: standard

#2103 Treat namespace `Module Talk` as Mainspace
  standard/namespace.lua
Labels: c: standard

#2104 Create unit tests for StandingStorage
  components/standings/test/standings_storage_test.lua
  test_assets/standings.lua
Labels: t: standings

#2109 Fixing error on WC Series
  components/infobox/wikis/warcraft/infobox_series_custom.lua
Labels: bug, c: infobox, g: warcraft

#2111 Use standardized lpdb_placement keys in BW infobox player earnings queries
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
Labels: c: infobox, g: broodwar

#2110 Store the same data on BW team pages as on sc2
  components/infobox/wikis/starcraft/infobox_team_custom.lua
Labels: c: infobox, g: broodwar

#2114 Ignore `BYE` opponents during import
  components/prize_pool/commons/prize_pool_import.lua
Labels: enhancement, c: prize_pool

#2115 Handle reset matches in PPT import
  components/prize_pool/commons/prize_pool_import.lua
Labels: enhancement, c: prize_pool

#2118 Change vod link title and icon for a bestof 1
  components/match2/wikis/counterstrike/match_summary.lua
Labels: c: match2, g: counter-strike

#2119 Fix right team first half overtime score display
  components/match2/wikis/counterstrike/match_summary.lua
Labels: c: match2, g: counter-strike

#2126 Prevent resolving of redirects for arg.series
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#2096 HDB for AoV
  components/hidden_data_box/wikis/arenaofvalor/hidden_data_box_custom.lua
Labels: g: arenaofvalor, c: hidden_data_box

#2108 Start of unit tests for HDB
  components/hidden_data_box/test/hidden_data_box_test.lua
  test_assets/lpdb_placement.lua
  test_assets/lpdb_tournament.lua
Labels: t: hidden_data_box

#2134 Make all characters acceptable in LPDB Mock for values
  standard/mock/mock_lpdb.lua
Labels: t: standard

#2125 Fix additional data for gsl/swiss style groups in import
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#2128 Revert of prizepool autofill slots
  components/prize_pool/wikis/apexlegends/prize_pool_legacy_custom.lua
Labels: g: apex, c: prize_pool

#2130 Fix achievements in Infobox/Team for Dota 2
  components/infobox/wikis/dota2/infobox_team_custom.lua
Labels: bug, c: infobox, g: dota2

#2116 Adjust parent handling in PPT import
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_import.lua
Labels: enhancement, c: prize_pool
