Repository Liquipedia/Lua-Modules, pull requests merged in 2022-09, with the labels that each got.

#1793 Remove inline css overflow in matchsummary root
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: c: match2, g: dota2, g: leagueoflegends

#1790 Sort Legacy Qualifiers
  components/prize_pool/commons/prize_pool_legacy.lua
  components/prize_pool/wikis/counterstrike/prize_pool_legacy_custom.lua
Labels: c: prize_pool

#1801 LPA-5869 Update operator icons on Rainbow 6
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2

#1799 Update R6's notability config to reflect #1738
  components/notability/wikis/rainbowsix/notability_checker_config.lua
Labels: g: rainbow six, c: notability

#1800 Additional Formatting of tournament region data
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/prize_pool/wikis/apexlegends/prize_pool_custom.lua
Labels: g: apex, c: prize_pool

#1806 Fix 2 bugs in PPT
  components/prize_pool/commons/prize_pool.lua
Labels: bug, c: prize_pool

#1796 Add support for venue description in Infobox
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#1810 Remove redundant param
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: g: starcraft, c: match2, chore

#1809 Module:Opponent: Require Dev if Dev is enabled
  components/group_table_league/commons/group_table_league_next.lua
  components/group_table_league/commons/group_table_league_starcraft_next.lua
  components/group_table_league/commons/group_table_league_util.lua
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_summary_base.lua
  components/match2/commons/opponent_display.lua
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/match2/wikis/ageofempires/opponent_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/counterstrike/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_legacy.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_legacy.lua
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
  components/prize_pool/wikis/rocketleague/prize_pool_custom.lua
  components/prize_pool/wikis/valorant/prize_pool_custom.lua
  components/standings/commons/standings_storage.lua
Labels: chore

#1805 Fix bugs in `Module:OpponentDisplay/Starcraft`
  components/match2/commons/starcraft_starcraft2/opponent_display_starcraft.lua
Labels: bug, g: starcraft, c: match2

#1058 Combine Localisation and Flags data
  standard/flags.lua
  standard/localisation.lua
Labels: c: standard

#1814 Add brawlstars HDB
  components/hidden_data_box/wikis/brawlstars/hidden_data_box_custom.lua
Labels: g: brawl stars, c: hidden_data_box

#1813 Add Apex Legend Status support to Widget Links
  components/infobox/commons/infobox_widget_links.lua
Labels: c: infobox

#1812 Add Apex Legend Status support
  standard/links/commons/links.lua
Labels: c: infobox

#1815 Allow overwrite of lpdbTournamentData in prizePools
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1811 LPA-2465: Use Bracket Name in Match Summaries
  components/match2/commons/match_summary_base.lua
  components/match2/commons/match_summary_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_summary_ffa_starcraft.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
Labels: c: match2

#1816 Make `storeSmw`, `storeLpdb` and `resolveRedirect` actually an option
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1822 requireDev on all Player/Ext imports
  components/group_table_league/commons/group_table_league_next.lua
  components/group_table_league/commons/group_table_league_starcraft_next.lua
  components/match2/commons/opponent.lua
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_ext_starcraft.lua
  components/match2/wikis/ageofempires/opponent_custom.lua
  components/match2/wikis/ageofempires/player_ext_custom.lua
Labels: chore

#1823 LPA-6543: Customs that do resolve redirect on Player Pages must set underscore
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2, g: dota2, g: wildrift, g: mobilelegends, g: arenaofvalor, g: leagueoflegends, g: pokemon

#1794 Updating Mobile Legends Squad modules
  components/squad/wikis/mobilelegends/squad_custom.lua
Labels: enhancement, g: mobilelegends, c: squad

#1824 Fix Match Summary for Rocket League
  components/match2/wikis/rocketleague/match_summary.lua
Labels: g: rocket league, c: match2

#1825 Fix bug from #1815 - entries are not updated with tournament data
  components/prize_pool/commons/prize_pool.lua
Labels: bug, c: prize_pool

#1820 Make objectName available in lpdb/smw injector processing and smwData processing
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1821 Stash instead of store in lua of smw data (incl. injector)
  components/prize_pool/commons/prize_pool.lua
  standard/smw_injector.lua
Labels: c: prize_pool

#1730 Store maplinks entered in the infobox in variables
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#1826 Add Hidden Data Box for Mobile Legends
  components/hidden_data_box/wikis/mobilelegends/hidden_data_box_custom.lua
Labels: g: mobilelegends, c: hidden_data_box

#1595 Infobox Player for Pokemon
  components/infobox/wikis/pokemon/infobox_person_player_custom.lua
Labels: c: infobox, g: pokemon

#1798 Optionally display TbdPlayer with abbreviation
  components/match2/commons/opponent_display.lua
  components/match2/commons/player_display.lua
  components/match2/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
  components/match2/wikis/ageofempires/opponent_custom.lua
  components/prize_pool/commons/prize_pool.lua
Labels: c: match2, g: ageofempires, c: prize_pool

#1795 Treat player displayName `tbd` as isTbd
  components/match2/commons/opponent.lua
Labels: c: match2, g: counter-strike, c: prize_pool

#1832 Changed upcoming matches in player infoboxes
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
Labels: c: infobox, g: apex

#1829 Create Timezone library
  standard/timezone.lua
  standard/timezone_data.lua
Labels: c: standard

#1833 Use match timezone instead of UTC
  components/match2/commons/match_group_display_helper.lua
Labels: c: match2

#1836 Make assert error message more precise
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1840 Add timezone offset in second function
  standard/timezone.lua
Labels: c: standard

#1835 Create Overwatch Custom Squad Implementation
  components/squad/wikis/overwatch/squad_custom.lua
Labels: c: squad, g: overwatch

#1841 Remove redundant vod parameter Copy/Paste
  components/match2/wikis/counterstrike/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: counter-strike

#1843 Fix WDL/Groupscore in CS Custom for PPT
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
Labels: g: counter-strike, c: prize_pool

#1839 Move `placement:_displayPlace()` call to the display part
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1834 Catch case in `PlayerExt.syncTeam` with `pageVarEntry` has no `template` property
  components/match2/commons/player_ext.lua
Labels: c: match2, c: prize_pool

#1848 Fix broken OW Squad Custom for Manual tables
  components/squad/wikis/overwatch/squad_custom.lua
Labels: bug, c: squad, g: overwatch

#1845 Change Atlantic Daylight Time (ADT) to -3 instead of 4
  standard/timezone_data.lua
Labels: c: standard

#1838 Set `lastvs` on walkover to/from in PPT Legacy
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1852 Sync playerTeam if syncing player in StarcraftOpponent.resolve
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: c: prize_pool

#1853 Moved Mobile Legends PPT folders
  components/prize_pool/wikis/mobilelegends/prize_pool_custom.lua
Labels: chore, g: mobilelegends

#1855 Catch nil in StarcraftOpponent.readOpponentArgs
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: bug, g: starcraft, c: match2, c: prize_pool

#1856 Fix Typo in Wiki-Variable name
  components/hidden_data_box/commons/hidden_data_box.lua
Labels: bug, c: hidden_data_box

#1858 Have support for (unix) timestamp in match2
  components/match2/commons/match.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_util.lua
  standard/date_ext.lua
Labels: c: match2

#1859 R6: Use timestamps instead of date strings
  components/match2/wikis/rainbowsix/brkts_wiki_specific.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2

#1847 Add PPT (Legacy) for Mobile Legends
  components/prize_pool/wikis/prize_pool_legacy_custom.lua
Labels: g: mobilelegends, c: prize_pool

#1830 Adding additional fields to Infobox Weapon
  components/infobox/wikis/apexlegends/infobox_weapon_custom.lua
Labels: c: infobox, g: apex

#1864 Merge Grenade infobox into Weapon
  components/infobox/wikis/apexlegends/infobox_weapon_custom.lua
Labels: c: infobox, g: apex

#1865 Handle score2 in map and draw
  components/match2/wikis/counterstrike/match_group_input_custom.lua
Labels: bug, c: match2, g: counter-strike

#1875 Do not overwrite with nil
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: bug, g: starcraft, c: infobox

#1849 SMW: Do not set score and opponent score in case of special scores
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1857 Allow places to autofill from PrizePool
  components/prize_pool/wikis/apexlegends/prize_pool_legacy_custom.lua
Labels: g: apex, c: prize_pool

#1867 Add option to not fill placeRanges with TBD opponents
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_placement.lua
Labels: c: prize_pool

#1869 Do not return defaultRace if it wasn't manually entered
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: g: starcraft, c: prize_pool

#1877 Set default for `fillPlaceRange` in Legacy PPT
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#1871 add infobox player for freefire
  components/infobox/wikis/freefire/infobox_person_player_custom.lua
Labels: c: infobox, g:freefire

#1862 Adjust mvp storage + dependencies
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
Labels: c: match2, f: lpdb, g: leagueoflegends

#1878 Fix some indents
  components/earnings/commons/earnings_base.lua
  components/infobox/commons/infobox_cell.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/counterstrike/match_legacy.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/rainbowsix/legacy/legacy_bracket_match_summary.lua
  components/match2/wikis/rainbowsix/legacy/match_group_legacy_default.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/rocketleague/match_legacy.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/valorant/big_match.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/team_card/team_card_storage.lua
  standard/class.lua
  standard/placement.lua
  standard/text_sanitizer.lua
  standard/tournaments_summary_table/commons/tournaments_summary_table.lua
Labels: chore

#1863 Handle winner and resulttype in match legacy
  components/match2/wikis/counterstrike/match_legacy.lua
Labels: c: match2, g: counter-strike, f: lpdb

#1872 Add Opponent Display for Fortnite
  components/match2/wikis/fortnite/opponent_display_custom.lua
Labels: c: match2, g: fortnite

#1873 Add Opponent Custom for Fortnite
  components/match2/wikis/opponent_custom.lua
Labels: c: match2, g: fortnite

#1874 Add Player Ext Custom for Fortnite
  components/match2/wikis/player_ext_custom.lua
Labels: c: match2, g: fortnite

#1842 OW Custom PrizePool
  components/prize_pool/wikis/overwatch/prize_pool_custom.lua
Labels: g: overwatch, c: prize_pool

#1876 Remove Countries as Regions
  standard/region/commons/region_data.lua
Labels: c: standard

#1882 Adjust Logic.readBool and Logic.readBoolOrNil
  standard/logic.lua
Labels: c: standard

#1885 Update handling of Team Nane in Match Summary
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2

#1884 LPA-6819: Resolve Redirect teampagename for LPDB Player
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#1887 Squad Tables: use darkmode icons
  components/squad/commons/squad_row.lua
Labels: c: squad

#1893 Update AoV Squad Module
  components/squad/wikis/arenaofvalor/squad_custom.lua
Labels: enhancement, c: squad

#1883 Add Module:Ordinal
  standard/ordinal/ordinal.lua
  standard/ordinal/ordinal_data.lua
Labels: c: standard

#1897 Moved MLBB PPT Legacy folders
  components/prize_pool/wikis/mobilelegends/prize_pool_legacy_custom.lua
Labels: chore, g: mobilelegends, c: prize_pool

#1895 Create Trackmania Custom Squad implementation
  components/squad/wikis/trackmania/squad_custom.lua
Labels: c: squad, trackmania

#1898 Fetch date for Games from LPDB
  components/match2/commons/match_group_util.lua
Labels: c: match2

#1902 Do not save player pageVars for TBD in Opponent.resolve
  components/match2/commons/opponent.lua
  components/match2/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: bug, c: match2, c: prize_pool

#1905 Convert `??` to valid date character for team's disband date
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#1710 Add Infobox Map for Apex Legends
  components/infobox/wikis/apexlegends/infobox_map_custom.lua
Labels: c: infobox, g: apex

#1906 Set `LPDB.Placement.qualified` to 1 if there is a qualified prize
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
Labels: bug, g: ageofempires, c: prize_pool

#1313 Add MVP Table match2 version
  components/mvp_table/commons/mvp_table.lua
  components/mvp_table/commons/mvp_table_custom.lua
Labels: c: mvp_table

#1907 Fix magic comment
  components/mvp_table/commons/mvp_table_custom.lua
Labels: bug, c: mvp_table

#1755 Add SC2/SC Legacy Wrapper for Standings Storage
  components/standings/commons/starcraft_starcraft2/standings_storage_starcraft_legacy.lua
Labels: g: starcraft, c: standings

#1886 Adjust maps handling in sc2 infobox league (+ /hidden)
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: g: starcraft, c: infobox

#1911 Infobox common's customs: move into subfolder
  components/infobox/commons/custom/infobox_character_custom.lua
  components/infobox/commons/custom/infobox_company_custom.lua
  components/infobox/commons/custom/infobox_game_custom.lua
  components/infobox/commons/custom/infobox_league_custom.lua
  components/infobox/commons/custom/infobox_patch_custom.lua
  components/infobox/commons/custom/infobox_person_user_custom.lua
  components/infobox/commons/custom/infobox_show_custom.lua
  components/infobox/commons/custom/infobox_strategy_custom.lua
  components/infobox/commons/custom/infobox_unofficial_world_champion_custom.lua
  components/infobox/commons/custom/infobox_weapon_custom.lua
  components/infobox/commons/custom/infobox_website_custom.lua
Labels: c: infobox, chore

#1912 Add missing Series Custom from Commons
  components/infobox/commons/custom/infobox_series_custom.lua
Labels: c: infobox, chore

#1913 AoE: Cleanup Imports, enable dev if dev-flag is on
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, chore, g: ageofempires

#1910 Infobox Common's Customs: Require dev if FF turn on
  components/infobox/commons/custom/infobox_character_custom.lua
  components/infobox/commons/custom/infobox_company_custom.lua
  components/infobox/commons/custom/infobox_game_custom.lua
  components/infobox/commons/custom/infobox_league_custom.lua
  components/infobox/commons/custom/infobox_patch_custom.lua
  components/infobox/commons/custom/infobox_person_user_custom.lua
  components/infobox/commons/custom/infobox_show_custom.lua
  components/infobox/commons/custom/infobox_strategy_custom.lua
  components/infobox/commons/custom/infobox_unofficial_world_champion_custom.lua
  components/infobox/commons/custom/infobox_weapon_custom.lua
  components/infobox/commons/custom/infobox_website_custom.lua
Labels: c: infobox, chore

#1939 Add `hasdraw` and `hasovertime` params as standard extradata for standings storage
  components/standings/commons/standings_storage.lua
Labels: c: standings

#1931 R6: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_patch_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
Labels: g: rainbow six, c: infobox, chore

#1915 AoV: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
Labels: c: infobox, chore, g: arenaofvalor

#1916 Brawlhalla: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/brawlhalla/infobox_league_custom.lua
  components/infobox/wikis/brawlhalla/infobox_person_player_custom.lua
  components/infobox/wikis/brawlhalla/infobox_team_custom.lua
Labels: c: infobox, chore, g: brawlhalla

#1924 League: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
Labels: c: infobox, chore, g: leagueoflegends

#1940 Fix TYPE_FROM_NUMBER
  components/standings/commons/starcraft_starcraft2/standings_storage_starcraft_legacy.lua
Labels: bug, g: starcraft, c: standings

#1920 dota2: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_person_user_custom.lua
  components/infobox/wikis/dota2/infobox_series_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
Labels: c: infobox, chore, g: dota2

#1935 Valorant: Clean imports, enbale dev if dev-flag is on
  components/infobox/wikis/valorant/infobox_league_custom.lua
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
  components/infobox/wikis/valorant/infobox_series_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
Labels: g: valorant, c: infobox, chore

#1932 RL: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/rocketleague/infobox_company_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
  components/infobox/wikis/rocketleague/infobox_series_custom.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/rocketleague/infobox_unit_car.lua
Labels: g: rocket league, c: infobox, chore

#1941 Fix wrong import (League instead of Company)
  components/infobox/wikis/rocketleague/infobox_company_custom.lua
Labels: bug, g: rocket league, c: infobox

#1914 Apex: Cleanup Imports, enable dev if dev-flag is on
  components/infobox/wikis/apexlegends/infobox_character_custom.lua
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/apexlegends/infobox_map_custom.lua
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
  components/infobox/wikis/apexlegends/infobox_team_custom.lua
  components/infobox/wikis/apexlegends/infobox_weapon_custom.lua
Labels: c: infobox, chore, g: apex

#1921 Fortnite: Cleanup imports, require dev if dev-flag is on
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_series_custom.lua
  components/infobox/wikis/fortnite/infobox_team_custom.lua
Labels: c: infobox, chore, g: fortnite

#1919 Crossfire: Cleanup imports, require dev if dev-flag is on
  components/infobox/wikis/crossfire/infobox_league_custom.lua
Labels: c: infobox, chore, g: crossfire

#1946 Add missing Tickername Variables for PUBG
  components/infobox/wikis/pubg/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: pubg

#1922 FF: Enable dev if dev-flag is on
  components/infobox/wikis/freefire/infobox_person_player_custom.lua
Labels: c: infobox, chore, g:freefire

#1923 Halo: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_map_custom.lua
  components/infobox/wikis/halo/infobox_patch_custom.lua
  components/infobox/wikis/halo/infobox_person_player_custom.lua
  components/infobox/wikis/halo/infobox_team_custom.lua
Labels: c: infobox, chore, g: halo

#1926 Naraka: Enable dev if dev-flag is on
  components/infobox/wikis/naraka/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
Labels: c: infobox, chore, g: naraka

#1927 Overwatch: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_map_custom.lua
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
  components/infobox/wikis/overwatch/infobox_person_user_custom.lua
  components/infobox/wikis/overwatch/infobox_team_custom.lua
  components/infobox/wikis/overwatch/infobox_unofficial_world_champion_custom.lua
Labels: c: infobox, chore, g: overwatch

#1928 Pokemon: Cleanup Imports, enable dev if dev-flag is on
  components/infobox/wikis/pokemon/infobox_league_custom.lua
  components/infobox/wikis/pokemon/infobox_person_player_custom.lua
Labels: c: infobox, chore, g: pokemon

#1936 WR: Cleanup Imports, enable dev if dev-flag is on
  components/infobox/wikis/wildrift/infobox_item_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
  components/infobox/wikis/wildrift/infobox_unit_champion.lua
Labels: c: infobox, chore, g: wildrift

#1929 PUBG: Cleanup import, require dev if dev-flag is on
  components/infobox/wikis/pubg/infobox_company_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_weapon_custom.lua
Labels: c: infobox, chore, g: pubg

#1930 PUBGM: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_person_player_custom.lua
Labels: c: infobox, chore, g: pubgmobile

#1925 MLBB: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/mobilelegends/infobox_hero_custom.lua
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
Labels: c: infobox, chore, g: mobilelegends

#1934 SC2: Cleanup imports, enable dev if dev-flag is on
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_campaign_mission_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_custom_shared.lua
  components/infobox/wikis/starcraft2/infobox_person_map_maker.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_user.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_show_custom.lua
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
  components/infobox/wikis/starcraft2/infobox_unofficial_world_champion_custom.lua
Labels: g: starcraft, c: infobox, chore

#1937 SC: Enable dev if dev-flag is on
  components/infobox/wikis/starcraft/infobox_league_custom.lua
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft/infobox_series_custom.lua
  components/infobox/wikis/starcraft/infobox_team_custom.lua
Labels: c: infobox, chore, g: broodwar

#1908 Infobox Core: Require dev if feature flag is enable
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_basic.lua
  components/infobox/commons/infobox_widget.lua
  components/infobox/commons/infobox_widget_breakdown.lua
  components/infobox/commons/infobox_widget_builder.lua
  components/infobox/commons/infobox_widget_cell.lua
  components/infobox/commons/infobox_widget_center.lua
  components/infobox/commons/infobox_widget_chronology.lua
  components/infobox/commons/infobox_widget_customizable.lua
  components/infobox/commons/infobox_widget_error.lua
  components/infobox/commons/infobox_widget_factory.lua
  components/infobox/commons/infobox_widget_header.lua
  components/infobox/commons/infobox_widget_highlights.lua
  components/infobox/commons/infobox_widget_links.lua
  components/infobox/commons/infobox_widget_title.lua
  components/infobox/commons/infobox_widgets.lua
Labels: c: infobox, chore

#1938 Add Infobox Team for Wild Rift
  components/infobox/wikis/wildrift/infobox_team_custom.lua
Labels: c: infobox, g: wildrift

#1953 Fix incorrect annotations in Variables and Placement
  standard/placement.lua
  standard/variables.lua
Labels: chore, c: standard

#1952 HDB Customs: RequireDevIfEnabled
  components/hidden_data_box/commons/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/brawlstars/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/counterstrike/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/dota2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/leagueoflegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/mobilelegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/overwatch/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/rainbowsix/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/rocketleague/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/valorant/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/wildrift/hidden_data_box_custom.lua
Labels: chore, c: hidden_data_box

#1955 Partial annotation of Table library
  standard/table.lua
Labels: chore

#1958 Fix Halo's MatchSummary for Teams
  components/match2/wikis/halo/match_summary.lua
Labels: bug, c: match2, g: halo

#1956 Adjust mvp storage + dependencies for Wild Rift
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_legacy.lua
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2, g: wildrift, c: mvp_table

#1933 Add support for a second vod in map or match
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_summary.lua
Labels: c: match2, g: counter-strike

#1962 Silence the `rm` error in deploy
  deploy.sh
Labels: chore

#1961 Allow htext to always override title if present
  standard/vod_link.lua
Labels: c: standard

#1960 Add PPT for Wild Rift
  components/prize_pool/wikis/wildrift/prize_pool_custom.lua
Labels: g: wildrift, c: prize_pool

#1959 Table.isEmpty() refactor
  standard/table.lua
  standard/test/table_test.lua
Labels: c: standard

#1966 Fix another `placement.lua` annotation issue
  standard/placement.lua
Labels: chore, c: standard

#1944 Update parameters for `requireIfExists` and `loadDataIfExists`
  standard/links/commons/links.lua
  standard/lua.lua
  standard/region/commons/region.lua
Labels: c: standard

#1943 Check for dev in parent frames
  standard/lua.lua
Labels: c: standard

#1970 Revert #1959 and add a test for the issue
  standard/table.lua
  standard/test/table_test.lua
Labels: c: standard

#1398 Creating Siege Infobox Weapon
  components/infobox/wikis/rainbowsix/infobox_weapon_custom.lua
Labels: g: rainbow six, c: infobox

#1803 Add Import Module for PPT
  components/prize_pool/commons/prize_pool_import.lua
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: enhancement, c: prize_pool

#1851 Add option in PrizePool/Placement to not call `readOpponentArgs`
  components/prize_pool/commons/prize_pool_placement.lua
Labels: c: prize_pool

#1971 Lua.lua: Fix return value of `devEnabled`. It should have been `nil` not `false` as default
  standard/lua.lua
Labels: bug, c: standard

#1972 Do not set lastVs if no lastVs is retrieved
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#1975 Auto Points Table: `CRLF` to `LF`
  components/automatic-points-table/commons/automatic-points-table.lua
  components/automatic-points-table/commons/display.lua
  components/automatic-points-table/commons/minified-display.lua
Labels: chore

#1976 Move stuff to fit the naming schemes
  components/automatic_points_table/commons/automatic_points_table.lua
  components/automatic_points_table/commons/automatic_points_table_display.lua
  components/automatic_points_table/commons/automatic_points_table_minified_display.lua
Labels: chore

#1973 Squad Module for WR
  components/squad/wikis/wildrift/squad_custom.lua
Labels: g: wildrift, c: squad

#1968 Migrate uses of deprecated `Localisation.getLocalisation`
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_scene.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/extensions/commons/metadata_generator.lua
  components/infobox/extensions/test/metadata_generator_test.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: chore

#1969 Remove unused & deprecated `Localisation.getLocalisation`
  standard/localisation.lua
Labels: chore

#1649 Add fallback on LP Tier & remove Wiki-Arrays on HDB Valorant
  components/hidden_data_box/wikis/valorant/hidden_data_box_custom.lua
Labels: g: valorant, c: hidden_data_box

#1965 Store Opponent Structure in PrizePool
  components/prize_pool/commons/prize_pool_placement.lua
Labels: c: prize_pool

#1608 Remove Custom PrizePool on RL Infobox League
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: g: rocket league, c: infobox

#1980 adding more roles to ff infobox player
  components/infobox/wikis/freefire/infobox_person_player_custom.lua
Labels: c: infobox, g:freefire

#1978 Deprecated `Localisation.getCountryName`
  components/infobox/commons/infobox_league.lua
  standard/localisation.lua
Labels: chore, c: standard

#1979 Use prizepoolusd if set
  components/infobox/extensions/commons/infobox_extensions_prize_pool.lua
Labels: c: infobox

#1505 Update match2 to not use deprecated function
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/opponent_display.lua
  components/match2/wikis/rocketleague/opponent_display_custom.lua
Labels: c: match2

#1511 Remove `frame` as parameter from `processPlayer`
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_subobjects.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#1981 Do not set wiki-var when a player race is unknown
  components/match2/commons/starcraft_starcraft2/player_ext_starcraft.lua
Labels: g: starcraft, c: standard

#1804 Add import option to PPT
  components/prize_pool/commons/prize_pool.lua
Labels: enhancement, c: prize_pool
