Repository Liquipedia/Lua-Modules, pull requests merged in 2022-12, with the labels that each got.

#2206 Update field used for Position in `RunAuto` in Squads
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: g: wildrift, g: mobilelegends, c: squad, g: overwatch, g: arenaofvalor, g: leagueoflegends

#2205 Fix notability for players with spaces in pagename
  components/notability/commons/notability_checker.lua
Labels: c: notability

#2195 Add support for multiple links to RL's match summary
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_summary.lua
Labels: g: rocket league, c: match2

#2216 Store Player Displaynames on Valorant match2
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: bug, g: valorant, c: match2

#2217 Add support for Position icon
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
Labels: c: infobox, g: mobilelegends

#2215 Create Match Legacy for COD
  components/match2/wikis/callofduty/match_legacy.lua
Labels: c: match2, g: callofduty

#1654 Create Match Legacy for Pokemon
  components/match2/wikis/pokemon/match_legacy.lua
Labels: c: match2, g: pokemon

#2221 Set variable for specific enddates entered in PPT
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
Labels: bug, g: ageofempires, c: prize_pool

#2213 Create MatchSummary for COD
  components/match2/wikis/callofduty/match_summary.lua
Labels: c: match2, g: callofduty

#2214 Create BrktsWikiSpecific for COD
  components/match2/wikis/callofduty/brkts_wiki_specific.lua
Labels: c: match2, g: callofduty

#2210 Create MatchGroupInput/Custom for COD
  components/match2/wikis/callofduty/match_group_input_custom.lua
Labels: c: match2, g: callofduty

#2225 Add input for Voice Actors in MLBB Hero Infobox
  components/infobox/wikis/mobilelegends/infobox_hero_custom.lua
Labels: enhancement, c: infobox, g: mobilelegends

#2233 Stored modes in Pokemon Infobox League
  components/infobox/wikis/pokemon/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: pokemon

#2222 Add abbreviation explaining team earnings
  components/infobox/commons/infobox_team.lua
Labels: enhancement, c: infobox

#2232 Fix lastvs handling for solo opponents
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: bug, c: prize_pool

#2234 Add #1114 and Walkover fix to Pokemon, WR, ML, AOV
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: enhancement, c: match2, g: wildrift, g: mobilelegends, g: arenaofvalor, g: pokemon

#2236 Add PPT (New) for Pokemon
  components/prize_pool/wikis/pokemon/prize_pool_custom.lua
Labels: c: match2, g: pokemon

#2238 Add RoyaleAPI to Links
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: standard

#2239 Add CSS-class to the place cell in PrizePoolTable
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#2227 Add commons custom for results/awards table
  components/results_table/commons/results_table_custom.lua
Labels: c: results_table

#2240 Set the match1 `walkover` field correctly
  components/match2/wikis/rocketleague/match_legacy.lua
Labels: g: rocket league, c: match2

#2248 Require Dev version of Brkts/WikiSpecific if enabled
  components/match2/commons/match_group_input.lua
Labels: c: match2

#2244 Adjust match.placement handling for even bestofs
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#2249 Adjust interview icon for sc/sc2 match2 external links
  components/match2/commons/starcraft_starcraft2/match_external_links_starcraft.lua
Labels: g: starcraft, c: match2

#2247 Use OpponentLibraries in some match2 modules
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/match_summary_base.lua
Labels: enhancement, c: match2

#2255 DeepCopy base opponent module into custom
  components/opponent/wikis/rocketleague/opponent_display_custom.lua
Labels: bug, g: rocket league, c: match2, severe, c: opponent

#2258 Fix broken condition when adjusting score
  components/notability/wikis/ageofempires/notability_checker_config.lua
Labels: bug, g: ageofempires, c: notability

#2261 Add 'Console' as platform in R6 infobox league
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
Labels: g: rainbow six, c: infobox

#2269 Disable PPT import for AoE
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
Labels: g: ageofempires, c: prize_pool

#2268 Use `Module:OpponentLibraries` in various ppt modules
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_import.lua
  components/prize_pool/commons/prize_pool_legacy.lua
  components/prize_pool/commons/prize_pool_placement.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
Labels: chore, c: prize_pool

#2265 Add option to disable storage for Squad Rows
  components/squad/commons/squad_row.lua
Labels: c: squad

#2266 Store lpdb field lastvsdata in PPT
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_placement.lua
Labels: c: prize_pool

#2267 Support individualprizemoney for all party opponents
  components/prize_pool/commons/prize_pool_placement.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: c: prize_pool

#2271 Fix typo in Prize Pool Table
  components/prize_pool/commons/prize_pool_placement.lua
Labels: bug, severe, c: prize_pool

#2264 Add `Infobox/Series/Custom` for ageofempires
  components/infobox/wikis/ageofempires/infobox_series_custom.lua
Labels: c: infobox, g: ageofempires

#2260 Add infobox league to trackmania
  components/infobox/wikis/trackmania/infobox_league_custom.lua
Labels: c: infobox, g: trackmania

#2257 Halo: Add Head2Head link to Match Summary
  components/match2/wikis/halo/match_summary.lua
Labels: c: match2, g: halo
