Repository Liquipedia/Lua-Modules, pull requests merged in 2022-06, with the labels that each got.

#1335 Adjust sc2 tiertype handling (cleanup)
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox

#1334 Move patch cell into gamesettings customizable
  components/infobox/wikis/valorant/infobox_league_custom.lua
Labels: g: valorant, c: infobox

#1342 Default EPOCH instead of using fallback dates
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#1343 Fix lack of instance initialization in MatchSummary
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#1344 Fix links in series infobox
  components/infobox/commons/infobox_series.lua
Labels: bug, c: infobox

#1340 Fix literal opponent handling in /Legacy
  components/match2/wikis/brawlstars/match_legacy.lua
Labels: bug, c: match2, g: brawl stars

#1345 Fix 2 bugs in Match1 for VAL
  components/match2/wikis/valorant/match_legacy.lua
Labels: g: valorant, c: match2

#1347 Check for valid output from queryHistoricalNames
  components/earnings/commons/earnings_base.lua
Labels: bug, c: earnings

#1331 Adjust series default tier handling
  components/infobox/commons/infobox_series.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: c: infobox

#1346 Fix brawlstars copy paste
  components/match2/wikis/brawlstars/get_match_group_copy_paste.lua
Labels: bug, c: match2, g: brawl stars

#1350 Add MVP support for Valorant
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#1295 Adjust Years Active display
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox

#1351 Add maximumNumberOfPlayersInPlacements to bw info module
  standard/info/wikis/starcraft/info.lua
Labels: g: broodwar

#1352 Fix bug with tlpd icon
  components/infobox/commons/infobox_widget_links.lua
Labels: bug, c: infobox

#1316 Add BW infobox player
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
Labels: c: infobox, g: broodwar

#1292 Add broodwar infobox series
  components/infobox/wikis/starcraft/infobox_series_custom.lua
Labels: c: infobox, g: broodwar

#1324 Add fortnite infobox team
  components/infobox/wikis/fortnite/infobox_team_custom.lua
Labels: c: infobox, g: fortnite

#1353 Cleanup SC2 infobox league
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox, chore

#1356 Fix Earnings bug
  components/infobox/wikis/fortnite/infobox_team_custom.lua
Labels: bug, c: infobox, g: fortnite

#1357 Fix earnings bug for teams (sc2)
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: bug, g: starcraft, c: infobox

#1354 Cleanup SC2 infobox series
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: g: starcraft, c: infobox, chore

#1355 Ceanup SC2 infobox team
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox, chore

#1318 Overwatch Match/Legacy
  components/match2/wikis/overwatch/match_legacy.lua
Labels: c: match2, g: overwatch

#1358 Avoid nil
  components/infobox/wikis/starcraft/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: bug, g: starcraft, c: infobox, g: broodwar

#1359 Adding MapMode icons to OW
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: overwatch

#1360 OW Adding 3rd party icons
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: overwatch

#1363 Cast numeric string to number
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: broodwar

#1362 OW MVP Match Summary
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: overwatch

#1361 Add OW unoff. world champ infobox
  components/infobox/wikis/overwatch/infobox_unofficial_world_champion_custom.lua
Labels: c: infobox, g: overwatch

#1164 Add TournamentsSummaryTable (used for TournamentsMenu)
  standard/tournaments_summary_table/commons/tournaments_summary_table.lua
  standard/tournaments_summary_table/commons/tournaments_summary_table_custom.lua
  standard/tournaments_summary_table/wikis/rainbowsix/tournaments_summary_table_custom.lua
  standard/tournaments_summary_table/wikis/starcraft2/tournaments_summary_table_custom.lua
Labels: g: starcraft, g: rainbow six, c: standard

#1365 Resolve Redirect player links before storing into match1
  components/match2/wikis/rainbowsix/match_legacy.lua
Labels: bug, g: rainbow six, c: match2

#1280 Overwatch Infobox Team
  components/infobox/wikis/overwatch/infobox_team_custom.lua
Labels: c: infobox, g: overwatch

#1367 Improve CSS on Valorant MatchSummary
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#1368 Store lpdb field `teampagename` from Infobox Person
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#1369 Remove `File:` prefix on LPDB Team image field
  components/infobox/wikis/halo/infobox_team_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
Labels: g: rocket league, g: valorant, g: rainbow six, c: infobox, g: halo

#1370 Switch MatchTicker module in 2 sc2 infoboxes
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#1371 Standings: Cast numeric fields to numbers
  components/standings/standings_storage.lua
Labels: f: lpdb, c: standings

#1364 Halo Patch infobox
  components/infobox/wikis/halo/infobox_patch_custom.lua
Labels: c: infobox, g: halo

#1373 Avoid nil
  components/infobox/commons/infobox_team.lua
Labels: bug, c: infobox

#1376 Halo copy/paste line height adjustment
  components/match2/wikis/halo/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: halo

#1372 LoL Infobox Team
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
Labels: c: infobox, g: leagueoflegends

#1377 Add ArrayExt.distinct
  standard/array_ext.lua
Labels: c: standard

#1384 Merge Json and Json/Ext
  standard/json.lua
  standard/json_ext.lua
Labels: chore, c: standard

#1374 Prize Pools: structure and input
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/wikis/rainbowsix/prize_pool_custom.lua
Labels: c: prize_pool

#1400 Add Widgets for CSS-Grid based tables
  components/widget/widget_table.lua
  components/widget/widget_table_cell.lua
  components/widget/widget_table_row.lua
Labels: c: prize_pool

#1401 Sort Prizes in order to display in an organized order
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1402 Fix typo introduced in previous refactoring
  components/prize_pool/commons/prize_pool.lua
Labels: bug, c: prize_pool

#1403 Add default display functions to prize types
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1404 Add proper support for parsing local currencies
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1390 Adjust `Opponent.readOpponentArgs` and `Opponent.resolve`
  components/match2/commons/opponent.lua
Labels: c: match2

#1416 Sideswipe Info
  standard/info/wikis/sideswipe/info.lua
Labels: c: standard, g: sideswipe

#1415 Naraka Info
  standard/info/wikis/naraka/info.lua
Labels: c: standard, g: naraka

#1405 Create the prizepool table
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1419 PrizePool - Fix opponent level type parsing
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1413 Prizepool rowspan when content is the same
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#1425 Do not resolve redirect on series value in bw infobox league
  components/infobox/wikis/starcraft/infobox_league_custom.lua
Labels: bug, c: infobox, g: broodwar

#1432 Store heroes standardized and add warning for invalid entries
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
Labels: c: infobox, g: mobilelegends

#1427 Set 3 instead of 2 bans in brawlstars copy paste
  components/match2/wikis/brawlstars/get_match_group_copy_paste.lua
Labels: c: match2, g: brawl stars

#1424 Adjust LeagueIcon retrieval from template
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_series.lua
  standard/league_icon.lua
Labels: c: standard, f: lpdb

#1431 Make warnings in person infobox accessible in /Custom
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#1435 Update Rocket League notability config
  components/notability/wikis/rocketleague/notability_checker_config.lua
Labels: g: rocket league, c: notability

#1433 Add Tier validation to HiddenDataBox
  components/hidden_data_box/commons/hidden_data_box.lua
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
Labels: c: hidden_data_box

#1429 Add Signature Hero input for ML Infobox Player
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: mobilelegends

#1436 Fix wiki definition in header
  components/hidden_data_box/wikis/wildrift/hidden_data_box_custom.lua
Labels: bug

#1438 Standardise Infobox/League parent storage
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
Labels: c: infobox, f: lpdb

#1067 Add match ticker query components
  components/match2/commons/match_ticker/match_ticker_query.lua
Labels: c: match2
