Repository Liquipedia/Lua-Modules, pull requests merged in 2022-04, with the labels that each got.

#1149 Support aligulac2 in infobox links
  standard/links/commons/links.lua
Labels: c: standard

#1143 Create Squad for R6
  components/squad/wikis/rainbowsix/squad_custom.lua
Labels: g: rainbow six, c: squad

#1151 Add support for maps not played in a series
  components/match2/wikis/brawlstars/match_group_input_custom.lua
Labels: c: match2, g: brawl stars

#1159 Add `inheritedHeader` to `match2bracketdata`
  components/match2/commons/match_group_input.lua
Labels: c: match2, t: match2, f: lpdb

#1167 Add trackmania-io infobox icon
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox

#1156 Adjust Person category handling
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#1157 Adjust active person category handling
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox

#1168 Add scaling support to Infobox Header
  components/infobox/commons/infobox_widget_header.lua
Labels: c: infobox

#1170 Fix null pointer in Widget Header caused by #1168
  components/infobox/commons/infobox_widget_header.lua
Labels: bug, c: infobox, severe

#1169 Add imagesize passthrough on all infobox headers
  components/infobox/commons/infobox_building.lua
  components/infobox/commons/infobox_campaign.lua
  components/infobox/commons/infobox_campaign_mission.lua
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_game.lua
  components/infobox/commons/infobox_item.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_map.lua
  components/infobox/commons/infobox_patch.lua
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_scene.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_show.lua
  components/infobox/commons/infobox_skill.lua
  components/infobox/commons/infobox_strategy.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/commons/infobox_unit.lua
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/commons/infobox_weapon.lua
  components/infobox/commons/infobox_website.lua
Labels: c: infobox

#1153 Fix earnings bug for sc2 teams
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: bug, c: infobox

#1166 Create Siege infobox/Patch
  components/infobox/wikis/rainbowsix/infobox_patch_custom.lua
Labels: g: rainbow six, c: infobox

#1147 Create Infobox Team for dota2
  components/infobox/wikis/dota2/infobox_team_custom.lua
Labels: c: infobox, g: dota2

#1165 Improve runtime of SC2 player pages significantly
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox

#1172 Improve `matchFunctions.isFeatured`
  components/match2/wikis/dota2/matchgroup_input_custom.lua
Labels: c: match2, g: dota2

#1178 Hotfix to correct errors on R6 Patch infobox
  components/infobox/wikis/rainbowsix/infobox_patch_custom.lua
Labels: bug, g: rainbow six, c: infobox

#1175 Add Brkts WikiSpec for League
  components/match2/wikis/leagueoflegends/brkts_wikispecific.lua
Labels: c: match2, g: leagueoflegends

#1180 Hide Opponent Link if it's TBD
  components/match2/commons/match_summary_base.lua
Labels: c: match2

#1161 Support submatch with only aggregate map info
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#1079 Add Infobox League for Brawlhalla
  components/infobox/wikis/brawlhalla/infobox_league_custom.lua
Labels: c: infobox, brawlhalla

#1139 Rewrite RL MatchSummary to use MatchSummary/Base Classes
  components/match2/wikis/rocketleague/match_summary.lua
Labels: g: rocket league, c: match2

#1176 Add Match2-to-Match1 for League
  components/match2/wikis/leagueoflegends/match_legacy.lua
Labels: c: match2, g: leagueoflegends

#1186 Improve Score Display for Bracket Reset and Match Sets
  components/match2/wikis/rocketleague/match_summary.lua
Labels: g: rocket league, c: match2

#1177 Add Match2 CopyPasta for League
  components/match2/wikis/leagueoflegends/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: leagueoflegends

#1174 Add MatchSummary for League
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: c: match2, g: leagueoflegends

#1187 Improve Score Display for Bracket Reset
  components/match2/commons/match_summary_base.lua
Labels: c: match2

#1189 Store person earnings in wiki vars for smw
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#1190 Fix game.length display
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2

#1173 Add League's Match2 Input
  components/match2/wikis/leagueoflegends/matchgroup_input_custom.lua
Labels: c: match2, g: leagueoflegends

#1152 [SC match2 clean up 1] Clean up for FFA specific input
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
Labels: g: starcraft, c: match2, chore

#1182 Add Infobox Team for Brawlhalla
  components/infobox/wikis/brawlhalla/infobox_team_custom.lua
Labels: c: infobox, brawlhalla

#1184 Create Overwatch Infobox League
  components/infobox/wikis/overwatch/infobox_league_custom.lua
Labels: c: infobox, g: overwatch
