Repository Liquipedia/Lua-Modules, pull requests merged in 2023-08, with the labels that each got.

#3146 Remove SMW stuff from infoboxes
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
  components/infobox/wikis/arenafps/infobox_person_player_custom.lua
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
  components/infobox/wikis/counterstrike/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
  components/infobox/wikis/freefire/infobox_person_player_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
  components/infobox/wikis/pubg/infobox_person_player_custom.lua
  components/infobox/wikis/pubgmobile/infobox_person_player_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
  components/infobox/wikis/warcraft/infobox_league_custom.lua
  components/infobox/wikis/warcraft/infobox_team_custom.lua
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
  components/infobox/wikis/worldofwarcraft/infobox_person_player_custom.lua
Labels: c: infobox, chore

#3155 Fix pipeline
  components/prize_pool/commons/prize_pool_placement.lua
Labels: chore

#3154 EMList: Resolve redirect for author before querying
  components/external_media_links/external_media_list.lua
Labels: bug, c: external_media_links

#3118 Add F1-related placement
  standard/placement.lua
Labels: c: standard

#3161 Add darkmode icon for factor in lol match links
  components/match2/wikis/leagueoflegends/match_links.lua
Labels: c: match2, chore, g: leagueoflegends

#3125 Create F1 PPT Custom
  components/prize_pool/wikis/formula1/prize_pool_custom.lua
Labels: c: prize_pool, s: formula1

#3164 Catch matches with literal opponents in sc2 vs stats on player pages
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: bug, g: starcraft, c: infobox

#3165 Add Infobox Achievements extension module
  components/infobox/extensions/commons/infobox_extension_achievements.lua
  components/infobox/extensions/wikis/starcraft2/infobox_extension_achievements_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#3170 BrawlStars: Store minimum secured points in var
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
Labels: enhancement, g: brawl stars, c: prize_pool

#3159 Add `slotindex` as a lpdb_standingsentry field
  components/standings/commons/standings_storage.lua
Labels: c: standard, f: lpdb

#3171 Fix `Module:Infobox/Extension/Achievements`
  components/infobox/extensions/commons/infobox_extension_achievements.lua
Labels: bug, c: infobox_extensions

#3172 Use Infobox/Extension/Achievements instead of old module
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
  components/infobox/wikis/ageofempires/infobox_team_custom.lua
Labels: c: infobox, chore, g: ageofempires

#3077 Use `Module:InfoboxPlacementStats` over `Module:Placement summary`
  components/infobox/wikis/arenaofvalor/infobox_team_custom.lua
  components/infobox/wikis/freefire/infobox_team_custom.lua
  components/infobox/wikis/pubgmobile/infobox_team_custom.lua
  components/infobox/wikis/wildrift/infobox_team_custom.lua
Labels: c: infobox, g: arenaofvalor

#3167 Statistics: Adjust coverageTournamentTable
  components/statistics/count.lua
  components/statistics/portal_statistics.lua
Labels: bug, c: statistics

#3176 Stats: Make minimum earnings configurable
  components/statistics/portal_statistics.lua
Labels: enhancement, c: statistics

#3177 Add support to indicate which opponent started pick process
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_summary.lua
Labels: enhancement, c: match2, g: brawl stars

#3085 Create Infobox League for Clash of Clans
  components/infobox/wikis/clashofclans/infobox_league_custom.lua
Labels: c: infobox, g: clashofclans

#3168 AoE: Check whether mappages are linked correctly
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: ageofempires

#3173 Mitigate preservation of ghost broadcaster data
  components/broadcaster_card/commons/broadcaster_card.lua
Labels: c: broadcaster_card

#3182 Fix Wiki Categories
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_hero_custom.lua
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
  components/infobox/wikis/starcraft/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_campaign_mission_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/infobox/wikis/tft/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_item_custom.lua
  components/infobox/wikis/wildrift/infobox_unit_champion.lua
Labels: bug, c: infobox

#3184 Fix typo in import
  components/infobox/wikis/naraka/infobox_league_custom.lua
Labels: bug, c: infobox, g: naraka

#3188 Add `years_active_talent` param to Valorant infoboxes
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
Labels: g: valorant, c: infobox

#3189 Fix Battlerite `Module:Info` structure
  standard/info/wikis/battlerite/info.lua
Labels: c: standard, g: battlerite

#3186 Return nil for achievements infobox extension outside of main space
  components/infobox/extensions/commons/infobox_extension_achievements.lua
Labels: c: infobox_extensions

#3185 Add option for ppt import to ignore opponents that have `opponnet.status ~= 'S'`
  components/prize_pool/commons/prize_pool_import.lua
Labels: enhancement, c: prize_pool

#3193 Change abbreviation parameter for circuits in Infobox League for Fighters
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: c: infobox, g: fighters

#3196 Fix demonym for Oceania
  standard/flags_master_data.lua
Labels: bug, c: standard

#3199 Fix missed non-ascii character in flag data
  standard/flags_master_data.lua
Labels: bug, c: standard

#3194 Avoid nil return and add some missing annotations
  components/infobox/extensions/commons/infobox_placement_stats.lua
Labels: bug, c: infobox_extensions

#3200 Pass through `doNotIncludePlayerEarnings` in infobox team to earnings
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#3204 Fix flag parsing in manual group tables
  components/standings/commons/standings_storage.lua
  components/standings/commons/starcraft_starcraft2/standings_storage_starcraft_legacy.lua
Labels: bug, c: standings

#3206 Fix SC playerdisplay
  components/opponent/commons/starcraft_starcraft2/player_display_starcraft.lua
Labels: bug, g: broodwar, c: opponent

#3195 Unify several get players of team functions via commons
  components/match2/commons/match_group_input.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#3202 Store `manualinput` indicator in BroadCasterCard extradata
  components/broadcaster_card/commons/broadcaster_card.lua
Labels: c: broadcaster_card

#3197 Move caster processing from `MatchGroup/Input/Custom`s to commons
  components/match2/commons/match_group_input.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
Labels: g: rocket league, g: rainbow six, c: match2, g: halo, g: mobilelegends, g: trackmania

#3198 Move Casters Class from Custom MatchSummaries to commons
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
Labels: g: rocket league, g: rainbow six, c: match2, g: halo, g: mobilelegends, g: trackmania

#3209 Add `Module:Infobox/Extension/CostDisplay` for broodwar
  components/infobox/extensions/wikis/starcraft/infobox_extension_cost_display.lua
Labels: c: infobox_extensions, g: broodwar

#3211 Add BW Infobox building
  components/infobox/wikis/starcraft/infobox_building_custom.lua
Labels: c: infobox, g: broodwar

#3217 Fix Typo in (test) function name
  standard/test/array_test.lua
Labels: chore

#3212 Add Infobox tool
  components/infobox/commons/custom/infobox_tool_custom.lua
  components/infobox/commons/infobox_tool.lua
Labels: c: infobox

#3216 Add bw infobox spell (via commons infobox skill)
  components/infobox/wikis/starcraft/infobox_skill_custom.lua
Labels: c: infobox, g: broodwar

#3218 Update deploy scripts to reflect the dev environment
  .github/workflows/deploy.yml
  .github/workflows/scheduled.yml
  scripts/deploy.sh
Labels: chore

#3214 Add bw infobox map
  components/infobox/wikis/starcraft/infobox_map_custom.lua
Labels: c: infobox, g: broodwar

#3213 Integrate Infobox bot into infobox player
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
Labels: c: infobox, g: broodwar

#3221 Fix incorrect function headers and annotations
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/wikis/starcraft/infobox_building_custom.lua
Labels: chore

#3231 Pass through lpdb error messages
  standard/lpdb.lua
Labels: enhancement, c: standard

#3222 Fix ppt import
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, severe, c: prize_pool

#3241 Fix non args case in sc/bw infobox costdisplay extension
  components/infobox/extensions/wikis/starcraft/infobox_extension_cost_display.lua
  components/infobox/extensions/wikis/starcraft2/infobox_extension_cost_display.lua
Labels: bug, g: starcraft, c: infobox_extensions, g: broodwar

#3238 Add annos for infobox patch
  components/infobox/commons/custom/infobox_patch_custom.lua
  components/infobox/commons/infobox_patch.lua
  components/infobox/wikis/halo/infobox_patch_custom.lua
  components/infobox/wikis/rainbowsix/infobox_patch_custom.lua
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
Labels: g: starcraft, g: rainbow six, c: infobox, chore, g: halo

#3237 Add annotations for infobox show
  components/infobox/commons/custom/infobox_show_custom.lua
  components/infobox/commons/infobox_show.lua
  components/infobox/wikis/starcraft2/infobox_show_custom.lua
Labels: g: starcraft, c: infobox, chore

#3236 Add annos for infobox campaign mission
  components/infobox/commons/infobox_campaign_mission.lua
  components/infobox/extensions/commons/infobox_extension_achievements.lua
  components/infobox/wikis/starcraft2/infobox_campaign_mission_custom.lua
Labels: g: starcraft, c: infobox, chore

#3235 Add annos for building infoboxes
  components/infobox/commons/infobox_building.lua
  components/infobox/wikis/starcraft/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
Labels: g: starcraft, c: infobox, chore

#3223 Allow manual icons for Infobox League for Fighters
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: c: infobox, g: fighters

#3219 Add BW Infobox/Strategy/Custom module
  components/infobox/wikis/starcraft/infobox_strategy_custom.lua
Labels: c: infobox, g: broodwar

#3224 Add Warcraft infobox map
  components/infobox/wikis/warcraft/infobox_map_custom.lua
Labels: c: infobox, g: warcraft

#3220 Add WC `Module:Infobox/Strategy/Custom`
  components/infobox/wikis/warcraft/infobox_strategy_custom.lua
Labels: c: infobox, g: warcraft

#3226 Add warcraft infobox item
  components/infobox/wikis/warcraft/infobox_item_custom.lua
Labels: c: infobox, g: warcraft

#3225 Add warcraft `Infobox/Extension/CostDisplay`
  components/infobox/extensions/wikis/warcraft/infobox_extension_cost_display.lua
Labels: c: infobox_extensions, g: warcraft

#3230 Add warcraft `Module:Infobox/Character/Custom`
  components/infobox/wikis/warcraft/infobox_character_custom.lua
  standard/abbreviation.lua
Labels: c: infobox, g: warcraft

#3242 Annos for infobox skill and merge 2 to one on sc2
  components/infobox/commons/infobox_skill.lua
  components/infobox/wikis/starcraft/infobox_skill_custom.lua
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
  components/infobox/wikis/starcraft2/infobox_skill_custom.lua
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
Labels: g: starcraft, c: infobox, g: broodwar

#3228 Add warcraft infobox patch
  components/infobox/wikis/warcraft/infobox_patch_custom.lua
Labels: c: infobox, g: warcraft

#3243 Add annos to infoboxes that do not have (wiki) customs
  components/infobox/commons/custom/infobox_game_custom.lua
  components/infobox/commons/custom/infobox_website_custom.lua
  components/infobox/commons/infobox_campaign.lua
  components/infobox/commons/infobox_game.lua
  components/infobox/commons/infobox_scene.lua
  components/infobox/commons/infobox_website.lua
Labels: c: infobox, chore

#3244 Add annos for infobox character
  components/infobox/commons/custom/infobox_character_custom.lua
  components/infobox/commons/infobox_character.lua
  components/infobox/wikis/apexlegends/infobox_character_custom.lua
  components/infobox/wikis/omegastrikers/infobox_character_custom.lua
Labels: c: infobox, chore

#3246 Add annos for `Module:Infobox/UnofficialWorldChampion`
  components/infobox/commons/custom/infobox_unofficial_world_champion_custom.lua
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/wikis/overwatch/infobox_unofficial_world_champion_custom.lua
  components/infobox/wikis/starcraft2/infobox_unofficial_world_champion_custom.lua
Labels: c: infobox, chore

#3207 Fix WC legacy duo prize pool lastVsData for first slot
  components/prize_pool/commons/prize_pool_legacy.lua
  components/prize_pool/wikis/warcraft/prize_pool_legacy_custom.lua
Labels: bug, g: warcraft, c: prize_pool

#3239 Add annos for infobox map and infobox strategy
  components/infobox/commons/custom/infobox_strategy_custom.lua
  components/infobox/commons/infobox_strategy.lua
  components/infobox/wikis/apexlegends/infobox_map_custom.lua
  components/infobox/wikis/halo/infobox_map_custom.lua
  components/infobox/wikis/overwatch/infobox_map_custom.lua
  components/infobox/wikis/pubgmobile/infobox_map_custom.lua
  components/infobox/wikis/starcraft/infobox_map_custom.lua
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
Labels: g: starcraft, c: infobox, chore, g: halo, g: apex, g: overwatch, g: pubgmobile, g: broodwar

#3201 Adjust BroadcasterCard
  components/broadcaster_card/commons/broadcaster_card.lua
Labels: c: broadcaster_card

#3251 Add annos for infobox series
  components/infobox/commons/custom/infobox_series_custom.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/wikis/ageofempires/infobox_series_custom.lua
  components/infobox/wikis/counterstrike/infobox_series_custom.lua
  components/infobox/wikis/dota2/infobox_series_custom.lua
  components/infobox/wikis/fortnite/infobox_series_custom.lua
  components/infobox/wikis/rocketleague/infobox_series_custom.lua
  components/infobox/wikis/smash/infobox_series_custom.lua
  components/infobox/wikis/starcraft/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
  components/infobox/wikis/valorant/infobox_series_custom.lua
  components/infobox/wikis/warcraft/infobox_series_custom.lua
Labels: c: infobox, chore

#3245 Add infobox item annos
  components/infobox/commons/infobox_item.lua
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
  components/infobox/wikis/wildrift/infobox_item_custom.lua
Labels: c: infobox, chore

#3248 Add annos for infobox weapon
  components/infobox/commons/custom/infobox_weapon_custom.lua
  components/infobox/commons/infobox_weapon.lua
  components/infobox/wikis/apexlegends/infobox_weapon_custom.lua
  components/infobox/wikis/pubg/infobox_weapon_custom.lua
  components/infobox/wikis/rainbowsix/infobox_weapon_custom.lua
Labels: c: infobox, chore

#3247 Add annos for `Module:Infobox/Extensions/PrizePool`
  components/infobox/extensions/commons/infobox_extensions_prize_pool.lua
Labels: chore, c: infobox_extensions
