Repository Liquipedia/Lua-Modules, pull requests merged in 2023-02, with the labels that each got.

#2400 Create WC custom Opponent handler
  components/opponent/wikis/warcraft/opponent_custom.lua
  standard/info/wikis/warcraft/info.lua
Labels: g: warcraft, c: opponent

#2489 Catch empty lastvs table to avoid storing tbd opponents in lastvsdata
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: bug, c: prize_pool

#2417 Add WC PPT Legacy Custom
  components/prize_pool/wikis/warcraft/prize_pool_legacy_custom.lua
Labels: g: warcraft, c: prize_pool

#2472 pubgm league infobox: Changed function operator syntax
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
Labels: c: infobox, g: pubgmobile

#2228 Create Game module
  standard/game.lua
  standard/test/game_test.lua
Labels: c: standard, t: standard

#2491 pubgmobile: Call bottom content method for player infobox
  components/infobox/wikis/pubgmobile/infobox_person_player_custom.lua
Labels: c: infobox, g: pubgmobile

#2492 refactor: `|wiki=` fallbacks to info.wikiname in infobox
  components/infobox/commons/infobox_basic.lua
Labels: c: infobox

#2495 Fix slot calculation for Special places in WC PPT Legacy
  components/prize_pool/wikis/warcraft/prize_pool_legacy_custom.lua
Labels: bug, g: warcraft, c: prize_pool

#2493 Allow auto currency exchange on WC PPT
  components/prize_pool/wikis/warcraft/prize_pool_custom.lua
Labels: chore, g: warcraft, c: prize_pool

#2404 refactor: minor cleanup of team infobox
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#2496 `Module:Game`: fix annotation and simplify
  standard/game.lua
Labels: c: standard

#2486 fix: incorrect wiki-var used in TC Storage for PublisherTier
  components/team_card/team_card_storage.lua
Labels: c: team_card

#2450 Store standings config values
  components/standings/commons/standings_storage.lua
  standard/mock/mock_lpdb.lua
Labels: c: standings, t: standings

#2494 Add WC HDB Custom
  components/hidden_data_box/wikis/warcraft/hidden_data_box_custom.lua
Labels: g: warcraft, c: hidden_data_box

#2502 Correctly handle link `|site=`
  standard/links/commons/links.lua
Labels: c: standard

#2503 refactor: fix incorrect IDE warnings in test for game
  standard/test/game_test.lua
Labels: t: standard

#2504 feat: Create infobox team for Warcraft
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/warcraft/infobox_team_custom.lua
Labels: c: infobox, g: warcraft

#2506 Add NWC3L Links support
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: standard

#2523 R6 adjust match links
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2

#2524 Fix Siege.gg infobox links
  standard/links/commons/links.lua
Labels: c: infobox

#2525 Make `location` customizable in Infobox League
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#2517 Adjust Infobox League prize pool extension
  components/infobox/extensions/commons/infobox_extensions_prize_pool.lua
Labels: enhancement, c: infobox_extensions

#2518 Fix WC PPT players data for duos
  components/prize_pool/wikis/warcraft/prize_pool_custom.lua
Labels: bug, g: warcraft, c: prize_pool

#2516 Workaround: Allow manual `|finished=false` input in WC infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#2490 refactor: set categories with `add_category` instead of wikicode
  components/infobox/commons/infobox.lua
Labels: c: infobox

#2509 Add PPT for Tetris
  components/prize_pool/wikis/tetris/prize_pool_custom.lua
Labels: c: prize_pool, g: tetris

#2511 Add Squad for Brawl Stars
  components/squad/wikis/brawlstars/squad_custom.lua
Labels: g: brawl stars, c: squad

#2514 Adjust sc2 results table custom
  components/results_table/wikis/starcraft2/results_table_custom.lua
Labels: g: starcraft, chore, c: results_table

#2512 Catch cases where identifier is not a name or abbreviation
  standard/game.lua
Labels: bug, c: standard

#2508 Add Infobox League for Tetris
  components/infobox/wikis/tetris/infobox_league_custom.lua
Labels: c: infobox, g: tetris

#2515 Add fortnite results table custom
  components/results_table/wikis/fortnite/results_table_custom.lua
Labels: g: fortnite, c: results_table

#2526 Fix typo regarding `location` in League Infobox
  components/infobox/commons/infobox_league.lua
Labels: bug, c: infobox

#2507 Add Infobox Player for Tetris
  components/infobox/wikis/tetris/infobox_person_player_custom.lua
Labels: c: infobox, g: tetris

#2446 Create Zula Info
  standard/info/wikis/zula/info.lua
Labels: c: standard, g: zula

#2531 Fix `[h]` link when template only exists on commons
  components/infobox/commons/infobox_widget_header.lua
Labels: c: infobox

#2533 Update Player Infobox to add support for PlayerTeamAuto
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
Labels: c: infobox, g: mobilelegends

#2532 Create Player Infobox for WoW
  components/earnings/wikis/worldofwarcraft/earnings.lua
  components/infobox/wikis/worldofwarcraft/infobox_person_player_custom.lua
Labels: c: infobox, g: worldofwarcraft

#2534 Fix: TierDisplay in Fortnite results table
  components/results_table/wikis/fortnite/results_table_custom.lua
Labels: bug, g: fortnite, c: results_table

#2229 Adjust team display and gameIcon display in Results tables
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_base.lua
Labels: c: results_table

#2539 Fix condition when deciding notability
  components/notability/commons/notability_checker.lua
Labels: bug, c: notability

#2538 Create Player Infobox for Team Fortress
  components/infobox/wikis/teamfortress/infobox_person_player_custom.lua
Labels: c: infobox, g: teamfortress

#2537 Create Infobox Player for Crossfire
  components/infobox/wikis/crossfire/infobox_person_player_custom.lua
Labels: c: infobox, g: crossfire

#2536 Improve Squad Table display on mobile
  components/squad/commons/squad_row.lua
Labels: c: squad

#2535 Create Infobox Player for ArenaFPS
  components/earnings/wikis/arenafps/earnings.lua
  components/infobox/wikis/arenafps/infobox_person_player_custom.lua
  standard/info/wikis/arenafps/info.lua
Labels: c: infobox, g: arenafps

#2541 Fix infobox categories sortKey being index of Array.forEach
  components/infobox/commons/infobox.lua
Labels: bug, c: infobox

#2540 Remove class from infobox
  components/infobox/commons/infobox.lua
Labels: c: infobox

#2527 Create infobox player for Warcraft
  components/infobox/wikis/warcraft/infobox_person_player_custom.lua
Labels: c: infobox, g: warcraft

#2542 Create Infobox Player on HotS
  components/infobox/wikis/heroes/infobox_person_player_custom.lua
Labels: c: infobox, g: heroes

#2530 Create Player infobox for PUBG
  components/infobox/wikis/pubg/infobox_person_player_custom.lua
Labels: c: infobox, g: pubg

#2544 Remove (additional) sectionHeader from sc2 resultstable
  components/results_table/wikis/starcraft2/results_table_custom.lua
Labels: g: starcraft, c: results_table

#2547 Create infobox player for FIFA
  components/infobox/wikis/fifa/infobox_person_player_custom.lua
Labels: c: infobox, g: fifa

#2546 Create Player Infobox for Simracing
  components/infobox/wikis/simracing/infobox_person_player_custom.lua
Labels: c: infobox, g: simracing

#2548 Create Infobox Player for Trackmania
  components/infobox/wikis/trackmania/infobox_person_player_custom.lua
Labels: c: infobox, g: trackmania

#2550 Create Infobox Player for CoD
  components/infobox/wikis/callofduty/infobox_person_player_custom.lua
Labels: c: infobox, g: callofduty

#2549 Create Player Infobox for Fighters
  components/infobox/wikis/fighters/infobox_person_player_custom.lua
Labels: c: infobox, g: fighters

#2543 Create Infobox Player for Hearthstone
  components/infobox/wikis/hearthstone/infobox_person_player_custom.lua
Labels: c: infobox, g: hearthstone

#2551 Create CR Infobox Player
  components/infobox/wikis/clashroyale/infobox_person_player_custom.lua
Labels: c: infobox, g: clashroyale

#2528 Add Infobox Player for Zula
  components/infobox/wikis/zula/infobox_person_player_custom.lua
Labels: c: infobox, g: zula

#2554 Update info.lua for smash
  standard/info/wikis/smash/info.lua
Labels: c: standard

#2553 Have WC use `individualprizemoney` for Player Earnings
  components/earnings/wikis/warcraft/earnings.lua
Labels: g: warcraft, c: earnings

#2558 Adjust WC player infobox to show race in header instead of team
  components/infobox/wikis/warcraft/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: warcraft

#2559 Reduce include size
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: c: match2, chore, g: leagueoflegends

#2561 Use `trackmania_id` for `trackmania.io` in Infobox player
  components/infobox/wikis/trackmania/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: trackmania

#2562 Add additional extradata storage to warcraft infobox team
  components/infobox/wikis/warcraft/infobox_team_custom.lua
Labels: c: infobox, g: warcraft

#2564 Add Alias `night elf` in wc faction data
  components/faction/wikis/warcraft/faction_data.lua
Labels: g: warcraft, c: faction

#2565 Change name of aoe1 to include roman number
  standard/info/wikis/ageofempires/info.lua
Labels: c: standard, g: ageofempires

#2563 Allow specifying column count for CellWidget
  components/infobox/commons/infobox_widget_cell.lua
Labels: c: infobox

#2568 Add link `douyin`
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: standard

#2569 TM: Use individualprizemoney for earnings calculation
  components/earnings/wikis/trackmania/earnings.lua
Labels: bug, c: earnings, g: trackmania

#2567 AoE: Restructure player ratings
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: c: infobox, g: ageofempires

#2570 Add Years Active to Fighters
  components/infobox/wikis/fighters/infobox_person_player_custom.lua
Labels: c: infobox, g: fighters

#2552 Create Infobox Player for Smash
  components/earnings/wikis/smash/earnings.lua
  components/infobox/wikis/smash/infobox_person_player_custom.lua
  standard/links/commons/links.lua
Labels: c: infobox, g: smash

#2566 AoE: Automate game display for players
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: c: infobox, g: ageofempires

#2571 Fix ordering of games in Smash
  components/infobox/wikis/smash/infobox_person_player_custom.lua
Labels: c: infobox, g: smash

#2573 Remove special bg for `3rd-4th` placement in results
  standard/placement.lua
Labels: c: standard

#2529 Infobox player for AoE
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: c: infobox, g: ageofempires

#2574 Create Infobox League for CoD
  components/infobox/wikis/callofduty/infobox_league.lua
Labels: c: infobox, g: callofduty

#2575 Add Content Creator Role for WR Player Infobox
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: wildrift

#2457 Clean up BW infobox player race stuff
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
Labels: c: infobox, g: broodwar

#2576 Fix a bug with awards in sc2 infobox player
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: bug, g: starcraft, c: infobox

#2577 AoE: Infobox player bugfixes
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: ageofempires

#2580 Rename infobox_league.lua to infobox_league_custom.lua
  components/infobox/wikis/callofduty/infobox_league_custom.lua
Labels: c: infobox, chore, g: callofduty

#2423 SC2 Squads: Set extradata with function
  components/squad/wikis/starcraft2/squad_custom.lua
Labels: g: starcraft, c: squad

#2519 Add option to link to LIS template on the wikis in LIS generators
  standard/league_icon.lua
Labels: enhancement, c: standard

#2583 Create Clash Royale League Infobox
  components/infobox/wikis/clashroyale/infobox_league_custom.lua
Labels: c: infobox, g: clashroyale

#2584 Create Infobox League for FreeFire
  components/infobox/wikis/freefire/infobox_league_custom.lua
Labels: c: infobox, g:freefire

#2585 Create League Infobox for Fortnite
  components/infobox/wikis/fortnite/infobox_league_custom.lua
Labels: c: infobox, g: fortnite

#2587 Create Infobox League for Simracing
  components/infobox/wikis/simracing/infobox_league_custom.lua
Labels: c: infobox, g: simracing

#2586 Create League Infobox for FIFA
  components/infobox/wikis/fifa/infobox_league_custom.lua
Labels: c: infobox, g: fifa

#2588 Infobox League Critical Ops
  components/infobox/wikis/criticalops/infobox_league_custom.lua
Labels: c: infobox, g: criticalops

#2589 Create Infobox League for Squadrons
  components/infobox/wikis/squadrons/infobox_league_custom.lua
Labels: c: infobox

#2582 Create League Infobox for ArenaFPS
  components/infobox/wikis/arenafps/infobox_league_custom.lua
  standard/links/commons/links.lua
Labels: c: infobox, g: arenafps

#2590 Infobox Leauge for Magic
  components/infobox/wikis/magic/infobox_league_custom.lua
  standard/info/wikis/magic/info.lua
Labels: c: infobox, g: magic

#2592 Create Infobox League for HS
  components/infobox/wikis/hearthstone/infobox_league_custom.lua
Labels: c: infobox, g: hearthstone

#2579 Overtimes now uses boolean - TM Match Group Input and MatchSummary
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_summary.lua
Labels: c: match2, g: trackmania

#2595 Support Duos on PUBG (PC)
  components/opponent/wikis/pubg/opponent_display_custom.lua
  standard/info/wikis/pubg/info.lua
Labels: g: pubg, c: opponent

#2602 Fix Folder name
  components/opponent/wikis/warcraft/opponent_display_custom.lua
Labels: chore, g: warcraft, c: opponent

#2603 Use `Faction.defaultFaction` instead of `'u'`
  components/match2/commons/starcraft_starcraft2/player_ext_starcraft.lua
Labels: g: starcraft, c: match2, chore

#2606 Automate Infobox Team's image showing when applicable
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#2605 Custom handling for HotS's Infobox League
  components/infobox/wikis/heroes/infobox_league_custom.lua
Labels: c: infobox, g: heroes

#2598 Add `qualified` to Overwatch PPT
  components/prize_pool/wikis/overwatch/prize_pool_custom.lua
Labels: g: overwatch, c: prize_pool

#2581 Add PPT for PUBG (PC Wiki)
  components/prize_pool/wikis/pubg/prize_pool_custom.lua
Labels: g: pubg, c: prize_pool

#2578 Fix `MatchGroupCoordinates.computeRawCounts` for double qual
  components/match2/commons/match_group_coordinates.lua
Labels: bug, c: match2, c: prize_pool

#2591 Add more Module:Info game data
  standard/info/wikis/brawlhalla/info.lua
  standard/info/wikis/crossfire/info.lua
  standard/info/wikis/fighters/info.lua
  standard/info/wikis/hearthstone/info.lua
  standard/info/wikis/simracing/info.lua
  standard/info/wikis/splatoon/info.lua
  standard/info/wikis/teamfortress/info.lua
Labels: chore, c: standard, g: brawlhalla, g: crossfire, g: Splatoon, g: hearthstone, g: teamfortress, g: simracing, g: fighters

#2601 Add `opponenttype` `duo` support in commons
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_bracket_starcraft.lua
  components/match2/wikis/clashroyale/match_group_display_bracket_custom.lua
  components/opponent/commons/opponent_display.lua
  components/opponent/wikis/clashroyale/opponent_display_custom.lua
  components/opponent/wikis/pubg/opponent_display_custom.lua
  components/opponent/wikis/rocketleague/opponent_display_custom.lua
  components/opponent/wikis/trackmania/opponent_display_custom.lua
  standard/info/wikis/clashroyale/info.lua
  standard/info/wikis/pubg/info.lua
Labels: c: match2, c: opponent

#2607 Hot fix ML info module
  standard/info/wikis/mobilelegends/info.lua
Labels: bug, c: standard, g: mobilelegends

#2608 Fix TM OpponentDisplay
  components/opponent/wikis/trackmania/opponent_display_custom.lua
Labels: bug, g: trackmania, c: opponent

#2609 Add all missing games in the Simracing Info
  standard/info/wikis/simracing/info.lua
Labels: c: standard, g: simracing

#2614 Fix player prefix for aoezone links
  standard/links/commons/links.lua
Labels: bug, c: infobox, g: ageofempires

#2620 Store pagenames with underscores in sc/sc2 match2
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/match2/commons/match_ticker/match_ticker_query.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: infobox, c: match2, chore, g: broodwar

#2615 Add all missing games for FIFA Info
  standard/info/wikis/fifa/info.lua
Labels: c: standard, g: fifa

#2610 Remove calls for CR Custom Display
  components/match2/wikis/clashroyale/brkts_wiki_specific.lua
Labels: c: match2, g: clashroyale

#2477 Adjust count handling
  components/prize_pool/commons/prize_pool_import.lua
  components/prize_pool/commons/prize_pool_placement.lua
Labels: c: prize_pool

#2621 Squad's dota2: Use link for objectname
  components/squad/wikis/dota2/squad_custom.lua
Labels: g: dota2, c: squad

#2622 Add missing games for Splatoon Info
  standard/info/wikis/splatoon/info.lua
Labels: c: standard, g: Splatoon

#2624 Adjust CSS Class to standard in 2 SC2 modules
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/results_table/wikis/starcraft2/results_table_custom.lua
Labels: g: starcraft, c: infobox, chore, c: results_table

#2626 Infobox league for fighters
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: c: infobox, g: fighters

#2631 Add cntft and lolchess to Module:Links
  standard/links/commons/links.lua
Labels: c: standard, g: tft

#2630 Add all missing games in Fighters Info
  standard/info/wikis/fighters/info.lua
Labels: c: standard, g: fighters

#2629 Add another wiki-variable for Fighters' league
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: bug, c: infobox, g: fighters

#2632 Add space between flag and country name
  components/infobox/wikis/heroes/infobox_league_custom.lua
Labels: c: infobox, g: heroes

#2628 Fix query to use pagename if in mainspace
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: ageofempires

#2616 Adjust Platform inputs in FIFA Infobox
  components/infobox/wikis/fifa/infobox_league_custom.lua
Labels: c: infobox, g: fifa

#2637 Change icon for Halo's H2H
  components/match2/wikis/halo/match_summary.lua
Labels: c: match2, g: halo

#2638 Fix missing File-Prefix in halo matchsummary
  components/match2/wikis/halo/match_summary.lua
Labels: bug, c: match2, g: halo

#2639 Fix value of micronesia for 2/3 letter ISO
  standard/flags_master_data.lua
Labels: bug, c: standard

#2640 Add more query options to matchTicker Query
  components/match2/commons/match_ticker/match_ticker_query.lua
Labels: c: match2

#2643 Change Smash 64 to string key instead of number
  standard/info/wikis/smash/info.lua
Labels: chore, g: smash

#2644 Update Infobox Player to match #2643
  components/infobox/wikis/smash/infobox_person_player_custom.lua
Labels: c: infobox, g: smash

#2645 Allow cancelled tournament to be set before Infobox
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#2642 Store map info as Json in Infobox league
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires, c: hidden_data_box

#2647 Chore: change table access to dot instead of brackets
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, chore, g: ageofempires

#2648 Catch empty names in BroadcasterCard
  components/broadcaster_card/commons/broadcaster_card.lua
Labels: bug, c: broadcaster_card
