Repository Liquipedia/Lua-Modules, pull requests merged in 2023-09, with the labels that each got.

#3253 Don't make `popularized` input a link in bw infobox strategy
  components/infobox/wikis/starcraft/infobox_strategy_custom.lua
Labels: c: infobox, g: broodwar

#3260 Remove signature champion display in lol infobox player
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
Labels: c: infobox, g: leagueoflegends

#3257 Adjust objectnames of match2 subobjects
  components/match2/commons/match.lua
Labels: bug, c: match2, severe

#3252 Add annos to commons infobox league
  components/infobox/commons/infobox_league.lua
Labels: c: infobox, chore

#3263 Fix size field in broodwar infobox map
  components/infobox/wikis/starcraft/infobox_map_custom.lua
Labels: bug, c: infobox, g: broodwar

#3262 Make {{Solo/DuoOpponent}} worked on AoV match2
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
Labels: bug, enhancement, c: match2, g: arenaofvalor

#3249 Add annotations for infobox widgets
  components/infobox/commons/infobox_widget_breakdown.lua
  components/infobox/commons/infobox_widget_builder.lua
  components/infobox/commons/infobox_widget_cell.lua
  components/infobox/commons/infobox_widget_center.lua
  components/infobox/commons/infobox_widget_chronology.lua
  components/infobox/commons/infobox_widget_customizable.lua
  components/infobox/commons/infobox_widget_factory.lua
  components/infobox/commons/infobox_widget_header.lua
  components/infobox/commons/infobox_widget_highlights.lua
  components/infobox/commons/infobox_widget_links.lua
  components/infobox/commons/infobox_widget_title.lua
  components/widget/widget_table.lua
Labels: c: infobox, chore

#3254 Fix some annotations
  components/infobox/extensions/commons/infobox_extensions_prize_pool.lua
  components/infobox/wikis/warcraft/infobox_skill_custom.lua
  components/opponent/commons/opponent.lua
  components/opponent/commons/player_ext.lua
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/opponent/wikis/fortnite/opponent_display_custom.lua
  components/opponent/wikis/warcraft/opponent_display_custom.lua
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
  components/widget/widget_table.lua
  components/widget/widget_table_row.lua
  standard/template.lua
Labels: g: starcraft, c: infobox, chore, c: standard, g: fortnite, c: infobox_extensions, g: warcraft, g: broodwar, c: prize_pool, c: opponent

#3264 Add `.isBye` function to `Module:Opponent`
  components/opponent/commons/opponent.lua
Labels: c: opponent

#3232 Add brawlstars infobox map
  components/infobox/wikis/brawlstars/infobox_map_custom.lua
Labels: c: infobox, g: brawl stars

#3271 Storage some more data in sc2 infobox unit
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
Labels: g: starcraft, c: infobox

#3275 Use commons default for participantsnumber on sc2
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox, chore

#3278 Add new game for TFT Info
  standard/info/wikis/tft/info.lua
Labels: c: infobox, g: tft

#3279 Add Game version for TFT Infobox League
  components/infobox/wikis/tft/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: tft

#3272 Add infobox extension for warcraft infoboxes unit and building
  components/infobox/extensions/wikis/warcraft/infobox_extension_building_unit_shared.lua
Labels: c: infobox_extensions, g: warcraft

#3274 Add warcraft infobox building
  components/infobox/wikis/warcraft/infobox_building_custom.lua
Labels: c: infobox, g: warcraft

#3273 Add warcraft infobox unit
  components/infobox/wikis/warcraft/infobox_unit_custom.lua
Labels: c: infobox, g: warcraft

#3280 Add Patch support for PUBG (PC)
  components/infobox/wikis/pubg/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: pubg

#3285 Add `Logic.isDeepEmpty` function
  standard/logic.lua
Labels: c: standard

#3283 Adjust submatch handling in sc/sc2 match2
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/test/match_test_config.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/starcraft2/match_legacy.lua
Labels: g: starcraft, c: match2, g: broodwar

#3282 Respect storageDisableVar in match2
  components/match2/commons/match_group_base.lua
Labels: c: match2

#3276 Add option to force display of a Bracket as a matchList
  components/match2/commons/match_group.lua
Labels: enhancement, c: match2

#3258 Add `isEmpty` function to `Module:Opponent`
  components/opponent/commons/opponent.lua
Labels: c: opponent

#3291 Add info text (summary) options for Infobox League
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#3287 Add testcases for `Module:Logic`
  standard/test/logic_test.lua
Labels: t: standard

#3286 Add Opponent testcases
  components/opponent/commons/test/opponent_test.lua
  test_assets/opponent_test_config.lua
Labels: t: opponent

#3293 Add elite series and italian rocket championship history fields in infobox player
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
Labels: g: rocket league, c: infobox

#3289 Add Mortal Kombat 1 to Fighters
  standard/info/wikis/fighters/info.lua
Labels: c: standard, g: fighters

#3292 Make faction module usable from invoke
  components/faction/commons/faction.lua
Labels: c: faction

#3288 Add Infobox Building for Clash of Clans
  components/infobox/wikis/clashofclans/infobox_building_custom.lua
Labels: c: infobox, g: clashofclans

#3296 Add `Retired` display in heroes infobox person
  components/infobox/wikis/heroes/infobox_person_player_custom.lua
Labels: c: infobox, g: heroes

#3281 Rework `Module:MatchesTable`
  components/match2/commons/matches_table.lua
  components/match2/commons/starcraft_starcraft2/matches_table_starcraft.lua
  components/matches_table/commons/matches_schedule_display.lua
  components/matches_table/commons/matches_schedule_display_custom.lua
Labels: c: matches_table

#3302 Fix module that gets importet in `Module:MatchesScheduleDisplay/Custom`
  components/matches_schedule_display/commons/matches_schedule_display.lua
  components/matches_schedule_display/commons/matches_schedule_display_custom.lua
Labels: bug, c: matches_schedule_display

#3309 Update Game Info for CoD wiki
  standard/info/wikis/callofduty/info.lua
Labels: c: standard, g: callofduty

#2212 RL: Add years-active to more roles
  components/infobox/extensions/commons/years_active_base.lua
  components/infobox/extensions/wikis/rocketleague/years_active.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
Labels: g: rocket league, c: infobox

#3315 Add css classes to warcraft Faction data
  components/faction/wikis/warcraft/faction_data.lua
Labels: chore, g: warcraft, c: faction

#3318 Fix condition building in matches_schedule_display.lua
  components/matches_schedule_display/commons/matches_schedule_display.lua
Labels: bug, c: matches_schedule_display

#3320 Move WC Opponent code to the correct folder
  components/opponent/wikis/warcraft/player_display_custom.lua
  components/opponent/wikis/warcraft/player_ext_custom.lua
Labels: c: match2, chore, g: warcraft, c: opponent

#3312 Add reworked MatchSummary as temp module
  components/match2/commons/match_group_util.lua
  components/match2/commons/match_summary_base.lua
  components/match2/commons/match_summary_base_temp.lua
  components/match2/wikis/brawlstars/match_summary.lua
Labels: c: match2

#3326 fix match2 bracket popups in safari on iOS17
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
Labels: bug, c: match2, g: dota2, g: leagueoflegends, g: Splatoon

#3325 Fix some small bugs in warcraft infobox building and infobox unit
  components/infobox/wikis/warcraft/infobox_building_custom.lua
  components/infobox/wikis/warcraft/infobox_unit_custom.lua
Labels: bug, c: infobox, g: warcraft
