Repository Liquipedia/Lua-Modules, pull requests merged in 2023-06, with the labels that each got.

#3039 Count qualifier earnings in sc2 team infoboxes
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#3031 UpperCase first some team names in Earnings conditions
  components/earnings/commons/earnings_base.lua
Labels: c: earnings

#3038 Add functionality to match2 to skip X rounds in display
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_shorten_bracket.lua
Labels: enhancement, c: match2

#3026 Fix some annotations
  components/earnings/commons/earnings_legacy.lua
  components/portal_players/commons/portal_players.lua
  components/team_card/team_card_storage.lua
  standard/array.lua
  standard/currency/currency.lua
  standard/highlight_conditions/wikis/dota2/highlight_conditions.lua
  standard/json.lua
  standard/namespace.lua
  standard/test/array_test.lua
Labels: chore

#3028 Allow `additionalPlaceConditions` in `Module:TournamentsListing/CardList`
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
Labels: c: tournaments_listing

#3000 Add annotations to opponent modules
  components/match2/commons/display_util.lua
  components/match2/commons/match_group_util.lua
  components/opponent/commons/opponent.lua
  components/opponent/commons/opponent_display.lua
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/opponent/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/opponent/wikis/fortnite/opponent_display_custom.lua
  components/opponent/wikis/rocketleague/opponent_display_custom.lua
  components/opponent/wikis/trackmania/opponent_display_custom.lua
  components/opponent/wikis/warcraft/opponent_custom.lua
  components/opponent/wikis/warcraft/opponent_display_custom.lua
Labels: chore, c: opponent

#2981 Add annotations for `operator.lua`
  standard/operator.lua
Labels: chore, c: standard

#3042 HotFix Broadcaster talent table: escape nil
  components/broadcast_talent_table/commons/broadcast_talent_table.lua
Labels: bug, c: broadcast_talent_table

#3041 Pass width along correctly in portal players
  components/portal_players/commons/portal_players.lua
Labels: bug, c: portal_player

#3007 Add annotations for results tables
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_award.lua
  components/results_table/commons/results_table_base.lua
  components/results_table/commons/results_table_custom.lua
  components/results_table/wikis/counterstrike/results_table_custom.lua
  components/results_table/wikis/fortnite/results_table_custom.lua
  components/results_table/wikis/starcraft2/results_table_custom.lua
  definitions/mw.lua
Labels: chore, c: results_table

#3043 Account for sc2 special case in BroadCasterTealentTable
  components/broadcast_talent_table/commons/broadcast_talent_table.lua
Labels: bug, c: broadcaster_card

#3044 Create annotations for FnUtils
  standard/fn_util.lua
Labels: chore

#3047 Fix Lambda returns in PPT Customs
  components/prize_pool/wikis/rainbowsix/prize_pool_custom.lua
  components/prize_pool/wikis/trackmania/prize_pool_custom.lua
Labels: c: prize_pool

#3048 Adjust naming scheme of default team logo
  standard/info/wikis/ageofempires/info.lua
Labels: c: standard, g: ageofempires

#3049 Extend, not overwrite extradata in CoD Infobox League
  components/infobox/wikis/callofduty/infobox_league_custom.lua
Labels: c: infobox, g: callofduty

#3046 Fix Logic Annotations
  standard/logic.lua
Labels: chore

#3052 Remove Player Achivement Template on WoW
  components/infobox/wikis/worldofwarcraft/infobox_person_player_custom.lua
Labels: c: infobox, g: worldofwarcraft

#3053 Adding Sub-Saharan Africa to Flags Master data
  standard/flags_master_data.lua
Labels: c: standard

#2945 Create PlayerIntroduction infobox extension
  components/infobox/extensions/commons/player_introduction.lua
  components/infobox/extensions/wikis/starcraft2/infobox_extension_cost_display.lua
Labels: c: infobox_extensions

#3056 Create `eq` and `neq` operator functions
  standard/operator.lua
  standard/test/operator_test.lua
Labels: c: standard

#3057 Create the curry function
  standard/fn_util.lua
  standard/test/fn_util_test.lua
Labels: c: standard

#3058 Create status filter for Portal Players
  components/portal_players/commons/portal_players.lua
Labels: c: portal_player

#1385 Merge `Module:Array` and `Module:Array/Ext`
  components/prize_pool/commons/prize_pool_import.lua
  standard/array.lua
  standard/array_ext.lua
  standard/tournament_structure.lua
Labels: chore, c: standard

#3059 Add support for CoreStrike link
  standard/links/commons/links.lua
Labels: c: standard, g: omegastrikers

#3060 Use `Module:Iterator` instead of `Module:IteratorUtil`
  components/match2/commons/match_group_coordinates.lua
Labels: chore

#3061 Move player modules from match2 to opponent folder
  components/opponent/commons/starcraft_starcraft2/player_display_starcraft.lua
  components/opponent/commons/starcraft_starcraft2/player_ext_starcraft.lua
  components/opponent/player_display.lua
  components/opponent/player_ext.lua
Labels: chore

#3068 Fix some issues in `PlayerIntroduction`
  components/infobox/extensions/commons/player_introduction.lua
Labels: bug, c: infobox_extensions

#3069 Add `Tier.toIdentifier` overwrite for smash
  standard/tier/wikis/smash/tier_custom.lua
Labels: bug, c: standard

#3072 AoE: Adjust call to PlayerIntroduction
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: ageofempires

#3075 Remove tier display from series infobox for smash
  components/infobox/wikis/smash/infobox_series_custom.lua
Labels: c: infobox, g: smash

#3063 Add stash/retrieve options to `Module:Error/Display` and `Module:Error/Ext`
  standard/error_display.lua
  standard/error_ext.lua
Labels: c: standard

#3071 Add highlights for FIFA League Infobox
  components/infobox/wikis/fifa/infobox_league_custom.lua
Labels: c: infobox, g: fifa

#3079 Convert some `CRLF` into `LF`
  components/earnings/wikis/ageofempires/earnings.lua
  components/infobox/wikis/tft/infobox_person_player_custom.lua
Labels: chore

#3070 TFT: Add PlayerTeamAuto detection for player infobox
  components/infobox/wikis/tft/infobox_person_player_custom.lua
Labels: c: infobox, g: tft

#3078 AoE: Automate team and history in Infobox player
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: ageofempires

#3083 HotFix SC/SC2 Player/Ext
  components/opponent/commons/player_display.lua
  components/opponent/commons/player_ext.lua
  components/opponent/commons/starcraft_starcraft2/player_ext_starcraft.lua
Labels: bug, g: starcraft, c: opponent

#3084 Info Module for Clash of Clans
  standard/info/wikis/clashofclans/info.lua
Labels: c: standard, g: clashofclans

#3086 Use mw.ustring.lower over string.lower
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
Labels: bug, g: brawl stars, c: prize_pool

#3087 Add `Flags.isValidFlagInput` function
  standard/flags.lua
  standard/test/flags_test.lua
Labels: c: standard

#3092 AoE: Fix mismatch between id and pagename for PlayerIntroduction
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: ageofempires
