Repository Liquipedia/Lua-Modules, pull requests merged in 2023-10, with the labels that each got.

#3333 Fix 2 typos in warcraft infoboxes
  components/infobox/wikis/warcraft/infobox_building_custom.lua
  components/infobox/wikis/warcraft/infobox_unit_custom.lua
Labels: bug, c: infobox, g: warcraft

#3338 Catch a nil in ppt import
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#3342 Remove duplicate field in sc2 infobox building
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
Labels: bug, g: starcraft, c: infobox

#3336 Force disable merging reset into normal match
  components/match2/commons/match_summary_base_temp.lua
Labels: bug, c: match2

#3290 Allow Class to inherit init over >=2 levels
  standard/class.lua
Labels: c: standard

#3330 Update R6 MatchSummary to use new Match Summary
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2

#3324 Update aov, cod and halo MS
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
Labels: c: match2, g: brawl stars, g: halo, g: arenaofvalor, g: callofduty

#3350 AoE: Adjust storage of game data for players
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: ageofempires

#3331 Update valorant MatchSummary
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#3322 Add annotations to MatchGroupUtil
  components/match2/commons/match_group_util.lua
Labels: c: match2, chore

#3332 Update CS MatchSummary
  components/match2/commons/match_summary_base_temp.lua
  components/match2/wikis/counterstrike/match_summary.lua
Labels: c: match2, g: counter-strike

#3329 Update WR, Splitgate, Pokemon, OW and ML MatchSummary Modules
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2, g: wildrift, g: mobilelegends, g: splitgate, g: overwatch, g: pokemon

#3351 AoE: Add infobox map
  components/infobox/wikis/ageofempires/infobox_map_custom.lua
Labels: c: infobox, g: ageofempires

#3310 Statistics: Extra Earnings Chart functionality
  components/statistics/portal_statistics.lua
Labels: enhancement, c: statistics

#3323 Update starcraft(2) MatchSummary
  components/match2/commons/match_summary_base_temp.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#3352 Fix bugs in AoE Infobox Map
  components/infobox/wikis/ageofempires/infobox_map_custom.lua
Labels: bug, c: infobox, g: ageofempires

#3335 Update RL, Sideswipe and Trackmania MatchSummary
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
Labels: g: rocket league, c: match2, g: sideswipe, g: trackmania

#3357 Simplify `MatchGroupUtil.fetchMatchForBracketDisplay`
  components/match2/commons/match_group_util.lua
  components/match2/commons/match_summary_base.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: c: match2

#3348 Add note support to (party) block opponents
  components/opponent/commons/opponent_display.lua
  components/opponent/commons/player_display.lua
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/opponent/commons/starcraft_starcraft2/player_display_starcraft.lua
  components/opponent/wikis/fortnite/opponent_display_custom.lua
  components/opponent/wikis/warcraft/opponent_display_custom.lua
  components/opponent/wikis/warcraft/player_display_custom.lua
Labels: c: opponent

#3343 Add percentage support in prize pools
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/commons/prize_pool_placement_base.lua
Labels: enhancement, c: prize_pool

#3358 Fix warcraft `CustomPlayerExt.fetchPlayer`
  components/opponent/wikis/warcraft/player_ext_custom.lua
Labels: bug, g: warcraft, c: opponent

#3294 Rework sc2 person infoboxes
  components/infobox/wikis/starcraft2/infobox_person_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_map_maker_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_user_custom.lua
Labels: g: starcraft, c: infobox

#3355 Add support for non team opponents in HDB participantGrabber
  components/hidden_data_box/commons/hidden_data_box.lua
  components/hidden_data_box/wikis/starcraft/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
Labels: c: hidden_data_box

#3361 Add `dq` option to `OpponentDisplay.BlockTeam`
  components/opponent/commons/opponent_display.lua
Labels: c: opponent

#3360 Fix sc/sc2 h2h link in MatchSummary
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: bug, g: starcraft, c: match2

#3363 Fix ppt percentage for unset localcurrency
  components/prize_pool/commons/prize_pool_base.lua
Labels: bug, c: prize_pool

#3364 Add `haojiao` link support
  standard/links/commons/links.lua
Labels: c: standard

#3362 Adjust sc/sc2 parsing of team player variables
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: c: match2

#3367 Adjust haojiao link data
  standard/links/commons/links.lua
Labels: chore, c: standard

#3369 Add matchpage support for the Match Schedule
  components/matches_schedule_display/commons/matches_schedule_display.lua
Labels: c: matches_schedule_display

#3370 feat: use inheritedheader in match schedule
  components/matches_schedule_display/commons/matches_schedule_display.lua
Labels: c: matches_schedule_display

#3371 Fix unit category in WC infobox unit
  components/infobox/wikis/warcraft/infobox_unit_custom.lua
Labels: bug, c: infobox, g: warcraft

#3365 Add `requireDevIfEnabled` support for loadData via `Lua.import`
  components/faction/commons/faction.lua
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/commons/match.lua
  components/match2/commons/match_group.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  plugins/sumneko_plugin.lua
  standard/links/commons/links.lua
  standard/lua.lua
  standard/region/commons/region.lua
Labels: c: standard

#3366 Move link prio groups to data module
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links_priority_groups.lua
Labels: c: standard

#3345 Add `Json.stringifySubTables`
  standard/json.lua
  standard/test/json_test.lua
Labels: c: standard, t: standard

#3346 Create participant table Component
  components/participant_table/commons/participant_table_base.lua
  components/participant_table/commons/participant_table_custom.lua
  components/participant_table/commons/participant_table_import.lua
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
  components/participant_table/wikis/starcraft/participant_table_custom.lua
  components/participant_table/wikis/starcraft2/participant_table_custom.lua
Labels: c: participant_table

#3321 Add warcraft match2 copy pasta generator
  components/match2/wikis/warcraft/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: warcraft

#3314 Create warcraft match2
  components/match2/wikis/warcraft/brkts_wiki_specific.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_util_custom.lua
  components/match2/wikis/warcraft/match_summary.lua
  components/opponent/wikis/warcraft/opponent_display_custom.lua
Labels: c: match2, g: warcraft

#3191 Add MatchGroup/Input/Custom for Heroes
  components/match2/wikis/heroes/match_group_input_custom.lua
Labels: c: match2, g: heroes

#3190 Add MatchSummary for Heroes
  components/match2/wikis/heroes/match_summary.lua
Labels: c: match2, g: heroes

#3319 Add Warcraft match legacy storage
  components/match2/wikis/warcraft/match_legacy.lua
Labels: c: match2, g: warcraft

#2480 MatchSummary for Tetris
  components/match2/wikis/tetris/match_summary.lua
Labels: c: match2, g: tetris

#2481 Match/Legacy for Tetris
  components/match2/wikis/tetris/match_legacy.lua
Labels: c: match2, g: tetris

#2555 MatchGroup/Input/Custom for Critical Ops
  components/match2/wikis/criticalops/match_group_input_custom.lua
Labels: c: match2, g: criticalops

#2479 MatchGroup/Input/Custom for Tetris
  components/match2/wikis/tetris/match_group_input_custom.lua
Labels: c: match2, g: tetris

#3379 Fix warcraft match team input reading
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: bug, c: match2, g: warcraft

#3377 Adjust warcraft faction data
  components/faction/wikis/warcraft/faction_data.lua
Labels: g: warcraft, c: faction

#3381 Fix participantTable excess row
  components/participant_table/commons/participant_table_base.lua
Labels: bug, c: participant_table

#3382 Allow to disable `sortOpponents` in participants table
  components/participant_table/commons/participant_table_base.lua
Labels: c: participant_table

#3386 Enable ppt import on warcraft starting 2023-10-16
  components/prize_pool/wikis/warcraft/prize_pool_custom.lua
Labels: g: warcraft, c: prize_pool

#3375 Fix annotation in portal stats
  components/statistics/portal_statistics.lua
Labels: c: statistics

#3390 Fix contextualDateOrNow call in warcraft PlayerExt
  components/opponent/wikis/warcraft/player_ext_custom.lua
Labels: bug, g: warcraft, c: opponent

#3387 Fix trackmania score display
  components/opponent/wikis/trackmania/opponent_display_custom.lua
Labels: bug, g: trackmania, c: opponent

#3388 Sync players during opponent resolve in tetris match input processing
  components/match2/wikis/tetris/match_group_input_custom.lua
Labels: bug, c: match2, g: tetris

#3383 Save manually input player team to page var if `syncPlayer` is enabled
  components/opponent/commons/opponent.lua
  components/opponent/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/opponent/wikis/warcraft/opponent_custom.lua
Labels: bug, g: starcraft, c: opponent

#3374 Add Match Legacy for Heroes
  components/match2/wikis/heroes/match_legacy.lua
Labels: c: match2, g: heroes

#3376 feat: non-exact role names in role of
  components/infobox/extensions/commons/role_of.lua
Labels: c: infobox_extensions

#3380 Catch some legacy input variation in sc2 participantTable
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
Labels: bug, g: starcraft, c: participant_table

#3384 Fix `matchid` in `lpdb_game` warcraft legacy storage
  components/match2/wikis/warcraft/match_legacy.lua
Labels: bug, c: match2, g: warcraft

#3255 match2 for Apex Legends
  components/match2/commons/match_group_display_horizontallist.lua
  components/match2/commons/match_group_util.lua
  components/match2/wikis/apexlegends/brkts_wikispecific.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#2556 Match Summary for Critical Ops
  components/match2/wikis/criticalops/match_summary.lua
Labels: c: match2, g: criticalops

#2557 Match Legacy for Critical Ops
  components/match2/wikis/criticalops/match_legacy.lua
Labels: c: match2, g: criticalops

#2254 Add `MatchSummary` for Clash Royale
  components/match2/wikis/clashroyale/match_summary.lua
Labels: c: match2, g: clashroyale

#2619 Add MatchSummary for fifa
  components/match2/wikis/fifa/match_summary.lua
Labels: c: match2, g: fifa

#3398 Pass along date in sc2/warcraft opponent.resolve to sync player
  components/opponent/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/opponent/wikis/warcraft/opponent_custom.lua
Labels: g: starcraft, g: warcraft, c: opponent

#3378 Add warcraft participant table
  components/participant_table/wikis/warcraft/participant_table_custom.lua
Labels: g: warcraft, c: participant_table

#3391 feat: match legacy for trackmania
  components/match2/wikis/trackmania/match_legacy.lua
Labels: c: match2, g: trackmania

#2618 Add Match2 input processing for fifa
  components/match2/wikis/fifa/match_group_input_custom.lua
Labels: c: match2, g: fifa

#3261 Add match2 based matchTicker
  components/match2/commons/match_ticker/match_ticker_query.lua
  components/match_ticker/commons/match_ticker.lua
  components/match_ticker/commons/match_ticker_custom.lua
  components/match_ticker/commons/match_ticker_display_components.lua
Labels: c: match_ticker

#3399 Use new matchticker in sc2 infoboxes
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox, c: match_ticker

#3404 Add PlayerTeamAuto to COD InfoPlayer
  components/infobox/wikis/callofduty/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: callofduty

#3402 Keep order of input in ParticipantTable
  components/participant_table/commons/participant_table_base.lua
Labels: enhancement, c: participant_table

#3401 Fix display issue of bestof in TM matchsummary
  components/match2/wikis/trackmania/match_summary.lua
Labels: bug, c: match2, g: trackmania

#3389 Fix some display issues in participant table
  components/participant_table/commons/participant_table_base.lua
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
Labels: bug, c: participant_table

#3405 Add option for map display names
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#3407 feat: add match ticker and league information to CoD Team Infobox
  components/infobox/wikis/callofduty/infobox_team_custom.lua
Labels: c: infobox, g: callofduty

#3409 feat: brawlstar and fifa now uses proper tier setup
  standard/tier/wikis/brawlstars/tier_data.lua
  standard/tier/wikis/fifa/tier_data.lua
Labels: chore

#3410 fix: zula annotations
  components/match2/wikis/zula/match_summary.lua
Labels: bug

#3411 Setup Module info for World of Tanks wiki
  standard/wikis/worldoftanks/info
Labels: c: standard, g: worldoftanks

#3415 moved wot info to correct place in file structure
  standard/info/wikis/worldoftanks/info.lua
Labels: chore

#3417 Store big match links for matches with a big match
  components/match2/commons/match_group_input.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
Labels: c: match2, g: leagueoflegends

#3416 Add MatchTicker to FIFA Team Infobox
  components/infobox/wikis/fifa/infobox_team_custom.lua
Labels: enhancement, c: infobox, g: fifa

#3418 Add option to force non raceTable display
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
Labels: g: starcraft, c: participant_table

#3419 Saving release date into the date field
  components/infobox/wikis/mobilelegends/infobox_hero_custom.lua
Labels: c: infobox, g: mobilelegends, f: lpdb

#3423 Allow teamStyle option for default MS headers
  components/match2/commons/match_summary_base.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/warcraft/match_summary.lua
Labels: c: match2

#3421 Add Spotify and Apple Podcasts links & icons
  standard/links/commons/links.lua
Labels: c: standard

#3426 Add rgl link support
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
Labels: c: standard

#3420 Add warcraft match1 to macth2 legacy wrapper for brackets
  components/match2/wikis/warcraft/legacy/match_group_legacy_convert_map_data.lua
  components/match2/wikis/warcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: c: match2, g: warcraft

#3435 Add `etf2l` link
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
Labels: chore, c: standard

#3429 Catch winner in legacy processing
  components/match2/commons/match_group_legacy.lua
Labels: bug, c: match2

#3436 Parameter update for `|score1=|score2=`
  components/match2/wikis/rainbowsix/get_match_group_copy_paste_wiki.lua
Labels: g: rainbow six, c: match2

#3437 Add PlayerTeamAuto to AOV Infobox player
  components/infobox/wikis/arenaofvalor/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: arenaofvalor

#3441 Added "specialRoles = true" for TeamHistoryAuto
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
Labels: g: rainbow six, c: infobox

#3442 Call correct opponentDisplay in warcraft BracketOpponentEntry
  components/opponent/wikis/warcraft/opponent_display_custom.lua
Labels: bug, g: warcraft, c: opponent

#3430 Fix typos in warcraft `MatchGroup/Legacy/Default`
  components/match2/wikis/warcraft/legacy/match_group_legacy_default.lua
Labels: bug, c: match2, g: warcraft

#3424 Improve `readEntry` of participantsTables
  components/participant_table/commons/participant_table_base.lua
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
  components/participant_table/wikis/warcraft/participant_table_custom.lua
Labels: bug, c: participant_table

#3427 Add warcraft wrapper for legacy match lists
  components/match2/wikis/warcraft/legacy/legacy_match_maps.lua
  standard/page_variable_namespace.lua
Labels: c: match2, g: warcraft

#3446 feat: infobox patch and infobox version for dota2
  components/infobox/commons/infobox_patch.lua
  components/infobox/wikis/dota2/infobox_patch_custom.lua
Labels: c: infobox, g: dota2

#3450 Add tftv link
  standard/links/commons/links.lua
Labels: chore, c: standard

#3444 Custom Infobox Unit Car for Formula 1 wiki
  components/infobox/wikis/formula1/infobox_unit_car.lua
Labels: c: infobox, s: formula1
