Repository Liquipedia/Lua-Modules, pull requests merged in 2023-07, with the labels that each got.

#3090 Fix some PlayerIntro issues
  components/infobox/extensions/commons/player_introduction.lua
Labels: bug, c: infobox_extensions

#3096 Add `streamer` as role to Overwatch Infobox player
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
Labels: c: infobox, g: overwatch

#3095 Pass along romanized name over localized name in brawlstars infobox player
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: brawl stars

#3097 AoE: Use unresolved map name in case of redirects
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: ageofempires

#3093 Check in 3rd organizer when conditioning on organizer
  components/tournaments_listing/commons/tournaments_listing_conditions.lua
Labels: c: tournaments_listing

#3082 Add LPDB storage to Wild Rift Items
  components/infobox/wikis/wildrift/infobox_item_custom.lua
Labels: c: infobox, g: wildrift

#3088 Add option for extra condition input in portal players
  components/portal_players/commons/portal_players.lua
Labels: c: portal_player

#3100 Parse unix timestamp to ISO for comparison
  components/opponent/commons/player_ext.lua
Labels: bug, c: opponent

#3076 Rewrite `Module:InfoboxPlacementStats`
  components/infobox/extensions/commons/infobox_placement_stats.lua
  components/infobox/extensions/commons/placement_stats.lua
  components/infobox/extensions/commons/placement_stats_config.lua
  components/infobox/extensions/wikis/apexlegends/placement_stats_config.lua
Labels: c: infobox_extensions

#3102 Adjust Pokemon Match2 to take flags input automatically
  components/match2/wikis/pokemon/match_group_input_custom.lua
Labels: c: match2, g: pokemon

#3040 Create count.lua
  components/statistics/count.lua
Labels: c: standard

#3101 Do not import QualLose when winners are not imported
  components/prize_pool/commons/prize_pool_import.lua
Labels: c: prize_pool

#3107 Catch empty string potentially causing some errors
  components/opponent/commons/player_ext.lua
Labels: bug, chore, c: opponent

#3112 Remove `'not player'` storage in status field
  components/infobox/wikis/starcraft2/infobox_person_custom_shared.lua
Labels: bug, g: starcraft, c: infobox

#3113 Add support for Strikr within Links
  standard/links/commons/links.lua
Labels: c: infobox

#3108 Convert `individualprizemoney` from string to number to avoid comparing string with number
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: bug, g: starcraft, c: infobox

#3105 Add `vod` support to `Module:Links`
  standard/links/commons/links.lua
Labels: c: standard

#3117 Sort maps alphab in Valorant infobox league
  components/infobox/wikis/valorant/infobox_league_custom.lua
Labels: g: valorant, c: infobox

#2679 AoE: Adjust notability config to new tier/tiertypes
  components/notability/wikis/ageofempires/notability_checker_config.lua
Labels: g: ageofempires, c: notability

#3119 Add filter to remove cancelled/postponed tournaments
  components/statistics/count.lua
Labels: c: statistics

#3120 Store `liquipediatiertype2` on RL Match2 extradata
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: g: rocket league, c: match2

#3121 Change annotations to account for default tables
  components/statistics/count.lua
Labels: documentation, c: statistics

#3127 Update opl icon in R6 matchSummary
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2, chore

#3064 Fix anno warning in `Module:Tier/Utils`
  standard/tier/commons/tier_utils.lua
Labels: chore, c: standard

#3128 Fix some annotation
  components/opponent/commons/opponent_display.lua
  standard/class.lua
  standard/error_ext.lua
  standard/lpdb/condition.lua
Labels: chore

#3123 Create Team ELO Ratings
  components/infobox/extensions/wikis/rocketleague/team_ranking.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/ratings/ratings.lua
  components/ratings/ratings_display.lua
  standard/date_ext.lua
  standard/test/date_ext_test.lua
Labels: c: ratings

#3131 Fix import of DateExt in Ratings
  components/ratings/ratings.lua
  components/ratings/ratings_display.lua
Labels: bug, c: ratings

#3133 Fix RL solo opponent parsing in legacy brackets
  components/match2/wikis/rocketleague/legacy/match_group_legacy_default.lua
Labels: bug, g: rocket league, c: match2

#3062 Add `wrapTryOrLog` and `tryOrElseLog` to `Module:Logic`
  standard/logic.lua
Labels: c: standard

#3132 Enhance sc2 costdisplay in infobox unit and building
  components/infobox/extensions/wikis/starcraft2/infobox_extension_cost_display.lua
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
Labels: g: starcraft, c: infobox

#3134 Improve ratings display
  components/ratings/ratings_display.lua
Labels: c: ratings

#3130 Fix some anno warnings
  components/broadcaster_card/commons/broadcaster_card.lua
  components/infobox/commons/infobox_person.lua
  components/infobox/extensions/commons/infobox_extensions_prize_pool.lua
  components/match2/wikis/starcraft2/match_legacy.lua
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
  standard/currency/currency.lua
  standard/date_ext.lua
  standard/game.lua
  standard/ordinal/ordinal.lua
  standard/table.lua
  standard/template.lua
Labels: chore

#3126 Add legacy match1 query support to MvpTable
  components/mvp_table/commons/mvp_table.lua
Labels: c: mvp_table

#3138 Store mvp data on aov in a sane way
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_legacy.lua
Labels: c: match2, g: arenaofvalor

#3139 Standardize mvp data
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_legacy.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/splatoon/match_legacy.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/mvp_table/commons/mvp_table.lua
Labels: c: match2, chore, c: mvp_table

#3010 Create Statistics Module
  components/statistics/portal_statistics.lua
Labels: c: statistics

#3140 Fix Match/Legacy on brawlstars and splatoon
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/splatoon/match_legacy.lua
Labels: bug, c: match2, g: brawl stars, severe, g: Splatoon

#3141 Adjust parsing of team players in matches on some wikis
  components/match2/commons/match_group_input.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: bug, g: valorant, g: rainbow six, c: match2, g: brawl stars, g: halo, g: splitgate, g: overwatch

#3144 Add missing `player.displayname` reading for brawlstars
  components/match2/wikis/brawlstars/match_group_input_custom.lua
Labels: bug, c: match2, g: brawl stars

#3145 Squad: Add roster-coach class for all roles containing coach
  components/squad/commons/squad_row.lua
Labels: enhancement, c: squad

#3142 Allow custom qual headers per qual match
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_util.lua
Labels: enhancement, c: match2

#3098 Store participantsnumber in LPDB
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/arenafps/infobox_league_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
  components/infobox/wikis/brawlhalla/infobox_league_custom.lua
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
  components/infobox/wikis/callofduty/infobox_league_custom.lua
  components/infobox/wikis/clashroyale/infobox_league_custom.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/criticalops/infobox_league_custom.lua
  components/infobox/wikis/crossfire/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/fifa/infobox_league_custom.lua
  components/infobox/wikis/fortnite/infobox_league_custom.lua
  components/infobox/wikis/freefire/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/hearthstone/infobox_league_custom.lua
  components/infobox/wikis/heroes/infobox_league_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/pokemon/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/sideswipe/infobox_league_custom.lua
  components/infobox/wikis/simracing/infobox_league_custom.lua
  components/infobox/wikis/splatoon/infobox_league_custom.lua
  components/infobox/wikis/squadrons/infobox_league_custom.lua
  components/infobox/wikis/tetris/infobox_league_custom.lua
  components/infobox/wikis/trackmania/infobox_league_custom.lua
  components/infobox/wikis/valorant/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
Labels: enhancement, c: infobox

#3143 Remove SMW Storage on sc2
  .github/PULL_REQUEST_TEMPLATE.md
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/match2/wikis/starcraft2/match_legacy.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: g: starcraft, c: infobox, c: match2

#3149 Remove smw from match2
  components/match2/commons/match.lua
  components/match2/commons/match_group_base.lua
  components/match2/wikis/arenaofvalor/match_legacy.lua
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/callofduty/match_legacy.lua
  components/match2/wikis/counterstrike/match_legacy.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/pokemon/match_legacy.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/rocketleague/match_legacy.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/valorant/big_match.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/wildrift/match_legacy.lua
Labels: c: match2, chore

#3147 Remove SMW in PPT Customs
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_award_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_custom.lua
Labels: chore, c: prize_pool
