Repository Liquipedia/Lua-Modules, pull requests merged in 2023-01, with the labels that each got.

#2276 Add `|female=` BW infobox league
  components/infobox/wikis/starcraft/infobox_league_custom.lua
Labels: c: infobox, g: broodwar

#2250 Clean up Quotationmark usage
  components/infobox/commons/infobox_league.lua
  components/infobox/extensions/commons/years_active_base.lua
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
  components/match2/commons/match_group_input.lua
  components/match2/test/match_test_config.lua
  components/match2/wikis/arenaofvalor/match_legacy.lua
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/callofduty/match_legacy.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/pokemon/match_legacy.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy_store.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/rocketleague/legacy/match_group_legacy_default.lua
  components/match2/wikis/rocketleague/match_legacy.lua
  components/match2/wikis/splatoon/match_legacy.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy_default.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/valorant/match_summary.lua
  components/notability/commons/notability_checker.lua
  components/notability/wikis/rocketleague/notability_checker_config.lua
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
  components/squad/commons/squad_row.lua
  components/squad/test/squad_test.lua
  components/squad/wikis/ageofempires/squad_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
  standard/flags_master_data.lua
  standard/lpdb/condition.lua
  standard/test/locale_test.lua
  standard/tournaments_summary_table/commons/tournaments_summary_table.lua
  standard/tournaments_summary_table/wikis/starcraft2/tournaments_summary_table_custom.lua
Labels: chore

#2281 Update `|female=` handling on BW
  components/infobox/wikis/starcraft/infobox_league_custom.lua
Labels: c: infobox, g: broodwar

#2274 Add Streamer role
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
Labels: c: infobox, g: leagueoflegends

#2252 Add `BrktsWikiSpecific` for Clash Royale
  components/match2/wikis/clashroyale/brkts_wiki_specific.lua
Labels: c: match2, g: clashroyale

#2270 Add APAC, LAN & LAS flags
  standard/flags_master_data.lua
Labels: c: standard

#2242 Added correct link for NE Asia region flag
  standard/flags_master_data.lua
Labels: c: standard

#2226 Add input for Casters in MLBB Match2
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_summary.lua
Labels: enhancement, c: match2, g: mobilelegends

#2256 Avoid showing empty player syntax in PlayerDisplay
  components/match2/commons/player_display.lua
Labels: c: opponent

#2283 Fix Incorrect Magic Header for Brkts ClashRoyale
  components/match2/wikis/clashroyale/brkts_wiki_specific.lua
Labels: c: match2, g: clashroyale

#2278 Remove Deprecated Module:Localisation
  standard/localisation.lua
Labels: chore, c: standard

#2279 Fix logic issue in R6's hasDetails determination
  components/match2/wikis/rainbowsix/brkts_wiki_specific.lua
Labels: g: rainbow six, c: match2

#2284 Have Imports of `Brkts/WikiSpec` use DevFlag if Enabled
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/match_group_legacy.lua
  components/match2/commons/match_subobjects.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: c: match2, chore

#2275 Add funcationity to get the `DisplayName` of a NameSpaceId
  standard/namespace.lua
  standard/test/namespace_test.lua
Labels: c: standard, t: standard

#2285 RL Squads: Set objectname based on `link`
  components/squad/wikis/rocketleague/squad_custom.lua
Labels: g: rocket league, c: squad

#2287 Update notability thresholds for AoE
  components/notability/wikis/ageofempires/notability_checker_config.lua
Labels: g: ageofempires, c: notability

#2280 Match prop definition and usage for OpponentDisplay.InlineOpponent
  components/opponent/commons/opponent_display.lua
  standard/test/opponent_display_test.lua
Labels: c: opponent

#2243 Create HDB for Halo
  components/hidden_data_box/wikis/halo/hidden_data_box_custom.lua
Labels: g: halo, c: hidden_data_box

#2289 Store platform into Apex's lpdb tournament
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
Labels: c: infobox, g: apex

#2290 Adjust default `MatchHasDetails` behavior
  components/match2/commons/brkts_wiki_specific.lua
  components/match2/commons/match_group_display_helper.lua
Labels: c: match2, chore

#2291 CleanUp `Module:Brkts/WikiSpecific` on several wikis
  components/match2/wikis/brawlstars/brkts_wiki_specific.lua
  components/match2/wikis/callofduty/brkts_wiki_specific.lua
  components/match2/wikis/clashroyale/brkts_wiki_specific.lua
  components/match2/wikis/counterstrike/brkts_wiki_specific.lua
  components/match2/wikis/dota2/brkts_wikispecific.lua
  components/match2/wikis/halo/brkts_wiki_specific.lua
  components/match2/wikis/leagueoflegends/brkts_wikispecific.lua
  components/match2/wikis/overwatch/brkts_wiki_specific.lua
  components/match2/wikis/rainbowsix/brkts_wiki_specific.lua
  components/match2/wikis/splatoon/brkts_wiki_specific.lua
  components/match2/wikis/splitgate/brkts_wiki_specific.lua
  components/match2/wikis/valorant/brkts_wiki_specific.lua
Labels: c: match2, chore

#2292 Create isArray standard function
  standard/array.lua
  standard/test/array_test.lua
Labels: c: standard, t: standard

#2237 Create a Template Engine
  standard/template_engine.lua
  standard/test/template_engine_test.lua
Labels: c: standard, t: standard

#2199 Highlight and show icon for Psyonix events in RL
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: g: rocket league, c: infobox

#2223 Add data callback functionality to LPDB Mock
  standard/mock/mock_lpdb.lua
Labels: chore

#2220 Apply #763 and #1032 to OW
  components/match2/wikis/overwatch/match_group_input_custom.lua
Labels: c: match2, g: overwatch

#2262 Add `OpponentDisplay/Custom` for trackmania
  components/opponent/wikis/trackmania/opponent_display_custom.lua
Labels: g: trackmania, c: opponent

#2263 Change `Info` module to use good Opponent and OpponentDisplay libraries
  standard/info/wikis/trackmania/info.lua
Labels: g: trackmania, c: opponent

#2282 Add prizepoints and minimumsecured to OW
  components/prize_pool/wikis/overwatch/prize_pool_custom.lua
Labels: g: overwatch, c: prize_pool

#2272 Add `PrizePool/Custom` for trackmania
  components/prize_pool/wikis/trackmania/prize_pool_custom.lua
Labels: c: prize_pool, g: trackmania

#2294 Remove unneeded CSS inline
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2, g: counter-strike, g: dota2, g: leagueoflegends

#2295 Remove redundant lpdb_datapoint storage in SC2 team infobox
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox, chore

#2297 Make Infobox Company more customizable
  components/infobox/commons/infobox_company.lua
Labels: c: infobox

#2304 Add support for steam2
  standard/links/commons/links.lua
Labels: c: infobox

#2306 Fix: Customizable inside Builder failing
  components/infobox/commons/infobox_widget_builder.lua
Labels: bug, c: infobox

#2307 Make the cell inside `earnings` customizable
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#2308 Update the Earning's Cell Title on CS
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
Labels: c: infobox, g: counter-strike

#2316 Fix handling of double qualified in UB Finals(PPT Import)
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#2309 Update Series Infobox to allow for removal of wikicode in templates
  components/infobox/wikis/starcraft/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: g: starcraft, c: infobox, chore, g: broodwar

#2293 Store player's additional teams in extradata
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#2320 Add CSS Class to header row of PPT
  components/prize_pool/commons/prize_pool.lua
Labels: c: prize_pool

#2296 Create Custom Opponent module for CR
  components/opponent/wikis/clashroyale/opponent_custom.lua
  standard/info/wikis/clashroyale/info.lua
Labels: c: opponent, g: clashroyale

#2325 Update query conditions for SC's tournaments summary table
  standard/tournaments_summary_table/wikis/starcraft2/tournaments_summary_table_custom.lua
Labels: g: starcraft, c: standard

#2298 Create Custom Company Infobox for CS
  components/infobox/wikis/counterstrike/infobox_company_custom.lua
Labels: c: infobox, g: counter-strike

#2299 Create Company Infobox for WC
  components/infobox/wikis/warcraft/infobox_company_custom.lua
Labels: c: infobox, g: warcraft

#2300 Create Company Infobox for WoW
  components/infobox/wikis/worldofwarcraft/infobox_company_custom.lua
Labels: c: infobox, g: worldofwarcraft

#2301 Create Company Infobox for FIFA
  components/infobox/wikis/fifa/infobox_company_custom.lua
Labels: c: infobox, g: fifa

#2302 Create Company Infobox for HS
  components/infobox/wikis/hearthstone/infobox_company_custom.lua
Labels: c: infobox, g: hearthstone

#2303 Create Company Infobox for teamfortress
  components/infobox/wikis/teamfortress/infobox_company_custom.lua
Labels: c: infobox, g: teamfortress

#2327 Create Company Infobox for dota2
  components/infobox/wikis/dota2/infobox_company_custom.lua
Labels: c: infobox, g: dota2

#2329 Have showLink default off for Bracket Players
  components/opponent/commons/opponent_display.lua
  components/opponent/wikis/rocketleague/opponent_display_custom.lua
Labels: c: opponent

#2273 Add `MatchGroup/Input/Custom` to trackmania
  components/match2/wikis/trackmania/match_group_input_custom.lua
Labels: c: match2, g: trackmania

#2251 Add `MatchGroup Bracket` and `Opponent Display` custom for Clash Royale
  components/match2/wikis/clashroyale/match_group_display_bracket_custom.lua
  components/match2/wikis/clashroyale/opponent_display_custom.lua
  standard/info/wikis/clashroyale/info.lua
Labels: c: match2, c: opponent, g: clashroyale

#2246 Update default Team Logos for Clash Royale
  standard/info/wikis/clashroyale/info.lua
Labels: c: standard, g: clashroyale

#2245 RL: Replace Octane links with Shift
  components/match2/test/match_test_config.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_summary.lua
  standard/links/commons/links.lua
Labels: g: rocket league, c: infobox, c: match2

#2230 Create sc2 custom for results table
  components/results_table/wikis/starcraft2/results_table_custom.lua
Labels: g: starcraft, c: results_table

#2335 Added link support for Infobox/Game
  components/infobox/commons/infobox_game.lua
Labels: c: infobox

#2312 Add `MatchSummary` for trackmania
  components/match2/wikis/trackmania/match_summary.lua
Labels: c: match2, g: trackmania

#2339 Fix MatchGroup Input Custom crashing if opponent.template does not exist
  components/match2/wikis/trackmania/match_group_input_custom.lua
Labels: c: match2, g: trackmania

#2337 Fix ppt header test
  components/prize_pool/test/prize_pool_test.lua
Labels: chore, t: prize_pool

#2340 Clean up Prize Pool Rows
  components/prize_pool/commons/prize_pool.lua
  components/widget/widget_table.lua
Labels: c: prize_pool

#2342 Fix PrizePool Table Crash
  components/prize_pool/commons/prize_pool.lua
  standard/array.lua
Labels: bug, c: prize_pool

#2348 Catch Edge Case player input in sc/sc2 legacy ppt
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#2350 SC: Replace featured storage with publishertier storage
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2, chore, g: broodwar

#2349 Remove usage of extradata.featured in SC2 HDB
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
Labels: g: starcraft, chore, c: hidden_data_box

#2323 Add non team stuff to cr match input custom
  components/match2/wikis/clashroyale/match_group_input_custom.lua
Labels: c: match2, g: clashroyale

#2353 Add BS PPT Legacy Custom
  components/prize_pool/wikis/brawlstars/prize_pool_legacy_custom.lua
Labels: g: brawl stars, c: prize_pool

#2336 Adjust Links.transform
  standard/links/commons/links.lua
Labels: enhancement, c: standard

#2345 Add `Table.filterByKey`
  standard/table.lua
  standard/test/table_test.lua
Labels: c: standard, t: standard

#2346 Adjust `Table.mapArguments`
  standard/table.lua
  standard/test/table_test.lua
Labels: c: standard, t: standard

#2347 Fix match2 error when player.name is nil
  components/match2/wikis/trackmania/match_group_input_custom.lua
Labels: bug, c: match2, g: trackmania

#2358 Create Infobox Team for Team Fortress
  components/infobox/wikis/teamfortress/infobox_team_custom.lua
Labels: c: infobox, g: teamfortress

#2357 Add `coach` as valid input to lpdb in Team Infobox
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#2364 Fix annotation in Results Table
  components/results_table/commons/results_table.lua
Labels: c: results_table

#2311 Halo PrizePool Custom
  components/prize_pool/wikis/halo/prize_pool_custom.lua
Labels: g: halo, c: prize_pool

#2363 Fix incorrect named files
  components/infobox/commons/infobox_widget_all.lua
  standard/links_stream.lua
  standard/test/format_table_test.lua
  standard/test/text_sanitizer_test.lua
Labels: chore

#2362 Remove unused Infobox module
  components/infobox/commons/infobox_cell.lua
Labels: chore

#2343 Add BS PPT Custom
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
Labels: g: brawl stars, c: prize_pool

#2367 Bug fix for Halo Prize Pool
  components/prize_pool/wikis/halo/prize_pool_custom.lua
Labels: bug, g: halo, c: prize_pool

#2366 Fix bs ppt to error due to missing key
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
Labels: bug, g: brawl stars, c: prize_pool

#2370 Fix plural demonym in `Flags/MasterData`
  standard/flags_master_data.lua
Labels: bug, chore, c: standard

#2368 Catch nil in BS PPT Custom
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
Labels: bug, g: brawl stars, c: prize_pool

#2356 Delete BS PPT Legacy Custom
  components/prize_pool/wikis/brawlstars/prize_pool_legacy_custom.lua
Labels: chore, g: brawl stars, c: prize_pool

#2354 Remove Psyonix logo from RL League Infobox
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: g: rocket league, c: infobox

#2371 Adjust placement condition in ResultsTable
  components/results_table/commons/results_table_base.lua
Labels: bug, c: results_table

#2369 Add `|count=` support in slots
  components/prize_pool/commons/prize_pool_placement.lua
Labels: c: prize_pool

#2365 Create annotations for Scribunto libraries
  definitions/mw.lua
Labels: chore

#2319 Handle `points=q` as qualifier instead of freetext
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: enhancement, c: prize_pool

#2373 Create Team Infobox for Heroes
  components/infobox/wikis/heroes/infobox_team_custom.lua
Labels: c: infobox, g: heroes

#2375 Fix return value in the Annotation of `Table.map`
  standard/table.lua
Labels: bug, chore

#2381 Make dates display customizable in infobox league
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#2382 Strip the `format` field of HTML in lpdb_tournament
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#2383 Remove aggressive category setting
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: bug, c: prize_pool

#2389 Add warcraft link overwrite data
  standard/links/wikis/warcraft/links_custom_data.lua
Labels: c: standard, g: warcraft

#2344 RL: Add "hasopponents" to RL match extradata
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: g: rocket league, c: match2

#2385 Create Team Infobox for Age of Empires
  components/infobox/wikis/ageofempires/infobox_team_custom.lua
Labels: c: infobox, g: ageofempires

#2387 Fix default history behaviour
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
Labels: c: infobox, g: leagueoflegends

#2403 Add BTN to Currency Data
  standard/currency/currency_data.lua
Labels: c: standard

#2372 Add `role` as part of the SquadPlayer objectname
  components/squad/wikis/ageofempires/squad_custom.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/pubg/squad_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/trackmania/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: c: squad

#2393 Remove unused field in Infobox Cell Widget
  components/infobox/commons/infobox_widget_cell.lua
Labels: c: infobox

#2392 Add commons Faction module
  components/faction/commons/faction.lua
Labels: c: faction

#2388 Automate game display for teams
  components/infobox/wikis/ageofempires/infobox_team_custom.lua
Labels: c: infobox, g: ageofempires

#2412 Use OpponentDisplay for rending squad tables
  components/squad/commons/squad_row.lua
Labels: c: squad

#2413 feat: add extradata storage for LoL squads
  components/squad/commons/squad_row.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
Labels: c: squad, g: leagueoflegends

#2386 Add infobox league for warcraft
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#2418 Fix inline issue with Squad Table Display
  components/squad/commons/squad_row.lua
Labels: bug, c: squad

#2419 Re-add missing bracket around newteamrole
  components/squad/commons/squad_row.lua
Labels: bug, c: squad

#2379 General refactor of R6's M2 Input Parsing
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
Labels: g: rainbow six, c: match2

#2420 `requireDevIfEnabled` for Squad Modules
  components/squad/wikis/ageofempires/squad_custom.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/pubg/squad_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/trackmania/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: chore, c: squad

#2410 refactor: remove redundant parameters of the SquadRow Constructor
  components/squad/commons/squad_row.lua
  components/squad/wikis/ageofempires/squad_custom.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/pubg/squad_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/trackmania/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: c: squad

#2409 Remove Octane
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  standard/links/commons/links.lua
Labels: g: rocket league, c: infobox, c: standard

#2425 Fix autopatch dates in sc2 infobox league
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#2415 Improvements for MatchSummary in Trackmania
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_summary.lua
Labels: c: match2, g: trackmania

#2427 Remove prefix website
  standard/links/commons/links.lua
Labels: bug, c: standard

#2394 Add Faction Data
  components/faction/commons/starcraft_starcraft2/faction_data_starcraft.lua
  components/faction/wikis/starcraft/faction_data.lua
  components/faction/wikis/starcraft/faction_icon_data.lua
  components/faction/wikis/starcraft2/faction_data.lua
  components/faction/wikis/starcraft2/faction_icon_data.lua
  components/faction/wikis/warcraft/faction_data.lua
  components/faction/wikis/warcraft/faction_icon_data.lua
Labels: g: starcraft, g: warcraft, g: broodwar, c: faction

#2407 PUBGMobile: Create Infobox/Map/Custom
  components/infobox/wikis/pubgmobile/infobox_map_custom.lua
Labels: c: infobox, g: pubgmobile

#875 Move `Infobox/Person/User` to `Infobox/Person/User/Custom`
  components/infobox/wikis/starcraft2/infobox_person_user_custom.lua
Labels: g: starcraft, c: infobox

#2430 Update cod Module:Info
  standard/info/wikis/callofduty/info.lua
Labels: chore

#2380 Remove merged featureflags
  components/match2/commons/match.lua
  components/match2/commons/match_group_input.lua
  standard/links_stream.lua
Labels: chore

#2429 Update arenafps Module:Info
  standard/info/wikis/arenafps/info.lua
Labels: chore

#2428 Allow lastvsXlink/lastvspageX in Legacy PPT
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#2416 Add more customization options in PPT Legacy
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: c: prize_pool

#2395 Make use of #2392 and #2394 in the sc/sc2 opponent modules
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/opponent/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: g: starcraft, g: broodwar, c: opponent, c: faction

#2391 Add TournamentsSummaryTable for warcraft
  standard/tournaments_summary_table/wikis/warcraft/tournaments_summary_table_custom.lua
Labels: c: standard, g: warcraft

#2390 Add WT Points integration in prize pools
  components/prize_pool/wikis/trackmania/prize_pool_custom.lua
Labels: c: prize_pool, g: trackmania

#2437 Add CR `Module:Player/Ext/Custom`
  components/match2/wikis/clashroyale/player_ext_custom.lua
Labels: c: match2, g: clashroyale

#2421 Support "Publisher" in Infobox/Game
  components/infobox/commons/infobox_game.lua
Labels: c: infobox

#2334 Prepare Module:Links for usage in Module:Streams [Part 1]
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox, chore, c: standard

#2441 Remove redundant `rules2`, `rulebook` and `rulebook2`
  standard/links/commons/links.lua
Labels: chore, c: standard

#2448 Overwrite challonge link prefix on WC
  standard/links/wikis/warcraft/links_custom_data.lua
Labels: bug, c: standard, g: warcraft

#2444 Return self instead of nil in Resultstable base
  components/results_table/commons/results_table_base.lua
Labels: bug, c: results_table

#2445 Move CR OpponentDIsplay Module to correct folder
  components/opponent/wikis/clashroyale/opponent_display_custom.lua
Labels: chore

#2438 Remove redundant wiki-custom Player modules
  components/match2/commons/player_ext.lua
  components/match2/wikis/ageofempires/player_ext_custom.lua
  components/match2/wikis/clashroyale/player_ext_custom.lua
  components/match2/wikis/fortnite/player_ext_custom.lua
  components/opponent/wikis/ageofempires/opponent_custom.lua
  components/opponent/wikis/clashroyale/opponent_custom.lua
  components/opponent/wikis/fortnite/opponent_custom.lua
Labels: chore

#2443 Add nil check in WC infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: bug, c: infobox, g: warcraft

#2451 pubgmobile: create notability checker config file
  components/notability/wikis/pubgmobile/notability_checker_config.lua
Labels: c: notability, g: pubgmobile

#2310 Halo Squad Custom
  components/squad/wikis/halo/squad_custom.lua
Labels: g: halo, c: squad

#2449 Adjust participants number handling in WC infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#2442 Add Faction.readMultiFaction
  components/faction/commons/faction.lua
Labels: c: faction

#2440 Refactor race/faction in infoboxes [part 1]
  components/infobox/wikis/starcraft/infobox_league_custom.lua
  components/infobox/wikis/starcraft/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
  components/infobox/wikis/starcraft2/infobox_unofficial_world_champion_custom.lua
Labels: g: starcraft, c: infobox, chore, g: broodwar

#2454 Faction: Fix return value in edge case
  components/faction/commons/faction.lua
Labels: bug, c: faction

#2456 Refactor Race/Faction in sc2 squads
  components/squad/wikis/starcraft2/squad_custom.lua
Labels: g: starcraft, c: squad

#2439 Refactor sc/sc2 match2 Race/Faction handling
  components/match2/commons/starcraft_starcraft2/match_group_display_bracket_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_display_starcraft.lua
  components/match2/commons/starcraft_starcraft2/player_ext_starcraft.lua
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
Labels: g: starcraft, c: match2, chore, g: broodwar

#2197 Add `games` data to Module:Info
  standard/info/commons/info.lua
  standard/info/wikis/ageofempires/info.lua
  standard/info/wikis/apexlegends/info.lua
  standard/info/wikis/arenafps/info.lua
  standard/info/wikis/arenaofvalor/info.lua
  standard/info/wikis/artifact/info.lua
  standard/info/wikis/autochess/info.lua
  standard/info/wikis/battalion/info.lua
  standard/info/wikis/battlerite/info.lua
  standard/info/wikis/brawlstars/info.lua
  standard/info/wikis/callofduty/info.lua
  standard/info/wikis/clashroyale/info.lua
  standard/info/wikis/counterstrike/info.lua
  standard/info/wikis/criticalops/info.lua
  standard/info/wikis/dota2/info.lua
  standard/info/wikis/fifa/info.lua
  standard/info/wikis/fighters/info.lua
  standard/info/wikis/fortnite/info.lua
  standard/info/wikis/freefire/info.lua
  standard/info/wikis/halo/info.lua
  standard/info/wikis/hearthstone/info.lua
  standard/info/wikis/heroes/info.lua
  standard/info/wikis/leagueoflegends/info.lua
  standard/info/wikis/magic/info.lua
  standard/info/wikis/mobilelegends/info.lua
  standard/info/wikis/naraka/info.lua
  standard/info/wikis/overwatch/info.lua
  standard/info/wikis/paladins/info.lua
  standard/info/wikis/pokemon/info.lua
  standard/info/wikis/pubg/info.lua
  standard/info/wikis/pubgmobile/info.lua
  standard/info/wikis/rainbowsix/info.lua
  standard/info/wikis/rocketleague/info.lua
  standard/info/wikis/runeterra/info.lua
  standard/info/wikis/sideswipe/info.lua
  standard/info/wikis/simracing/info.lua
  standard/info/wikis/smash/info.lua
  standard/info/wikis/splatoon/info.lua
  standard/info/wikis/splitgate/info.lua
  standard/info/wikis/squadrons/info.lua
  standard/info/wikis/starcraft/info.lua
  standard/info/wikis/starcraft2/info.lua
  standard/info/wikis/teamfortress/info.lua
  standard/info/wikis/tft/info.lua
  standard/info/wikis/trackmania/info.lua
  standard/info/wikis/underlords/info.lua
  standard/info/wikis/valorant/info.lua
  standard/info/wikis/warcraft/info.lua
  standard/info/wikis/wildrift/info.lua
  standard/info/wikis/worldofwarcraft/info.lua
Labels: chore

#2462 Fix anotation typo in Faction module
  components/faction/commons/faction.lua
Labels: chore, c: faction

#2452 pubgmobile: create infobox team custom
  components/infobox/wikis/pubgmobile/infobox_team_custom.lua
Labels: c: infobox, g: pubgmobile

#2468 pubgmobile: Fix incorrect function definition
  components/infobox/wikis/pubgmobile/infobox_map_custom.lua
Labels: c: infobox, g: pubgmobile

#2469 pubgmobile: removed redundant function override
  components/infobox/wikis/pubgmobile/infobox_team_custom.lua
Labels: c: infobox, g: pubgmobile

#2453 pubgmobile: add wikivars for extradata
  components/prize_pool/wikis/pubgmobile/prize_pool_custom.lua
Labels: g: pubgmobile, c: prize_pool

#2471 Fix timezone var in WC infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: bug, c: infobox, g: warcraft

#2352 Add stage `importLimits`, `importWinners`, & `groupElimStatuses` to PPT Import
  components/prize_pool/commons/prize_pool_import.lua
Labels: enhancement, c: prize_pool
