Repository Liquipedia/Lua-Modules, pull requests merged in 2023-04, with the labels that each got.

#2816 Adjust participantsnumber handling in wc infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#2817 Create HDB for Splatoon
  components/hidden_data_box/wikis/splatoon/hidden_data_box_custom.lua
Labels: c: hidden_data_box, g: Splatoon

#2818 Create HDB for Pokemon
  components/hidden_data_box/wikis/pokemon/hidden_data_box_custom.lua
Labels: c: hidden_data_box, g: pokemon

#2819 Create HDB for TF
  components/hidden_data_box/wikis/teamfortress/hidden_data_box_custom.lua
Labels: c: hidden_data_box, g: teamfortress

#2823 Create HDB for Hearthstone
  components/hidden_data_box/wikis/hearthstone/hidden_data_box_custom.lua
Labels: c: hidden_data_box, g: hearthstone

#2824 Create HDB custom for Squadrons
  components/hidden_data_box/wikis/squadrons/hidden_data_box_custom.lua
Labels: c: hidden_data_box, g: squadrons

#2825 Create HDB for Simracing
  components/hidden_data_box/wikis/simracing/hidden_data_box_custom.lua
Labels: c: hidden_data_box, g: simracing

#2827 Create HDB for Freefire
  components/hidden_data_box/wikis/freefire/hidden_data_box_custom.lua
Labels: c: hidden_data_box, g:freefire

#2829 Create HDB for PUBG
  components/hidden_data_box/wikis/pubg/hidden_data_box_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
Labels: g: pubg, c: hidden_data_box

#2802 Add defaultRoundPrecision data to info modules
  standard/info/wikis/apexlegends/info.lua
  standard/info/wikis/brawlstars/info.lua
  standard/info/wikis/callofduty/info.lua
  standard/info/wikis/crossfire/info.lua
  standard/info/wikis/dota2/info.lua
  standard/info/wikis/fifa/info.lua
  standard/info/wikis/freefire/info.lua
  standard/info/wikis/heroes/info.lua
  standard/info/wikis/leagueoflegends/info.lua
  standard/info/wikis/pubg/info.lua
  standard/info/wikis/pubgmobile/info.lua
  standard/info/wikis/rainbowsix/info.lua
  standard/info/wikis/splitgate/info.lua
  standard/info/wikis/tft/info.lua
Labels: g: rainbow six, g: brawl stars, c: standard, g: pubg, g: dota2, g: apex, g: sideswipe, g: leagueoflegends, g: pubgmobile, g: tft, g: crossfire, g:freefire, g: callofduty, g: fifa, g: heroes

#2832 Add mixteam/nationalteam storage to CS Infobox team
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
Labels: c: infobox, g: counter-strike

#2750 Add `HighlightConditions` Modules
  standard/highlight_conditions/commons/highlight_conditions.lua
  standard/highlight_conditions/wikis/apexlegends/highlight_conditions.lua
  standard/highlight_conditions/wikis/dota2/highlight_conditions.lua
  standard/highlight_conditions/wikis/overwatch/highlight_conditions.lua
  standard/highlight_conditions/wikis/valorant/highlight_conditions.lua
Labels: c: standard

#2820 Remove legacy wiki variables
  components/prize_pool/commons/prize_pool_base.lua
  components/team_card/team_card_storage.lua
Labels: c: team_card, c: prize_pool

#2787 Fix venue display for (wikipedia) interwiki links
  components/infobox/commons/infobox_league.lua
Labels: bug, c: infobox

#2831 CS HDB: Move logic from Template to Module
  components/hidden_data_box/wikis/counterstrike/hidden_data_box_custom.lua
Labels: g: counter-strike, c: hidden_data_box

#2833 Adjust highlighting in results and awards tables
  components/results_table/commons/results_table_award.lua
  components/results_table/commons/results_table_base.lua
Labels: c: results_table

#2834 Add 1 missing platform in FIFA Infobox League
  components/infobox/wikis/fifa/infobox_league_custom.lua
Labels: c: infobox, g: fifa

#2837 Fix `by_linkX` in display in externalmedialink
  components/external_media_links/external_media_link.lua
Labels: bug, c: external_media_links

#2838 Fix filenames in sc2 infobox building
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
Labels: bug, g: starcraft, c: infobox

#2835 Add status to Squad extradata for smash
  components/squad/wikis/smash/squad_custom.lua
Labels: c: squad, g: smash

#2844 Add niconico to Links
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox, c: standard

#2846 Add Link to Game cell if there's an existing page
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: c: infobox, g: fighters

#2845 AoE: Do not link tiers in infobox series
  components/infobox/wikis/ageofempires/infobox_series_custom.lua
Labels: bug, c: infobox, g: ageofempires

#2851 Delete GroupTableLeague from repo
  components/group_table_league/commons/group_table_league_next.lua
  components/group_table_league/commons/group_table_league_starcraft_next.lua
  components/group_table_league/commons/group_table_league_util.lua
Labels: chore, c: group_table_league

#2848 Move date functions from TournamentUtil to DateExt
  standard/date_ext.lua
  standard/test/date_ext_test.lua
Labels: c: standard

#2604 Add WC custom handling for Team/Indiv Category
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#2856 Fix warcraft infobox league mode category handling
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: bug, c: infobox, g: warcraft

#2855 Name adjustments in Tetris Info Module
  standard/info/wikis/tetris/info.lua
Labels: c: standard, g: tetris

#2839 Save placement date to variable to be retrieved in TeamCards
  components/prize_pool/commons/prize_pool_base.lua
  components/team_card/team_card_storage.lua
Labels: c: team_card, c: prize_pool

#2841 Apex: Standardise highlight conditions into publishertier field
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
Labels: c: infobox, g: apex

#2859 Apex: Update publishertier storage in prizepool
  components/prize_pool/wikis/apexlegends/prize_pool_custom.lua
Labels: g: apex, c: prize_pool

#2858 Add realname storage with `:id` in addition to `:name`
  components/squad/commons/squad_row.lua
Labels: c: squad

#2861 Add `publishertier` default storage on prize pools
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_award_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
  components/prize_pool/wikis/apexlegends/prize_pool_custom.lua
  components/prize_pool/wikis/mobilelegends/prize_pool_custom.lua
  components/prize_pool/wikis/pokemon/prize_pool_custom.lua
Labels: c: prize_pool

#2870 Make Results column in results tables unsortable
  components/results_table/commons/results_table.lua
Labels: c: results_table

#2869 Remove force rounding in results and awards tables
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_award.lua
Labels: c: results_table

#2868 Fix sortbottom in resultstables
  components/results_table/commons/results_table_base.lua
Labels: bug, c: results_table

#2867 Adjust group abbr display
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_base.lua
Labels: c: results_table

#2863 Adjust display in `formatMoney` for zero and non numeric values to dash
  standard/currency/currency.lua
  standard/test/currency_test.lua
Labels: c: standard, t: standard

#2872 Add alias support for `Table.iter.pairsByPrefix`
  standard/table.lua
  standard/test/table_test.lua
Labels: c: standard, t: standard

#2875 Avoid indexing nil
  components/results_table/commons/results_table_base.lua
Labels: bug, c: results_table

#2874 Respect `disable_LPDB_storage` wiki var in core infoboxes
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#2877 Adjust SF6 icon in info module
  standard/info/wikis/fighters/info.lua
Labels: c: standard, g: fighters

#2878 Catch '0' (string) case for dash if zero in formatMoney
  standard/currency/currency.lua
  standard/test/currency_test.lua
Labels: bug, c: standard, t: standard

#2883 Updated various logos/icons within Info
  standard/info/wikis/fighters/info.lua
Labels: c: standard, g: fighters

#2885 Omit enddate for 1-day tournaments
  standard/tournaments_summary_table/commons/tournaments_summary_table.lua
Labels: enhancement, c: standard

#2884 Fix attach order bug for players in lpdb match2
  components/match2/commons/match.lua
Labels: bug, c: match2, f: lpdb

#2871 Improve include size in LeagueIcon
  standard/league_icon.lua
Labels: c: standard

#2887 Add missing `tostring`
  standard/league_icon.lua
Labels: bug, c: standard

#2879 Add option for dashIfZero to `Currency.display`
  standard/currency/currency.lua
  standard/test/currency_test.lua
Labels: c: standard, t: standard

#2880 Adjust currency display in results/awards table
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_award.lua
Labels: c: results_table

#2876 Add TournamentsSummaryTable/Custom for heroes
  standard/tournaments_summary_table/wikis/heroes/tournaments_summary_table_custom.lua
Labels: c: standard, g: heroes

#2864 Changing OW handling of leagues on team pages
  components/infobox/wikis/overwatch/infobox_team_custom.lua
Labels: c: infobox, g: overwatch

#2873 Adjust name display for qualifier fields in ppt
  components/prize_pool/commons/prize_pool_base.lua
Labels: c: prize_pool

#2893 PPT: Fallback to link
  components/prize_pool/commons/prize_pool_base.lua
Labels: bug, c: prize_pool

#2892 ExternalMediaList: Use displayname for authors
  components/external_media_links/external_media_list.lua
Labels: enhancement, c: external_media_links

#2865 Add National Teams to players for OW
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
Labels: c: infobox, g: overwatch

#2757 Adjust when prizeSummary is shown
  components/prize_pool/commons/prize_pool_base.lua
Labels: c: prize_pool

#2894 TemplateEngine: Improve non-happy path
  standard/template_engine.lua
Labels: c: standard

#2891 Use custom player in Opponent
  components/opponent/commons/opponent.lua
Labels: c: opponent

#2895 Adjust OW PPT Weight function
  components/prize_pool/wikis/overwatch/prize_pool_custom.lua
Labels: g: overwatch, c: prize_pool

#2849 Create `TournamentStructure`
  standard/tournament_structure.lua
Labels: c: standard

#2850 Adjust PPT Import according to #2849
  components/prize_pool/commons/prize_pool_import.lua
Labels: c: prize_pool

#2890 Create Operator standard lib
  standard/operator.lua
  standard/test/operator_test.lua
Labels: c: standard

#2235 BigMatch for League of Legends
  components/match2/commons/match_group_util.lua
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/leagueoflegends/big_match_template.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_links.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: c: match2, g: leagueoflegends

#2898 League BM: Rename input arg from `key` to `matchid`
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: c: match2, g: leagueoflegends

#2899 League BM: Fix issues around Empty Opponents
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/leagueoflegends/big_match_template.lua
Labels: c: match2, g: leagueoflegends

#2900 League BM: Tweak logic for popup and match showing
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/leagueoflegends/brkts_wiki_specific.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: c: match2, g: leagueoflegends

#2901 Forgot to update team2 in #2899
  components/match2/wikis/leagueoflegends/big_match_template.lua
Labels: c: match2, g: leagueoflegends

#2902 League BM: Format minutes
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: c: match2, g: leagueoflegends

#2903 League M2: Update Copytext for Reddit
  components/match2/wikis/leagueoflegends/match_links.lua
Labels: c: match2, g: leagueoflegends

#2904 League BM: Only display dates for proper dates
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: c: match2, g: leagueoflegends

#2897 Add tracking category for locationless tournaments
  components/infobox/commons/infobox_league.lua
Labels: c: infobox
