Repository Liquipedia/Lua-Modules, pull requests merged in 2023-12, with the labels that each got.

#3570 Improve `extradata_purchasedfromgoblinshop` storage in warcraft infobox item
  components/infobox/wikis/warcraft/infobox_item_custom.lua
Labels: c: infobox, g: warcraft

#3593 Add Infobox Company for F1
  components/infobox/wikis/formula1/infobox_company_custom.lua
Labels: c: infobox, s: formula1

#3628 feat: add LinkedIn links
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
Labels: c: standard

#3621 Fix hotkey class for darkmode
  stylesheets/commons/Miscellaneous.css
Labels: bug, style sheet

#3625 Fix some small anno issues
  components/infobox/wikis/clashofclans/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
Labels: chore

#3618 Catch a nil in HDB
  components/hidden_data_box/commons/hidden_data_box.lua
Labels: bug, c: hidden_data_box

#3600 Fix ppt color usage directly in td elements
  stylesheets/commons/Prizepooltable.css
Labels: bug, style sheet

#3601 Adjust some calculation for units/buildings in warcraft infoboxes
  components/infobox/extensions/wikis/warcraft/infobox_extension_building_unit_shared.lua
Labels: c: infobox, g: warcraft

#3604 Add Participant Table for Stormgate
  components/participant_table/wikis/stormgate/participant_table_custom.lua
Labels: c: participant_table, g: stormgate

#3609 fix: storage call in infobox manufacturer
  components/infobox/commons/infobox_manufacturer.lua
Labels: bug, c: infobox, s: formula1

#3610 Handle param Location in BracketMatchSummary
  components/match2/wikis/leagueoflegends/legacy/match_maps_legacy.lua
Labels: c: match2, g: leagueoflegends

#3616 Always show h2h link for standard warcraft matches
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_util_custom.lua
  components/match2/wikis/warcraft/match_summary.lua
Labels: c: match2, g: warcraft

#3606 Add info module for Stormgate
  standard/info/wikis/stormgate/info.lua
Labels: c: standard, g: stormgate

#3615 Add bahraini dinar to currency data
  standard/currency_data.lua
Labels: enhancement, c: standard, data

#3614 Allow reset match details in warcraft legacy bracket wrapper
  components/match2/wikis/warcraft/legacy/match_group_legacy_default.lua
Labels: c: match2, chore, g: warcraft

#3613 Cleanup `Module:MatchGroup/Legacy` a bit
  components/match2/commons/match_group_legacy.lua
Labels: c: match2, chore

#3612 Add custom cells to F1's Infobox League
  components/infobox/wikis/formula1/infobox_league_custom.lua
Labels: c: infobox, s: formula1

#3629 Fix an anno warning
  components/infobox/wikis/starcraft/infobox_building_custom.lua
Labels: chore

#3611 Legacy bracket for League's Match2
  components/match2/wikis/leagueoflegends/legacy/match_group_legacy_default.lua
  components/match2/wikis/leagueoflegends/legacy/match_maps_legacy.lua
Labels: c: match2, g: leagueoflegends

#3624 Simplify parts of starcraft(2) match2 and opponent modules a bit + show faction icons in brackets and flags in matchlists
  components/match2/commons/starcraft_starcraft2/match_group_display_bracket_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_matchlist_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/opponent/commons/opponent_display.lua
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
Labels: g: starcraft, c: match2, chore, c: opponent

#3439 LPDB Saving on Base Infobox Game
  components/infobox/commons/infobox_game.lua
Labels: c: infobox, f: lpdb

#3630 fix: SC(2) Opponent display in brackets
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
Labels: bug, g: starcraft, c: opponent

#3639 Fix type storage in f1 infobox player
  components/infobox/wikis/formula1/infobox_person_player_custom.lua
Labels: bug, c: infobox, s: formula1

#3584 feat: migrate region tests
  spec/region_spec.lua
  standard/test/region_test.lua
Labels: chore

#3576 feat: migrate string utils tests to busted
  definitions/mw.lua
  spec/date_ext_spec.lua
  spec/flags_spec.lua
  spec/string_utils_spec.lua
  standard/test/string_utils_test.lua
Labels: chore

#3567 feat: migrate table unit test to busted
  spec/table_spec.lua
  standard/test/table_test.lua
Labels: chore

#3634 Added automatic achievements into infobox Team
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
Labels: g: rainbow six, c: infobox

#3635 Add achievements to player infoboxes
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
Labels: g: rainbow six, c: infobox

#3626 Add stormgate hdb
  components/hidden_data_box/wikis/stormgate/hidden_data_box_custom.lua
Labels: c: hidden_data_box, g: stormgate

#3608 Add prize pool for Stormgate
  components/prize_pool/wikis/stormgate/prize_pool_award_custom.lua
  components/prize_pool/wikis/stormgate/prize_pool_custom.lua
Labels: c: prize_pool, g: stormgate

#3617 Add more Illuvium affinities and classes
  stylesheets/commons/Miscellaneous.css
Labels: style sheet

#3603 Add stormgate match support via using sc/sc2 via commons
  components/match2/wikis/stormgate/brkts_wiki_specific.lua
  components/match2/wikis/stormgate/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: stormgate

#3642 fix: make featured queryable in dota2 match2
  components/match2/wikis/dota2/match_group_input_custom.lua
Labels: bug, c: match2

#3641 Fix brawlstars winner processing
  components/match2/wikis/brawlstars/match_group_input_custom.lua
Labels: bug, c: match2, g: brawl stars

#3647 fix: do not use `stylelint-less` v3
  package.json
Labels: bug, chore

#3602 Add stormgate faction stuff
  components/faction/wikis/stormgate/faction_data.lua
  components/faction/wikis/stormgate/faction_icon_data.lua
  stylesheets/commons/Miscellaneous.css
Labels: c: faction, style sheet, g: stormgate

#3651 Fix ffa/br header expand in matchtickers
  components/match_ticker/commons/match_ticker_display_components.lua
Labels: bug, c: match_ticker

#3658 Add color inversion to vanguard icon
  stylesheets/commons/Miscellaneous.css
Labels: bug, style sheet, g: stormgate

#3657 Fix some darkmode issues with match2
  stylesheets/commons/Brackets.css
Labels: bug, style sheet

#3665 fix: anno warning
  components/match2/commons/match.lua
Labels: chore

#3664 feat: remove lrthread
  components/match2/commons/match.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_summary.lua
Labels: c: match2

#3643 feat: add match2 status in info module
  standard/info/commons/info.lua
  standard/info/wikis/ageofempires/info.lua
  standard/info/wikis/apexlegends/info.lua
  standard/info/wikis/arenafps/info.lua
  standard/info/wikis/arenaofvalor/info.lua
  standard/info/wikis/artifact/info.lua
  standard/info/wikis/autochess/info.lua
  standard/info/wikis/battalion/info.lua
  standard/info/wikis/battlerite/info.lua
  standard/info/wikis/brawlhalla/info.lua
  standard/info/wikis/brawlstars/info.lua
  standard/info/wikis/callofduty/info.lua
  standard/info/wikis/clashofclans/info.lua
  standard/info/wikis/clashroyale/info.lua
  standard/info/wikis/counterstrike/info.lua
  standard/info/wikis/criticalops/info.lua
  standard/info/wikis/crossfire/info.lua
  standard/info/wikis/dota2/info.lua
  standard/info/wikis/fifa/info.lua
  standard/info/wikis/fighters/info.lua
  standard/info/wikis/formula1/info.lua
  standard/info/wikis/fortnite/info.lua
  standard/info/wikis/freefire/info.lua
  standard/info/wikis/halo/info.lua
  standard/info/wikis/hearthstone/info.lua
  standard/info/wikis/heroes/info.lua
  standard/info/wikis/leagueoflegends/info.lua
  standard/info/wikis/magic/info.lua
  standard/info/wikis/mobilelegends/info.lua
  standard/info/wikis/naraka/info.lua
  standard/info/wikis/omegastrikers/info.lua
  standard/info/wikis/osu/info.lua
  standard/info/wikis/overwatch/info.lua
  standard/info/wikis/paladins/info.lua
  standard/info/wikis/pokemon/info.lua
  standard/info/wikis/pubg/info.lua
  standard/info/wikis/pubgmobile/info.lua
  standard/info/wikis/rainbowsix/info.lua
  standard/info/wikis/rocketleague/info.lua
  standard/info/wikis/runeterra/info.lua
  standard/info/wikis/sideswipe/info.lua
  standard/info/wikis/simracing/info.lua
  standard/info/wikis/smash/info.lua
  standard/info/wikis/splatoon/info.lua
  standard/info/wikis/splitgate/info.lua
  standard/info/wikis/squadrons/info.lua
  standard/info/wikis/starcraft/info.lua
  standard/info/wikis/starcraft2/info.lua
  standard/info/wikis/stormgate/info.lua
  standard/info/wikis/teamfortress/info.lua
  standard/info/wikis/tetris/info.lua
  standard/info/wikis/tft/info.lua
  standard/info/wikis/trackmania/info.lua
  standard/info/wikis/underlords/info.lua
  standard/info/wikis/valorant/info.lua
  standard/info/wikis/warcraft/info.lua
  standard/info/wikis/wildrift/info.lua
  standard/info/wikis/worldoftanks/info.lua
  standard/info/wikis/worldofwarcraft/info.lua
  standard/info/wikis/zula/info.lua
Labels: chore

#3645 feat(pstats): use m2 info instead of args
  components/statistics/portal_statistics.lua
Labels: c: statistics

#3598 Add Infoboxes to osu
  components/infobox/wikis/osu/infobox_league_custom.lua
  components/infobox/wikis/osu/infobox_person_player_custom.lua
  components/infobox/wikis/osu/infobox_team_custom.lua
Labels: c: infobox, g: osu

#3662 Create Map Infobox for WoT
  components/infobox/wikis/worldoftanks/infobox_map_custom.lua
Labels: c: infobox, g: worldoftanks

#3669 Prepare for killing `addCustomCells`
  components/infobox/commons/infobox_widget_customizable.lua
Labels: c: infobox

#3636 Adding Breaking Point Icon and link to Call of Duty Match2
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_summary.lua
Labels: c: match2, g: callofduty

#3667 feat(anno): add lpdb annotations classes
  components/prize_pool/commons/prize_pool_placement.lua
  definitions/liquipedia_db.lua
  definitions/mw.lua
  standard/mock/mock_lpdb.lua
Labels: chore

#3392 feat: match2 for crossfire
  components/match2/wikis/crossfire/brkts_wikispecific.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_legacy.lua
  components/match2/wikis/crossfire/match_summary.lua
Labels: c: match2, g: crossfire

#3666 fix(hdb): date fetching from parent
  components/hidden_data_box/commons/hidden_data_box.lua
Labels: c: hidden_data_box

#3519 feat: create infobox_team_custom for F1
  components/infobox/wikis/formula1/infobox_team_custom.lua
Labels: c: infobox, s: formula1

#3607 Add stormgate core infoboxes
  components/infobox/commons/infobox_league.lua
  components/infobox/extensions/commons/years_active_base.lua
  components/infobox/extensions/wikis/rocketleague/years_active.lua
  components/infobox/wikis/stormgate/infobox_league_custom.lua
  components/infobox/wikis/stormgate/infobox_person_player_custom.lua
  components/infobox/wikis/stormgate/infobox_team_custom.lua
Labels: c: infobox, g: stormgate

#3656 Add stormgate infobox map
  components/infobox/wikis/stormgate/infobox_map_custom.lua
Labels: c: infobox, g: stormgate

#3676 Add more lpdb tables to annos definitions
  definitions/liquipedia_db.lua
Labels: chore

#3655 refactor(infobox): standardize game handling in league infobox
  components/hidden_data_box/commons/hidden_data_box.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
  components/infobox/wikis/callofduty/infobox_league_custom.lua
  components/infobox/wikis/crossfire/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/pokemon/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/splatoon/infobox_league_custom.lua
  components/infobox/wikis/tetris/infobox_league_custom.lua
  components/infobox/wikis/trackmania/infobox_league_custom.lua
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
Labels: c: infobox

#3683 Force TBD maps in matches to not link
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#3681 refactor: migrate PVN tests to busted
  spec/page_variable_namespace_spec.lua
  standard/test/page_variable_namespace_test.lua
Labels: chore

#3680 refactor: migrate tier tests to busted
  spec/test_helper.lua
  spec/tier_spec.lua
  standard/test/tier_test.lua
Labels: chore

#3574 refactor: migrate game tests to busted
  spec/game_spec.lua
  standard/test/game_test.lua
Labels: chore

#3682 refactor: migrate table formatter tests
  definitions/mw.lua
  spec/format_table_spec.lua
  standard/test/format_table_test.lua
Labels: chore

#3652 refactor: migrate opponent display tests to busted
  spec/opponent_display_spec.lua
  spec/opponent_spec.lua
  spec/test_helper.lua
  standard/test/opponent_display_test.lua
Labels: chore

#3687 fix: misisng field in anno
  components/team_card/team_card_storage.lua
Labels: chore

#3685 refactor: template engine tests to busted
  definitions/mw.lua
  spec/format_table_spec.lua
  spec/template_engine_spec.lua
  standard/test/template_engine_test.lua
Labels: chore

#3644 feat(team): match ticker for m2 wikis
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/arenaofvalor/infobox_team_custom.lua
  components/infobox/wikis/callofduty/infobox_team_custom.lua
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
  components/infobox/wikis/fifa/infobox_team_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/overwatch/infobox_team_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
  components/infobox/wikis/wildrift/infobox_team_custom.lua
  components/infobox/wikis/worldoftanks/infobox_team_custom.lua
  components/match_ticker/commons/match_ticker.lua
  components/match_ticker/commons/match_ticker_custom.lua
  components/match_ticker/commons/match_ticker_display_components.lua
  definitions/mw.lua
Labels: c: infobox

#3691 Redirect player ext custom
  components/opponent/commons/player_ext_custom.lua
  components/opponent/wikis/starcraft/player_ext_custom.lua
  components/opponent/wikis/starcraft2/player_ext_custom.lua
Labels: chore, c: opponent

#3663 feat: Make parent Class available in WidgetInjector if passed along
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_basic.lua
  components/infobox/commons/infobox_widget_injector.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: c: infobox

#3698 Add awards as a tier type for Formula1
  standard/tier/wikis/formula1/tier_data.lua
Labels: c: standard, s: formula1, data

#3696 Add Infobox Champion to lol
  components/infobox/wikis/leagueoflegends/infobox_unit_champion.lua
Labels: c: infobox, g: leagueoflegends

#3671 Creating WoT Infobox Tank
  components/infobox/extensions/wikis/worldoftanks/nation.lua
  components/infobox/wikis/worldoftanks/infobox_unit_tank.lua
Labels: c: infobox, g: worldoftanks

#3677 Moving hard coded stat row color to var
  stylesheets/commons/Miscellaneous.css
Labels: bug, stylesheets

#3673 Removing toccolours hardcoded colors
  stylesheets/commons/Colours.css
Labels: bug, stylesheets

#3697 Adding Game Categories to WoT Infobox League
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
Labels: c: infobox, g: worldoftanks

#3699 removing unused |platform= parameter in infobox league
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
Labels: c: infobox, g: pubgmobile

#3707 Add legacy wrapper to wildrift
  components/match2/wikis/wildrift/legacy/match_group_legacy_default.lua
  components/match2/wikis/wildrift/legacy/match_maps_legacy.lua
Labels: c: match2, g: wildrift
