Repository Liquipedia/Lua-Modules, pull requests merged in 2023-03, with the labels that each got.

#2650 Support `nil` input as a `noop` in Condition Builder
  standard/lpdb/condition.lua
  standard/lpdb/condition_test.lua
Labels: c: standard

#2649 Pluralise multiple broadcaster positions
  components/broadcaster_card/commons/broadcaster_card.lua
Labels: c: broadcaster_card

#2498 Module:Info - Fix Low Res image Apex Legends
  standard/info/wikis/apexlegends/info.lua
Labels: chore, c: standard, g: apex

#2623 [1/?] Prepare PrizePool/Placement for standardized Awards Prize Pools
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_import.lua
  components/prize_pool/commons/prize_pool_placement.lua
  components/prize_pool/commons/prize_pool_placement_base.lua
Labels: c: prize_pool

#2651 Adding team count support in Heroes League infobox
  components/infobox/wikis/heroes/infobox_league_custom.lua
Labels: bug, c: infobox, g: heroes

#2654 Change the Monthly Tier Value in PUBGM Notability Checker to 0
  components/notability/wikis/pubgmobile/notability_checker_config.lua
Labels: c: notability, g: pubgmobile

#2612 Add alias support to ResultsTable
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_base.lua
Labels: enhancement, c: results_table

#2520 Add `Module:ExternalMediaLink`
  components/external_media_links/external_media_link.lua
Labels: c: standard

#2475 Add organizer specific icons in BS infobox league
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
Labels: c: infobox, g: brawl stars

#2653 [2/?] Prepare PrizePool for standardized Awards Prize Pools
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_base.lua
Labels: c: prize_pool

#2408 Option for `pairsByPrefix()` to use `prefix` if `prefix1` is missing
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_series_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
  components/infobox/wikis/valorant/infobox_series_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/mvp_table/commons/mvp_table.lua
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
  standard/table.lua
  standard/test/table_test.lua
Labels: c: standard

#2657 Fix typos in abstract functions
  components/prize_pool/commons/prize_pool_base.lua
Labels: bug, c: prize_pool

#2658 Add a nil check in BS infobox league for organizers
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
Labels: bug, c: infobox, g: brawl stars

#2656 Brawlstars: Create config for Notability Checker
  components/notability/wikis/brawlstars/notability_checker_config.lua
Labels: g: brawl stars, c: notability

#1678 Create Infobox League for Teamfight Tactics
  components/infobox/wikis/tft/infobox_league_custom.lua
Labels: c: infobox, g: tft

#2661 Add PPT Award Placement module
  components/prize_pool/prize_pool_award_placement.lua
Labels: c: prize_pool

#2655 Remove deprecated `disable_SMW_storage`
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/starcraft/infobox_league_custom.lua
  components/infobox/wikis/starcraft/infobox_series_custom.lua
  components/infobox/wikis/starcraft/infobox_team_custom.lua
  components/match2/commons/match_group_legacy.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy_store.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy.lua
  components/match2/wikis/starcraft/legacy/match_maps_legacy.lua
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
  components/standings/commons/standings_storage.lua
Labels: g: rainbow six, c: infobox, c: match2, chore, c: standings, g: broodwar, c: prize_pool

#2664 Fix missing `requireIndex=false`
  components/match2/wikis/rocketleague/match_summary.lua
Labels: bug, g: rocket league, c: match2

#2499 Create Standardized Tier Library
  standard/test/tier_test.lua
  standard/tier/tier_custom.lua
  standard/tier/tier_data.lua
  standard/tier/tier_utils.lua
Labels: c: standard, t: standard

#2675 Add localid to Player extradata in smash
  components/infobox/wikis/smash/infobox_person_player_custom.lua
Labels: c: infobox, g: smash

#2671 Move commons tier modules into commons subfolder
  standard/tier/commons/tier_custom.lua
  standard/tier/commons/tier_data.lua
  standard/tier/commons/tier_utils.lua
Labels: chore, c: standard

#2678 update stratz links
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/match2/wikis/dota2/match_summary.lua
  standard/links/commons/links.lua
Labels: c: standard, g: dota2

#2677 Improve `Tier.toNumber`
  standard/tier/commons/tier_utils.lua
Labels: c: standard

#2684 Correcting Player Limits for Brawlstars Notability
  components/notability/wikis/brawlstars/notability_checker_config.lua
Labels: g: brawl stars, c: notability

#2686 Add a nil check in notability checker
  components/notability/commons/notability_checker.lua
Labels: bug, c: notability

#2660 Create Awards component
  components/prize_pool/prize_pool_award.lua
  components/prize_pool/prize_pool_award_placement.lua
Labels: c: prize_pool

#2689 Expose ObjectName to TeamCard Storage Customs
  components/team_card/team_card_storage.lua
Labels: c: team_card

#2597 Create simracing PPT Custom
  components/prize_pool/wikis/simracing/prize_pool_custom.lua
Labels: c: prize_pool, g: simracing

#2691 Move Awards PPT to correct folder
  components/prize_pool/commons/prize_pool_award.lua
  components/prize_pool/commons/prize_pool_award_placement.lua
Labels: chore, c: prize_pool

#2690 Create Default PPT Custom
  components/prize_pool/commons/prize_pool_custom.lua
Labels: c: prize_pool

#2672 Add several custom tier data modules
  standard/tier/wikis/arenafps/tier_data.lua
  standard/tier/wikis/arenaofvalor/tier_data.lua
  standard/tier/wikis/artifact/tier_data.lua
  standard/tier/wikis/battlerite/tier_data.lua
  standard/tier/wikis/brawlhalla/tier_data.lua
  standard/tier/wikis/brawlstars/tier_data.lua
  standard/tier/wikis/callofduty/tier_data.lua
  standard/tier/wikis/criticalops/tier_data.lua
  standard/tier/wikis/crossfire/tier_data.lua
  standard/tier/wikis/dota2/tier_data.lua
  standard/tier/wikis/fifa/tier_data.lua
  standard/tier/wikis/fighters/tier_data.lua
  standard/tier/wikis/freefire/tier_data.lua
  standard/tier/wikis/halo/tier_data.lua
  standard/tier/wikis/hearthstone/tier_data.lua
  standard/tier/wikis/heroes/tier_data.lua
  standard/tier/wikis/magic/tier_data.lua
  standard/tier/wikis/mobilelegends/tier_data.lua
  standard/tier/wikis/overwatch/tier_data.lua
  standard/tier/wikis/pubg/tier_data.lua
  standard/tier/wikis/pubgmobile/tier_data.lua
  standard/tier/wikis/rainbowsix/tier_data.lua
  standard/tier/wikis/rocketleague/tier_data.lua
  standard/tier/wikis/runeterra/tier_data.lua
  standard/tier/wikis/sideswipe/tier_data.lua
  standard/tier/wikis/simracing/tier_data.lua
  standard/tier/wikis/splatoon/tier_data.lua
  standard/tier/wikis/splitgate/tier_data.lua
  standard/tier/wikis/squadrons/tier_data.lua
  standard/tier/wikis/starcraft/tier_data.lua
  standard/tier/wikis/teamfortress/tier_data.lua
  standard/tier/wikis/tetris/tier_data.lua
  standard/tier/wikis/tft/tier_data.lua
  standard/tier/wikis/trackmania/tier_data.lua
  standard/tier/wikis/underlords/tier_data.lua
  standard/tier/wikis/warcraft/tier_data.lua
  standard/tier/wikis/wildrift/tier_data.lua
  standard/tier/wikis/worldofwarcraft/tier_data.lua
  standard/tier/wikis/zula/tier_data.lua
Labels: g: rocket league, g: rainbow six, chore, g: brawl stars, g: pubg, g: runeterra, g: halo, g: dota2, g: warcraft, g: wildrift, g: mobilelegends, g: splitgate, g: overwatch, g: sideswipe, g: arenaofvalor, g: pubgmobile, g: brawlhalla, g: broodwar, g: criticalops, g: tft, g: crossfire, g:freefire, g: Splatoon, g: trackmania, g: callofduty, g: worldofwarcraft, g: fifa, g: hearthstone, g: teamfortress, g: heroes, g: tetris, g: zula, g: arenafps, g: simracing, g: fighters, g: magic

#2673 Add sc2 tier data and custom
  standard/tier/wikis/starcraft2/tier_custom.lua
  standard/tier/wikis/starcraft2/tier_data.lua
Labels: g: starcraft, c: standard

#2685 Add warcraft `Module:Tier/Custom`
  standard/tier/wikis/warcraft/tier_custom.lua
Labels: c: standard, g: warcraft

#2693 Changing "North Macedonian" to "Macedonian"
  standard/flags_master_data.lua
Labels: c: standard

#2636 Add Prize Pool for FIFA
  components/prize_pool/wikis/fifa/prize_pool_custom.lua
Labels: c: prize_pool, g: fifa

#2696 Allow shortnames as input in `Tier.toNumber`
  standard/tier/commons/tier_utils.lua
Labels: c: standard

#2688 Add RL tier custom
  standard/tier/wikis/rocketleague/tier_custom.lua
Labels: g: rocket league, c: standard

#2695 Update Infobox League for fighters
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: c: infobox, g: fighters

#2701 Add new Games to Tetris Info
  standard/info/wikis/tetris/info.lua
Labels: enhancement, c: standard, g: tetris

#2662 Follow value of `disable_LPDB_storage` in prize pool
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/test/prize_pool_test.lua
  standard/mock/mock_lpdb.lua
Labels: c: prize_pool

#2702 Adjust Start Year in Simracing Info
  standard/info/wikis/simracing/info.lua
Labels: c: standard, g: simracing

#2424 Remove unused/unneeded function in SquadRow
  components/squad/commons/squad_row.lua
Labels: c: squad

#2488 Remove LPDB bug workaround
  components/match2/commons/match_group_util.lua
  components/match2/commons/match_group_workaround.lua
  components/match2/commons/matches_table.lua
Labels: c: match2

#2178 Add `options` parameter to `processMatch`
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2, chore

#2706 Remove misc as tiertype for RL
  standard/tier/wikis/rocketleague/tier_data.lua
Labels: bug, g: rocket league, c: standard

#2705 Improve StringUtils.trim
  standard/string_utils.lua
Labels: c: standard

#2712 Correct game names in info.lua for fighters
  standard/info/wikis/fighters/info.lua
Labels: c: standard, g: fighters

#2709 Refine sort order
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#2710 Create Infobox Person Player Custom for TFT
  components/infobox/wikis/tft/infobox_person_player_custom.lua
Labels: c: infobox, g: tft

#2711 Fix bug for ML matches with even Bestof
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
Labels: bug, c: match2, g: mobilelegends

#2713 Tier: Call memoized functions before indexing
  standard/tier/commons/tier_utils.lua
Labels: bug, c: standard

#2715 Adjust role data in tft infobox player
  components/infobox/wikis/tft/infobox_person_player_custom.lua
Labels: c: infobox, g: tft

#2665 Query broadcaster pages with underscores not spaces
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
Labels: bug, g: rocket league, c: match2

#2716 Update logos for TFT
  standard/info/wikis/tft/info.lua
Labels: c: standard, g: tft

#2697 Fix Role issue for Tetris
  components/infobox/wikis/tetris/infobox_person_player_custom.lua
Labels: c: infobox, g: tetris

#2692 Create Award PPT Customs
  components/prize_pool/commons/prize_pool_award_custom.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_award_starcraft.lua
  components/prize_pool/wikis/ageofempires/prize_pool_award_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_award_custom.lua
  components/prize_pool/wikis/dota2/prize_pool_award_custom.lua
  components/prize_pool/wikis/pubg/prize_pool_award_custom.lua
  components/prize_pool/wikis/pubgmobile/prize_pool_award_custom.lua
  components/prize_pool/wikis/starcraft/prize_pool_award_custom.lua
  components/prize_pool/wikis/starcraft2/prize_pool_award_custom.lua
Labels: g: starcraft, g: ageofempires, g: counter-strike, g: pubg, g: dota2, g: pubgmobile, g: broodwar, c: prize_pool

#2703 Add support for PlayerTeamAuto to VALORANT
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
Labels: g: valorant, c: infobox

#2698 Adjust PPT Legacy modules on commons
  components/prize_pool/commons/prize_pool_legacy.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
Labels: c: prize_pool

#2718 Fix CS Info Module
  standard/info/wikis/counterstrike/info.lua
Labels: bug, c: standard, g: counter-strike

#2717 Enable `syncPlayers` by default
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/commons/prize_pool_legacy.lua
  components/prize_pool/wikis/fifa/prize_pool_custom.lua
  components/prize_pool/wikis/simracing/prize_pool_custom.lua
Labels: c: prize_pool

#2721 Remove sc2 legacy vars and standardize `featured` var to `tournament_publishertier` var
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_award_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: g: starcraft, c: infobox, c: match2, c: hidden_data_box, c: prize_pool

#2720 Add fortnite PPT Legacy Custom
  components/prize_pool/wikis/fortnite/prize_pool_legacy_custom.lua
Labels: g: fortnite, c: prize_pool

#2719 Adjust CS Tier display in case of both tiers present
  standard/tier/wikis/counterstrike/tier_custom.lua
  standard/tier/wikis/counterstrike/tier_data.lua
Labels: c: standard, g: counter-strike

#2694 Add sync Team feature to Base Opponent Module
  components/opponent/commons/opponent.lua
  components/opponent/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/opponent/wikis/ageofempires/opponent_custom.lua
  components/opponent/wikis/clashroyale/opponent_custom.lua
  components/opponent/wikis/fortnite/opponent_custom.lua
  standard/info/wikis/ageofempires/info.lua
  standard/info/wikis/clashroyale/info.lua
  standard/info/wikis/fortnite/info.lua
Labels: enhancement, c: prize_pool, c: opponent

#2724 Fix spelling in wc3 infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: bug, c: infobox, g: warcraft

#2723 Pass `true` in `:build` for awards ppt
  components/prize_pool/commons/prize_pool_award_custom.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_award_starcraft.lua
Labels: bug, c: prize_pool

#2722 Sync players for fortnite legacy
  components/prize_pool/wikis/fortnite/prize_pool_legacy_custom.lua
Labels: g: fortnite, c: prize_pool

#2659 Refactoring loops in Infobox
  components/infobox/commons/infobox_basic.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: c: infobox

#2699 Prevent rounding of prize pools in Infobox League for fighters
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: c: infobox, g: smash

#2725 Fix default opponent type for awards legacy conversion
  components/prize_pool/commons/prize_pool_legacy.lua
Labels: bug, c: prize_pool

#2726 Fix startYear typo on Zula
  standard/info/wikis/zula/info.lua
Labels: g: zula

#2627 Adjust a game key in arenafps module info
  standard/info/wikis/arenafps/info.lua
Labels: c: standard, g: arenafps

#2727 Update Guilty Gear Xrd REV 2 name & logo
  standard/info/wikis/fighters/info.lua
Labels: g: fighters

#2730 Also retrieve currency from var in legacy conversion on fortnite
  components/prize_pool/wikis/fortnite/prize_pool_legacy_custom.lua
Labels: bug, g: fortnite, c: prize_pool

#2700 Add smash tier stuff
  standard/tier/wikis/smash/tier_custom.lua
  standard/tier/wikis/smash/tier_data.lua
Labels: c: standard, g: smash

#2708 Add AoE Tier data, custom
  standard/tier/wikis/ageofempires/tier_custom.lua
  standard/tier/wikis/ageofempires/tier_data.lua
Labels: c: standard, g: ageofempires

#2734 Use td instead of th for game icons
  components/results_table/commons/results_table.lua
Labels: bug, c: results_table

#2732 Add some escapes in tier library
  standard/tier/commons/tier_utils.lua
  standard/tier/wikis/starcraft2/tier_custom.lua
  standard/tier/wikis/warcraft/tier_custom.lua
Labels: bug, c: standard

#2735 Add the award (name) to objectname in PPT Award
  components/prize_pool/commons/prize_pool_award.lua
Labels: c: prize_pool

#2739 Add fortnite earnings custom
  components/earnings/wikis/fortnite/earnings.lua
Labels: g: fortnite, c: earnings

#2744 Fix game name in overwatch `info.lua`
  standard/info/wikis/overwatch/info.lua
Labels: g: overwatch

#2746 Add default mode in tft infobox league
  components/infobox/wikis/tft/infobox_league_custom.lua
Labels: c: infobox, g: tft

#2748 Fixing the dark/lightmode image files
  standard/info/wikis/apexlegends/info.lua
Labels: bug, g: apex

#2747 Improve formatting of Exchange Rate summary in PPT
  components/prize_pool/commons/prize_pool_base.lua
Labels: bug, c: prize_pool

#2749 Improve solo handling in super legacy (template) standings
  components/standings/commons/standings_storage.lua
Labels: c: standings

#2753 Implement circuit handling in Infobox League for Fighters
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: c: infobox, g: fighters

#2756 Stanardize TFT Tiers
  standard/tier/wikis/tft/tier_data.lua
Labels: c: standard, g: tft

#2760 Adjust sc2 infobox league prize pool handling
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox

#2762 Adjust sorting option in BroadcasterCard
  components/broadcaster_card/commons/broadcaster_card.lua
Labels: c: broadcaster_card

#2763 Add arab speaking language flag data
  standard/flags_master_data.lua
Labels: c: standard

#2681 Use Tier library in HiddenDataBox
  components/hidden_data_box/commons/hidden_data_box.lua
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/counterstrike/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/valorant/hidden_data_box_custom.lua
Labels: c: hidden_data_box

#2680 Use Tier library in infobox series
  components/infobox/commons/infobox_series.lua
  components/infobox/wikis/counterstrike/infobox_series_custom.lua
  components/infobox/wikis/starcraft/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
Labels: c: infobox

#2505 Add external media list
  standard/external_media_links/external_media_list.lua
Labels: c: standard

#2773 Catch nil in `Module:ExternalMediaList`
  components/external_media_links/external_media_list.lua
Labels: bug, c: external_media_links

#2775 Append award name to team award object names too
  components/prize_pool/commons/prize_pool_award.lua
Labels: c: prize_pool

#2778 Fix typos in sc/sc2 tier data
  standard/tier/wikis/starcraft/tier_data.lua
  standard/tier/wikis/starcraft2/tier_data.lua
Labels: bug, g: starcraft, c: standard, g: broodwar

#2777 Fix Header in Awards Table
  components/results_table/commons/results_table_award.lua
Labels: bug, c: results_table

#2779 Fix Artifact's Info data
  standard/info/wikis/artifact/info.lua
Labels: bug, g: artifact

#2781 Create basic Commons Custom for Squad
  components/squad/commons/squad_custom.lua
Labels: c: squad

#2782 Fix condition in Notability Checker
  components/notability/commons/notability_checker.lua
Labels: bug, c: notability

#2784 Have Trackmania use commons Squad
  components/squad/wikis/trackmania/squad_custom.lua
Labels: g: trackmania

#2786 Update Overwatch League/Contenders icons
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: overwatch

#2793 Add "KICK" infobox icon support
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox

#2788 Adjust Brawlstars organizer icon handling
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
Labels: c: infobox, g: brawl stars

#2795 Remove unneeded Squad Customs
  components/squad/wikis/brawlstars/squad_custom.lua
  components/squad/wikis/pubg/squad_custom.lua
Labels: g: brawl stars, g: pubg, c: squad

#2799 Create Squad Custom for Warcraft
  components/squad/wikis/warcraft/squad_custom.lua
Labels: g: warcraft, c: squad

#2804 Fix wrong file names in brawlstars infobox league
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
Labels: bug, c: infobox, g: brawl stars

#2805 Create Squad Custom for Smash
  components/squad/commons/squad_row.lua
  components/squad/wikis/smash/squad_custom.lua
Labels: c: squad, g: smash

#2800 Add option to use defaultRoundPrecision on a per wiki basis
  standard/currency/currency.lua
Labels: c: standard

#2682 Use Tier library in infobox league
  components/infobox/commons/infobox_league.lua
  components/infobox/extensions/commons/metadata_generator.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
  components/infobox/wikis/valorant/infobox_league_custom.lua
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox

#2806 Custom Squad for BW
  components/squad/wikis/starcraft/squad_custom.lua
Labels: c: squad, g: broodwar

#2794 Do not use alias check for lastVs in Results tables
  components/results_table/commons/results_table_base.lua
Labels: bug, c: results_table

#2801 Results table format money adjust
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_award.lua
Labels: c: results_table

#2813 Awards Table: Undo Flip for non team opponents
  components/results_table/commons/results_table_award.lua
Labels: c: results_table

#2796 Only display Score if either score or vsScore is set
  components/results_table/commons/results_table_base.lua
Labels: c: results_table
