Repository Liquipedia/Lua-Modules, pull requests merged in 2023-05, with the labels that each got.

#2916 Add `passed away` as special team in squads
  components/squad/commons/squad_row.lua
Labels: c: squad

#2906 Remove epoch zero dates during ppt import
  components/prize_pool/commons/prize_pool_import.lua
Labels: bug, c: prize_pool

#2912 Fallback `currentstatus` to `definitestatus` in standings storage
  components/standings/commons/standings_storage.lua
Labels: c: standings

#2911 Disable dashIfZero in calling `.formatMoney` from `.display`
  standard/currency/currency.lua
Labels: bug, c: standard

#2908 Use `returnEmptyIfNoResults` param in THA where applicable
  components/infobox/wikis/callofduty/infobox_person_player_custom.lua
  components/infobox/wikis/crossfire/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/freefire/infobox_person_player_custom.lua
  components/infobox/wikis/halo/infobox_person_player_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
  components/infobox/wikis/pokemon/infobox_person_player_custom.lua
  components/infobox/wikis/pubgmobile/infobox_person_player_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
  components/infobox/wikis/zula/infobox_person_player_custom.lua
Labels: c: infobox, chore

#2907 Adding Patches to League League
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
Labels: c: infobox, g: leagueoflegends

#2668 Create BroadcastTalentTable Component
  components/broadcast_talent_table/commons/broadcast_talent_table.lua
Labels: c: broadcast_talent_table

#2918 Various fixes for League BM
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: bug, c: match2, g: leagueoflegends

#2905 League BM: Update values for enablement
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: c: match2, g: leagueoflegends

#2910 Fix a few annotation warnings
  components/earnings/commons/earnings_legacy.lua
  standard/date_ext.lua
  standard/table.lua
Labels: chore

#2909 Remove `returnEmptyIfNoResults` params in THA calls
  components/infobox/wikis/callofduty/infobox_person_player_custom.lua
  components/infobox/wikis/crossfire/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/freefire/infobox_person_player_custom.lua
  components/infobox/wikis/halo/infobox_person_player_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
  components/infobox/wikis/pokemon/infobox_person_player_custom.lua
  components/infobox/wikis/pubgmobile/infobox_person_player_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
  components/infobox/wikis/zula/infobox_person_player_custom.lua
Labels: c: infobox, chore

#2922 Catch nil in `BroadcastTalentTable`
  components/broadcast_talent_table/commons/broadcast_talent_table.lua
Labels: bug, c: broadcast_talent_table

#2915 Cache lastVs data for groups during ppt import
  components/prize_pool/commons/prize_pool_import.lua
Labels: enhancement, c: prize_pool

#2852 Add TournamentsListing component
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
  components/tournaments_listing/commons/tournaments_listing_card_list_custom.lua
  components/tournaments_listing/commons/tournaments_listing_conditions.lua
  components/tournaments_listing/wikis/starcraft2/tournaments_listing_card_list_custom.lua
  definitions/mw.lua
Labels: c: tournaments_listing

#2925 Add temporary highlighting to matchpage link
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: c: match2, g: leagueoflegends

#2926 LOL Big Match: Sort picks based on role
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/leagueoflegends/big_match_template.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
Labels: c: match2, g: leagueoflegends

#2931 Pass along date to game rows in lol MS
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: bug, c: match2, g: leagueoflegends

#2930 Add Tonamel to links
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: standard

#2932 Invoke HDB from LOL BM
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: c: match2, g: leagueoflegends

#2934 Add B Tier to BigMatch and change startdate to 2021 May
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: c: match2

#2937 Add `Idol Showdown` to the Fighters
  standard/info/wikis/fighters/info.lua
Labels: c: standard, g: fighters

#2936 Remove outdated comment
  standard/table.lua
Labels: chore

#2464 Remove unused wiki variable
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
Labels: c: squad

#2938 Store SquadPlayer Status in LPDB
  components/squad/commons/squad_row.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/halo/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/warcraft/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: c: squad, f: lpdb

#2940 Add SquadType to SquadPlayer ObjectNames
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/halo/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/warcraft/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: c: squad

#2943 Default sc2 resultstable to use indiv prize money
  components/results_table/wikis/starcraft2/results_table_custom.lua
Labels: g: starcraft, c: results_table

#2942 Use `prizemoney` in results tables as default
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_base.lua
  components/results_table/wikis/starcraft2/results_table_custom.lua
Labels: c: results_table

#2933 Migrate RoleOf from SMW to LPDB
  components/infobox/extensions/commons/role_of.lua
  components/infobox/wikis/arenaofvalor/infobox_team_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/infobox/wikis/heroes/infobox_team_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/teamfortress/infobox_team_custom.lua
  components/infobox/wikis/wildrift/infobox_team_custom.lua
  components/squad/commons/squad_row.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: c: infobox, g: dota2, g: wildrift, g: arenaofvalor, g: leagueoflegends, g: teamfortress, g: heroes

#2944 Adjust sc2 matchMaps/Legacy
  components/match2/wikis/starcraft2/legacy/match_maps_legacy.lua
Labels: g: starcraft, c: match2

#2946 Remove param that wasn't supposed to been added
  components/squad/commons/squad_row.lua
Labels: bug, c: squad

#2947 Make tournamentsSummaryTable easier customizable
  standard/tournaments_summary_table/commons/tournaments_summary_table.lua
  standard/tournaments_summary_table/commons/tournaments_summary_table_custom.lua
  standard/tournaments_summary_table/wikis/heroes/tournaments_summary_table_custom.lua
  standard/tournaments_summary_table/wikis/rainbowsix/tournaments_summary_table_custom.lua
  standard/tournaments_summary_table/wikis/starcraft2/tournaments_summary_table_custom.lua
  standard/tournaments_summary_table/wikis/trackmania/tournaments_summary_table_custom.lua
  standard/tournaments_summary_table/wikis/warcraft/tournaments_summary_table_custom.lua
Labels: c: standard

#2949 Fix some annotations
  components/broadcast_talent_table/commons/broadcast_talent_table.lua
  definitions/mw.lua
Labels: chore

#2950 Add status storage to commons custom
  components/squad/commons/squad_custom.lua
Labels: c: squad

#2941 Store team status in LPDB
  components/infobox/commons/infobox_team.lua
Labels: c: infobox, f: lpdb

#2952 Adjust dota2 highlights conditions
  standard/highlight_conditions/wikis/dota2/highlight_conditions.lua
Labels: c: standard, g: dota2

#2953 Brawlstars: Include Weekly as Notable
  components/notability/wikis/brawlstars/notability_checker_config.lua
Labels: g: brawl stars, c: notability

#2951 Fetch more tournaments by default; sc2 can use callByYear
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
  components/tournaments_listing/wikis/starcraft2/tournaments_listing_card_list_custom.lua
Labels: bug, c: tournaments_listing

#2959 Add missing `Opponent.fromLpdbStruct` map for qualified data
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
Labels: bug, c: tournaments_listing

#2961 Add missing ipairs
  components/tournaments_listing/commons/tournaments_listing_conditions.lua
Labels: bug, c: tournaments_listing

#2964 Fix code style in Earnings, Squad and Info
  components/earnings/commons/earnings_base.lua
  components/earnings/wikis/halo/earnings.lua
  components/earnings/wikis/rocketleague/earnings.lua
  components/earnings/wikis/valorant/earnings.lua
  components/squad/commons/squad.lua
  components/squad/commons/squad_custom.lua
  components/squad/commons/squad_row.lua
  components/squad/test/squad_test.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/warcraft/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
  standard/info/wikis/counterstrike/info.lua
  standard/info/wikis/pokemon/info.lua
  standard/info/wikis/tetris/info.lua
Labels: chore

#2960 Fix annotation warnings
  components/earnings/commons/earnings_base.lua
  components/earnings/commons/earnings_legacy.lua
  components/infobox/commons/infobox_company.lua
  components/infobox/extensions/commons/age.lua
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
  components/infobox/wikis/warcraft/infobox_league_custom.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/match_group_display_singlematch.lua
  components/match2/commons/match_summary_base.lua
  components/match2/commons/match_ticker/match_ticker_query.lua
  components/match2/commons/matches_table.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/commons/template_match.lua
  components/match2/wikis/rainbowsix/legacy/match_group_legacy_default.lua
  components/match2/wikis/rocketleague/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft2/match_legacy.lua
  components/mvp_table/commons/mvp_table.lua
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_award.lua
  components/prize_pool/commons/prize_pool_award_placement.lua
  components/prize_pool/commons/prize_pool_placement.lua
  components/prize_pool/commons/prize_pool_placement_base.lua
  components/results_table/wikis/starcraft2/results_table_custom.lua
  components/standings/commons/standings_storage.lua
  definitions/mw.lua
  standard/game.lua
  standard/links_stream.lua
  standard/lpdb/lpdb_injector.lua
  standard/mock/mock_lpdb.lua
  standard/result_or_error.lua
  standard/smw_injector.lua
  standard/string_utils.lua
  standard/tier/commons/tier_utils.lua
  standard/tournament_structure.lua
Labels: chore

#2963 Extract cost display from 4 infoboxes into a sep. module
  components/infobox/extensions/wikis/starcraft2/infobox_extension_cost_display.lua
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_skill_ability.lua
  components/infobox/wikis/starcraft2/infobox_skill_spell.lua
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
Labels: g: starcraft, c: infobox, c: infobox_extensions

#2929 Adjust `Array.extractValues` and `Array.extractKeys` to allow sorting via provided iterators
  standard/array.lua
  standard/test/array_test.lua
Labels: c: standard

#2966 Add support for series2 in TournamentsList
  components/tournaments_listing/commons/tournaments_listing_conditions.lua
Labels: c: tournaments_listing

#2965 Clean up some whitespace stuff
  components/broadcaster_card/commons/broadcaster_card.lua
  components/earnings/commons/earnings_base.lua
  components/infobox/wikis/mobilelegends/infobox_hero_custom.lua
  components/infobox/wikis/overwatch/infobox_map_custom.lua
  components/infobox/wikis/starcraft/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/infobox/wikis/trackmania/infobox_league_custom.lua
  components/infobox/wikis/warcraft/infobox_league_custom.lua
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/wildrift/match_summary.lua
  standard/array.lua
  standard/links/wikis/rocketleague/links_custom_data.lua
  standard/template_engine.lua
  standard/test/array_test.lua
Labels: chore

#2956 Add more annotations to `Module:Array`
  standard/array.lua
Labels: chore, c: standard

#2967 Fix some more annotation warnings
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
  components/infobox/wikis/ageofempires/infobox_team_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_legacy_custom.lua
Labels: chore

#2969 Fix some more annotation warnings
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: c: match2, chore

#3012 Automatically switch to desc ordering for recent
  standard/tournaments_summary_table/commons/tournaments_summary_table.lua
Labels: c: standard

#3001 Add Smashboards to links
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: infobox

#3003 Move some functionality from `Module:Infobox/Widget/Links` to `Module:Links`
  components/infobox/commons/infobox_widget_links.lua
  standard/links/commons/links.lua
Labels: c: standard

#3005 Add new game to Arena of Valor Info module
  standard/info/wikis/arenaofvalor/info.lua
Labels: c: standard, g: arenaofvalor

#2997 Add annotations for HiddenDataBox
  components/hidden_data_box/commons/hidden_data_box.lua
  components/hidden_data_box/commons/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/apexlegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/arenaofvalor/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/brawlstars/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/counterstrike/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/dota2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/freefire/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/halo/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/hearthstone/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/leagueoflegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/mobilelegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/overwatch/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/pokemon/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/pubg/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/pubgmobile/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/rainbowsix/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/rocketleague/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/simracing/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/splatoon/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/squadrons/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/teamfortress/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/trackmania/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/valorant/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/warcraft/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/wildrift/hidden_data_box_custom.lua
Labels: chore, c: hidden_data_box

#2999 Add annotations for `Module:MvpTable`
  components/mvp_table/commons/mvp_table.lua
Labels: chore, c: mvp_table

#2994 Add annotations for `components/external_media_links/*`
  components/external_media_links/external_media_link.lua
  components/external_media_links/external_media_list.lua
Labels: chore, c: external_media_links

#2995 Add annotations to broadcaster stuff
  components/broadcast_talent_table/commons/broadcast_talent_table.lua
  components/broadcaster_card/commons/broadcaster_card.lua
Labels: chore, c: broadcaster_card, c: broadcast_talent_table

#2984 Add annotations for `locale.lua` and `reference_cleaner.lua`
  standard/locale.lua
  standard/reference_cleaner.lua
Labels: chore, c: standard

#2985 Add annotations to `logic.lua`
  standard/logic.lua
Labels: chore, c: standard

#2979 Add annotations for `timezone.lua`
  standard/timezone.lua
Labels: chore, c: standard

#2978 Add annotations for `vod_link.lua` and `warning_box.lua`
  standard/vod_link.lua
  standard/warning_box.lua
Labels: chore, c: standard

#2980 Add annotations for `template.lua`
  components/infobox/wikis/dota2/infobox_league_custom.lua
  definitions/mw.lua
  standard/template.lua
Labels: chore, c: standard

#2972 Add annotations to `links.lua`
  standard/links/commons/links.lua
Labels: chore, c: standard

#2975 Add annotations for `region.lua` and `ept.lua`
  standard/region/commons/region.lua
  standard/region/extensions/ept.lua
Labels: chore, c: standard

#3015 Fix brackets with more than 20 big-matches
  components/match2/commons/match_group_input.lua
Labels: bug, c: match2

#2987 Add annotations to `league_icon.lua`
  standard/league_icon.lua
Labels: chore, c: standard

#2992 Add annotations for `Module:TeamCard/Storage`
  components/team_card/team_card_storage.lua
Labels: chore, c: team_card

#2988 Add annotations for `lua.lua`
  components/infobox/wikis/ageofempires/infobox_series_custom.lua
  components/infobox/wikis/fortnite/infobox_series_custom.lua
  components/infobox/wikis/rocketleague/infobox_series_custom.lua
  components/infobox/wikis/warcraft/infobox_series_custom.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy_default.lua
  standard/lua.lua
Labels: chore, c: standard

#2993 Add annotations to `Module:Standings/Storage/StarcraftLegacy`
  components/standings/commons/starcraft_starcraft2/standings_storage_starcraft_legacy.lua
Labels: chore, c: standings

#2986 Add annotations to `links_stream.lua`
  standard/links_stream.lua
Labels: chore, c: standard

#2991 Add annotations to `components/tournaments_listing/*`
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
  components/tournaments_listing/commons/tournaments_listing_card_list_custom.lua
  components/tournaments_listing/commons/tournaments_listing_conditions.lua
  components/tournaments_listing/wikis/starcraft2/tournaments_listing_card_list_custom.lua
Labels: chore, c: tournaments_listing

#2973 Add annotations for `conditions.lua`
  standard/lpdb/condition.lua
Labels: chore, c: standard

#2977 Add annotations to `tournaments_summary_table.lua`
  standard/tournaments_summary_table/commons/tournaments_summary_table.lua
Labels: chore, c: standard

#2970 Annotatate various libraries
  components/infobox/wikis/fighters/infobox_league_custom.lua
  standard/abbreviation.lua
  standard/array_ext.lua
  standard/error.lua
  standard/error_display.lua
  standard/error_ext.lua
  standard/feature_flag.lua
  standard/flags.lua
  standard/format_table.lua
  standard/hidden_sort.lua
  standard/hotkey.lua
  standard/json.lua
  standard/tournament_structure.lua
Labels: chore

#3019 Silence some annoying annotatrion warnings about missing annos
  standard/links_stream.lua
  standard/ordinal/ordinal.lua
Labels: chore

#3017 Silence some annotation warnings in the plugin file
  plugins/sumneko_plugin.lua
Labels: chore

#2990 Add annotations for `components/widget/*`
  components/infobox/commons/infobox_widget.lua
  components/widget/widget_table.lua
  components/widget/widget_table_cell.lua
  components/widget/widget_table_row.lua
Labels: chore

#3023 Fix some array annotations
  standard/array.lua
Labels: chore, c: standard

#3022 Switch some String.is(Not)Empty to Logic version
  components/earnings/commons/earnings_base.lua
  components/hidden_data_box/commons/hidden_data_box.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/extensions/commons/infobox_extensions_prize_pool.lua
  components/infobox/wikis/fighters/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_legacy.lua
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_legacy.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/rainbowsix/legacy/legacy_bracket_match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_legacy.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/notability/commons/notability_checker.lua
  components/prize_pool/commons/prize_pool_custom.lua
  components/prize_pool/commons/prize_pool_placement.lua
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
  components/prize_pool/wikis/arenaofvalor/prize_pool_custom.lua
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
  components/prize_pool/wikis/dota2/prize_pool_custom.lua
  components/prize_pool/wikis/fortnite/prize_pool_custom.lua
  components/prize_pool/wikis/halo/prize_pool_custom.lua
  components/prize_pool/wikis/leagueoflegends/prize_pool_custom.lua
  components/prize_pool/wikis/mobilelegends/prize_pool_custom.lua
  components/prize_pool/wikis/overwatch/prize_pool_custom.lua
  components/prize_pool/wikis/pokemon/prize_pool_custom.lua
  components/prize_pool/wikis/rainbowsix/prize_pool_custom.lua
  components/prize_pool/wikis/rocketleague/prize_pool_custom.lua
  components/prize_pool/wikis/tetris/prize_pool_custom.lua
  components/prize_pool/wikis/trackmania/prize_pool_custom.lua
  components/prize_pool/wikis/valorant/prize_pool_custom.lua
  components/prize_pool/wikis/wildrift/prize_pool_custom.lua
  components/results_table/commons/results_table_base.lua
  standard/currency/currency.lua
  standard/logic.lua
  standard/ordinal/ordinal.lua
  standard/tier/commons/tier_utils.lua
Labels: chore

#3021 Fix some annotations
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
  standard/test/tier_test.lua
  standard/tier/commons/tier_utils.lua
  standard/tier/wikis/ageofempires/tier_custom.lua
  standard/tier/wikis/warcraft/tier_custom.lua
  standard/timezone.lua
Labels: chore

#3018 Add informationType overwrite option for infobox map
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_basic.lua
  components/infobox/commons/infobox_map.lua
  components/infobox/commons/infobox_widget.lua
  components/infobox/commons/infobox_widget_injector.lua
Labels: c: infobox, chore

#2913 Add missing regions in Flags master data
  standard/flags_master_data.lua
Labels: c: standard

#3024 Fix a few annotations
  components/external_media_links/external_media_list.lua
  standard/logic.lua
  standard/lpdb/condition.lua
Labels: chore

#3004 Create standardized PortalPlayers
  components/portal_players/commons/portal_players.lua
  components/portal_players/commons/portal_players_custom.lua
  components/portal_players/wikis/fifa/portal_players_custom.lua
  components/portal_players/wikis/smash/portal_players_custom.lua
Labels: c: portal_player

#3034 Do not flip opponent display for `hideResult == true`
  components/results_table/commons/results_table.lua
Labels: c: results_table

#3027 Add excludeTiertype to conditions of `TournamentsListing`
  components/tournaments_listing/commons/tournaments_listing_conditions.lua
Labels: enhancement, c: tournaments_listing

#3036 Fix portal player customs
  components/portal_players/commons/portal_players.lua
  components/portal_players/wikis/fifa/portal_players_custom.lua
  components/portal_players/wikis/smash/portal_players_custom.lua
Labels: bug, c: portal_player

#3033 Add option to show `type` in Resultstables
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_award.lua
  components/results_table/commons/results_table_base.lua
Labels: c: results_table

#3030 Create `upperCaseFirst` in StringUtils
  standard/string_utils.lua
  standard/test/string_utils_test.lua
Labels: c: standard

#3035 Adjust `Ordinal._ordinal` to a not deprecated function
  components/prize_pool/commons/prize_pool_placement.lua
  standard/ordinal/ordinal.lua
  standard/placement.lua
  standard/test/ordinal_test.lua
Labels: c: standard

#3029 Rework `module:Region`
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/halo/infobox_person_player_custom.lua
  components/infobox/wikis/halo/infobox_team_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/pokemon/infobox_person_player_custom.lua
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
  standard/locale.lua
  standard/region/commons/region.lua
  standard/test/region_test.lua
Labels: c: standard

#3037 Replace deprecated function with new one
  standard/region/commons/region.lua
Labels: c: standard

#2939 Remove unneeded extradata storage
  components/squad/commons/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
Labels: c: squad

#3016 Update usage of `Table.iter.forEach(Indexed)` to `Array.forEach`
  components/automatic_points_table/commons/automatic_points_table.lua
  components/automatic_points_table/commons/automatic_points_table_display.lua
  components/automatic_points_table/commons/automatic_points_table_minified_display.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/results_table/commons/results_table_base.lua
Labels: c: standard
