Repository Liquipedia/Lua-Modules, pull requests merged in 2023-11, with the labels that each got.

#3454 Add custom Infobox Unit for engines on Formula 1 wiki
  components/infobox/wikis/formula1/infobox_unit_engine.lua
Labels: c: infobox, s: formula1

#3455 Inherit starttime from infobox to first match
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: c: match2, g: warcraft

#3465 Catch nil in broodwar infobox map
  components/infobox/wikis/starcraft/infobox_map_custom.lua
Labels: bug, c: infobox, g: broodwar

#3466 CoD Info Team: Make competesin always store
  components/infobox/wikis/callofduty/infobox_team_custom.lua
Labels: enhancement, c: infobox, g: callofduty

#3459 Respect `disable_LPDB_storage` var in sc/sc2 ppt
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#3458 Add sync player to CoD Match2 Processing
  components/match2/wikis/callofduty/match_group_input_custom.lua
Labels: enhancement, c: match2, g: callofduty

#3469 WR: Fix recursive appendWith
  components/infobox/wikis/wildrift/infobox_unit_champion.lua
Labels: bug, c: infobox, g: wildrift

#3471 Fix sc/sc2 ppt var passalong
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: bug, g: starcraft, c: prize_pool

#3470 Fix participanttable objectname
  components/participant_table/commons/participant_table_base.lua
Labels: bug, c: participant_table

#3463 Add new KIC game info
  standard/info/wikis/arenaofvalor/info.lua
Labels: c: standard, g: arenaofvalor

#3456 feat: infobox patch for clash royale
  components/infobox/wikis/clashroyale/infobox_patch_custom.lua
Labels: c: infobox, g: clashroyale

#3457 feat: infobox patch for fortnite
  components/infobox/wikis/fortnite/infobox_patch_custom.lua
Labels: c: infobox, g: fortnite

#3467 Fix annos in tier modules
  standard/tier/commons/tier_utils.lua
  standard/tier/wikis/ageofempires/tier_custom.lua
  standard/tier/wikis/apexlegends/tier_custom.lua
  standard/tier/wikis/counterstrike/tier_custom.lua
  standard/tier/wikis/rocketleague/tier_custom.lua
  standard/tier/wikis/smash/tier_custom.lua
  standard/tier/wikis/starcraft/tier_custom.lua
  standard/tier/wikis/starcraft2/tier_custom.lua
  standard/tier/wikis/warcraft/tier_custom.lua
Labels: chore, c: standard

#3447 feat: infobox patch for valorant
  components/infobox/commons/infobox_patch.lua
  components/infobox/wikis/valorant/infobox_patch_custom.lua
Labels: g: valorant, c: infobox

#3468 Add annos to PageVariableNamespace
  standard/page_variable_namespace.lua
Labels: chore, c: standard

#3473 EML: Fill event-link from resolved event
  components/external_media_links/external_media_link.lua
Labels: bug, c: external_media_links

#3476 Add team number cell in fighters infobox league
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: c: infobox, g: fighters

#3472 Fortnite Player: Add PlayerTeamAuto and lpdbdata for History
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: fortnite

#3464 Add option to suppress details display in show bracket
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_shorten_bracket.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_bracket_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_matchlist_starcraft.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
Labels: enhancement, c: match2

#3478 AoE: Add matchticker to player infoboxes
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: ageofempires

#3373 Adjust `Json.stringify`
  components/match2/commons/match.lua
  components/match2/commons/match_group_legacy.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy.lua
  components/standings/commons/standings_storage.lua
  definitions/mw.lua
  standard/json.lua
  standard/test/json_test.lua
Labels: c: standard, f: lpdb

#3479 fix: match ticket bug introduced with #3448
  components/match_ticker/commons/match_ticker.lua
Labels: bug, c: match_ticker

#3482 fix: minor typo in fifa match2
  components/match2/wikis/fifa/match_group_input_custom.lua
Labels: c: match2, g: fifa

#3480 fix: incorrect match2bracketdata json serialization
  components/match2/commons/match.lua
Labels: bug, c: match2

#3481 fix: json.stringify annotations
  standard/json.lua
Labels: chore

#3452 added links for osu infobox icon
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
Labels: c: standard

#3483 feat: add default LuaLS lua settings
  .luarc.json
Labels: chore

#3487 fix: `osdate` -> `osdateparam`
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
  components/infobox/wikis/ageofempires/infobox_team_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/ratings/ratings.lua
Labels: chore

#3486 AoE: Add matchticker to infobox league
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: enhancement, c: infobox, g: ageofempires

#3412 Add Info Module for osu
  standard/info/wikis/osu/info.lua
Labels: c: standard, g: osu

#3489 AoE matchticker: disable infobox-wrapper
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: bug, c: infobox, g: ageofempires

#3488 RL: Check for empty parties
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: g: rocket league, c: match2

#3493 Add lighting variants to `overwatch` Infobox/Map
  components/infobox/wikis/overwatch/infobox_map_custom.lua
Labels: c: infobox, g: overwatch

#3496 fix: squadrow sync
  components/squad/commons/squad_row.lua
Labels: bug, c: squad

#3500 fix: annotation warnings in infobox sc2 person
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/starcraft2/infobox_person_custom.lua
Labels: c: infobox, chore

#3498 fix: annotations in widget and widget factory
  components/infobox/commons/infobox_widget.lua
  components/infobox/commons/infobox_widget_factory.lua
  standard/class.lua
Labels: c: infobox, chore

#3494 Add Match2 for World of Tanks
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_summary.lua
Labels: c: match2, g: worldoftanks

#3495 fix: annotation issues
  components/earnings/commons/earnings_base.lua
  components/infobox/extensions/commons/infobox_extension_achievements.lua
  components/infobox/extensions/commons/infobox_placement_stats.lua
  components/infobox/wikis/ageofempires/infobox_team_custom.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/wikis/fifa/match_group_input_custom.lua
  components/match2/wikis/fifa/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tetris/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/match2/wikis/warcraft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/warcraft/legacy/legacy_match_maps.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_legacy.lua
  components/match_ticker/commons/match_ticker.lua
  components/opponent/commons/opponent_libraries.lua
  components/participant_table/commons/participant_table_import.lua
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
  components/participant_table/wikis/warcraft/participant_table_custom.lua
  components/portal_players/wikis/fifa/portal_players_custom.lua
  components/portal_players/wikis/smash/portal_players_custom.lua
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_award.lua
  components/prize_pool/commons/prize_pool_award_placement.lua
  components/prize_pool/commons/prize_pool_import.lua
  components/prize_pool/commons/prize_pool_legacy.lua
  components/prize_pool/commons/prize_pool_placement.lua
  components/prize_pool/commons/prize_pool_placement_base.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_award_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
  components/prize_pool/wikis/fortnite/prize_pool_legacy_custom.lua
  components/prize_pool/wikis/overwatch/prize_pool_custom.lua
  components/prize_pool/wikis/pokemon/prize_pool_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_legacy_custom.lua
  components/results_table/commons/results_table.lua
  components/results_table/commons/results_table_award.lua
  components/results_table/wikis/fortnite/results_table_custom.lua
  components/standings/commons/standings_storage.lua
  components/team_card/team_card_storage.lua
  standard/abbreviation.lua
  standard/class.lua
  standard/logic.lua
  standard/page.lua
  standard/page_variable_namespace.lua
Labels: chore

#3502 fix: anno warning in opponent
  components/opponent/commons/opponent.lua
Labels: chore, c: opponent

#3499 feat: stop using Module:Math in favor of Module:MathUtil
  components/earnings/commons/earnings_base.lua
  components/earnings/commons/earnings_legacy.lua
  components/infobox/extensions/commons/infobox_extensions_prize_pool.lua
  components/infobox/extensions/wikis/warcraft/infobox_extension_building_unit_shared.lua
  components/infobox/wikis/brawlhalla/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_team_custom.lua
  components/infobox/wikis/mobilelegends/infobox_hero_custom.lua
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/infobox/wikis/warcraft/infobox_character_custom.lua
  components/infobox/wikis/warcraft/infobox_person_player_custom.lua
  components/infobox/wikis/warcraft/infobox_series_custom.lua
  components/infobox/wikis/wildrift/infobox_unit_champion.lua
  components/statistics/portal_statistics.lua
Labels: chore

#3451 Add server2 and patch2 support to warcraft infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#3445 Add support for an edge case in warcraft match2 submatches
  components/match2/wikis/warcraft/legacy/legacy_match_maps.lua
  components/match2/wikis/warcraft/legacy/match_group_legacy_convert_map_data.lua
  components/match2/wikis/warcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/warcraft/match_summary.lua
Labels: c: match2, g: warcraft

#3501 feat: enable trios and quads by default
  .github/workflows/luacheck.yml
  components/opponent/commons/opponent_display.lua
  components/opponent/commons/test/opponent_test.lua
  components/opponent/wikis/fortnite/opponent_display_custom.lua
  spec/opponent_spec.lua
  spec/test_helper.lua
Labels: enhancement, c: opponent

#3497 Suppress some anno warnings
  components/prize_pool/commons/prize_pool_base.lua
  components/results_table/commons/results_table_base.lua
  components/standings/commons/standings_storage.lua
  components/statistics/portal_statistics.lua
  components/team_card/team_card_storage.lua
Labels: chore

#3505 fix: rename age calculation to its proper name on GH
  components/infobox/extensions/commons/age_calculation.lua
Labels: chore

#3504 fix: forgot in #3501 to defaeult fortnite's opponent display info
  standard/info/wikis/fortnite/info.lua
Labels: bug

#3508 Catch another edge case in warcraft match legacy wrapper
  components/match2/wikis/warcraft/legacy/match_group_legacy_convert_map_data.lua
Labels: c: match2, g: warcraft

#3474 Add f1 custom portal players
  components/portal_players/wikis/formula1/portal_players_custom.lua
Labels: c: portal_player, s: formula1

#3475 Update MK1 icons for Fighters
  standard/info/wikis/fighters/info.lua
Labels: c: standard, g: fighters

#3462 Removing Factor link from Infoboxes
  components/match2/wikis/leagueoflegends/match_links.lua
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
Labels: chore

#3510 Adjust COD info filenames
  standard/info/wikis/callofduty/info.lua
Labels: enhancement, c: standard, g: callofduty

#3511 Fix warcraft map walkover handling in case of additional manual score input
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: bug, c: match2, g: warcraft

#3512 Pass along submatch/map walkover handling in legacy wrapper
  components/match2/wikis/warcraft/legacy/match_group_legacy_convert_map_data.lua
  components/match2/wikis/warcraft/legacy/match_group_legacy_default.lua
Labels: c: match2, g: warcraft

#3513 Fix team player input handling
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: bug, c: match2, g: warcraft

#3503 feat: save earnings by year in `earningsbyyear`
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_team.lua
Labels: c: infobox, f: lpdb

#3517 Statistics: Fix opponentplayers sometimes being nil
  components/statistics/portal_statistics.lua
Labels: bug, c: statistics

#3521 PPT: Set empty tables for lpdb json fields
  components/prize_pool/commons/prize_pool_base.lua
Labels: bug, c: prize_pool

#3518 Store sold from in warcraft infobox item
  components/infobox/wikis/warcraft/infobox_item_custom.lua
Labels: c: infobox, g: warcraft

#3514 Add PlayerTeamAuto
  components/infobox/commons/infobox_person.lua
  components/infobox/extensions/commons/player_introduction.lua
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_person_player_custom.lua
  components/infobox/wikis/callofduty/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/halo/infobox_person_player_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
  components/infobox/wikis/pubgmobile/infobox_person_player_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/tft/infobox_person_player_custom.lua
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
  components/infobox/wikis/zula/infobox_person_player_custom.lua
Labels: c: infobox

#3528 feat: sumneko-lua as vscode recommended extension
  .vscode/extensions.json
Labels: chore

#3538 Tetris: Add ability to display map game scores in MatchSummary
  components/match2/wikis/tetris/match_summary.lua
Labels: c: match2, g: tetris

#3540 Add `replay` to Module:Links
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
Labels: enhancement, c: standard

#3535 feat: Add data modules for F1
  standard/info/wikis/formula1/info.lua
  standard/tier/wikis/formula1/tier_data.lua
Labels: c: standard, s: formula1, data

#3527 Adjust some race processing in warcraft submatches
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_util_custom.lua
Labels: c: match2, g: warcraft

#3516 Fix warcraft team player input in match2
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: bug, c: match2, g: warcraft

#3526 Parse json strings in `Match._moveRecordsFromMatchToList`
  components/match2/commons/match.lua
Labels: bug, c: match2

#3507 Fix some more annotations
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_group_display_singlematch.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_singlematch_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/legacy/match_maps_legacy.lua
  components/match2/wikis/warcraft/brkts_wiki_specific.lua
  components/match2/wikis/warcraft/get_match_group_copy_paste_wiki.lua
  components/matches_schedule_display/commons/matches_schedule_display.lua
  components/participant_table/commons/participant_table_base.lua
  components/participant_table/commons/participant_table_import.lua
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
  components/participant_table/wikis/warcraft/participant_table_custom.lua
  components/portal_players/commons/portal_players.lua
  components/portal_players/wikis/fifa/portal_players_custom.lua
  components/results_table/commons/results_table_base.lua
  components/results_table/wikis/starcraft2/results_table_custom.lua
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
  spec/abbreviation_spec.lua
  standard/table.lua
Labels: chore

#3541 Add missing deploy header
  standard/links/commons/links_priority_groups.lua
Labels: bug, c: standard

#3542 Fix deploy header
  standard/tier/wikis/formula1/tier_data.lua
Labels: bug, c: standard, s: formula1

#3506 fix: various match summary typos
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/opponent/commons/opponent_display.lua
Labels: bug, c: match2

#3531 Add Custom Earnings for World of Tanks
  components/earnings/wikis/worldoftanks/earnings.lua
Labels: c: earnings, g: worldoftanks

#3543 Add missing games to WoT Info
  standard/info/wikis/worldoftanks/info.lua
Labels: c: standard, g: worldoftanks

#3545 Add a nil catch to wc legacy match maps team template input
  components/match2/wikis/warcraft/legacy/legacy_match_maps.lua
  components/match2/wikis/warcraft/match_group_util_custom.lua
Labels: bug, c: match2, g: warcraft

#3529 feat: add stylesheets to the repository
  .github/workflows/deploy.yml
  .github/workflows/luacheck.yml
  .github/workflows/resources.yml
  .github/workflows/scheduled.yml
  .gitignore
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  Gruntfile.js
  package.json
  scripts/deploy_css.sh
  stylesheets/README.md
  stylesheets/commons/Achievement.css
  stylesheets/commons/Ambox.css
  stylesheets/commons/AutomaticPointsTable.css
  stylesheets/commons/Bracket.css
  stylesheets/commons/Brackets.css
  stylesheets/commons/Calendar.css
  stylesheets/commons/Colours.css
  stylesheets/commons/Columns.css
  stylesheets/commons/Crosstable.css
  stylesheets/commons/DivTable.css
  stylesheets/commons/FilterButtons.css
  stylesheets/commons/Grid.css
  stylesheets/commons/GroupTableLeague.css
  stylesheets/commons/Icons.css
  stylesheets/commons/Infobox.css
  stylesheets/commons/Mainpage.css
  stylesheets/commons/Matchseries.css
  stylesheets/commons/Miscellaneous.css
  stylesheets/commons/NavFrame.css
  stylesheets/commons/Navbox.css
  stylesheets/commons/OpponentList.css
  stylesheets/commons/Panels.css
  stylesheets/commons/Prizepooltable.css
  stylesheets/commons/Quote.css
  stylesheets/commons/Selectall.css
  stylesheets/commons/Statisticstable.css
  stylesheets/commons/Swisstable.css
  stylesheets/commons/Tables.css
  stylesheets/commons/Tabs.css
  stylesheets/commons/TeamTemplates.css
  stylesheets/commons/Teamcard.css
  stylesheets/commons/Techtree.css
Labels: chore

#3547 fix: css deploy script
  scripts/deploy_css.sh
Labels: bug

#3544 Add a nil check with log
  components/match_ticker/commons/match_ticker_display_components.lua
Labels: c: match_ticker

#3537 feat: Create F1 infobox league
  components/infobox/wikis/formula1/infobox_league_custom.lua
Labels: c: infobox, s: formula1

#3536 feat: Create F1 infobox map
  components/infobox/wikis/formula1/infobox_map_custom.lua
Labels: c: infobox, s: formula1

#3533 Add F1 infobox player
  components/infobox/wikis/formula1/infobox_person_player_custom.lua
Labels: c: infobox, s: formula1

#3551 fix: change single-quotes to double-quotes to fix
  .stylelintrc.json
  stylesheets/commons/Bracket.css
  stylesheets/commons/Brackets.css
  stylesheets/commons/Crosstable.css
  stylesheets/commons/DivTable.css
  stylesheets/commons/Grid.css
  stylesheets/commons/Icons.css
  stylesheets/commons/Infobox.css
  stylesheets/commons/Mainpage.css
  stylesheets/commons/Miscellaneous.css
  stylesheets/commons/Navbox.css
  stylesheets/commons/OpponentList.css
  stylesheets/commons/Prizepooltable.css
  stylesheets/commons/Statisticstable.css
  stylesheets/commons/TeamTemplates.css
  stylesheets/commons/Teamcard.css
  stylesheets/commons/Techtree.css
Labels: bug, style sheet

#3553 fix: escape division signs
  stylesheets/commons/GroupTableLeague.css
  stylesheets/commons/OpponentList.css
  stylesheets/commons/Prizepooltable.css
  stylesheets/commons/Teamcard.css
Labels: bug, style sheet

#3549 Remove some obsolete css
  stylesheets/commons/Calendar.css
  stylesheets/commons/Miscellaneous.css
  stylesheets/commons/OpponentList.css
Labels: chore, style sheet

#3550 Fixing style bracket designer buttons
  stylesheets/commons/Brackets.css
Labels: bug, style sheet

#3556 Adding new big portal style
  stylesheets/commons/Mainpage.css
Labels: style sheet

#3559 Make Brawl Stars stored publishertier in matches
  components/match2/wikis/brawlstars/match_group_input_custom.lua
Labels: enhancement, c: match2, g: brawl stars

#3560 Justifying panels for big portal
  stylesheets/commons/Mainpage.css
Labels: style sheet

#3562 Adjust map processing in warcraft infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#3564 Centre award in table
  components/results_table/commons/results_table_award.lua
Labels: c: results_table

#3565 Pass along map in wc match legacy
  components/match2/wikis/warcraft/match_legacy.lua
Labels: bug, c: match2, g: warcraft

#3532 Add Infoboxes to World of Tanks
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
  components/infobox/wikis/worldoftanks/infobox_person_player_custom.lua
  components/infobox/wikis/worldoftanks/infobox_team_custom.lua
Labels: c: infobox, g: worldoftanks

#3563 Add lol wrapper for legacy match lists
  components/match2/wikis/leagueoflegends/legacy/match_maps_legacy.lua
Labels: c: match2, g: leagueoflegends

#3568 Add a nil catch
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: bug, c: match2, g: warcraft

#3546 feat: add js to the repo
  .eslintrc.json
  .github/workflows/deploy.yml
  .gitignore
  .vscode/extensions.json
  Gruntfile.js
  javascript/README.md
  javascript/commons/Bracket.js
  javascript/commons/Calendar.js
  javascript/commons/Collapse.js
  javascript/commons/Commons_mainpage.js
  javascript/commons/Commons_tools.js
  javascript/commons/CopyToClipboard.js
  javascript/commons/Countdown.js
  javascript/commons/Crosstable.js
  javascript/commons/FilterButtons.js
  javascript/commons/Liquipedia_links.js
  javascript/commons/Mainpage.js
  javascript/commons/Miscellaneous.js
  javascript/commons/Prizepooltable.js
  javascript/commons/Selectall.js
  javascript/commons/SiteNotice.js
  javascript/commons/Tabs.js
  package.json
  scripts/deploy_res.sh
Labels: chore

#3569 fix: bash typo
  scripts/deploy_res.sh
Labels: bug, chore

#3585 Fix walkover in Legacy Wrapper
  components/match2/wikis/leagueoflegends/legacy/match_maps_legacy.lua
Labels: c: match2, g: leagueoflegends

#3571 fix: support full deploy for js
  .github/workflows/scheduled.yml
  scripts/deploy_res.sh
Labels: bug, chore

#3575 feat: migrate operator tests to busted
  spec/operator_spec.lua
  standard/test/operator_test.lua
Labels: chore

#3579 feat: migrate math tests to busted
  spec/math_util_spec.lua
  standard/test/math_util_test.lua
Labels: chore

#3580 feat: migrate tz tests to busted
  spec/timezone_spec.lua
  standard/test/timezone_test.lua
Labels: chore

#3581 feat: migrate text sanitzier to busted
  spec/text_sanitizer_spec.lua
  standard/test/text_sanitizer_test.lua
Labels: chore

#3582 feat: migrate reference cleaner tests to busted
  spec/reference_cleaner_spec.lua
  standard/test/reference_cleaner_test.lua
Labels: chore

#3578 feat: migrate ordinal test to busted
  definitions/mw.lua
  spec/ordinal_spec.lua
  standard/ordinal.lua
  standard/ordinal_data.lua
  standard/test/ordinal_test.lua
Labels: chore

#3577 feat: migrate fn util tests to busted
  spec/fn_util_spec.lua
  standard/test/fn_util_test.lua
Labels: chore

#3583 feat: migrate placement tests to busted
  spec/placement_spec.lua
  standard/test/placement.lua
Labels: chore

#3588 Fix convert match
  components/match2/wikis/leagueoflegends/legacy/match_maps_legacy.lua
Labels: c: match2, g: leagueoflegends

#3591 Set notabilitymod for qualified placements
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
Labels: enhancement, g: ageofempires, c: notability, c: prize_pool
