Repository Liquipedia/Lua-Modules, pull requests merged in 2024-06, with the labels that each got.

#4304 fix(match2): SC(2) faction processing for duo oppnents
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#4309 fix(infobox): fix upcoming tournaments sometimes not working on Valorant
  components/infobox/wikis/valorant/infobox_team_custom.lua
Labels: g: valorant, c: infobox

#4307 fix(participantTable): stormgate not working as intended
  components/participant_table/wikis/stormgate/participant_table_custom.lua
Labels: c: participant_table, g: stormgate

#4305 fix(match2): on league of legends champion names from the Api are not normalized
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: c: match2, g: leagueoflegends

#4240 feat(infobox): cosmetics infobox for dota2game
  components/infobox/commons/infobox_cosmetic.lua
  components/infobox/commons/infobox_patch.lua
  components/infobox/commons/infobox_widget_all.lua
  components/infobox/commons/infobox_widget_cell.lua
  components/infobox/commons/infobox_widget_header.lua
  components/infobox/wikis/dota2game/infobox_cosmetic_custom.lua
  components/infobox/wikis/rainbowsix/infobox_weapon_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/stormgate/infobox_person_player_custom.lua
  standard/date_ext.lua
  stylesheets/commons/Infobox.less
Labels: c: infobox, g: dota2

#4311 fix(infobox): dota2game's cosmetic infobox market link does not work for items without defindex while having space in the name
  components/infobox/wikis/dota2game/infobox_cosmetic_custom.lua
Labels: c: infobox, g: dota2

#4312 fix(infobox): dota2game's cosmetic automatic `setitems`
  components/infobox/wikis/dota2game/infobox_cosmetic_custom.lua
Labels: c: infobox, g: dota2

#4306 feat(prizePool): Store dateTime from import
  components/prize_pool/commons/prize_pool_import.lua
Labels: c: prize_pool

#4298 feat(portalPlayers): Add color for deceased on fifa and smash
  components/portal_players/wikis/fifa/portal_players_custom.lua
  components/portal_players/wikis/smash/portal_players_custom.lua
Labels: g: fifa, g: smash, c: portal_player

#4313 refactor(match2): standardize caster display to commons
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/stormgate/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/warcraft/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
Labels: c: match2

#4317 feat(links): add soop support
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
  stylesheets/commons/Icons.less
Labels: c: standard

#4316 fix(seriesMedalTables): fix endDate condition
  components/series_medal_stats/series_medal_stats.lua
Labels: c: series_medal_stats

#4328 fix(infobox): remove duplicate `cooldown reduction` cell on mlbb
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
Labels: c: infobox, g: mobilelegends

#4329 feat(faction): add `Celestial` and `Neutral` as factions on stormgate
  components/faction/wikis/stormgate/faction_data.lua
  components/faction/wikis/stormgate/faction_icon_data.lua
  stylesheets/commons/Faction.less
Labels: c: faction, data, stylesheets, g: stormgate

#4324 feat(locale): Allow single country regions
  spec/locale_spec.lua
  standard/locale.lua
Labels: c: standard

#4320 feat(infobox): unify highlight on rocketleague
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: g: rocket league, c: infobox

#4322 feat(links): add player and team links for ChallengerMode
  standard/links/commons/links.lua
Labels: c: standard, data

#4330 feat(infobox): Adjust Infobox item for relevance to MLBB wiki
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
Labels: c: infobox, g: mobilelegends

#4335 feat: Update callofduty match2 status
  standard/info/wikis/callofduty/info.lua
Labels: c: match2, g: callofduty

#4334 fix(infobox): incorrect category naming on Brawl Stars's player infobox
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
Labels: c: infobox, g: brawl stars

#4331 fix(infobox): publishertier not working
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: g: rocket league, c: infobox

#4319 fix(partTable): resolve LPDB loops
  components/participant_table/commons/participant_table_base.lua
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
  components/participant_table/wikis/stormgate/participant_table_custom.lua
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_award_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: c: prize_pool, c: participant_table

#4336 fix(prizepool): Do not reuse tables in placement data
  components/prize_pool/commons/prize_pool_base.lua
Labels: c: prize_pool

#4301 feat(infobox): infobox player for Critical Ops
  components/infobox/wikis/criticalops/infobox_person_player_custom.lua
Labels: c: infobox, g: criticalops

#4332 fix(prizepool): Honor tiertype on AoE in weight calculation
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
Labels: g: ageofempires, c: prize_pool

#4339 docs(standard): improve abbrevation annotation
  components/match2/wikis/worldoftanks/match_summary.lua
  components/matches_schedule_display/commons/matches_schedule_display.lua
  components/results_table/wikis/fortnite/results_table_custom.lua
  standard/abbreviation.lua
Labels: c: standard

#4340 fix(prizePool): Do not reuse tables in placement data - part 2
  components/prize_pool/commons/prize_pool_placement.lua
  components/prize_pool/wikis/fortnite/prize_pool_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_custom.lua
Labels: c: prize_pool

#4348 feat(infobox): infobox patch for MLBB
  components/infobox/wikis/mobilelegends/infobox_patch_custom.lua
Labels: c: infobox, g: mobilelegends

#4349 feat(FilterButtons): refresh countdowns after expansion
  javascript/commons/Countdown.js
  javascript/commons/FilterButtons.js
Labels: javascript, c: filter_buttons

#4325 feat(match2): add new options for Rainbow 6's Match2 Copy/Paste
  components/match2/wikis/rainbowsix/get_match_group_copy_paste_wiki.lua
Labels: g: rainbow six, c: match2

#4302 feat(match2): add caster support for Smite
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/smite/match_summary.lua
Labels: c: match2, g: smite

#4344 feat(match2): make winner override draws for CoC
  components/match2/wikis/clashofclans/match_group_input_custom.lua
Labels: c: match2, g: clashofclans

#4345 feat: Update pokemon match2 status
  standard/info/wikis/pokemon/info.lua
Labels: c: match2, g: pokemon

#4337 fix(infobox): brawlstars role check
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
Labels: c: infobox, g: brawl stars

#4346 feat(match2): Use CharacterIcon in rainbow six
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2

#4355 feat(gameTable): create game table
  components/game_table/commons/game_table.lua
  components/game_table/commons/game_table_custom.lua
Labels: c: match_table

#4353 feat(infobox): adjust mlbb infobox hero content
  components/infobox/wikis/mobilelegends/infobox_unit_hero_custom.lua
Labels: c: infobox, g: mobilelegends

#4350 feat(MatchTicker): add tier and tiertype filters
  components/match_ticker/commons/match_ticker.lua
Labels: c: match_ticker

#4354 fix(match2): Warcraft factions in team matches
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: c: match2, g: warcraft

#4356 feat(CharacterIcon): Add option to include name with the Icon
  components/character_icon/commons/character_icon.lua
Labels: c: character_icon

#4300 feat(infobox): add support for more creators in infobox map
  components/infobox/commons/infobox_map.lua
Labels: c: infobox

#4352 feat(infobox): add tickers to valorant's player infobox
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
Labels: g: valorant, c: infobox

#4351 feat(FilterButtons): Adding new filter styles
  stylesheets/commons/FilterButtons.less
Labels: stylesheets, c: filter_buttons

#4362 fix(FilterButtons): Fixing hover CSS rules
  stylesheets/commons/FilterButtons.less
Labels: stylesheets, c: filter_buttons

#3256 feat(FilterButtons): standardize FilterButtons
  components/tournaments_list/filter_buttons.lua
  stylesheets/commons/FilterButtons.less
Labels: c: filter_buttons
