Repository Liquipedia/Lua-Modules, pull requests merged in 2024-11, with the labels that each got.

#4986 feat(match2): standardize hearthstone display
  components/match2/wikis/hearthstone/match_summary.lua
  components/widget/match/summary/widget_match_summary_character.lua
Labels: c: match2, g: hearthstone

#4987 feat(match2): standardize display of brawlhalla
  components/match2/wikis/brawlhalla/match_summary.lua
Labels: c: match2, g: brawlhalla

#4995 feat(infobox): accommodation button in infobox league
  components/infobox/commons/infobox_league.lua
  components/widget/basic/widget_basic_link.lua
  standard/date_ext.lua
  standard/icon_data.lua
Labels: c: infobox

#5001 feat(infobox): also supply city and country when venue is known
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#5005 fix(match2): brawlstars legacy storage erroring on empty opponents
  components/match2/wikis/brawlhalla/match_legacy.lua
Labels: c: match2, g: brawlhalla

#5006 feat(infobox): Show automated team history for logged out users on AoE
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: c: infobox, g: ageofempires

#5007 fix(match2): sc(2) ffa erroring on shown 0 scores
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft_ffa.lua
Labels: g: starcraft, c: match2

#5004 fix(match2): pokemon game data not shown in MS
  components/match2/wikis/pokemon/match_summary.lua
Labels: c: match2, g: pokemon

#4999 feat(match2): standardize brawlstars display
  components/match2/wikis/brawlstars/match_summary.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_game_team_wrapper.lua
Labels: c: match2, g: brawl stars

#4985 feat(match2): partial standardization of valorant match summary
  components/match2/wikis/valorant/match_summary.lua
  spec/golden_masters/match2_matchlist_smoke_valorant.txt
Labels: g: valorant, c: match2

#4994 refactor(match2): use `MatchSummaryWidgets.Characters` on sg/wc
  components/match2/wikis/stormgate/hero_data.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_summary.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_summary.lua
Labels: c: match2, g: warcraft, g: stormgate

#4972 feat: add national tiertype on MLBB
  standard/tier/wikis/mobilelegends/tier_data.lua
Labels: g: mobilelegends

#5000 feat(match2): standardize icon display in match summaries
  components/match2/wikis/ageofempires/match_summary.lua
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/clashofclans/match_summary.lua
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/easportsfc/match_summary.lua
  components/match2/wikis/fighters/match_summary.lua
  components/match2/wikis/geoguessr/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/omegastrikers/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/teamfortress/match_summary.lua
  components/match2/wikis/tetris/match_summary.lua
  components/match2/wikis/tft/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
Labels: c: match2

#4980 feat(match2): add match vods on match pages
  components/match2/wikis/dota2/match_page.lua
  components/match2/wikis/leagueoflegends/match_page.lua
Labels: c: match2, g: dota2, g: leagueoflegends

#5012 feat(match2): standardize core body display logic
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/battlerite/match_summary.lua
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/clashofclans/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/geoguessr/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/magic/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/teamfortress/match_summary.lua
  components/match2/wikis/tetris/match_summary.lua
  components/match2/wikis/tft/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
Labels: c: match2

#5015 fix(match2): game comment location on wc3 and sg
  components/match2/wikis/stormgate/match_summary.lua
  components/match2/wikis/warcraft/match_summary.lua
Labels: c: match2, g: warcraft, g: stormgate

#4990 feat(match2): standardized detailed score display
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_detailed_score.lua
  stylesheets/commons/Brackets.less
Labels: g: valorant, g: rainbow six, c: match2, g: counter-strike, g: criticalops, g: zula

#4997 feat(match2): standardize R6 display
  components/match2/commons/match_group_display_helper.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/widget/match/summary/widget_match_summary_game_center.lua
Labels: g: rainbow six, c: match2

#5014 feat(match2): standardize cod and crossfire display
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_summary.lua
Labels: c: match2, g: crossfire, g: callofduty

#5017 feat(match2): standardize display on geo, halo, os, ow, splitg, tf, tetris & wot
  components/match2/wikis/geoguessr/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/omegastrikers/match_summary.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/teamfortress/match_summary.lua
  components/match2/wikis/tetris/match_summary.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_summary.lua
Labels: c: match2, g: halo, g: splitgate, g: overwatch, g: teamfortress, g: tetris, g: omegastrikers, g: worldoftanks, g: geoguessr

#5011 feat(match2): standardize arenafps display
  components/match2/wikis/arenafps/match_summary.lua
Labels: c: match2, g: arenafps

#5018 feat(match2): standardize MapMode icon
  components/match2/commons/match_group_display_helper.lua
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: halo, g: overwatch, g: crossfire, g: callofduty

#5020 feat(match2): standardize cops and zula's display
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
Labels: c: match2, g: criticalops, g: zula

#5021 feat(match2): standardize valorant's display
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#5024 fix(match2): on osu, match summary errors
  components/match2/wikis/osu/match_summary.lua
Labels: c: match2, g: osu

#5019 feat(match2): standardize counterstrike display
  components/match2/wikis/counterstrike/match_summary.lua
Labels: c: match2, g: counter-strike

#5025 fix(match2): Fix wrong import in League of Legends match page
  components/match2/wikis/leagueoflegends/match_page.lua
Labels: c: match2, g: leagueoflegends

#5027 docs(match2): fix some annotations
  components/match2/wikis/brawlhalla/match_summary.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/geoguessr/match_summary.lua
  components/match2/wikis/hearthstone/match_summary.lua
  components/match2/wikis/magic/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/teamfortress/match_summary.lua
  components/match2/wikis/tetris/match_summary.lua
Labels: c: match2

#5029 fix(match2): line break on R6 match summary
  components/match2/wikis/rainbowsix/match_summary.lua
  components/widget/match/summary/widget_match_summary_detailed_score.lua
  stylesheets/commons/Brackets.less
Labels: g: rainbow six, c: match2

#5022 fix(match2): wc/sg off-faction icons not shown
  components/match2/wikis/stormgate/match_summary.lua
  components/match2/wikis/warcraft/match_summary.lua
  stylesheets/commons/Brackets.less
Labels: c: match2, g: warcraft, g: stormgate

#5037 feat(tier): remove unused D-tier from Arenafps
  standard/tier/wikis/arenafps/tier_data.lua
Labels: c: standard, g: arenafps

#5034 feat(infobox): on pokemon, store in LPDB for player history
  components/infobox/wikis/pokemon/infobox_person_player_custom.lua
Labels: c: infobox, g: pokemon

#5036 fix(infobox): matchup category lowercased in StarCraft's strategy infobox
  components/infobox/wikis/starcraft/infobox_strategy_custom.lua
Labels: c: infobox, g: broodwar

#4979 feat(match2): Add GOALS support
  components/match2/wikis/goals/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/goals/match_group_input_custom.lua
  components/match2/wikis/goals/match_summary.lua
  standard/info/wikis/goals/info.lua
Labels: c: match2, g: goals

#5031 feat(match2): standardize processMatch on fifa
  components/match2/wikis/easportsfc/match_group_input_custom.lua
Labels: c: match2, g: easportsfc

#5032 feat(match2): standard processMatch on dota2 and lol
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
Labels: c: match2, g: dota2, g: leagueoflegends

#5039 feat(match2): make autoScore optional
  components/match2/commons/match_group_input_util.lua
Labels: g: rocket league, c: match2, g: trackmania

#5038 fix(match2): error on clash royale
  components/match2/commons/match_group_input_util.lua
Labels: c: match2, g: clashroyale

#5033 feat(match2): standardize procesMatch on rocketleague
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: g: rocket league, c: match2

#5041 feat(match2): replace `walkover` and `resulttype` with `status` on match level on standardized wikis
  components/match2/commons/match.lua
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/match_group_util.lua
Labels: c: match2

#5013 feat(team template): set up a mock
  definitions/mw.lua
  standard/mock/mock_team_template.lua
  test_assets/team_template_data.lua
Labels: documentation

#5045 feat: improve useful articles on dota2 main page
  stylesheets/commons/Fountain.less
Labels: g: dota2

#5043 feat(match2): replace `walkover` and `resulttype` with `status` on match level on non-standardized wikis
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: c: match2

#5048 feat(match2): remove flex-grow on characters display
  stylesheets/commons/Brackets.less
Labels: c: match2

#5046 feat(match2): standardize processMatch on sc(2), sg and wc
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: g: starcraft, c: match2, g: warcraft, g: stormgate

#5050 fix(match2): missing passalong of map parser on dota
  components/match2/wikis/dota2/match_group_input_custom.lua
Labels: c: match2, g: dota2

#5009 feat(transfer): throw error in case of missing team template
  components/transfer/commons/transfer_row.lua
Labels: c: transfer

#5053 feat(match2): improve display for non-solo matches on fighters
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/fighters/match_summary.lua
Labels: c: match2, g: fighters

#5056 fix(match2): mapScore calc on heroes, pokemon and wildrift
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#5051 feat(match2): remove autocalculating bestof on rocketleague
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: g: rocket league, c: match2

#5054 feat(match2): standardize mapName handling for processMap standardization
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/hearthstone/match_group_input_custom.lua
  components/match2/wikis/honorofkings/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/magic/match_summary.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tetris/match_summary.lua
Labels: c: match2

#5055 refactor(match2): extract map extradata to seperate function where it isn't
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
Labels: c: match2

#5052 feat(match2): Add copypaste for Pokemon
  components/match2/wikis/pokemon/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: pokemon

#5058 feat(match2): replace `walkover` and `resulttype` with `status` and `opponents` on map level on standardized wikis
  components/match2/commons/match.lua
  components/match2/commons/match_group_input_util.lua
Labels: c: match2

#5026 feat(infobox): show accomodation button only on non finished events
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#5064 fix(match2): mvp processing does not have access to opponents
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/honorofkings/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
Labels: c: match2

#5063 docs(match2): missing parameter documentation
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/match2/commons/match_summary_base.lua
Labels: documentation

#5003 fix(infobox): accomodation button failing display on tba/tbd
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#5065 feat(match2): hide agents on valorant in mobile view
  components/match2/wikis/valorant/match_summary.lua
  components/widget/match/summary/widget_match_summary_characters.lua
Labels: g: valorant, c: match2

#4809 fix(match2): shortened brackets with 3rd place match erroring
  components/match2/commons/match_group_shorten_bracket.lua
Labels: c: match2

#5057 feat(match2): standardize participant and opponent map parsing
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/hearthstone/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
Labels: c: match2

#5059 feat(match2): replace `walkover` and `resulttype` with `status` and `opponents` on map level on non-standardized wikis
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/easportsfc/match_group_input_custom.lua
  components/match2/wikis/goals/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: c: match2

#5060 feat(match2): standardize magic's map processing
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/magic/match_group_input_custom.lua
Labels: c: match2, g: magic

#5066 chore(match2): remove now unused code
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/clashroyale/match_summary.lua
Labels: c: match2

#5067 fix(match2): typo in MGI on Val
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#5068 feat(match2): improve centering on match2
  components/widget/match/summary/widget_match_summary_game_team_wrapper.lua
Labels: c: match2

#5069 feat(match2): improve match summaries additionally
  components/widget/match/summary/widget_match_summary_game_team_wrapper.lua
Labels: c: match2

#5081 feat(tier): remove unused D-tier from Brawlhalla
  standard/tier/wikis/brawlhalla/tier_data.lua
Labels: c: standard, g: brawlhalla

#5080 feat(tier): remove unused tier-4 from Fighters
  standard/tier/wikis/fighters/tier_data.lua
Labels: c: standard, g: fighters

#5073 fix(match2): apex with rcircular reference when trying to Json.stringify
  components/match2/wikis/apexlegends/match_group_input_custom.lua
Labels: c: match2, g: apex

#5070 refactor(match2): standardize sc2, sg, wc map processing
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: g: starcraft, c: match2

#5061 feat(infobox): start publishertier standardization
  components/hidden_data_box/commons/hidden_data_box.lua
  components/hidden_data_box/wikis/honorofkings/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/leagueoflegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/mobilelegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/pokemon/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/pubg/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/pubgmobile/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/splatoon/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/stormgate/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/wildrift/hidden_data_box_custom.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/callofduty/infobox_league_custom.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/crossfire/infobox_league_custom.lua
  components/infobox/wikis/fortnite/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/pokemon/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/stormgate/infobox_league_custom.lua
  components/infobox/wikis/warcraft/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
  components/prize_pool/wikis/leagueoflegends/prize_pool_custom.lua
Labels: c: infobox

#5040 feat(match2): remove strikethrough on resulttype=default
  components/match2/commons/match_group_display_helper.lua
Labels: c: match2

#5087 fix(match2): calculateMapScore faulty on craft wikis
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: g: starcraft, c: match2, g: warcraft, g: stormgate

#5090 feat(infobox): add imageDefaultDark on infobox person
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#5088 feat(transfer): split transfers in transferlist based on team1_2 and team2_2 too
  components/transfer/commons/transfer_list.lua
Labels: c: transfer

#5091 refactor(squad): rename variables from `type` to `status`
  components/squad/commons/squad_custom.lua
  components/squad/commons/squad_utils.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/stormgate/squad_custom.lua
  components/widget/squad/widget_squad_core.lua
  components/widget/squad/widget_squad_core_tldb.lua
Labels: c: squad

#5093 fix(match2): sc(2) free-for-all errors
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
Labels: g: starcraft, c: match2

#5096 feat: add Chronicles Battle for Greece civs on AoE2
  components/faction/wikis/ageofempires/faction_data.lua
  components/faction/wikis/ageofempires/faction_icon_data.lua
Labels: g: ageofempires, c: faction

#5094 feat(squad): add support for organization tables
  components/squad/commons/squad_custom.lua
  components/squad/commons/squad_utils.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/stormgate/squad_custom.lua
  components/widget/squad/widget_squad_core.lua
  components/widget/squad/widget_squad_core_tldb.lua
Labels: c: squad

#5099 feat(squad): drop the requirement of `id`
  components/squad/commons/squad_utils.lua
Labels: c: squad

#5104 feat(match2): add space to OT-length on RL
  components/match2/wikis/rocketleague/match_summary.lua
Labels: g: rocket league, c: match2

#5074 feat(match2): sort links in MatchSummary
  components/match2/commons/match_summary_base.lua
  standard/links/commons/links_match_priority_groups.lua
Labels: c: match2

#5113 chore: remove unused styling
  stylesheets/commons/Achievement.less
Labels: stylesheets

#4553 feat(match2): split game and match summaries on BRs
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/match_group_display_horizontallist.lua
  components/match2/commons/match_group_display_single_game.lua
  components/match2/wikis/apexlegends/game_summary.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_summary.lua
  components/match2/wikis/apexlegends/summary_util.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
Labels: c: match2, g: apex

#5100 feat(match2): Create hearthstone bracket match1->match2 support
  components/match2/commons/match_group_legacy.lua
  components/match2/wikis/hearthstone/legacy/match_group_legacy_default.lua
Labels: c: match2, g: hearthstone

#5108 feat(eml): Pagify links in ExternalMediaLink storage
  components/external_media_links/external_media_link.lua
  components/external_media_links/external_media_list.lua
Labels: c: infobox_extensions

#5084 refactor(match2): work away legacy getParticipants
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/match_group_util.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/hearthstone/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
Labels: c: match2, g: brawl stars, g: dota2, g: mobilelegends, g: leagueoflegends, g: Splatoon, g: clashroyale, g: hearthstone, g: omegastrikers, g: deadlock

#5116 feat(match2): create support for world of warcraft
  components/match2/wikis/worldofwarcraft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/worldofwarcraft/match_group_input_custom.lua
  components/match2/wikis/worldofwarcraft/match_summary.lua
Labels: c: match2, g: worldofwarcraft

#5118 fix(match2): battle royale issue with matchids starting with a number and incorrect caching
  javascript/commons/BattleRoyale.js
Labels: javascript

#5122 fix(match2): on age of empires, manual width is ignored in Legacy mode
  components/match2/wikis/ageofempires/legacy/match_maps_legacy.lua
Labels: c: match2, g: ageofempires

#5124 feat(match2): enable per-map score display for GOALS
  components/match2/wikis/goals/match_summary.lua
Labels: c: match2, g: goals

#5112 feat(match2): proper storage for mapOpponent.players on valorant
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#5127 refactor(notability): use standardized fields over deprecated fields
  components/notability/commons/notability_checker.lua
  components/notability/wikis/ageofempires/notability_checker_config.lua
  components/notability/wikis/apexlegends/notability_checker_config.lua
  components/notability/wikis/brawlstars/notability_checker_config.lua
  components/notability/wikis/halo/notability_checker_config.lua
  components/notability/wikis/pubgmobile/notability_checker_config.lua
  components/notability/wikis/rainbowsix/notability_checker_config.lua
  components/notability/wikis/rocketleague/notability_checker_config.lua
  components/notability/wikis/trackmania/notability_checker_config.lua
Labels: chore, c: notability

#5125 feat(match2): create support for battalion
  components/match2/wikis/battalion/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/battalion/match_group_input_custom.lua
  components/match2/wikis/battalion/match_legacy.lua
  components/match2/wikis/battalion/match_summary.lua
  standard/info/wikis/battalion/info.lua
Labels: c: match2, g: battalion

#5126 feat(match2): create support for squadrons
  components/match2/wikis/squadrons/match_group_input_custom.lua
  components/match2/wikis/squadrons/match_legacy.lua
  components/match2/wikis/squadrons/match_summary.lua
  standard/info/wikis/squadrons/info.lua
Labels: c: match2, g: squadrons

#5128 feat(match2): create support for paladins
  components/match2/wikis/paladins/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/paladins/match_group_input_custom.lua
  components/match2/wikis/paladins/match_legacy.lua
  components/match2/wikis/paladins/match_summary.lua
  standard/info/wikis/paladins/info.lua
Labels: c: match2, g: paladins

#5117 feat(infobox): finish the publishertier standardization
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
  components/infobox/wikis/clashofclans/infobox_league_custom.lua
  components/infobox/wikis/tft/infobox_league_custom.lua
  components/infobox/wikis/valorant/infobox_league_custom.lua
Labels: g: valorant, c: infobox, g: brawl stars, g: apex, g: tft, g: clashofclans

#5129 feat(match2): create support for artifact
  components/match2/wikis/artifact/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/artifact/match_group_input_custom.lua
  components/match2/wikis/artifact/match_legacy.lua
  components/match2/wikis/artifact/match_summary.lua
  standard/info/wikis/artifact/info.lua
Labels: c: match2, g: artifact

#5131 feat(notability): add clashofclans notability checker config
  components/notability/wikis/clashofclans/notability_checker_config.lua
Labels: c: notability, g: clashofclans

#5138 chore(match2): add untracked trackmania files
  components/match2/wikis/trackmania/brkts_wiki_specific.lua
  components/match2/wikis/trackmania/match_group_display_bracket_custom.lua
Labels: c: match2, g: trackmania

#5139 chore(match2): remove unused defaultIcon
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
Labels: g: rocket league, c: match2

#5141 feat(match2): standardize FFA/BR input
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
Labels: c: match2, g: apex

#5136 feat: support more date inputs
  spec/date_ext_spec.lua
  standard/date_ext.lua
Labels: c: standard

#5135 feat(infobox): Show participant count in individual tournament infoboxes on RL
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: g: rocket league, c: infobox

#5142 feat(match2): standardize FFA/BR display
  components/match2/wikis/apexlegends/game_summary.lua
  components/match2/wikis/apexlegends/match_summary.lua
  components/match2/wikis/apexlegends/summary_util.lua
  components/widget/html/widget_html_all.lua
  components/widget/image/widget_image_icon_fontawesome.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_all.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_content_item_container.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_countdown_icon.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_header.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_points_distribution.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_rank_range.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_tab.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_table.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_table_header.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_table_header_cell.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_table_row.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_table_row_cell.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_trophy.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
  spec/test_helper.lua
  standard/icon.lua
  standard/icon_data.lua
  stylesheets/commons/BattleRoyale/Panel.less
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2, g: apex

#5144 fix(match2): on apex, match columns header are not correctly hidden
  components/match2/wikis/apexlegends/match_summary.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
Labels: c: match2, g: apex
