Repository Liquipedia/Lua-Modules, pull requests merged in 2024-09, with the labels that each got.

#4684 feat(match2): copy/paste for Trackmania
  components/match2/wikis/trackmania/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: trackmania

#4683 fix(opponent): wrong var name & passed to wrong function
  components/opponent/commons/opponent.lua
  components/opponent/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/opponent/wikis/stormgate/opponent_custom.lua
  components/opponent/wikis/warcraft/opponent_custom.lua
Labels: g: starcraft, g: warcraft, c: opponent, g: stormgate

#4680 fix(opponent): fix `TemplatePlayer`
  components/opponent/commons/starcraft_starcraft2/player_display_starcraft.lua
Labels: g: starcraft, g: broodwar, c: opponent

#4643 feat(infobox): allow `player` as role on osu
  components/infobox/wikis/osu/infobox_person_player_custom.lua
Labels: c: infobox, g: osu

#4685 feat(styles): darkmode support for `.gvt-el-significant`
  stylesheets/commons/Fountain.less
Labels: stylesheets

#4687 docs: mw.text.split allows numeric input
  definitions/mw.lua
Labels: documentation

#4688 feat(infobox): update camps on SG Map Infobox
  components/infobox/wikis/stormgate/infobox_map_custom.lua
Labels: c: infobox, g: stormgate

#4326 feat(match2): Add tft support
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/tft/match_summary.lua
Labels: c: match2, g: tft

#4689 feat(matchticker): update toggle slider disabled background color
  stylesheets/commons/SwitchButtons.less
Labels: stylesheets

#4657 feat(standard): named "lua dev enviroments"
  .github/workflows/deploy test.yml
  scripts/deploy.sh
  spec/feature_flag_spec.lua
  standard/feature_flag.lua
  standard/lua.lua
Labels: c: standard

#4679 feat(Operator): support multiple path segments in `Operator.property`
  spec/operator_spec.lua
  standard/operator.lua
Labels: c: standard

#4633 feat(widget): use standard error handling
  components/infobox/commons/infobox_widget.lua
  components/infobox/commons/infobox_widget_all.lua
  components/infobox/commons/infobox_widget_error.lua
  components/infobox/wikis/apexlegends/infobox_map_custom.lua
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_award.lua
  components/prize_pool/commons/prize_pool_base.lua
  standard/display_util.lua
  standard/error_display.lua
Labels: c: infobox, c: prize_pool

#4693 chore: remove unused classes from `Prizepooltable.less`
  stylesheets/commons/Prizepooltable.less
Labels: chore, stylesheets

#4694 fix(match2): `opponentIsHighlightable` sometimes being wrong on sc(2)/wc/sg
  components/match2/commons/match_group_display_helper.lua
Labels: g: starcraft, c: match2, g: warcraft, g: stormgate

#4692 feat(match2): add matchsection param on valorant copy paste
  components/match2/wikis/valorant/get_match_group_copy_paste_wiki.lua
Labels: g: valorant, c: match2

#4698 feat(match2): fetch name and link from LPDB on dota2 matchpages
  components/match2/wikis/dota2/match_group_input_custom_match_page.lua
  components/match2/wikis/dota2/match_page.lua
  components/match2/wikis/dota2/match_page_template.lua
Labels: c: match2, g: dota2

#4699 feat(match2): add casters to dota2
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/dota2/match_summary.lua
Labels: c: match2, g: dota2

#4700 docs(match2): annotate dota2 input and dota2 api data
  components/match2/wikis/dota2/match_group_input_custom_match_page.lua
  definitions/mw.lua
Labels: c: match2, g: dota2

#4701 fix(match2): error on missing game.extradata on dota2
  components/match2/wikis/dota2/match_legacy.lua
Labels: c: match2, g: dota2

#4704 fix(infobox): spelling on deadlock infobox character
  components/infobox/wikis/deadlock/infobox_character_custom.lua
Labels: c: infobox, g: deadlock

#4702 feat(tier): add wot data
  standard/tier/wikis/worldoftanks/tier_data.lua
Labels: c: standard

#4708 fix(match2): type of dota2 publisherid
  components/match2/wikis/dota2/match_group_input_custom.lua
Labels: c: match2, g: dota2

#4650 feat(match2): Switch finished to `true` for not played matches
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#4710 feat(matchticker): show game vods too
  components/match_ticker/commons/match_ticker.lua
  components/match_ticker/commons/match_ticker_display_components.lua
Labels: c: match_ticker

#4713 feat(match2): sort dota2 extradata hero picks in pick order
  components/match2/wikis/dota2/match_group_input_custom_match_page.lua
Labels: c: match2, g: dota2

#4618 feat(match2): improve score storage in bo1 on R6 and VAL
  components/match2/commons/match_group_util.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/valorant/match_legacy.lua
  standard/info/wikis/rainbowsix/info.lua
  standard/info/wikis/valorant/info.lua
Labels: g: valorant, g: rainbow six, c: match2, breaking change

#4720 fix(prizepool): error in import due to `opponentFromRecord` param change
  components/prize_pool/commons/prize_pool_import.lua
Labels: c: prize_pool

#4714 feat(matchticker): add match detail button for matchpages
  components/match_ticker/commons/match_ticker_display_components_new.lua
  stylesheets/commons/MatchTicker.less
Labels: c: match_ticker

#4725 fix(match2): missing nil check on valorant input processing
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#4727 docs(match2): add annotations for MGI opponents and players
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  standard/page.lua
Labels: c: match2

#4729 fix(match2): error on c-ops
  components/match2/wikis/criticalops/match_group_input_custom.lua
Labels: c: match2, g: criticalops

#4730 feat(match2): show bo1 score on zula cops and crossfire
  standard/info/wikis/criticalops/info.lua
  standard/info/wikis/crossfire/info.lua
  standard/info/wikis/zula/info.lua
Labels: g: criticalops, g: crossfire, g: zula

#4728 feat(match2): handle legacy R6 bo1 input
  components/match2/wikis/rainbowsix/legacy/match_group_legacy_default.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy.lua
Labels: g: rainbow six, c: match2

#4731 fix(match2): Clash Royale card display for duo opponents
  components/match2/wikis/clashroyale/match_summary.lua
Labels: c: match2, g: clashroyale

#4737 feat(faction): Update AoE data, add Freyr and more aliases & update icons
  components/faction/wikis/ageofempires/faction_data.lua
  components/faction/wikis/ageofempires/faction_icon_data.lua
Labels: g: ageofempires, c: faction, data

#4723 refactor(match2): AoE input parsing
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_summary.lua
Labels: c: match2, g: ageofempires

#4724 feat(tier): add points tier for WoT
  standard/tier/wikis/worldoftanks/tier_data.lua
Labels: c: standard, g: worldoftanks, data

#4740 fix(match2): valorant agents
  components/match2/commons/match_group_display_helper.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/valorant/match_summary.lua
  standard/table.lua
Labels: g: valorant, c: match2

#4738 feat(match2): Add legacy wrapper to arenafps
  components/match2/wikis/arenafps/legacy/legacy_bracket_match_summary.lua
  components/match2/wikis/arenafps/legacy/match_group_legacy_default.lua
  components/match2/wikis/arenafps/legacy/match_maps_legacy.lua
Labels: c: match2, g: arenafps

#4739 fix(opponent): in bo1 handling we sometimes show `nil` as score
  components/match2/commons/match_group_util.lua
Labels: c: opponent

#4748 fix(match2): missing faction normalization
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#4631 refactor(match2): warcraft MGI
  components/match2/wikis/warcraft/legacy/legacy_match_maps.lua
  components/match2/wikis/warcraft/legacy/match_group_legacy_convert_map_data.lua
  components/match2/wikis/warcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_summary.lua
  components/opponent/wikis/warcraft/player_ext_custom.lua
Labels: c: match2, g: warcraft

#4752 refactor(match2): minor changes to get rid of anno warnings on sc(2) & wc3
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: g: starcraft, c: match2, g: warcraft

#4747 feat(match2): improve bo1 status handling
  components/match2/commons/match_group_util.lua
Labels: c: match2

#4746 fix(match2): non-working fallback
  components/match2/commons/match_group_input_util.lua
Labels: c: match2

#4745 feat(match2): parse participant into arrays
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/match_group_util.lua
  components/match2/wikis/leagueoflegends/match_page.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2, g: leagueoflegends

#4750 feat(match2): remove support for `pagifyPlayerNames=false`
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#4753 refactor(gametable): simplify not played
  components/game_table/commons/game_table.lua
Labels: c: match_table

#4651 refactor(match2): stormgate MGI
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_summary.lua
  components/opponent/wikis/stormgate/player_ext_custom.lua
Labels: c: match2, g: stormgate

#4734 refactor(match2): sc(2) FFA input processing
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_external_links_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_deprecated.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_summary_ffa_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#4756 fix(match2): new valorant game opponent handling
  components/match2/commons/match.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#4749 feat(match2): remove now unused sc(2) input alises
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
Labels: g: starcraft, c: match2

#4751 fix(match2): Preserve and store input order for players
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_legacy.lua
  components/match2/wikis/ageofempires/match_summary.lua
Labels: c: match2, g: ageofempires

#4758 feat(match2): valorant legacy handling for bo1
  components/match2/wikis/rainbowsix/legacy/match_group_legacy_default.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy.lua
  components/match2/wikis/valorant/legacy/match_group_legacy_default.lua
  components/match2/wikis/valorant/legacy/match_maps_legacy.lua
Labels: g: valorant, g: rainbow six, c: match2

#4763 feat: add more games to simracing
  standard/info/wikis/simracing/info.lua
Labels: g: simracing, data

#4321 feat(match2): clash royale support
  components/match2/wikis/clashroyale/match_group_input_custom.lua
Labels: c: match2, g: clashroyale

#4759 feat(infobox): Update Eastern Naming Country Order List
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#4771 fix(match2): several issues on CR
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_summary.lua
Labels: c: match2, g: clashroyale

#4773 fix(opponent): Missing alias for faction in solo opponents on wc3
  components/opponent/wikis/warcraft/opponent_custom.lua
Labels: g: warcraft, c: opponent

#4333 feat(match2): create team fortress support
  components/match2/wikis/teamfortress/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/teamfortress/match_group_input_custom.lua
  components/match2/wikis/teamfortress/match_legacy.lua
  components/match2/wikis/teamfortress/match_summary.lua
Labels: c: match2, g: teamfortress

#4776 fix(squad): dota2 table alignment on empty activeteam
  components/squad/wikis/dota2/squad_custom.lua
  spec/golden_masters/squad_row_dota2.txt
Labels: g: dota2, c: squad

#4767 refactor(infobox): make core infobox a widget
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_basic.lua
  components/infobox/commons/infobox_building.lua
  components/infobox/commons/infobox_campaign.lua
  components/infobox/commons/infobox_campaign_mission.lua
  components/infobox/commons/infobox_character.lua
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_cosmetic.lua
  components/infobox/commons/infobox_game.lua
  components/infobox/commons/infobox_item.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_lore.lua
  components/infobox/commons/infobox_manufacturer.lua
  components/infobox/commons/infobox_map.lua
  components/infobox/commons/infobox_patch.lua
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_scene.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_show.lua
  components/infobox/commons/infobox_skill.lua
  components/infobox/commons/infobox_strategy.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/commons/infobox_tool.lua
  components/infobox/commons/infobox_unit.lua
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/commons/infobox_weapon.lua
  components/infobox/commons/infobox_website.lua
  components/infobox/wikis/arenaofvalor/infobox_person_player_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft/infobox_strategy_custom.lua
  components/infobox/wikis/starcraft2/infobox_show_custom.lua
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
  components/infobox/wikis/warcraft/infobox_strategy_custom.lua
  components/widget/infobox/widget_infobox_core.lua
  components/widget/widget_fragment.lua
  spec/test_helper.lua
Labels: c: infobox

#4781 fix(infobox): age of empires infobox league
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#4783 chore(match2): prep for requested wiki var name change
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: g: starcraft, c: match2, g: warcraft, g: stormgate

#4784 chore(match2): remove deprecated wiki var
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: g: starcraft, c: match2, g: warcraft, g: stormgate

#4768 feat: update cs faceit link on match2
  components/match2/wikis/counterstrike/match_external_links.lua
Labels: data

#4785 feat(info): Update match2 status on arenafps
  standard/info/wikis/arenafps/info.lua
Labels: c: match2, g: arenafps

#4786 feat(gameTable): Add custom gameTable to valorant
  components/game_table/commons/game_table.lua
  components/game_table/commons/game_table_character.lua
  components/game_table/dota2/game_table_character_custom.lua
  components/game_table/valorant/game_table_character_custom.lua
Labels: c: match_table

#4791 fix(gameTable): Check if winner is set
  components/game_table/commons/game_table.lua
Labels: c: match_table

#4790 feat(match2): Create GeoGuessr support
  components/match2/wikis/geoguessr/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/geoguessr/match_group_input_custom.lua
  components/match2/wikis/geoguessr/match_summary.lua
Labels: c: match2, g: geoguessr
