Repository Liquipedia/Lua-Modules, pull requests merged in 2024-04, with the labels that each got.

#4134 refactor(match2): improve match1 storage
  components/match2/wikis/arenaofvalor/match_legacy.lua
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/callofduty/match_legacy.lua
  components/match2/wikis/counterstrike/match_legacy.lua
  components/match2/wikis/criticalops/match_legacy.lua
  components/match2/wikis/crossfire/match_legacy.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/fifa/match_legacy.lua
  components/match2/wikis/heroes/match_legacy.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/pokemon/match_legacy.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/splatoon/match_legacy.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/wildrift/match_legacy.lua
  components/match2/wikis/zula/match_legacy.lua
Labels: documentation, c: match2, chore

#4128 feat: add additonal roles to valorant person infobox
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
Labels: g: valorant, c: infobox

#4127 fix: valorant `signature hero` to `signature agent`
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
Labels: g: valorant, c: infobox

#4062 feat: create automated team gallery
  standard/gallery.lua
  standard/team_logo_gallery.lua
Labels: c: standard

#4123 feat: limit SignatureHeroes on OW Player Infobox
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: overwatch

#4125 fix(HDB): do not use game fallback on sc & sc2
  components/hidden_data_box/wikis/starcraft/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
Labels: bug, g: starcraft, g: broodwar, c: hidden_data_box

#4122 feat: add circuit info on trackmania infobox league
  components/infobox/wikis/trackmania/infobox_league_custom.lua
Labels: c: infobox, g: trackmania

#4109 fix(match2): qualified headers
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_input.lua
Labels: bug, c: match2

#4126 BR match 2 mobile sideways scrolling behaviour
  javascript/commons/BattleRoyale.js
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: stylesheets, javascript

#4135 fix(tabs): static tabs without links display are wonky
  standard/tabs.lua
Labels: bug

#4136 docs(match2): suppress anno warnings in legacy input processings
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy_store.lua
  components/match2/wikis/rocketleague/legacy/legacy_match_list.lua
Labels: documentation, c: match2, chore

#4139 revert:"fix(tabs): static tabs without links display are wonky (#4135)"
  standard/tabs.lua
Labels: bug, c: standard, severe

#4140 refactor(info): remove deprected fields - part 1
  standard/info/commons/info.lua
  standard/info/wikis/ageofempires/info.lua
  standard/info/wikis/apexlegends/info.lua
  standard/info/wikis/arenafps/info.lua
  standard/info/wikis/arenaofvalor/info.lua
  standard/info/wikis/artifact/info.lua
  standard/info/wikis/autochess/info.lua
  standard/info/wikis/battalion/info.lua
  standard/info/wikis/battlerite/info.lua
  standard/info/wikis/brawlhalla/info.lua
  standard/info/wikis/brawlstars/info.lua
  standard/info/wikis/callofduty/info.lua
  standard/info/wikis/clashofclans/info.lua
  standard/info/wikis/clashroyale/info.lua
  standard/info/wikis/criticalops/info.lua
  standard/info/wikis/crossfire/info.lua
  standard/info/wikis/dota2/info.lua
  standard/info/wikis/fifa/info.lua
  standard/info/wikis/fighters/info.lua
  standard/info/wikis/formula1/info.lua
  standard/info/wikis/fortnite/info.lua
  standard/info/wikis/freefire/info.lua
Labels: chore, c: standard

#4138 Create Info module for GOALS
  standard/info/wikis/goals/info.lua
Labels: c: standard, g: goals

#4141 refactor(info): remove deprected fields - part 3
  standard/info/wikis/smash/info.lua
  standard/info/wikis/smite/info.lua
  standard/info/wikis/splatoon/info.lua
  standard/info/wikis/splitgate/info.lua
  standard/info/wikis/squadrons/info.lua
  standard/info/wikis/starcraft/info.lua
  standard/info/wikis/starcraft2/info.lua
  standard/info/wikis/stormgate/info.lua
  standard/info/wikis/teamfortress/info.lua
  standard/info/wikis/tetris/info.lua
  standard/info/wikis/tft/info.lua
  standard/info/wikis/trackmania/info.lua
  standard/info/wikis/underlords/info.lua
  standard/info/wikis/valorant/info.lua
  standard/info/wikis/warcraft/info.lua
  standard/info/wikis/wildrift/info.lua
  standard/info/wikis/worldoftanks/info.lua
  standard/info/wikis/worldofwarcraft/info.lua
  standard/info/wikis/zula/info.lua
Labels: chore, c: standard

#4145 fix(match2): fix broken 1v1 matches
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
Labels: bug, c: match2, g: mobilelegends

#4146 fix(infobox): patch on warcraft is not storing properly
  components/infobox/wikis/warcraft/infobox_patch_custom.lua
Labels: bug, c: infobox, g: warcraft

#4148 refactor(squad): extract commonly used functionality
  components/squad/commons/squad_custom.lua
  components/squad/commons/squad_utils.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/stormgate/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/warcraft/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: c: squad

#4147 Add Infobox Icons & Links for `Rooter` and `CFS`
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
  stylesheets/commons/Icons.less
Labels: c: standard

#4151 fix(squad): error on league of legends
  components/squad/wikis/leagueoflegends/squad_custom.lua
Labels: bug, c: squad, g: leagueoflegends

#4152 feat(infobox): rename header on F1 person infobox
  components/infobox/wikis/formula1/infobox_person_player_custom.lua
Labels: c: infobox, s: formula1

#4154 fix details of the IDR currency
  standard/currency_data.lua
Labels: data

#4150 feat(match2): update links for overwatch
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: overwatch

#4155 feat: add Koihime Enbu to Fighters
  standard/info/wikis/fighters/info.lua
Labels: g: fighters, data

#4159 feat(opponent): make faction alias to race on craft wikis
  components/opponent/commons/starcraft_starcraft2/opponent_starcraft.lua
  components/opponent/wikis/warcraft/opponent_custom.lua
Labels: g: starcraft, g: warcraft, g: broodwar, c: opponent

#4157 refactor(squad): standardise position
  components/squad/commons/squad_row.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/smite/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: c: squad

#4165 feat(squad): use FA for icons
  components/squad/commons/squad_row.lua
  standard/icon.lua
  standard/icon_data.lua
Labels: c: squad

#4160 feat(squad): use model for storing
  components/squad/commons/squad_custom.lua
  components/squad/commons/squad_row.lua
  components/squad/commons/squad_utils.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/halo/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/smite/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/stormgate/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/warcraft/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
  spec/squad_spec.lua
  standard/lpdb.lua
Labels: c: squad

#4158 refactor(squad): standardise most
  components/squad/commons/squad.lua
  components/squad/commons/squad_custom.lua
  components/squad/commons/squad_utils.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/halo/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/smite/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/stormgate/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/warcraft/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: c: squad

#4168 fix: error on squad table
  components/squad/commons/squad.lua
Labels: c: squad

#4161 feat(match2): shorter header titles in mobile view to save width
  components/match2/wikis/apexlegends/match_summary.lua
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2, stylesheets, javascript

#4167 feat(match2): extra border width to the game columns on battle royale
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2, stylesheets

#4174 fix(team logo gallery): incorrect text when skipping an image
  standard/team_logo_gallery.lua
Labels: c: standard

#4173 fix(match2): crossfire is not storing players
  components/match2/wikis/crossfire/match_group_input_custom.lua
Labels: c: match2, g: crossfire

#4175 feat: darkmode support for `black` css class
  stylesheets/commons/Colours.less
Labels: stylesheets

#4176 fix(match2): AoE walkover handling
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_legacy.lua
Labels: c: match2, g: ageofempires

#4172 fix(infobox): league of legends storing incorrect data for player history
  components/infobox/wikis/callofduty/infobox_person_player_custom.lua
  components/infobox/wikis/crossfire/infobox_person_player_custom.lua
  components/infobox/wikis/formula1/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/freefire/infobox_person_player_custom.lua
  components/infobox/wikis/halo/infobox_person_player_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
  components/infobox/wikis/omegastrikers/infobox_person_player_custom.lua
  components/infobox/wikis/osu/infobox_person_player_custom.lua
  components/infobox/wikis/pokemon/infobox_person_player_custom.lua
  components/infobox/wikis/pubgmobile/infobox_person_player_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/smite/infobox_person_player_custom.lua
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
  components/infobox/wikis/worldoftanks/infobox_person_player_custom.lua
  components/infobox/wikis/zula/infobox_person_player_custom.lua
Labels: c: infobox, chore

#4153 feat(tabs): option to show singular tab as a tab
  standard/tabs.lua
Labels: c: standard

#4163 Adjust F1 Tier data
  standard/tier/wikis/formula1/tier_data.lua
Labels: c: standard, g: formula1

#4170 refactor(teamcard): move qualifier text parsing from external module
  components/team_card/team_card_storage.lua
  spec/team_card_storage_spec.lua
Labels: c: team_card

#4179 feat(standard): add `Armenian Time`
  standard/timezone_data.lua
Labels: c: standard, data

#4171 fix(externalMedia): fails when no additional conditions
  components/external_media_links/external_media_list.lua
Labels: c: external_media_links

#4181 refactor(squad): simplify newteam
  components/squad/commons/squad_row.lua
Labels: c: squad

#4180 feat(portal players): add color for deceased status
  components/portal_players/commons/portal_players.lua
  stylesheets/commons/Colours.less
Labels: c: portal_player, stylesheets

#4186 feat: update mlbb logo
  standard/info/wikis/mobilelegends/info.lua
Labels: c: standard, g: mobilelegends

#4187 feat(standard): Standardize medal module
  components/infobox/extensions/commons/infobox_placement_stats.lua
  components/series_medal_stats/series_medal_stats.lua
  components/statistics/portal_statistics.lua
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
  standard/medals.lua
  standard/medals_data.lua
Labels: c: standard

#4188 fix(medals): remove file prefix in data
  standard/medals_data.lua
Labels: data

#4107 feat: add banned storage on infobox person
  components/infobox/commons/infobox_person.lua
  components/portal_players/commons/portal_players.lua
Labels: c: infobox, c: portal_player

#4189 feat: darkmode support for `halfbox`
  stylesheets/commons/Miscellaneous.less
Labels: stylesheets

#4192 feat(bigmatch): add dark-theme colors
  stylesheets/commons/Miscellaneous.less
Labels: c: match2, g: leagueoflegends

#3509 Add match table
  components/match_table/commons/match_table.lua
  components/match_table/commons/match_table_custom.lua
  stylesheets/commons/Miscellaneous.less
Labels: c: match_table

#4195 feat(bigmatch): missing ampersands
  stylesheets/commons/Miscellaneous.less
Labels: c: match2, g: leagueoflegends

#4196 fix(bigmatch): make icons white monochrome on dark theme
  stylesheets/commons/Miscellaneous.less
Labels: c: match2, g: leagueoflegends

#4194 feat(infobox): store overwatch publishertier
  components/infobox/wikis/overwatch/infobox_league_custom.lua
Labels: c: infobox, g: overwatch

#4199 fix(squads): special team input
  components/squad/commons/squad_row.lua
  components/squad/commons/squad_utils.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/stormgate/squad_custom.lua
Labels: c: squad

#4178 feat(infobox_extensions): create automated game appearances for players
  components/infobox/extensions/commons/infobox_extension_game_appearances.lua
Labels: c: infobox_extensions

#4200 refactor: remove usage of deprecated `Module:Games`
  components/infobox/extensions/commons/metadata_generator.lua
  spec/metadata_generator_spec.lua
  spec/test_helper.lua
Labels: c: infobox_extensions

#4201 feat(ParticipantTable): allow to disable title
  components/participant_table/commons/participant_table_base.lua
Labels: c: participant_table

#4204 fix(infobox_extensions): fix breaking typo
  components/infobox/extensions/commons/infobox_extension_game_appearances.lua
Labels: c: infobox_extensions

#4206 feat(HighlightConditions): customize for OW
  standard/highlight_conditions/wikis/overwatch/highlight_conditions.lua
Labels: c: standard, g: overwatch

#4208 fix(match2) AoE: walkover status, playerData
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: c: match2, g: ageofempires

#4205 feat(opponent): support smash participant tables
  components/opponent/commons/opponent_display.lua
  components/opponent/wikis/smash/opponent_custom.lua
  components/opponent/wikis/smash/player_display_custom.lua
  standard/info/wikis/smash/info.lua
Labels: c: opponent, g: smash

#4207 feat(participantTable): Add AoE custom with support for seedings
  components/participant_table/wikis/ageofempires/participant_table_custom.lua
  stylesheets/commons/OpponentList.less
Labels: g: ageofempires, c: participant_table

#4203 feat(participantTable): store dq indicator
  components/participant_table/commons/participant_table_base.lua
Labels: c: participant_table

#4209 fix(match2): prevent applying winner class for draws in MatchList
  components/match2/commons/match_group_display_matchlist.lua
  stylesheets/commons/Brackets.less
Labels: c: match2

#4177 feat: Game appearances for Simracing Infobox Player
  components/infobox/wikis/simracing/infobox_person_player_custom.lua
Labels: c: infobox, g: simracing

#4212 added darkmode icon for R6+updated lightmode icon name
  standard/info/wikis/rainbowsix/info.lua
Labels: g: rainbow six, data

#4213 fix(highlightCond): overwatch not working
  standard/highlight_conditions/wikis/overwatch/highlight_conditions.lua
Labels: c: standard, g: overwatch

#4214 fix(matchtable): Display stats scores
  components/match_table/commons/match_table.lua
Labels: c: match_table

#4215 fix(ParticipantTable): filling up with TBD via count
  components/participant_table/commons/participant_table_base.lua
Labels: c: participant_table

#4075 Split `Miscellaneous.less` into several files
  stylesheets/commons/BigMatch.less
  stylesheets/commons/BootstrapVisibility.less
  stylesheets/commons/DeckList.less
  stylesheets/commons/Faction.less
  stylesheets/commons/HexagonPortraits.less
  stylesheets/commons/Miscellaneous.less
  stylesheets/commons/OpponentList.less
  stylesheets/commons/ResponsiveTable.less
  stylesheets/commons/RosterCard.less
  stylesheets/commons/TeamPortal.less
  stylesheets/commons/TournamentCard.less
Labels: chore, stylesheets

#4217 docs: fix game appearances annotation
  components/infobox/extensions/commons/infobox_extension_game_appearances.lua
Labels: c: infobox_extensions

#4218 docs: Fix annotations in AoE tarticipants table
  components/participant_table/wikis/ageofempires/participant_table_custom.lua
Labels: documentation

#4221 feat(standard): Add `Logic.nilIfEmpty`
  spec/logic_spec.lua
  standard/logic.lua
Labels: c: standard

#4220 docs: meta define the global test function exposed by custom `busted.export`
  spec/test_helper.lua
Labels: chore

#4225 feat(match2): don't show status column for matches without statues
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#4224 feat(match2): simplify game details header on apex
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#4227 feat(match2): manual bonus/subtract points on apex
  components/match2/wikis/apexlegends/match_group_input_custom.lua
Labels: c: match2, g: apex

#4226 feat(match2): basic support for matchpoint on apex
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#4231 Use small character icons for Smash
  components/opponent/wikis/smash/player_display_custom.lua
Labels: c: opponent, g: smash

#4230 Use small character icons for Fighters
  components/opponent/wikis/fighters/player_display_custom.lua
Labels: c: opponent, g: fighters

#4229 fix(colours): add dark-theme appropriate gray background color
  stylesheets/commons/Colours.less
Labels: stylesheets

#4234 fix(squad): header order on overwatch
  components/squad/wikis/overwatch/squad_custom.lua
Labels: c: squad, g: overwatch

#4235 doc(Logic): Improve `Logic.nilIfEmpty` annotations
  standard/logic.lua
Labels: documentation, c: standard

#4239 fix(squad): tlpd not working on broodwar
  components/squad/wikis/starcraft/squad_custom.lua
Labels: g: starcraft, c: squad

#4237 fix(infobox): max damage calculation on warcraft's unit infobox is incorrect
  components/infobox/extensions/wikis/warcraft/infobox_extension_building_unit_shared.lua
Labels: c: infobox_extensions, g: warcraft

#4232 fix(matchTable): do not display default date
  components/match_table/commons/match_table.lua
Labels: c: match_table
