Repository Liquipedia/Lua-Modules, pull requests merged in 2024-02, with the labels that each got.

#3911 BR - background color for navigation
  stylesheets/commons/BattleRoyale/NavigationTabs.less
  stylesheets/commons/BattleRoyale/Panel.less
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2

#3910 Prepare PlayerIntro for custom overwrites of single functions (f1)
  components/infobox/commons/infobox_person.lua
  components/infobox/extensions/commons/player_introduction.lua
  components/infobox/extensions/commons/player_introduction_custom.lua
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
Labels: chore, c: infobox_extensions

#3909 refactor:Inherit tournament match variables into game by default
  components/match2/commons/match_group_input.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/fifa/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: c: match2

#3913 Move params on driver infobox (f1)
  components/infobox/wikis/formula1/infobox_person_player_custom.lua
Labels: c: infobox, s: formula1

#3912 Add css classes for valorant side colors
  components/match2/wikis/valorant/match_summary.lua
  stylesheets/commons/Brackets.less
Labels: g: valorant, c: match2, stylesheets

#3898 refactor: move icon handling into `Opponent.resolve`
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_util.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/fifa/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
  components/opponent/commons/opponent.lua
Labels: chore

#3904 ci: implement golden master testing
  .luacheckrc
  components/prize_pool/test/prize_pool_test.lua
  definitions/mw.lua
  spec/golden_masters/prize_pool.txt
  spec/prize_pool_spec.lua
  spec/test_helper.lua
  standard/lpdb_injector.lua
Labels: chore, t: prize_pool

#3856 refactor: use icon lib for CheckMark in M2
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/apexlegends/match_summary.lua
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/fifa/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/omegastrikers/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/tetris/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/warcraft/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
Labels: c: match2, chore

#3914 fix(infobox team): created sometimes not working as intended
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#3396 feat: match2 for magic
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/magic/match_legacy.lua
  components/match2/wikis/magic/match_summary.lua
Labels: c: match2, g: magic

#3915 Fix: Mobile Legends match2 and hence adjust Infobox/Item
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
Labels: bug, c: infobox, g: mobilelegends

#3919 Fix wikiname in magic comment
  components/match2/wikis/battlerite/match_group_input_custom.lua
Labels: bug, c: match2

#3920 fix: remove non-intended bestof handling in battlerite
  components/match2/wikis/battlerite/match_group_input_custom.lua
Labels: c: match2, g: battlerite

#3924 AoE: Add complete faction data
  components/faction/wikis/ageofempires/faction_data.lua
  components/faction/wikis/ageofempires/faction_icon_data.lua
Labels: g: ageofempires, c: faction, data

#3929 AoE: Adjust notability config for 2024
  components/notability/wikis/ageofempires/notability_checker_config.lua
Labels: g: ageofempires, c: notability, data

#3930 Add `populatePlayer` to stormgate `Module:Player/Ext/Custom`
  components/opponent/wikis/stormgate/player_ext_custom.lua
Labels: bug, c: opponent, g: stormgate

#3922 Add misc as tier (F1)
  standard/tier/wikis/formula1/tier_data.lua
Labels: s: formula1

#3931 Add annos to Squad modules
  components/squad/commons/squad.lua
  components/squad/commons/squad_custom.lua
  components/squad/commons/squad_row.lua
  components/squad/wikis/apexlegends/squad_custom.lua
  components/squad/wikis/arenaofvalor/squad_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/halo/squad_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
  components/squad/wikis/mobilelegends/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/valorant/squad_custom.lua
  components/squad/wikis/warcraft/squad_custom.lua
  components/squad/wikis/wildrift/squad_custom.lua
Labels: chore, c: squad

#3934 Add stormgate CostDisplay infobox extension
  components/infobox/extensions/wikis/stormgate/infobox_extension_cost_display.lua
Labels: c: infobox_extensions, g: stormgate

#3937 fix(m2, apex): broken completed icon
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#3936 Inherit match variables into map on leagueoflegends BigMatch
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: c: match2, g: leagueoflegends

#3908 switch default date
  standard/date_ext.lua
Labels: breaking change, f: lpdb

#3939 Fix misc tier (F1)
  standard/tier/wikis/formula1/tier_data.lua
Labels: s: formula1

#3935 Add attack infobox extension for stormgate
  components/infobox/extensions/wikis/stormgate/infobox_extension_attack.lua
Labels: c: infobox_extensions, g: stormgate

#3921 refactor(match2): extract common date logic
  components/match2/commons/match_group_input.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/fifa/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
  standard/date_ext.lua
Labels: c: match2

#3942 refactor: remove `hasDate`
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: c: match2

#3947 chore: fix indentation aov
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
Labels: chore, g: arenaofvalor

#3946 refactor: use timestamps conditions in match summary
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/clashofclans/match_summary.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/omegastrikers/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
Labels: c: match2

#3938 Update match summary to use CharacterIcon
  components/match2/wikis/arenaofvalor/match_summary.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/omegastrikers/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/valorant/big_match.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2

#3945 refactor: remove unneccessary brkts wiki-specifics
  components/match2/wikis/arenaofvalor/brkts_wikispecific.lua
  components/match2/wikis/crossfire/brkts_wikispecific.lua
  components/match2/wikis/mobilelegends/brkts_wikispecific.lua
  components/match2/wikis/pokemon/brkts_wikispecific.lua
  components/match2/wikis/sideswipe/brkts_wiki_specific.lua
  components/match2/wikis/wildrift/brkts_wiki_specific.lua
Labels: c: match2

#3950 Add basic lpdb storage to infobox skill
  components/infobox/commons/infobox_skill.lua
Labels: c: infobox

#3943 Add stormgate infobox building
  components/infobox/wikis/stormgate/infobox_building_custom.lua
Labels: c: infobox, g: stormgate

#3955 fix(m2, apex): map date parsing
  components/match2/wikis/apexlegends/match_group_input_custom.lua
Labels: bug, c: match2

#3948 Add stormgate infobox unit
  components/infobox/commons/infobox_unit.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, g: stormgate

#3954 fix: typo in wild rift m2 causes error
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: bug, c: match2

#3953 feat(m2, apex): improve sorting for upcoming matches
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2

#3944 refactor: improve opponent processing and cleanup thresholds
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/fifa/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: c: match2

#3959 Adjust stormgate unit and building infoboxes
  components/infobox/extensions/wikis/stormgate/infobox_extension_attack.lua
  components/infobox/wikis/stormgate/infobox_building_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, g: stormgate

#3962 feat(m2, apex): add icons to the status field
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#3960 Create Map Infobox for Valorant
  components/infobox/wikis/valorant/infobox_map_custom.lua
Labels: g: valorant, c: infobox

#3952 refactor(match2): clean up match copy pastes
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/commons/get_match_group_copy_paste_wiki.lua
  components/match2/commons/starcraft_starcraft2/get_match_group_copy_paste_starcraft.lua
  components/match2/wikis/apexlegends/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/arenafps/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/brawlstars/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/counterstrike/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/dota2/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/halo/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/leagueoflegends/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/rainbowsix/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/rocketleague/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/splitgate/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/starcraft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/starcraft2/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/stormgate/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/valorant/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/warcraft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/wildrift/get_match_group_copy_paste_wiki.lua
Labels: c: match2

#3678 refactor(opponent): remove nil returns
  components/opponent/commons/opponent.lua
Labels: c: opponent

#3966 test(ppt): migrate remaining tests to busted
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/test/prize_pool_test.lua
  spec/prize_pool_spec.lua
Labels: t: prize_pool

#3967 test(hdb): migrate to busted
  components/hidden_data_box/test/hidden_data_box_test.lua
  definitions/mw.lua
  spec/hidden_data_box_spec.lua
  spec/test_helper.lua
Labels: t: hidden_data_box

#3968 PPT: Fill placement.players from opponentplayers
  components/prize_pool/commons/prize_pool_placement.lua
Labels: bug, c: prize_pool

#3969 fix(match2): Bad alignment in BR overview header
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: bug, c: match2, g: apex

#3957 Further cleanup and add annotations for Match2 copy pasta
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
  components/match2/commons/starcraft_starcraft2/get_match_group_copy_paste_starcraft.lua
  components/match2/wikis/apexlegends/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/arenafps/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/brawlstars/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/counterstrike/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/dota2/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/halo/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/leagueoflegends/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/rainbowsix/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/rocketleague/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/splitgate/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/stormgate/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/valorant/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/warcraft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/wildrift/get_match_group_copy_paste_wiki.lua
  definitions/mw.lua
Labels: c: match2, chore

#3965 refactor: use wiki lang instead of hardcoded english
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/brawlhalla/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_team_custom.lua
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/infobox/wikis/stormgate/infobox_person_player_custom.lua
  components/matches_schedule_display/commons/matches_schedule_display.lua
  components/notability/commons/notability_checker.lua
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
Labels: chore

#3976 fix(ppt test): Add a date to arguments
  spec/prize_pool_spec.lua
Labels: bug, t: prize_pool

#3973 fix: add missing `_` in function names
  components/infobox/wikis/stormgate/infobox_map_custom.lua
Labels: bug, c: infobox, g: stormgate

#3975 Fix some annos
  components/external_media_links/external_media_link.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/fifa/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/ratings/ratings.lua
  components/standings/commons/starcraft_starcraft2/standings_storage_starcraft_legacy.lua
  standard/date_ext.lua
Labels: chore

#3980 fix(match2): lol bigmatch not showing up for matches without date
  components/match2/wikis/leagueoflegends/big_match.lua
Labels: c: match2, g: leagueoflegends

#3974 Change 1971 to default
  components/infobox/extensions/commons/player_introduction.lua
Labels: c: infobox_extensions

#3979 Use font icon for stormgate buildTime in CostDisplay
  components/infobox/extensions/wikis/stormgate/infobox_extension_cost_display.lua
  standard/icon_data.lua
Labels: c: infobox_extensions, g: stormgate

#3982 Do not overwrite `table`
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
  spec/hidden_data_box_spec.lua
  standard/page_variable_namespace.lua
Labels: chore

#3926 feat(infobox person): add death location support
  components/infobox/commons/infobox_person.lua
  components/infobox/extensions/commons/age_calculation.lua
  components/infobox/wikis/formula1/infobox_person_player_custom.lua
Labels: c: infobox, s: formula1

#3981 test(metadata): migrate to busted
  components/infobox/extensions/test/metadata_generator_test.lua
  definitions/mw.lua
  spec/metadata_generator_spec.lua
  spec/test_helper.lua
Labels: t: infobox

#3985 Add `Array.readCommaSeparatedList`
  spec/array_spec.lua
  standard/array.lua
Labels: c: standard

#3956 Add stormgate infobox skill custom
  components/infobox/commons/infobox_skill.lua
  components/infobox/wikis/stormgate/infobox_skill_custom.lua
Labels: c: infobox, g: stormgate

#3986 Make use of #3985
  components/infobox/extensions/wikis/stormgate/infobox_extension_attack.lua
  components/infobox/wikis/stormgate/infobox_building_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, chore, c: infobox_extensions, g: stormgate

#3877 Setup Match2 for SMITE
  components/match2/wikis/smite/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/smite/match_summary.lua
Labels: c: match2, g: smite

#3987 test(squad): migrate to busted
  components/squad/test/squad_test.lua
  definitions/mw.lua
  spec/golden_masters/squad_header.txt
  spec/golden_masters/squad_row.txt
  spec/squad_spec.lua
  spec/test_helper.lua
Labels: t: squad

#3989 test: fix infobox mock
  components/infobox/commons/infobox.lua
  definitions/mw.lua
  spec/flags_spec.lua
  spec/prize_pool_spec.lua
  spec/test_helper.lua
Labels: t: prize_pool

#3990 test(teamcard): migrate storage tests to busted
  components/team_card/test/team_card_storage_test.lua
  definitions/mw.lua
  spec/prize_pool_spec.lua
  spec/squad_spec.lua
  spec/team_card_storage_spec.lua
  spec/test_helper.lua
  test_assets/tournaments.lua
Labels: t: teamcard

#3991 test(standings): migrate to busted
  components/standings/test/standings_storage_test.lua
  spec/standings_storage_spec.lua
  spec/test_helper.lua
  test_assets/standings.lua
Labels: t: standings

#3988 feat(squad): setup for smite
  components/squad/wikis/smite/squad_custom.lua
Labels: c: squad, g: smite

#3992 Fix typo in defaultYear
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/statistics/portal_statistics.lua
  standard/date_ext.lua
Labels: bug

#3970 Add configuration for notability checker on Trackmania
  components/notability/wikis/trackmania/notability_checker_config.lua
Labels: c: notability, g: trackmania

#3995 feat(faction) Icon: default link to name if no pageName is set
  components/faction/commons/faction.lua
Labels: enhancement, c: faction

#3997 refactor: remove unneeded key
  standard/date_ext.lua
Labels: bug

#3964 refactor: drop usage of legacy `smw_prefix`
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/commons/prize_pool_legacy.lua
  components/prize_pool/wikis/dota2/prize_pool_custom.lua
  components/prize_pool/wikis/halo/prize_pool_custom.lua
  components/prize_pool/wikis/leagueoflegends/prize_pool_custom.lua
  components/team_card/team_card_storage.lua
Labels: chore

#4000 Add Dota2 legacy wrapper
  components/match2/wikis/dota2/legacy/match_group_legacy_default.lua
  components/match2/wikis/dota2/legacy/match_maps_legacy.lua
Labels: c: match2, g: dota2

#4002 fix(infobox): typo in F1's person infobox
  components/infobox/wikis/formula1/infobox_person_player_custom.lua
Labels: bug, c: infobox, s: formula1

#3996 feat: Create `Module:Image`
  spec/image_spec.lua
  standard/image.lua
Labels: c: standard

#4004 Fix stats portal bug
  components/statistics/portal_statistics.lua
Labels: bug, c: statistics

#4007 Add "redirects" for `Player/Display/Custom`.
  components/opponent/commons/player_display_custom.lua
  components/opponent/wikis/starcraft/player_display_custom.lua
  components/opponent/wikis/starcraft2/player_display_custom.lua
Labels: chore, c: opponent

#4005 feat(stormgate infobox building/unit): Add `upgrades_to` support
  components/infobox/wikis/stormgate/infobox_building_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, g: stormgate

#4008 fix(infobox person): anno warning
  components/infobox/commons/infobox_person.lua
Labels: c: infobox, chore

#4006 feat(match2): mobile view for battle royale
  components/match2/wikis/apexlegends/match_summary.lua
  javascript/commons/BattleRoyale.js
  stylesheets/commons/BattleRoyale/NavigationTabs.less
  stylesheets/commons/BattleRoyale/Panel.less
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2, g: apex

#4014 feat: enable full match2 for dota2
  standard/info/wikis/dota2/info.lua
Labels: c: match2, g: dota2

#4012 Updating PUBGM's notabilty checker config for 2024
  components/notability/wikis/pubgmobile/notability_checker_config.lua
Labels: c: notability, g: pubgmobile

#4013 Add functions to DateExt
  definitions/mw.lua
  spec/date_ext_spec.lua
  standard/date_ext.lua
Labels: c: standard

#4018 feat: Add cells to F1 Car infobox
  components/infobox/wikis/formula1/infobox_unit_car_custom.lua
Labels: c: infobox, s: formula1

#3999 Create Hero Infobox for OW
  components/infobox/wikis/overwatch/infobox_character_custom.lua
Labels: c: infobox, g: overwatch

#4025 refactor(match2): improve WC and SG
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: c: match2, g: warcraft, g: stormgate

#4032 Annotate match storage module
  components/match2/commons/match.lua
  components/match2/wikis/starcraft/legacy/match_maps_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_maps_legacy.lua
  components/match2/wikis/warcraft/legacy/legacy_match_maps.lua
  plugins/sumneko_plugin.lua
Labels: c: match2, chore

#4026 Setup Infobox League for Zula
  components/infobox/wikis/zula/infobox_league_custom.lua
Labels: c: infobox, g: zula

#4027 Add other game versions to Zula
  standard/info/wikis/zula/info.lua
Labels: enhancement, c: standard, g: zula

#3994 feat(infobox team): support darkmode in created field for team logo
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#4020 feat(match2): create for age of empires
  components/match2/commons/match_group_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/wikis/ageofempires/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_legacy.lua
  components/match2/wikis/ageofempires/match_summary.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
Labels: c: match2, g: ageofempires

#4041 feat(match2): close the apex schedules by default
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex
