Repository Liquipedia/Lua-Modules, pull requests merged in 2024-03, with the labels that each got.

#4046 AoE: fix empty map input in match2
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: bug, c: match2, g: ageofempires

#4045 feat: On overwatch, add OWCS as blizzardtier
  components/infobox/wikis/overwatch/infobox_league_custom.lua
Labels: c: infobox, g: overwatch

#4044 AoE: Allow enabling PPT import
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
Labels: g: ageofempires, c: prize_pool

#4048 Add Overwatch legacy wrapper
  components/match2/wikis/overwatch/legacy/maptomode.lua
  components/match2/wikis/overwatch/legacy/match_group_legacy_default.lua
  components/match2/wikis/overwatch/legacy/match_maps_legacy.lua
Labels: c: match2, g: overwatch

#4047 Update `strikr` link
  standard/links/commons/links.lua
Labels: chore, data

#4035 docs(ppt): Annotate commons ppt modules
  components/infobox/commons/infobox_widget_injector.lua
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_award.lua
  components/prize_pool/commons/prize_pool_award_custom.lua
  components/prize_pool/commons/prize_pool_award_placement.lua
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/commons/prize_pool_custom.lua
  components/prize_pool/commons/prize_pool_legacy.lua
  components/prize_pool/commons/prize_pool_placement.lua
  components/prize_pool/commons/prize_pool_placement_base.lua
  standard/lpdb_injector.lua
Labels: documentation, chore, c: prize_pool

#4049 feat: add additional modes to warcraft infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#4054 fix: remove unintended log
  components/squad/wikis/overwatch/squad_custom.lua
Labels: chore

#4055 refactor: create model for `lpdb-placement`
  standard/lpdb.lua
Labels: chore

#4057 fix: error when attribute content is empty on MLBB infobox item
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
Labels: bug, c: infobox, g: mobilelegends

#4058 fix: error on overwatch squad tables
  components/squad/wikis/overwatch/squad_custom.lua
Labels: bug, c: squad, g: overwatch

#4059 feat: Add `Variables.varExists`
  spec/variables_spec.lua
  standard/variables.lua
Labels: c: standard

#4060 feat: update overwatch's m2 status
  standard/info/wikis/overwatch/info.lua
Labels: c: standard, g: overwatch

#4061 fix: use prefix instead of hardcoded `'map'`
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: bug, c: infobox, g: warcraft

#4063 fix: typo in annotation class
  definitions/mw.lua
  standard/page_variable_namespace.lua
  standard/variables.lua
Labels: bug, documentation, chore

#4066 fix: add missing `}}` in sg match copy paste
  components/match2/wikis/stormgate/get_match_group_copy_paste_wiki.lua
Labels: bug, c: match2, g: stormgate

#4067 fix(annotation): make input anno optional
  components/match2/commons/match_summary_base.lua
Labels: bug, documentation, c: match2, chore

#4064 fix: BR sideways scroll buttons dissapears when toggling between matches
  javascript/commons/BattleRoyale.js
Labels: bug, javascript

#3753 Update several wikis to use correct image name
  standard/info/wikis/arenafps/info.lua
  standard/info/wikis/fortnite/info.lua
  standard/info/wikis/hearthstone/info.lua
  standard/info/wikis/heroes/info.lua
  standard/info/wikis/teamfortress/info.lua
  standard/info/wikis/warcraft/info.lua
Labels: c: standard, data

#4069 add table font size and reduce cell padding
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2

#4070 feat(match2): remove some redundant elements in game details
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#4073 BR - Change padding for placements and kills
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2

#4074 Add styles for `sfrac` template
  stylesheets/commons/Miscellaneous.less
Labels: stylesheets

#4072 fix(RL HDB): remove anno warning
  components/hidden_data_box/wikis/rocketleague/hidden_data_box_custom.lua
Labels: bug, documentation, chore

#4036 feat(DateExt): Allow osdate/osdateparam as valid input in some functions
  standard/date_ext.lua
Labels: documentation, chore, c: standard

#4076 fix(wc match2 copy paste): add missing `}}` for literal opponents map details
  components/match2/wikis/warcraft/get_match_group_copy_paste_wiki.lua
Labels: bug, c: match2, g: warcraft

#4037 Refactor and annotate ppt import
  components/prize_pool/commons/prize_pool_import.lua
Labels: documentation, chore, c: prize_pool

#4082 feat: Add legacy wrapper to arenaofvalor
  components/match2/wikis/arenaofvalor/legacy/match_group_legacy_default.lua
  components/match2/wikis/arenaofvalor/legacy/match_maps_legacy.lua
Labels: c: match2, g: arenaofvalor

#4078 fix: Add matchsection to match1 extradata
  components/match2/wikis/ageofempires/match_legacy.lua
Labels: bug, c: match2, g: ageofempires

#4081 fix: Use hero name alias in arenaofvalor
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
Labels: c: match2, g: arenaofvalor

#4080 fix(match2) Various fixes on AoE
  components/match2/wikis/ageofempires/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_legacy.lua
Labels: bug, enhancement, c: match2, g: ageofempires

#4084 feat: update arenaofvalor m2 status
  standard/info/wikis/arenaofvalor/info.lua
Labels: c: match2, g: arenaofvalor

#4083 Enable syncPlayer for CoC Processing
  components/match2/wikis/clashofclans/match_group_input_custom.lua
Labels: enhancement, c: match2, g: clashofclans

#4011 feat(stormgate infobox league): automate patches
  components/infobox/extensions/commons/infobox_extension_patch_auto.lua
  components/infobox/wikis/stormgate/infobox_league_custom.lua
Labels: c: infobox, g: stormgate

#4071 doc(prize pool): annotate half of ppt customs
  components/prize_pool/wikis/ageofempires/prize_pool_award_custom.lua
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
  components/prize_pool/wikis/apexlegends/prize_pool_custom.lua
  components/prize_pool/wikis/apexlegends/prize_pool_legacy_custom.lua
  components/prize_pool/wikis/arenaofvalor/prize_pool_custom.lua
  components/prize_pool/wikis/brawlstars/prize_pool_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_award_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_legacy_custom.lua
  components/prize_pool/wikis/dota2/prize_pool_award_custom.lua
  components/prize_pool/wikis/dota2/prize_pool_custom.lua
  components/prize_pool/wikis/dota2/prize_pool_legacy_custom.lua
  components/prize_pool/wikis/formula1/prize_pool_custom.lua
  components/prize_pool/wikis/fortnite/prize_pool_award_custom.lua
  components/prize_pool/wikis/fortnite/prize_pool_custom.lua
  components/prize_pool/wikis/fortnite/prize_pool_legacy_custom.lua
  components/prize_pool/wikis/halo/prize_pool_custom.lua
  components/prize_pool/wikis/leagueoflegends/prize_pool_custom.lua
  components/prize_pool/wikis/leagueoflegends/prize_pool_legacy_custom.lua
  components/prize_pool/wikis/mobilelegends/prize_pool_custom.lua
  components/prize_pool/wikis/mobilelegends/prize_pool_legacy_custom.lua
  components/prize_pool/wikis/overwatch/prize_pool_custom.lua
Labels: documentation, chore, c: prize_pool

#4086 fix(css) recent-matches-publishertier darkmode compatibility
  stylesheets/commons/Miscellaneous.less
Labels: stylesheets

#4087 fix(match2) Various match2 improvements on AoE
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_summary.lua
Labels: c: match2, g: ageofempires

#4068 doc(prize pool): Add annos to ppt custom modules - pt1/2
  components/prize_pool/commons/prize_pool_placement_base.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_award_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_legacy_starcraft.lua
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
  components/prize_pool/wikis/pokemon/prize_pool_custom.lua
  components/prize_pool/wikis/pubg/prize_pool_award_custom.lua
  components/prize_pool/wikis/pubg/prize_pool_custom.lua
  components/prize_pool/wikis/pubgmobile/prize_pool_award_custom.lua
  components/prize_pool/wikis/pubgmobile/prize_pool_custom.lua
  components/prize_pool/wikis/rainbowsix/prize_pool_custom.lua
  components/prize_pool/wikis/rocketleague/prize_pool_custom.lua
  components/prize_pool/wikis/tetris/prize_pool_custom.lua
  components/prize_pool/wikis/trackmania/prize_pool_custom.lua
  components/prize_pool/wikis/valorant/prize_pool_custom.lua
  components/prize_pool/wikis/valorant/prize_pool_legacy_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_legacy_award_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_legacy_custom.lua
  components/prize_pool/wikis/wildrift/prize_pool_custom.lua
Labels: documentation, chore, c: prize_pool

#4052 Create WoT Match2 Copy/Paste
  components/match2/wikis/worldoftanks/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: worldoftanks

#4085 feat: Add tabs component
  standard/tabs.lua
Labels: c: standard

#4091 fix(tabs): edge cases failing
  components/match2/wikis/leagueoflegends/big_match.lua
  standard/tabs.lua
Labels: bug, c: standard

#4095 feat(match2) Allow multiple drafts for AoE
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_summary.lua
Labels: enhancement, c: match2, g: ageofempires

#4097 Fix(tabs): `hide-showall`
  standard/tabs.lua
Labels: bug, c: standard

#4094 fix custom header in match2 copy pasta
  components/match2/commons/get_match_group_copy_paste.lua
Labels: bug, c: match2

#4101 feat: remove duplicated location cell, add status cell on F1 Map Infobox
  components/infobox/wikis/formula1/infobox_map_custom.lua
Labels: c: infobox, s: formula1

#4103 feat: Add brawlstars legacy wrapper
  components/match2/wikis/brawlstars/legacy/match_group_legacy_default.lua
  components/match2/wikis/brawlstars/legacy/match_maps_legacy.lua
Labels: c: match2, g: brawl stars

#4105 feat: Update brawlstars match2 status
  standard/info/wikis/brawlstars/info.lua
Labels: c: match2, g: brawl stars

#4108 fix anno warning in external media list
  components/external_media_links/external_media_list.lua
Labels: documentation, chore, c: external_media_links

#4111 Revert "Add light/dark theme css for btn-theme in teamcard"
  stylesheets/commons/Teamcard.less
Labels: bug, stylesheets

#4112 feat: Update some infoboxes to use CharacterIcon
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_person_user_custom.lua
  components/infobox/wikis/heroes/infobox_person_player_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
  components/infobox/wikis/overwatch/infobox_person_user_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/rainbowsix/infobox_weapon_custom.lua
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
Labels: c: infobox

#4114 feat: Update valorant signature agents module
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
Labels: g: valorant, c: infobox

#4115 feat(infobox) AoE: Disable region cell in Infobox team
  components/infobox/wikis/ageofempires/infobox_team_custom.lua
Labels: enhancement, c: infobox, g: ageofempires

#4104 feat(infobox): Add impact storage on Stormgate's Skill Infobox
  components/infobox/wikis/stormgate/infobox_skill_custom.lua
Labels: c: infobox, g: stormgate

#4113 feat(infobox person custom osu!): remove status cell overwrite
  components/infobox/wikis/osu/infobox_person_player_custom.lua
Labels: c: infobox, g: osu

#4102 docs(match2): annotate to more match2 commons files
  components/match2/commons/bracket_template.lua
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_coordinates.lua
  components/match2/commons/match_group_display_bracket_template.lua
  components/match2/commons/match_group_shorten_bracket.lua
  components/match2/commons/match_group_util.lua
  components/match2/commons/match_placement.lua
  components/match2/commons/template_match.lua
Labels: documentation, c: match2

#4098 docs(match2): Input processings commons + sc(2)
  components/match2/commons/match.lua
  components/match2/commons/match_group_base.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_subobjects.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: documentation, c: match2

#4100 docs(match2): annotate display components (commons + sc2)
  components/match2/commons/display_util.lua
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/match_group_display_horizontallist.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/match_group_display_single_match.lua
  components/match2/commons/match_group_util.lua
  components/match2/commons/starcraft_starcraft2/match_external_links_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_single_match_starcraft.lua
Labels: documentation, c: match2

#4090 fix(doc): Allow boolean for `storeMatch1` in match storage options
  components/match2/commons/match.lua
Labels: bug, documentation, c: match2, chore

#4119 refactor: code style improvements
  components/automatic_points_table/commons/automatic_points_table.lua
  components/automatic_points_table/commons/automatic_points_table_display.lua
  components/mvp_table/commons/mvp_table.lua
  components/tournaments_summary_table/commons/tournaments_summary_table.lua
  standard/hotkey.lua
  standard/league_icon.lua
Labels: chore

#4117 feat: create custom infobox team for clash of clans
  components/infobox/wikis/clashofclans/infobox_team_custom.lua
Labels: c: infobox, g: clashofclans

#4088 feat(match2): add casters display to CrossFire
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_summary.lua
Labels: enhancement, c: match2, g: crossfire

#4131 feat: Update fifa match2 status
  standard/info/wikis/fifa/info.lua
Labels: c: match2, g: fifa
