Repository Liquipedia/Lua-Modules, pull requests merged in 2024-05, with the labels that each got.

#4223 feat(match2): improve battle royale sideways scrolling on desktop
  javascript/commons/BattleRoyale.js
Labels: javascript

#4245 feat(hdb): setup brawlhalla
  components/hidden_data_box/wikis/brawlhalla/hidden_data_box_custom.lua
  standard/date_ext.lua
Labels: g: brawlhalla, c: hidden_data_box

#4241 feat(match2): brawlhalla setup
  components/character_icon/commons/character_icon.lua
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
  components/match2/wikis/brawlhalla/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/brawlhalla/match_legacy.lua
  components/match2/wikis/brawlhalla/match_summary.lua
  standard/info/wikis/brawlhalla/info.lua
Labels: c: match2, g: brawlhalla

#4246 feat(standard): Add `Table.deepMerge` function
  standard/table.lua
Labels: c: standard

#4250 feat(ppt): move percentage column next to money columns
  components/prize_pool/commons/prize_pool_base.lua
Labels: c: prize_pool

#4243 feat(prizepool): brawlhalla setup
  components/prize_pool/wikis/brawlhalla/prize_pool_custom.lua
Labels: g: brawlhalla, c: prize_pool

#4254 feat(hdb): simplify phase logic on brawlhalla
  components/hidden_data_box/wikis/brawlhalla/hidden_data_box_custom.lua
Labels: g: brawlhalla, c: hidden_data_box

#4251 feat(game): only apply default class to span if size is not supplied
  spec/game_spec.lua
  standard/game.lua
Labels: c: standard

#4255 feat(match2): support solos on wild rift
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2, g: wildrift

#4256 feat(ppt): fetch and store id of last match on brawlhalla
  components/prize_pool/commons/prize_pool_import.lua
  components/prize_pool/commons/prize_pool_placement.lua
  components/prize_pool/wikis/brawlhalla/prize_pool_custom.lua
Labels: g: brawlhalla, c: prize_pool

#4121 refactor(match2): Add often used functions to commons
  components/match2/commons/match_group_input.lua
Labels: c: match2, chore

#4262 fix(match2): Various adjustments on AoE
  components/match2/wikis/ageofempires/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_summary.lua
Labels: c: match2, g: ageofempires

#4259 fix(match2): map names on brawlhalla are not centered
  components/match2/wikis/brawlhalla/match_summary.lua
Labels: c: match2, g: brawlhalla

#4258 fix(match2): brawlhalla's char list in match1 is not working
  components/match2/wikis/brawlhalla/match_legacy.lua
Labels: c: match2, g: brawlhalla

#4118 refactor(match2): cleanup & annotate custom match2 non-legacy modules - part 1/2
  components/match2/wikis/apexlegends/brkts_wikispecific.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/leagueoflegends/brkts_wiki_specific.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
  components/match2/wikis/rocketleague/match_group_display_bracket_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tetris/match_summary.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/big_match.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: documentation, g: rocket league, g: valorant, c: match2, g: dota2, g: apex, g: wildrift, g: mobilelegends, g: splitgate, g: overwatch, g: sideswipe, g: leagueoflegends, g: pokemon, g: trackmania, g: tetris, g: zula, g: worldoftanks

#4120 docs&refactor(match2): annotate custom match2 non-legacy modules - part 2/2
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/fifa/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
Labels: documentation, g: rainbow six, c: match2, chore, g: brawl stars, g: counter-strike, g: halo, g: arenaofvalor, g: criticalops, g: crossfire, g: Splatoon, g: callofduty, g: fifa, g: heroes, g: arenafps, g: magic, g: omegastrikers, g: battlerite, g: osu

#4268 fix(match2): restore behaviour of `isDraw`
  components/match2/commons/match_group_input.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
Labels: c: match2

#4267 feat(infobox): Use standard MatchTicker on LoL player pages
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
Labels: c: infobox, g: leagueoflegends

#4269 feat(match2): don't show match summary for inexact datetime on brawlhalla
  components/match2/wikis/apexlegends/brkts_wiki_specific.lua
  components/match2/wikis/brawlhalla/brkts_wiki_specific.lua
Labels: c: match2, g: brawlhalla

#4284 feat: add Jordanian Dinar (JOD) currency
  standard/currency_data.lua
Labels: data

#4285 feat(match2): replace non working `brkts-template-container`
  components/match2/commons/bracket_template.lua
Labels: c: match2, chore

#4274 feat: update dota2 logo
  standard/info/wikis/dota2/info.lua
Labels: c: standard, g: dota2

#4270 fix(match2): some faction issues on sc1&sc2
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2, g: broodwar

#4271 fix(match2): error on Clash of Clans
  components/match2/wikis/clashofclans/match_group_input_custom.lua
Labels: c: match2, g: clashofclans

#4244 feat(filterButtons): support template expansions
  javascript/commons/FilterButtons.js
Labels: javascript, c: filter_buttons

#4286 fix(squad): inactive references not working with SquadAuto
  components/squad/commons/squad_utils.lua
Labels: c: squad

#4280 feat(match2): custom overwatch Copy/Paste generator
  components/match2/wikis/overwatch/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: overwatch

#4287 feat(timeline): Add darkmode support
  stylesheets/commons/Miscellaneous.less
Labels: stylesheets

#4288 feat(match2): Add Match2 Copy/paste for Call of Duty
  components/match2/wikis/callofduty/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: callofduty

#4272 refactor: switch to using `faction` wiki var instead of `race` wiki var
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/opponent/commons/starcraft_starcraft2/player_ext_starcraft.lua
  components/opponent/wikis/warcraft/player_ext_custom.lua
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
  components/standings/commons/standings_storage.lua
  components/standings/commons/starcraft_starcraft2/standings_storage_starcraft_legacy.lua
Labels: g: starcraft, c: match2, g: warcraft, c: standings, c: opponent, c: participant_table

#4248 fix: on rocketleague, automatically fetch team of players from participant table
  components/opponent/wikis/rocketleague/player_ext_custom.lua
Labels: g: rocket league, c: opponent

#4289 fix(participantTable): objectName building
  components/participant_table/commons/participant_table_base.lua
Labels: c: participant_table

#4283 feat(match2): Legacy Wrappers for Call of Duty
  components/match2/wikis/callofduty/legacy/legacy_bracket_match_summary.lua
  components/match2/wikis/callofduty/legacy/match_group_legacy_default.lua
  components/match2/wikis/callofduty/legacy/match_maps_legacy.lua
Labels: c: match2, g: callofduty

#4290 feat: add hover effect to navigation card
  stylesheets/commons/NavigationCard.less
Labels: stylesheets

#4291 feat: add Black Ops 6 on CoD
  standard/info/wikis/callofduty/info.lua
Labels: c: standard, g: callofduty

#4292 feat: set match1 bracket width for Fortnite
  stylesheets/commons/Bracket.less
Labels: c: standard, g: fortnite, stylesheets

#4295 feat(match2): Add darkmode support for CDL icons
  components/match2/wikis/callofduty/match_summary.lua
Labels: c: match2, g: callofduty

#4294 fix(GTL button): button padding in match2 based GTL
  stylesheets/commons/GroupTableLeague.less
Labels: c: group_table_league, stylesheets

#4296 feat(participantTable): Use equal padding for `.participantTable-entry`
  stylesheets/commons/OpponentList.less
Labels: c: participant_table, stylesheets
