Repository Liquipedia/Lua-Modules, pull requests merged in 2024-10, with the labels that each got.

#4794 feat(ExternalMediaLinks): Add `trans_title` support to wrapper
  components/external_media_links/external_media_link.lua
Labels: c: external_media_links

#4796 fix(match2): tournament enddate not used on rocketleague
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: g: rocket league, c: match2

#4792 feat(match2): Move default veto display to commons
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
Labels: g: valorant, g: rainbow six, c: match2, g: counter-strike, g: criticalops, g: Splatoon, g: heroes, g: zula, g: worldoftanks, g: osu

#4795 feat(infobox): on stormgate, add support subfactions on buildings
  components/infobox/commons/infobox_building.lua
  components/infobox/wikis/stormgate/infobox_building_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, g: stormgate

#4602 feat(infobox): player infobox for hearthstone
  components/infobox/wikis/hearthstone/infobox_person_player_custom.lua
Labels: c: infobox, g: hearthstone

#4808 feat(match2): in legacy mode, handle third place headers
  components/match2/commons/match_group_legacy.lua
Labels: c: match2

#4806 fix(match2): Use correct field for displayname in AoE Match/Legacy
  components/match2/wikis/ageofempires/match_legacy.lua
Labels: c: match2, g: ageofempires

#4805 fix(externalMediaList): unintended `[]` in `translatedtitle` display
  components/external_media_links/external_media_list.lua
Labels: c: external_media_links

#4807 feat(CharacterIcon): Prefer iconinfo display when adding textlink
  components/character_icon/commons/character_icon.lua
Labels: c: character_icon

#4801 fix(match2): unattached participant attaching faulty
  components/match2/wikis/brawlstars/match_group_input_custom.lua
Labels: c: match2, g: brawl stars

#4802 feat(infobox): tweak game handling on warcraft
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#4777 refactor(squad): make core squad table into a widget
  components/squad/commons/squad.lua
  components/squad/commons/squad_custom.lua
  components/squad/commons/squad_utils.lua
  components/squad/wikis/dota2/squad_custom.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/smash/squad_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/stormgate/squad_custom.lua
  components/widget/squad/widget_squad_core.lua
  components/widget/squad/widget_squad_core_tldb.lua
  components/widget/widget_util.lua
  spec/test_helper.lua
Labels: c: squad

#4797 fix(match2): rocketleague's non-empty-participant check does not work on party opponents
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: c: opponent

#4695 feat(match2): remove match1 storage on sc2
  components/match2/wikis/starcraft2/match_legacy.lua
Labels: g: starcraft, c: match2

#4810 fix(match2): issue with bye opponents
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: c: match2

#4798 feat(match2): create AoE match1->match2 support
  components/match2/wikis/ageofempires/legacy/legacy_bracket_match_summary.lua
  components/match2/wikis/ageofempires/legacy/match_group_legacy_default.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: c: match2, g: ageofempires

#4817 refactor(widget): migrate Widget Table(Old) to use children instead of content
  components/infobox/wikis/apexlegends/infobox_map_custom.lua
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_award.lua
  components/prize_pool/commons/prize_pool_base.lua
  components/widget/widget_table.lua
  components/widget/widget_table_cell.lua
  components/widget/widget_table_row.lua
Labels: c: prize_pool

#4819 refactor(widgets): rename the input of widget infobox link and chronology to links instead of content
  components/infobox/commons/infobox_company.lua
  components/infobox/commons/infobox_game.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_patch.lua
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_scene.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_show.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/commons/infobox_website.lua
  components/infobox/wikis/fighters/infobox_league_custom.lua
  components/infobox/wikis/formula1/infobox_team_custom.lua
  components/infobox/wikis/formula1/infobox_unit_car_custom.lua
  components/infobox/wikis/formula1/infobox_unit_engine_custom.lua
  components/infobox/wikis/smash/infobox_league_custom.lua
  components/infobox/wikis/trackmania/infobox_league_custom.lua
  components/infobox/wikis/valorant/infobox_series_custom.lua
  components/widget/infobox/widget_infobox_chronology.lua
  components/widget/infobox/widget_infobox_links.lua
Labels: c: infobox

#4818 feat(match2): add warning and tracking category for matches without tournament info
  components/match2/commons/match_group_base.lua
  spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  spec/match2_spec.lua
Labels: c: match2

#4835 refactor(match2): pokemon mgi
  components/match2/wikis/pokemon/match_group_input_custom.lua
Labels: c: match2, g: pokemon

#4824 refactor(match): Trackmania MGI
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/opponent/wikis/trackmania/opponent_display_custom.lua
Labels: c: match2, g: trackmania

#4825 refactor(match2): sideswipe mgi
  components/match2/wikis/sideswipe/match_group_input_custom.lua
Labels: c: match2, g: sideswipe

#4828 refactor(match2): omegastrikers mgi
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_summary.lua
Labels: c: match2, g: omegastrikers

#4832 refactor(match2): tetris mgi
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tetris/match_summary.lua
Labels: c: match2, g: tetris

#4823 refactor(match2): Brawlhalla MGI
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
Labels: c: match2, g: brawlhalla

#4833 refactor(match2): magic mgi
  components/match2/wikis/magic/match_group_input_custom.lua
Labels: c: match2, g: magic

#4836 refactor(match2): apex mgi
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/apexlegends/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_summary.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
Labels: c: match2, g: apex

#4830 refactor(match2): splatoon mgi
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_summary.lua
Labels: c: match2, g: Splatoon

#4813 test(Infobox): simple quick golden test for infobox league
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  definitions/mw.lua
  spec/golden_masters/infobox_league_apexlegends.txt
  spec/golden_masters/infobox_league_counterstrike.txt
  spec/golden_masters/infobox_league_dota2.txt
  spec/golden_masters/infobox_league_leagueoflegends.txt
  spec/golden_masters/infobox_league_mobilelegends.txt
  spec/golden_masters/infobox_league_overwatch.txt
  spec/golden_masters/infobox_league_rainbowsix.txt
  spec/golden_masters/infobox_league_rocketleague.txt
  spec/golden_masters/infobox_league_starcraft2.txt
  spec/golden_masters/infobox_league_valorant.txt
  spec/infobox_spec.lua
Labels: c: infobox

#4827 refactor(match2): MLBB MGI
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
Labels: c: match2, g: mobilelegends

#4837 refactor(match2): EASportsFC MGI
  components/match2/wikis/easportsfc/match_group_input_custom.lua
Labels: c: match2, g: easportsfc

#4829 refactor(match2): counterstrike mgi
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  standard/info/wikis/counterstrike/info.lua
Labels: c: match2, g: counter-strike

#4690 feat(match2): Add tft support
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/tft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/tft/match_summary.lua
  standard/info/wikis/tft/info.lua
Labels: c: match2, g: tft

#4838 refactor(match2): cleanup player processing functions
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: c: match2

#4839 refactor(match2): make tournamentVars into a non-mutating function
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/easportsfc/match_group_input_custom.lua
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/geoguessr/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/honorofkings/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/teamfortress/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: c: match2

#4845 fix(match2): tetris error sometimes
  components/match2/wikis/tetris/match_group_input_custom.lua
Labels: c: match2, g: tetris

#4842 refactor(match2): remove deprecated processMap, simplify subobjects
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match.lua
  components/match2/commons/match_subobjects.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/easportsfc/match_group_input_custom.lua
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/geoguessr/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/honorofkings/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/match2/wikis/stormgate/brkts_wiki_specific.lua
  components/match2/wikis/teamfortress/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/brkts_wiki_specific.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: c: match2

#4841 refactor(match2): rework and simplify setPlacement function to be non-mutating
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/easportsfc/match_group_input_custom.lua
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/geoguessr/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/honorofkings/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/teamfortress/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: c: match2

#4518 feat(match2): support hearthstone
  components/match2/wikis/hearthstone/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/hearthstone/match_group_input_custom.lua
  components/match2/wikis/hearthstone/match_legacy.lua
  components/match2/wikis/hearthstone/match_summary.lua
  standard/info/wikis/hearthstone/info.lua
Labels: c: match2, g: hearthstone

#4843 refactor(match2): apex mgi cleanup
  components/match2/wikis/apexlegends/match_group_input_custom.lua
Labels: c: match2, g: apex

#4847 fix(match2): valorant legacy storgae does not store enough players sometimes
  components/match2/wikis/valorant/match_legacy.lua
Labels: g: valorant, c: match2

#4848 chore: update teamfortess match2 status
  standard/info/wikis/teamfortress/info.lua
Labels: c: match2, g: teamfortress

#4030 feat(match2): match legacy for clash royale
  components/match2/wikis/clashroyale/match_legacy.lua
  standard/info/wikis/clashroyale/info.lua
Labels: c: match2, g: clashroyale

#4851 fix(match2): wrong prefix for pick/ban input on pokemon
  components/match2/wikis/pokemon/match_group_input_custom.lua
Labels: c: match2

#4855 fix(match2): pkmn legacy macth storage has underscores in opponent names
  components/match2/wikis/pokemon/match_legacy.lua
Labels: c: match2, g: pokemon

#4857 fix(participant table): missing index passalong in readEntry
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
Labels: g: starcraft, c: participant_table

#4849 feat(match2): add side information on deadlock
  components/match2/wikis/deadlock/match_summary.lua
  standard/icon_data.lua
  stylesheets/commons/Colours.less
Labels: c: match2, stylesheets, g: deadlock

#4854 feat(match2): Handle match1 map mapping in bms on aoe
  components/match2/wikis/ageofempires/legacy/legacy_bracket_match_summary.lua
  components/match2/wikis/ageofempires/legacy/match_group_legacy_default.lua
Labels: c: match2, g: ageofempires

#4853 fix(match2): heartstone's map copy paste for party opponents is faulty
  components/match2/wikis/hearthstone/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: hearthstone

#4858 fix(match2): Stringify map in Legacy BMS on aoe
  components/match2/wikis/ageofempires/legacy/legacy_bracket_match_summary.lua
Labels: c: match2, g: ageofempires

#4859 docs(match2): deadlock annos
  components/match2/wikis/deadlock/match_summary.lua
Labels: c: match2, g: deadlock

#4489 feat(infobox): Setup infoboxes for GeoGuessr
  components/infobox/wikis/geoguessr/infobox_league_custom.lua
  components/infobox/wikis/geoguessr/infobox_person_player_custom.lua
Labels: c: infobox, g: geoguessr

#4793 feat(match2) Add map points input to Halo
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/halo/match_summary.lua
Labels: c: match2, g: halo

#4861 refactor(widget): migrate ppt widgets to v2 + cleanup
  components/infobox/wikis/apexlegends/infobox_map_custom.lua
  components/prize_pool/commons/prize_pool.lua
  components/prize_pool/commons/prize_pool_award.lua
  components/prize_pool/commons/prize_pool_base.lua
  components/widget/html/widget_html_base.lua
  components/widget/widget_table_cell.lua
  components/widget/widget_table_old.lua
  components/widget/widget_table_row.lua
  definitions/mw.lua
  spec/golden_masters/prize_pool.txt
Labels: c: prize_pool

#4863 refactor(widget): migrate remaining widgets to v2 & remove v1 backwards compatability
  components/infobox/commons/infobox_basic.lua
  components/prize_pool/commons/prize_pool_base.lua
  components/widget/contexts/widget_contexts_customizable.lua
  components/widget/html/widget_html_all.lua
  components/widget/html/widget_html_li.lua
  components/widget/html/widget_html_ul.lua
  components/widget/infobox/widget_infobox_breakdown.lua
  components/widget/infobox/widget_infobox_cell.lua
  components/widget/infobox/widget_infobox_center.lua
  components/widget/infobox/widget_infobox_chronology.lua
  components/widget/infobox/widget_infobox_core.lua
  components/widget/infobox/widget_infobox_header.lua
  components/widget/infobox/widget_infobox_highlights.lua
  components/widget/infobox/widget_infobox_links.lua
  components/widget/infobox/widget_infobox_title.lua
  components/widget/misc/widget_misc_inline_icon_and_text.lua
  components/widget/widget.lua
  components/widget/widget_builder.lua
  components/widget/widget_customizable.lua
  components/widget/widget_table_old.lua
  components/widget/widget_table_row.lua
  spec/array_spec.lua
  standard/array.lua
Labels: c: infobox

#4864 feat(match2): Add match maps legacy to aoe
  components/match2/wikis/ageofempires/legacy/match_maps_legacy.lua
Labels: c: match2, g: ageofempires

#4870 fix(infobox): bad imports on geoguessr
  components/infobox/wikis/geoguessr/infobox_league_custom.lua
  components/infobox/wikis/geoguessr/infobox_person_player_custom.lua
Labels: c: infobox, g: geoguessr

#4869 fix(infobox): typo in chronology fallback
  components/widget/infobox/widget_infobox_chronology.lua
Labels: c: infobox

#4867 fix(infobox): error in infobox links widget
  components/widget/infobox/widget_infobox_links.lua
Labels: c: infobox

#4850 refactor(match2): remove subobjects
  components/match2/commons/match_group_legacy.lua
  components/match2/commons/match_subobjects.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/legacy/match_maps_legacy.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/brawlstars/legacy/match_maps_legacy.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/legacy/match_maps_legacy.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/dota2/legacy/match_group_legacy_default.lua
  components/match2/wikis/dota2/legacy/match_maps_legacy.lua
  components/match2/wikis/easportsfc/match_group_input_custom.lua
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/geoguessr/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/legacy/match_maps_legacy.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/honorofkings/legacy/match_group_legacy_default.lua
  components/match2/wikis/honorofkings/legacy/match_maps_legacy.lua
  components/match2/wikis/leagueoflegends/legacy/match_group_legacy_default.lua
  components/match2/wikis/leagueoflegends/legacy/match_maps_legacy.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/legacy/match_maps_legacy.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/legacy/legacy_match_list.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/teamfortress/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/legacy/match_maps_legacy.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/wildrift/legacy/match_group_legacy_default.lua
  components/match2/wikis/wildrift/legacy/match_maps_legacy.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: c: match2

#4875 fix(match2): maps that should be ignored are not
  components/match2/commons/match.lua
Labels: c: match2

#4876 refactor(match2): some more removal of mapX support
  components/match2/commons/match.lua
  components/match2/commons/match_group_util.lua
Labels: c: match2

#4866 fix(match2): wrong qualified displayed for reset matches
  components/match2/commons/match_group_display_bracket.lua
Labels: c: match2

#4222 feat(Transfer): Add Transfer components
  components/squad/commons/squad_utils.lua
  components/transfer/commons/transfer_list.lua
  components/transfer/commons/transfer_references.lua
  components/transfer/commons/transfer_row.lua
  components/transfer/commons/transfer_row_custom.lua
  components/transfer/commons/transfer_row_display.lua
  spec/golden_masters/transfer_row_apexlegends.txt
  spec/golden_masters/transfer_row_counterstrike.txt
  spec/golden_masters/transfer_row_dota2.txt
  spec/golden_masters/transfer_row_leagueoflegends.txt
  spec/golden_masters/transfer_row_mobilelegends.txt
  spec/golden_masters/transfer_row_overwatch.txt
  spec/golden_masters/transfer_row_rainbowsix.txt
  spec/golden_masters/transfer_row_rocketleague.txt
  spec/golden_masters/transfer_row_starcraft2.txt
  spec/golden_masters/transfer_row_valorant.txt
  spec/test_helper.lua
  spec/transfer_spec.lua
  standard/icon_data.lua
Labels: c: transfer

#4877 refactor(match2): match summary mvp into a widget
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/clashofclans/match_summary.lua
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/honorofkings/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/tft/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_mvp.lua
  definitions/mw.lua
Labels: c: match2

#4882 chore(transfer): Add configs where necessary and remove deprecated
  components/transfer/commons/transfer_references.lua
  spec/golden_masters/transfer_row_leagueoflegends.txt
  spec/golden_masters/transfer_row_mobilelegends.txt
  standard/info/wikis/clashofclans/info.lua
  standard/info/wikis/crossfire/info.lua
  standard/info/wikis/formula1/info.lua
  standard/info/wikis/freefire/info.lua
  standard/info/wikis/honorofkings/info.lua
  standard/info/wikis/leagueoflegends/info.lua
  standard/info/wikis/mobilelegends/info.lua
  standard/info/wikis/omegastrikers/info.lua
  standard/info/wikis/pubgmobile/info.lua
  standard/info/wikis/smite/info.lua
  standard/info/wikis/splatoon/info.lua
  standard/info/wikis/wildrift/info.lua
Labels: c: transfer

#4883 fix(transfer): missing icon fallback for icon2 from icon1
  components/transfer/commons/transfer_row.lua
Labels: c: transfer

#4885 fix(transfer): logic inverted
  components/transfer/commons/transfer_references.lua
Labels: c: transfer

#4887 fix(transfer): missing default true
  components/transfer/commons/transfer_list.lua
Labels: c: transfer

#4873 feat(infobox): custom infobox league for deadlock
  components/infobox/wikis/deadlock/infobox_league_custom.lua
Labels: c: infobox, g: deadlock

#4891 docs: fix typo
  definitions/mw.lua
Labels: documentation, chore

#4892 fix(transfer): uk sub flags not showing
  components/transfer/commons/transfer_row.lua
  spec/transfer_spec.lua
Labels: c: transfer

#4893 feat(match2): parse bestof on easportsfc
  components/match2/wikis/easportsfc/match_group_input_custom.lua
Labels: c: match2, g: easportsfc

#4878 feat(match2): standardize display of character picks and bans
  .github/workflows/luacheck.yml
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/deadlock/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/honorofkings/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/smite/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/widget/html/widget_html_abbr.lua
  components/widget/html/widget_html_all.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_character.lua
  components/widget/match/summary/widget_match_summary_character_ban_table.lua
  components/widget/match/summary/widget_match_summary_characters.lua
  spec/test_helper.lua
  stylesheets/commons/Brackets.less
Labels: c: match2

#4862 docs: get rid of some false positive anno warnings
  components/infobox/commons/infobox_person.lua
  components/infobox/extensions/commons/player_introduction.lua
  components/match2/wikis/dota2/match_page.lua
  components/match2/wikis/leagueoflegends/match_page.lua
  components/matches_schedule_display/commons/matches_schedule_display.lua
  definitions/mw.lua
Labels: documentation

#4894 feat(match2): improve character pick and ban display
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/honorofkings/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/smite/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/widget/match/summary/widget_match_summary_character_ban_table.lua
  components/widget/match/summary/widget_match_summary_characters.lua
  stylesheets/commons/Brackets.less
Labels: c: match2

#4899 feat(widget): let Link Widget fallback to using link as display text
  components/widget/basic/widget_basic_link.lua
Labels: c: infobox

#4900 fix(match2): do not show empty ban rows
  components/widget/match/summary/widget_match_summary_character_ban_table.lua
Labels: c: match2

#4898 fix(match2): incorrect scores shown when using showmatch on apex
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2

#4879 feat(match2): support for hero bans on deadlock
  components/match2/wikis/deadlock/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_summary.lua
Labels: c: match2, g: deadlock

#4888 refactor(match2): make a display widget of the match page link
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/widget/html/widget_html_all.lua
  components/widget/html/widget_html_center.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_match_page_link.lua
  components/widget/match/summary/widget_match_summary_row.lua
Labels: c: match2

#4901 refactor(match2): cleanup mvp widget a bit
  components/widget/match/summary/widget_match_summary_mvp.lua
Labels: c: match2

#4903 fix(transfer): flag processing not perfect
  components/transfer/commons/transfer_row.lua
  components/transfer/commons/transfer_row_display.lua
  spec/transfer_spec.lua
Labels: c: transfer

#4907 fix(match2): display on bracket templates broken
  components/match2/commons/bracket_template.lua
Labels: c: match2

#4904 feat(match2): remove flipping of character order in match sumamry
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/widget/match/summary/widget_match_summary_characters.lua
  stylesheets/commons/Brackets.less
Labels: c: match2

#4908 fix(match2): pick/ban specificity
  stylesheets/commons/Brackets.less
Labels: c: match2

#4906 refactor(match2): standardize ban display of dota2
  components/match2/wikis/dota2/match_summary.lua
Labels: c: match2

#4852 feat(infobox): move publisherpremier to base league infobox
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/clashroyale/infobox_league_custom.lua
  components/infobox/wikis/easportsfc/infobox_league_custom.lua
  components/infobox/wikis/honorofkings/infobox_league_custom.lua
  components/infobox/wikis/omegastrikers/infobox_league_custom.lua
  components/infobox/wikis/osu/infobox_league_custom.lua
  components/infobox/wikis/smite/infobox_league_custom.lua
  components/infobox/wikis/splatoon/infobox_league_custom.lua
  components/infobox/wikis/tetris/infobox_league_custom.lua
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
  components/infobox/wikis/zula/infobox_league_custom.lua
  components/prize_pool/wikis/mobilelegends/prize_pool_custom.lua
  components/prize_pool/wikis/pokemon/prize_pool_custom.lua
  spec/prize_pool_spec.lua
  spec/team_card_storage_spec.lua
Labels: c: infobox, c: standard

#4909 feat(match2): remove defaultIcon for characterBans
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/honorofkings/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/smite/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2

#4910 fix(match2): Display input for unknown maps, log missing map on AoE
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: c: match2, g: ageofempires

#4912 fix(match2): overwatch legacy mapping forever loop
  components/match2/wikis/overwatch/legacy/match_maps_legacy.lua
Labels: c: match2, g: overwatch

#4915 fix(publishertier): store empty instead of stringified false
  components/infobox/commons/infobox_league.lua
  spec/prize_pool_spec.lua
  spec/team_card_storage_spec.lua
Labels: c: infobox

#4919 fix(match2): Handle default map win in legacy wrapper on AoE
  components/match2/wikis/ageofempires/legacy/legacy_bracket_match_summary.lua
Labels: c: match2, g: ageofempires

#4920 fix(match2) Display games with resulttype but no winner on AoE
  components/match2/wikis/ageofempires/match_summary.lua
Labels: c: match2, g: ageofempires

#4921 fix(match2): Handle matchsection in legacy wrapper AoE
  components/match2/wikis/ageofempires/legacy/match_maps_legacy.lua
Labels: c: match2, g: ageofempires

#4925 fix(match2): unstandardized pick/ban champion size is max
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/omegastrikers/match_summary.lua
Labels: c: match2, g: brawl stars

#4927 chore(standard): remove factor link
  standard/links/commons/links.lua
Labels: chore, c: standard

#4923 refactor(infobox): clean up some publisher tier stuff in customs
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
  components/infobox/wikis/callofduty/infobox_league_custom.lua
  components/infobox/wikis/clashofclans/infobox_league_custom.lua
  components/infobox/wikis/crossfire/infobox_league_custom.lua
  components/infobox/wikis/fortnite/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/pokemon/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/stormgate/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
Labels: c: infobox

#4916 refactor(match2): standardize character parsing in moba match summaries
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/deadlock/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/honorofkings/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/smite/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/widget/match/summary/widget_match_summary_character_ban_table.lua
Labels: c: match2

#4932 fix(transfer): nil role2 causes error in edgge case
  components/transfer/commons/transfer_row_display.lua
Labels: c: transfer

#4931 feat(tier): remove unused D-tier from Brawlstars
  standard/tier/wikis/brawlstars/tier_data.lua
Labels: g: brawl stars, c: standard

#4930 fix(match2): wc3 hero picks are incorrectly flipped
  components/match2/wikis/warcraft/match_summary.lua
Labels: c: match2, g: warcraft

#4934 fix(match2): apex's point modifier
  components/match2/wikis/apexlegends/match_group_input_custom.lua
Labels: c: match2, g: apex

#4933 fix(match2): lol matchMaps legacy not accoutning for empty maps
  components/match2/wikis/leagueoflegends/legacy/match_maps_legacy.lua
Labels: c: match2, g: leagueoflegends

#4914 refactor(match2): Widgetify dota2's match summary
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/dota2/match_summary.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_body.lua
  components/widget/match/summary/widget_match_summary_break.lua
  components/widget/match/summary/widget_match_summary_game_winloss_indicator.lua
Labels: c: match2, g: dota2

#4935 fix(infobox): wc item infobox showing `table` at teh bottom
  components/infobox/wikis/warcraft/infobox_item_custom.lua
Labels: c: infobox, g: warcraft

#4929 refactor(match2): MS on HoK, LoL, MLBB, Smite & WildRift
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/honorofkings/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/smite/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/widget/match/summary/widget_match_summary_game_winloss_indicator.lua
Labels: c: match2, g: wildrift, g: mobilelegends, g: honorofkings, g: leagueoflegends, g: smite

#4936 refactor(match2): MS on battlerite, deadlock, magic and pokemon
  components/match2/wikis/battlerite/match_summary.lua
  components/match2/wikis/deadlock/match_summary.lua
  components/match2/wikis/magic/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
Labels: c: match2, g: pokemon, g: magic, g: battlerite, g: deadlock

#4937 refactor(match2): standardize game comment and widgetify casters
  components/match2/wikis/battlerite/match_summary.lua
  components/match2/wikis/deadlock/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/honorofkings/match_summary.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/magic/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/smite/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_casters.lua
  components/widget/match/summary/widget_match_summary_game_center.lua
  components/widget/match/summary/widget_match_summary_game_comment.lua
Labels: c: match2

#4944 refactor(match2): remove unused wiki-customs functions
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/battlerite/match_summary.lua
  components/match2/wikis/brawlhalla/match_summary.lua
  components/match2/wikis/clashofclans/match_summary.lua
  components/match2/wikis/fighters/match_summary.lua
  components/match2/wikis/geoguessr/match_summary.lua
  components/match2/wikis/hearthstone/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/honorofkings/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/omegastrikers/match_summary.lua
  components/match2/wikis/pokemon/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/match2/wikis/wildrift/match_summary.lua
Labels: c: match2

#4945 fix(match2): aoe typo
  components/match2/wikis/ageofempires/match_summary.lua
Labels: c: match2, g: ageofempires

#4943 refactor(match2): use new casters row everywhere
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/match_summary_base.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/ageofempires/match_summary.lua
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/dota2/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/mobilelegends/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/smite/match_summary.lua
  components/match2/wikis/stormgate/match_summary.lua
  components/match2/wikis/tft/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/warcraft/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
Labels: c: match2

#4942 refactor(match2): move h2h links to MGI
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_summary.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_summary.lua
  standard/links/commons/links.lua
Labels: g: starcraft, g: rocket league, c: match2, g: ageofempires, g: halo, g: warcraft, g: broodwar

#4881 fix(match2): `tournament_status` is not working
  components/match2/wikis/counterstrike/match_group_input_custom.lua
Labels: c: match2, g: counter-strike

#4951 fix(match2): Wrong index on match2players in CR Legacy
  components/match2/wikis/clashroyale/match_legacy.lua
Labels: c: match2, g: clashroyale

#4947 refactor(match2): minor cleanups in many wiki match summaries
  components/match2/wikis/ageofempires/match_summary.lua
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/brawlhalla/match_summary.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/clashofclans/match_summary.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/easportsfc/match_summary.lua
  components/match2/wikis/fighters/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/hearthstone/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/omegastrikers/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/tft/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
Labels: c: match2

#4955 feat(match2): do not show popup if only h2h link is present on sc(2)
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
Labels: g: starcraft, c: match2

#4953 refactor(match2): standardize brawlstars' pick and bans display
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_summary.lua
Labels: c: match2, g: brawl stars

#4949 refactor(match2): match summary createBody H-T
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/hearthstone/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/teamfortress/match_summary.lua
  components/match2/wikis/tetris/match_summary.lua
  components/match2/wikis/tft/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
Labels: c: match2

#4956 refactor(match2): standardize match comments
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/zula/match_group_input_custom.lua
  components/match2/wikis/zula/match_summary.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_game_win_loss_indicator.lua
  components/widget/match/summary/widget_match_summary_match_comment.lua
  spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  spec/golden_masters/match2_matchlist_smoke_dota2.txt
  spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  spec/golden_masters/match2_matchlist_smoke_mobilelegends.txt
  spec/golden_masters/match2_matchlist_smoke_overwatch.txt
  spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  spec/golden_masters/match2_matchlist_smoke_valorant.txt
Labels: c: match2, g: counter-strike, g: criticalops, g: zula

#4954 refactor(match2): clashroyale match summary body
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_summary.lua
Labels: c: match2, g: clashroyale

#4957 refactor(match2): standardize ms-body on omegastrikers
  components/match2/wikis/omegastrikers/match_summary.lua
Labels: c: match2, g: omegastrikers

#4958 fix(prize pool): error on literals with empty name
  components/prize_pool/commons/prize_pool_import.lua
Labels: c: prize_pool

#4959 refactor(match2): use break widget
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/callofduty/match_summary.lua
  components/match2/wikis/clashofclans/match_summary.lua
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/easportsfc/match_summary.lua
  components/match2/wikis/geoguessr/match_summary.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/omegastrikers/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/sideswipe/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/teamfortress/match_summary.lua
  components/match2/wikis/tetris/match_summary.lua
  components/match2/wikis/tft/match_summary.lua
  components/match2/wikis/trackmania/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
Labels: c: match2

#4960 refactor(match2): standarize mapVeto display further
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
Labels: c: match2

#4964 fix(infobox) Typo in hearthstone infobox league
  components/infobox/wikis/hearthstone/infobox_league_custom.lua
Labels: c: infobox, g: hearthstone

#4961 refactor(match2): match summary body to widget on more wikis
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
Labels: c: match2

#4946 feat: styling for spellcard hr elements
  stylesheets/commons/Miscellaneous.less
Labels: g: dota2

#4965 feat(transfer): remove SPECIAL_ROLES exception when merging transfers
  components/transfer/commons/transfer_list.lua
Labels: c: transfer

#4967 feat: Array.map should handle no return same as nil return
  spec/array_spec.lua
  standard/array.lua
Labels: c: standard

#4968 fix(match2): MVP display missing on crossfire
  components/match2/wikis/crossfire/match_summary.lua
Labels: c: match2, g: crossfire

#4962 refactor(match2): starcraft(2) MatchSummary
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/starcraft_starcraft2/match_summary_ffa_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/widget/match/summary/widget_match_summary_game_comment.lua
  components/widget/match/summary/widget_match_summary_game_win_loss_indicator.lua
  stylesheets/commons/Brackets.less
Labels: g: starcraft, c: match2, g: broodwar

#4978 fix(infobox): issues on dota2 cosmetic infobox
  components/infobox/wikis/dota2/infobox_cosmetic_custom.lua
  components/widget/infobox/widget_infobox_header.lua
Labels: c: infobox, g: dota2

#4952 feat(match2): render match summmary characters at an appropriate size
  components/widget/match/summary/widget_match_summary_character.lua
  components/widget/match/summary/widget_match_summary_characters.lua
Labels: c: match2

#4977 feat: show teamnames on geroguessr's transfers
  standard/info/wikis/geoguessr/info.lua
Labels: c: standard, data, g: geoguessr

#4913 fix(match2): display on bracket template pages still off
  components/match2/commons/bracket_template.lua
Labels: c: match2

#4969 feat(match2): use BR style for SC(2) FFA
  components/match2/commons/match_summary_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_single_match_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_summary_ffa_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft_ffa.lua
  stylesheets/commons/BattleRoyale/PanelTable.less
  stylesheets/commons/Brackets.less
Labels: g: starcraft, c: match2

#4982 fix(match2): game row font size unexpceted increase in #4969
  stylesheets/commons/Brackets.less
Labels: c: match2, stylesheets

#4981 chore: script to generate changelogs
  scripts/generate_changelog_local.sh
Labels: chore

#4984 feat(match2): standardize template usage on league of legends
  components/match2/wikis/leagueoflegends/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: leagueoflegends

#4963 feat(match2): standardize mapveto
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/heroes/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/valorant/match_summary.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/match2/wikis/zula/match_summary.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_map_veto.lua
  components/widget/match/summary/widget_match_summary_map_veto_round.lua
  components/widget/match/summary/widget_match_summary_map_veto_start.lua
Labels: c: match2

#4971 feat(match2): standardize warcraft MatchSummary
  components/match2/wikis/warcraft/match_summary.lua
  components/widget/match/summary/widget_match_summary_all.lua
  components/widget/match/summary/widget_match_summary_character_ban_table.lua
  components/widget/match/summary/widget_match_summary_collapsible.lua
Labels: c: match2, g: warcraft

#4988 feat(match2): standardize stormgate display
  components/match2/wikis/stormgate/match_summary.lua
Labels: c: match2, g: stormgate

#4989 refactor: remove obsolete code
  components/match2/commons/match_group_input_util.lua
  standard/smw_injector.lua
Labels: c: match2, c: standard

#4992 refactor(match2): cleanup space usage
  components/match2/commons/match_summary_base.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/halo/match_summary.lua
  components/match2/wikis/rainbowsix/legacy/match_maps_legacy.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/warcraft/legacy/match_group_legacy_convert_map_data.lua
  components/match2/wikis/warcraft/match_summary.lua
  components/widget/match/summary/widget_match_summary_map_veto_start.lua
Labels: c: match2

#4991 feat(match2): improve display on wc3 and sg
  components/match2/wikis/stormgate/match_summary.lua
  components/match2/wikis/warcraft/match_summary.lua
  components/widget/match/summary/widget_match_summary_game_center.lua
Labels: c: match2, g: warcraft, g: stormgate

#4996 feat(tier): remove unused D-tier from Tetris
  standard/tier/wikis/tetris/tier_data.lua
Labels: c: standard, g: tetris

#4983 feat(match2): partial standardization of match summary on R6
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2
