Repository Liquipedia/Lua-Modules, pull requests merged in 2024-07, with the labels that each got.

#4374 feat(info): Update magic match2 status
  standard/info/wikis/magic/info.lua
Labels: c: match2, g: magic

#4364 fix(infobox): requirements storage on warcraft item infobox
  components/infobox/wikis/warcraft/infobox_item_custom.lua
Labels: c: infobox, g: warcraft

#4369 feat(participantTable): Inherit `isRandomEvent` from parent on sc & sc2
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
Labels: g: starcraft, g: broodwar, c: participant_table

#4365 feat: rename fifa to easportsfc
  components/infobox/wikis/easportsfc/infobox_company_custom.lua
  components/infobox/wikis/easportsfc/infobox_league_custom.lua
  components/infobox/wikis/easportsfc/infobox_person_player_custom.lua
  components/match2/wikis/easportsfc/match_group_input_custom.lua
  components/match2/wikis/easportsfc/match_legacy.lua
  components/match2/wikis/easportsfc/match_summary.lua
  components/portal_players/wikis/easportsfc/portal_players_custom.lua
  standard/info/wikis/easportsfc/info.lua
  standard/tier/wikis/fifa/tier_data.lua
Labels: chore, c: standard, g: easportsfc

#4367 fix(prizepool): `stageGroupElimStatuses`option in import
  components/prize_pool/commons/prize_pool_import.lua
Labels: c: prize_pool

#4376 feat(squad): Allow title overwrite in AutoSquads
  components/squad/commons/squad_custom.lua
  components/squad/commons/squad_utils.lua
  components/squad/wikis/overwatch/squad_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/squad/wikis/stormgate/squad_custom.lua
Labels: c: squad

#4368 feat(Infobox): Remove outdated player ratings on AoE
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: c: infobox, g: ageofempires

#4378 feat(match2): add Faceit to Overwatch Match Copy/Paste
  components/match2/wikis/overwatch/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: overwatch

#4377 feat(TournamentsListing): Allow to query for multiple series
  components/tournaments_listing/commons/tournaments_listing_conditions.lua
Labels: c: tournaments_listing

#4360 feat(gameTable): Add Character GameTable
  components/game_table/commons/game_table_character.lua
  components/match_table/commons/match_table.lua
Labels: c: match_table

#4359 feat(infobox): Update stormgate infoboxes unit and skill
  components/infobox/wikis/stormgate/infobox_skill_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, g: stormgate

#4373 feat(prizepool): Add option to shift imported placements
  components/prize_pool/commons/prize_pool_import.lua
Labels: c: prize_pool

#4381 feat(timezone): Add ECT timezone
  javascript/commons/Countdown.js
  standard/timezone_data.lua
Labels: c: standard

#4386 fix(opponent): overflow for party type opponents
  components/opponent/commons/opponent_display.lua
  components/opponent/commons/starcraft_starcraft2/opponent_display_starcraft.lua
  components/opponent/wikis/stormgate/opponent_display_custom.lua
  components/opponent/wikis/warcraft/opponent_display_custom.lua
  spec/golden_masters/prize_pool.txt
  stylesheets/commons/Brackets.less
Labels: c: opponent

#4380 feat(links): add `douyin_page` support
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
Labels: c: standard

#4385 feat(infobox): add patch to world of tanks's league infobox
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
Labels: c: infobox, g: worldoftanks

#4341 feat(hdb): setup for fighters
  components/hidden_data_box/wikis/fighters/hidden_data_box_custom.lua
Labels: c: hidden_data_box, g: fighters

#4264 doc: fix some annotation warnings
  components/match2/commons/match_group_input.lua
  components/match2/wikis/apexlegends/match_summary.lua
  components/match2/wikis/arenafps/match_summary.lua
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/crossfire/match_summary.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_summary.lua
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
  components/prize_pool/wikis/rainbowsix/prize_pool_custom.lua
  components/prize_pool/wikis/trackmania/prize_pool_custom.lua
Labels: c: match2, c: prize_pool

#4382 feat(match2): standardize character names input
  components/match2/commons/match_group_input.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#4388 fix(squad): newteamdate is not working
  components/squad/commons/squad_row.lua
  components/squad/commons/squad_utils.lua
Labels: c: squad

#4372 refactor(countdown): move streams into lua
  javascript/commons/Countdown.js
  standard/countdown.lua
  standard/links_stream.lua
  stylesheets/commons/Icons.less
Labels: c: standard, javascript

#4391 fix(countdown): error on integer keys
  standard/countdown.lua
Labels: c: standard

#4393 feat(faction): Add AoEO's Indians
  components/faction/wikis/ageofempires/faction_data.lua
Labels: g: ageofempires, c: faction, data

#4396 chore: remove duplicated file
  components/match2/wikis/halo/bracket_alias.lua
Labels: chore

#4395 feat(match2): improve fighters match summary alignment
  components/match2/wikis/fighters/match_summary.lua
Labels: c: match2, g: fighters

#4402 fix(countdown): error on non string keys
  standard/links_stream.lua
Labels: c: standard

#4401 feat(match2): create multicharacter styleing
  components/match2/wikis/fighters/match_summary.lua
Labels: c: match2, g: fighters

#4406 feat(match2): adjust fighter's match1 fields
  components/match2/wikis/fighters/match_legacy.lua
Labels: c: match2, g: fighters

#4407 feat(match2): store legacy games for fighters
  components/match2/wikis/fighters/match_legacy.lua
Labels: c: match2, g: fighters

#4409 feat(match2): allow for empty map names on fighters
  components/match2/wikis/fighters/match_group_input_custom.lua
Labels: c: match2, g: fighters

#4408 feat(prizepool): store tournament data on fighters
  components/infobox/wikis/fighters/infobox_league_custom.lua
  components/prize_pool/commons/prize_pool_base.lua
  components/prize_pool/wikis/fighters/prize_pool_custom.lua
Labels: c: prize_pool, g: fighters

#4363 feat(MatchTicker): add new match ticker display style
  components/match_ticker/commons/match_ticker.lua
  components/match_ticker/commons/match_ticker_custom.lua
  components/match_ticker/commons/match_ticker_display_components.lua
  components/match_ticker/commons/match_ticker_display_components_new.lua
  stylesheets/commons/MatchTicker.less
Labels: c: match_ticker

#4397 feat(opponent): sometimes display fighters characters on new line
  components/opponent/wikis/fighters/player_display_custom.lua
  components/participant_table/wikis/fighters/participant_table_custom.lua
Labels: c: match2, g: fighters

#4410 fix(opponent): missing padding between name and characters on fighters
  components/opponent/wikis/fighters/player_display_custom.lua
Labels: c: opponent, g: fighters

#4400 feat(gameTable): Add more settings/change display
  components/game_table/commons/game_table_character.lua
  components/match_table/commons/match_table.lua
Labels: c: match_table

#4423 feat: add FC25
  standard/info/wikis/easportsfc/info.lua
Labels: c: standard, g: easportsfc, data

#4421 fix(match2): Allow empty bans in leagueoflegends
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
Labels: c: match2, g: leagueoflegends

#4414 fix(match2): Handle display of games with no bans and length on heroes
  components/match2/wikis/heroes/match_summary.lua
Labels: c: match2, g: heroes

#4415 feat(infobox): store list of series
  components/infobox/commons/infobox_league.lua
  standard/page.lua
Labels: c: infobox

#4416 feat(gameTableCharacter): Add Custom GameTable Character to dota2
  components/game_table/commons/game_table_character.lua
  components/game_table/dota2/game_table_character_custom.lua
Labels: g: dota2, c: match_table

#4425 feat(infobox): infobox league for smash
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/fighters/infobox_league_custom.lua
  components/infobox/wikis/smash/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
Labels: c: infobox, g: smash

#4427 fix(infobox): usd broken on fighters and sc2
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/fighters/infobox_league_custom.lua
  components/infobox/wikis/smash/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: g: starcraft, c: infobox, g: smash, g: fighters

#4428 feat: add a softer version for gray-bg
  stylesheets/commons/Colours.less
Labels: stylesheets

#4390 fix(match2): wrong processing if not standalone
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
Labels: c: match2, g: leagueoflegends

#4403 chore(less): Add fountain.less
  stylesheets/commons/Fountain.less
Labels: stylesheets

#4430 fix(match2): error sometimes on bigmatch on lol
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
Labels: c: match2, g: leagueoflegends

#4429 refactor(ratings): decouple ratings display
  components/ratings/ratings_display.lua
  components/ratings/ratings_display_graph.lua
  components/ratings/ratings_display_list.lua
  components/ratings/ratings_storage_lpdb.lua
Labels: c: ratings

#4433 feat(match2): remove finished check on apex for bg
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#4371 feat(matchTicker): add matchPage link if applicable
  components/match_ticker/commons/match_ticker_display_components.lua
  stylesheets/commons/Mainpage.less
Labels: c: match_ticker, stylesheets

#4434 feat(match2): support "DNP" style placements on apex
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#4441 fix(opponent): stormgate's faction sync
  components/opponent/wikis/stormgate/opponent_custom.lua
Labels: c: opponent, g: stormgate

#4446 feat(match2): Add Links to Smite
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/smite/match_summary.lua
Labels: c: match2, g: smite

#4437 fix(Countdown): toggle data parsing & extended filter button refresh
  javascript/commons/Countdown.js
  javascript/commons/FilterButtons.js
  javascript/commons/SwitchButtons.js
Labels: javascript

#4448 fix(gameTable): Respect input limit when displaying games
  components/game_table/commons/game_table.lua
Labels: c: match_table

#4439 feat(match2): Add legacy wrapper to heroes
  components/match2/commons/match_group_legacy.lua
  components/match2/wikis/heroes/legacy/match_group_legacy_default.lua
  components/match2/wikis/heroes/legacy/match_maps_legacy.lua
Labels: c: match2, g: heroes

#4413 feat(infobox): Update Unit and Building Infoboxes for Stormgate
  components/infobox/extensions/wikis/stormgate/infobox_extension_attack.lua
  components/infobox/extensions/wikis/stormgate/infobox_extension_cost_display.lua
  components/infobox/wikis/stormgate/infobox_building_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, g: stormgate

#4447 refactor(bigmatch): refactor from ground up
  components/match2/commons/brkts_wiki_specific.lua
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/match_group_display_matchpage.lua
  components/match2/commons/match_group_display_single_match.lua
  components/match2/commons/match_group_input.lua
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/leagueoflegends/brkts_wiki_specific.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom_match_page.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom_normal.lua
  components/match2/wikis/leagueoflegends/match_page.lua
  components/match2/wikis/leagueoflegends/match_page_template.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/match2/wikis/valorant/big_match.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: leagueoflegends

#4451 feat(bigmatch): Implement Dota 2 match page header
  components/match2/wikis/dota2/big_match_template.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2

#4450 feat(fountain.less): Adding padding to FacetCard for better readability
  stylesheets/commons/Fountain.less
Labels: g: dota2, stylesheets

#4454 feat: dota2 match page info section
  components/match2/wikis/dota2/big_match_template.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2

#4455 fix(match2): improve style on dota2's matchpage footer
  components/match2/wikis/dota2/big_match_template.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2
