Repository Liquipedia/Lua-Modules, pull requests merged in 2024-01, with the labels that each got.

#3712 Refactor aoe infobox team
  components/infobox/wikis/ageofempires/infobox_team_custom.lua
Labels: c: infobox, g: ageofempires

#3710 Refactor Patch Infoboxes
  components/infobox/commons/infobox_patch.lua
  components/infobox/wikis/dota2/infobox_patch_custom.lua
  components/infobox/wikis/fortnite/infobox_patch_custom.lua
  components/infobox/wikis/halo/infobox_patch_custom.lua
  components/infobox/wikis/rainbowsix/infobox_patch_custom.lua
  components/infobox/wikis/valorant/infobox_patch_custom.lua
Labels: g: valorant, g: rainbow six, c: infobox, g: fortnite, g: halo, g: dota2

#3708 Refactor minor sc2 infoboxes
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_campaign_mission_custom.lua
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
  components/infobox/wikis/starcraft2/infobox_show_custom.lua
  components/infobox/wikis/starcraft2/infobox_skill_custom.lua
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
  components/infobox/wikis/starcraft2/infobox_unofficial_world_champion_custom.lua
Labels: g: starcraft, c: infobox

#3709 Update Battalion Info with proper images
  standard/info/wikis/battalion/info.lua
Labels: c: standard, data

#3711 Refactor minor warcraft infoboxes
  components/infobox/wikis/warcraft/infobox_building_custom.lua
  components/infobox/wikis/warcraft/infobox_character_custom.lua
  components/infobox/wikis/warcraft/infobox_company_custom.lua
  components/infobox/wikis/warcraft/infobox_item_custom.lua
  components/infobox/wikis/warcraft/infobox_map_custom.lua
  components/infobox/wikis/warcraft/infobox_patch_custom.lua
  components/infobox/wikis/warcraft/infobox_skill_custom.lua
  components/infobox/wikis/warcraft/infobox_strategy_custom.lua
  components/infobox/wikis/warcraft/infobox_unit_custom.lua
Labels: c: infobox, g: warcraft

#3713 Refactor fortnite infobox team
  components/infobox/wikis/fortnite/infobox_team_custom.lua
Labels: c: infobox, g: fortnite

#3714 Refactor bw infobox team
  components/infobox/wikis/starcraft/infobox_team_custom.lua
Labels: c: infobox, g: broodwar

#3715 Refactor sc2 infobox team
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#3717 Refactor infoboxes series
  components/infobox/commons/infobox_series.lua
  components/infobox/wikis/ageofempires/infobox_series_custom.lua
  components/infobox/wikis/counterstrike/infobox_series_custom.lua
  components/infobox/wikis/dota2/infobox_series_custom.lua
  components/infobox/wikis/fortnite/infobox_series_custom.lua
  components/infobox/wikis/rocketleague/infobox_series_custom.lua
  components/infobox/wikis/smash/infobox_series_custom.lua
  components/infobox/wikis/starcraft/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
  components/infobox/wikis/valorant/infobox_series_custom.lua
  components/infobox/wikis/warcraft/infobox_series_custom.lua
Labels: c: infobox

#3720 Refactor sc2 infobox mapmaker
  components/infobox/wikis/starcraft2/infobox_person_map_maker_custom.lua
Labels: c: infobox

#3723 AoE PPT: store extradata in variable
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
Labels: g: ageofempires, c: prize_pool

#3702 Refactor infobox league via temp module
  components/infobox/commons/custom/infobox_league_custom.lua
  components/infobox/commons/infobox_league_temp.lua
  components/infobox/wikis/stormgate/infobox_league_custom.lua
Labels: c: infobox

#3631 Rework status in person infoboxes
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/brawlhalla/infobox_person_player_custom.lua
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
  components/infobox/wikis/counterstrike/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/portal_players/wikis/formula1/portal_players_custom.lua
Labels: c: infobox

#3719 Refactor infoboxes user
  components/infobox/commons/custom/infobox_person_user_custom.lua
  components/infobox/commons/infobox_person_user.lua
  components/infobox/wikis/dota2/infobox_person_user_custom.lua
  components/infobox/wikis/overwatch/infobox_person_user_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_user_custom.lua
Labels: c: infobox

#3689 Add stormgate tier data
  standard/tier/wikis/stormgate/tier_data.lua
Labels: c: standard, data, g: stormgate

#3725 AoE: Fix wrong game info in HDB
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
Labels: bug, g: ageofempires, c: hidden_data_box

#3726 COD Info name adjustments
  standard/info/wikis/callofduty/info.lua
Labels: c: infobox, g: callofduty

#3704 Refactor sc2 infobox league
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_hidden.lua
  components/tournaments_listing/wikis/starcraft2/tournaments_listing_card_list_custom.lua
Labels: g: starcraft, c: infobox

#3394 feat: match2 for omegastrikers
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_summary.lua
Labels: c: match2, g: omegastrikers

#3731 Fix links in infobox series
  standard/links/commons/links.lua
Labels: bug, c: infobox

#3734 Fix typo in sc2 infobox league
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#3729 Add `Under Night In-Birth II` game data to `Module:Info`
  standard/info/wikis/fighters/info.lua
Labels: c: standard, g: fighters, data

#3738 fix: omega strikers match2 regression
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_summary.lua
Labels: bug, c: match2, g: omegastrikers

#3740 Fix series linking in infobox league temp
  components/infobox/commons/infobox_league_temp.lua
Labels: bug, c: infobox

#3737 Add chzzk icon
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
  stylesheets/commons/Icons.css
Labels: c: standard, data, stylesheets

#3742 refactor: migrate conditions test to busted
  spec/condition_spec.lua
  standard/condition.lua
  standard/lpdb/condition_test.lua
Labels: chore

#3744 fix: error when no race breakdown on sc2
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#3718 Refactor remaining team infoboxes
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/apexlegends/infobox_team_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_team_custom.lua
  components/infobox/wikis/brawlhalla/infobox_team_custom.lua
  components/infobox/wikis/callofduty/infobox_team_custom.lua
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/infobox/wikis/formula1/infobox_team_custom.lua
  components/infobox/wikis/freefire/infobox_team_custom.lua
  components/infobox/wikis/halo/infobox_team_custom.lua
  components/infobox/wikis/heroes/infobox_team_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/osu/infobox_team_custom.lua
  components/infobox/wikis/overwatch/infobox_team_custom.lua
  components/infobox/wikis/pubgmobile/infobox_team_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/stormgate/infobox_team_custom.lua
  components/infobox/wikis/teamfortress/infobox_team_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
  components/infobox/wikis/warcraft/infobox_team_custom.lua
  components/infobox/wikis/wildrift/infobox_team_custom.lua
Labels: c: infobox

#3735 Refactor broodwar infobox league
  components/infobox/wikis/starcraft/infobox_league_custom.lua
Labels: c: infobox, g: broodwar

#3730 Fix "RandomEvent" stuff in sc2 participant table
  components/participant_table/commons/participant_table_base.lua
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
Labels: bug, c: participant_table

#3749 fix apex status display in infobox player
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: apex

#3750 Fix: typo in chronology computation
  components/infobox/wikis/starcraft/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox, g: broodwar

#3752 Fix issue with YmapX edge case in SC infoboxes
  components/infobox/wikis/starcraft/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: bug, g: starcraft, c: infobox

#3754 Fix an edge case in sc(2) participants table
  components/participant_table/commons/starcraft_starcraft2/participant_table_starcraft.lua
Labels: bug, g: starcraft, c: participant_table

#3743 Refactor AOE infobox league
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
Labels: c: infobox, g: ageofempires

#3727 Store LPDB data for player's history on CoD
  components/infobox/wikis/callofduty/infobox_person_player_custom.lua
Labels: enhancement, c: infobox, g: callofduty

#3694 Add Stormgate participant table custom
  components/participant_table/wikis/stormgate/participant_table_custom.lua
Labels: c: participant_table, g: stormgate

#3755 feat: update match2 status of lol and wr
  standard/info/wikis/leagueoflegends/info.lua
  standard/info/wikis/wildrift/info.lua
Labels: g: wildrift, g: leagueoflegends

#3721 Refactor Infobox Weapon
  components/infobox/wikis/apexlegends/infobox_weapon_custom.lua
  components/infobox/wikis/pubg/infobox_weapon_custom.lua
  components/infobox/wikis/rainbowsix/infobox_weapon_custom.lua
Labels: g: rainbow six, c: infobox, g: pubg, g: apex, g: pubgmobile

#3733 Refactor more infoboxes league
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
Labels: g: rocket league, g: rainbow six, c: infobox, g: halo, g: apex

#3745 Refactor warcraft infobox league
  components/infobox/wikis/warcraft/infobox_league_custom.lua
Labels: c: infobox, g: warcraft

#3739 Refactor fighters infobox league
  components/infobox/commons/infobox_league_temp.lua
  components/infobox/wikis/fighters/infobox_league_custom.lua
Labels: c: infobox, g: fighters

#3732 Refactor "small" infoboxes league
  components/infobox/wikis/arenafps/infobox_league_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
  components/infobox/wikis/brawlhalla/infobox_league_custom.lua
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
  components/infobox/wikis/callofduty/infobox_league_custom.lua
  components/infobox/wikis/clashofclans/infobox_league_custom.lua
  components/infobox/wikis/clashroyale/infobox_league_custom.lua
  components/infobox/wikis/criticalops/infobox_league_custom.lua
  components/infobox/wikis/crossfire/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/fifa/infobox_league_custom.lua
  components/infobox/wikis/formula1/infobox_league_custom.lua
  components/infobox/wikis/fortnite/infobox_league_custom.lua
  components/infobox/wikis/freefire/infobox_league_custom.lua
  components/infobox/wikis/hearthstone/infobox_league_custom.lua
  components/infobox/wikis/heroes/infobox_league_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
  components/infobox/wikis/magic/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_league_custom.lua
  components/infobox/wikis/osu/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/pokemon/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/sideswipe/infobox_league_custom.lua
  components/infobox/wikis/simracing/infobox_league_custom.lua
  components/infobox/wikis/splatoon/infobox_league_custom.lua
  components/infobox/wikis/squadrons/infobox_league_custom.lua
  components/infobox/wikis/stormgate/infobox_league_custom.lua
  components/infobox/wikis/teamfortress/infobox_league_custom.lua
  components/infobox/wikis/tetris/infobox_league_custom.lua
  components/infobox/wikis/tft/infobox_league_custom.lua
  components/infobox/wikis/trackmania/infobox_league_custom.lua
  components/infobox/wikis/valorant/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
Labels: c: infobox

#3758 Fix gradient issue on ios for matchtickers
  components/match_ticker/commons/match_ticker_display_components.lua
Labels: bug, c: match_ticker

#3762 fix: various annotation typos
  components/infobox/wikis/halo/infobox_patch_custom.lua
  components/infobox/wikis/rainbowsix/infobox_weapon_custom.lua
  components/match2/commons/match_summary_base.lua
Labels: chore

#3349 Update squad.lua
  components/squad/commons/squad.lua
Labels: c: squad

#3763 Refactor infobox skill on commons and sc1
  components/infobox/commons/infobox_skill.lua
  components/infobox/wikis/starcraft/infobox_skill_custom.lua
Labels: c: infobox, g: broodwar

#3748 Refactor infobox person base module
  components/infobox/commons/infobox_person.lua
  components/infobox/extensions/commons/age_calculation.lua
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_person_player_custom.lua
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/halo/infobox_person_player_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/pokemon/infobox_person_player_custom.lua
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
Labels: c: infobox

#3741 Refactor cs infobox league
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, g: counter-strike

#3650 Creating MatchSummary for Match2 Arena FPS
  components/match2/wikis/arenafps/match_summary.lua
Labels: c: match2, g: arenafps

#3768 Infobox league cleanup
  components/infobox/commons/custom/infobox_league_custom.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_league_temp.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/arenafps/infobox_league_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
  components/infobox/wikis/brawlhalla/infobox_league_custom.lua
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
  components/infobox/wikis/callofduty/infobox_league_custom.lua
  components/infobox/wikis/clashofclans/infobox_league_custom.lua
  components/infobox/wikis/clashroyale/infobox_league_custom.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/criticalops/infobox_league_custom.lua
  components/infobox/wikis/crossfire/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/fifa/infobox_league_custom.lua
  components/infobox/wikis/fighters/infobox_league_custom.lua
  components/infobox/wikis/formula1/infobox_league_custom.lua
  components/infobox/wikis/fortnite/infobox_league_custom.lua
  components/infobox/wikis/freefire/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
  components/infobox/wikis/hearthstone/infobox_league_custom.lua
  components/infobox/wikis/heroes/infobox_league_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
  components/infobox/wikis/magic/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_league_custom.lua
  components/infobox/wikis/osu/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/pokemon/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/sideswipe/infobox_league_custom.lua
  components/infobox/wikis/simracing/infobox_league_custom.lua
  components/infobox/wikis/splatoon/infobox_league_custom.lua
  components/infobox/wikis/squadrons/infobox_league_custom.lua
  components/infobox/wikis/starcraft/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/stormgate/infobox_league_custom.lua
  components/infobox/wikis/teamfortress/infobox_league_custom.lua
  components/infobox/wikis/tetris/infobox_league_custom.lua
  components/infobox/wikis/tft/infobox_league_custom.lua
  components/infobox/wikis/trackmania/infobox_league_custom.lua
  components/infobox/wikis/valorant/infobox_league_custom.lua
  components/infobox/wikis/warcraft/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
Labels: c: infobox, chore

#3653 Create Match legacy for ArenaFPS
  components/match2/wikis/arenafps/match_legacy.lua
Labels: c: match2, g: arenafps

#3440 Custom Infobox Game for Esports wiki
  components/infobox/wikis/esports/infobox_game_custom.lua
Labels: c: infobox

#3759 feat: create an lightweight ORM for saving
  .luacheckrc
  spec/orm_spec.lua
  standard/lpdb.lua
Labels: c: standard

#3775 fix: Correct swapped cell names
  components/infobox/wikis/warcraft/infobox_character_custom.lua
Labels: bug, c: infobox, g: warcraft

#3777 refactor: have widget/table import dependencies with dev
  components/widget/widget_table.lua
  components/widget/widget_table_cell.lua
  components/widget/widget_table_row.lua
Labels: c: infobox

#3761 fix: html strip lpdb fields (resolves LPA-11107)
  components/match2/commons/match.lua
Labels: c: match2, f: lpdb

#3766 refactor: default `requireDevIfEnabled` to true in Lua.import
  standard/lua.lua
Labels: c: standard

#3773 Add legacy wrapper to Valorant
  components/match2/wikis/valorant/legacy/match_group_legacy_default.lua
  components/match2/wikis/valorant/legacy/match_maps_legacy.lua
Labels: g: valorant, c: match2

#3779 Remove `requireDevIfEnabled` from sc2 git modules
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
  components/infobox/wikis/starcraft2/infobox_building_custom.lua
  components/infobox/wikis/starcraft2/infobox_campaign_mission_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_map_custom.lua
  components/infobox/wikis/starcraft2/infobox_patch_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_map_maker_custom.lua
  components/infobox/wikis/starcraft2/infobox_series_custom.lua
  components/infobox/wikis/starcraft2/infobox_show_custom.lua
  components/infobox/wikis/starcraft2/infobox_skill_custom.lua
  components/infobox/wikis/starcraft2/infobox_strategy_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_unit_custom.lua
  components/infobox/wikis/starcraft2/infobox_unofficial_world_champion_custom.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/opponent/wikis/starcraft2/player_ext_custom.lua
  components/participant_table/wikis/starcraft2/participant_table_custom.lua
  components/prize_pool/wikis/starcraft2/prize_pool_award_custom.lua
  components/prize_pool/wikis/starcraft2/prize_pool_custom.lua
  components/results_table/wikis/starcraft2/results_table_custom.lua
  components/squad/wikis/starcraft2/squad_custom.lua
  components/tournaments_listing/wikis/starcraft2/tournaments_listing_card_list_custom.lua
  standard/tier/wikis/starcraft2/tier_custom.lua
Labels: g: starcraft, chore

#3780 Remove redundant `requireDevIfEnabled` from bw & stormgate git modules
  components/hidden_data_box/wikis/starcraft/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/stormgate/hidden_data_box_custom.lua
  components/infobox/wikis/starcraft/infobox_building_custom.lua
  components/infobox/wikis/starcraft/infobox_league_custom.lua
  components/infobox/wikis/starcraft/infobox_map_custom.lua
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft/infobox_series_custom.lua
  components/infobox/wikis/starcraft/infobox_skill_custom.lua
  components/infobox/wikis/starcraft/infobox_strategy_custom.lua
  components/infobox/wikis/starcraft/infobox_team_custom.lua
  components/infobox/wikis/starcraft/infobox_unit_custom.lua
  components/infobox/wikis/stormgate/infobox_league_custom.lua
  components/infobox/wikis/stormgate/infobox_team_custom.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/stormgate/brkts_wiki_specific.lua
  components/opponent/wikis/starcraft/player_ext_custom.lua
  components/participant_table/wikis/starcraft/participant_table_custom.lua
  components/participant_table/wikis/stormgate/participant_table_custom.lua
  components/prize_pool/wikis/starcraft/prize_pool_award_custom.lua
  components/prize_pool/wikis/starcraft/prize_pool_custom.lua
  components/prize_pool/wikis/stormgate/prize_pool_award_custom.lua
  components/prize_pool/wikis/stormgate/prize_pool_custom.lua
  components/squad/wikis/starcraft/squad_custom.lua
  standard/tier/wikis/starcraft/tier_custom.lua
Labels: chore, g: broodwar, g: stormgate

#3782 Remove redundant `requireDevIfEnabled` from warcraft git modules
  components/hidden_data_box/wikis/warcraft/hidden_data_box_custom.lua
  components/infobox/wikis/warcraft/infobox_building_custom.lua
  components/infobox/wikis/warcraft/infobox_character_custom.lua
  components/infobox/wikis/warcraft/infobox_company_custom.lua
  components/infobox/wikis/warcraft/infobox_item_custom.lua
  components/infobox/wikis/warcraft/infobox_league_custom.lua
  components/infobox/wikis/warcraft/infobox_map_custom.lua
  components/infobox/wikis/warcraft/infobox_patch_custom.lua
  components/infobox/wikis/warcraft/infobox_skill_custom.lua
  components/infobox/wikis/warcraft/infobox_strategy_custom.lua
  components/infobox/wikis/warcraft/infobox_team_custom.lua
  components/infobox/wikis/warcraft/infobox_unit_custom.lua
  components/match2/wikis/warcraft/brkts_wiki_specific.lua
  components/match2/wikis/warcraft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_util_custom.lua
  components/match2/wikis/warcraft/match_legacy.lua
  components/match2/wikis/warcraft/match_summary.lua
  components/opponent/wikis/warcraft/opponent_custom.lua
  components/opponent/wikis/warcraft/opponent_display_custom.lua
  components/opponent/wikis/warcraft/player_display_custom.lua
  components/opponent/wikis/warcraft/player_ext_custom.lua
  components/participant_table/wikis/warcraft/participant_table_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_legacy_award_custom.lua
  components/prize_pool/wikis/warcraft/prize_pool_legacy_custom.lua
  components/squad/wikis/warcraft/squad_custom.lua
  standard/tier/wikis/warcraft/tier_custom.lua
Labels: chore, g: warcraft

#3783 Remove redundant `requireDevIfEnabled` from cs git modules
  components/hidden_data_box/wikis/counterstrike/hidden_data_box_custom.lua
  components/infobox/wikis/counterstrike/infobox_company_custom.lua
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
  components/infobox/wikis/counterstrike/infobox_series_custom.lua
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
  components/match2/wikis/counterstrike/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_legacy.lua
  components/match2/wikis/counterstrike/match_summary.lua
  components/prize_pool/wikis/counterstrike/prize_pool_award_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_custom.lua
  components/prize_pool/wikis/counterstrike/prize_pool_legacy_custom.lua
  components/results_table/wikis/counterstrike/results_table_custom.lua
  components/squad/wikis/counterstrike/squad_custom.lua
  standard/tier/wikis/counterstrike/tier_custom.lua
Labels: chore, g: counter-strike

#3784 Remove redundant `requireDevIfEnabled` from r6 git modules
  components/hidden_data_box/wikis/rainbowsix/hidden_data_box_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_patch_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
  components/infobox/wikis/rainbowsix/infobox_weapon_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/rainbowsix/match_summary.lua
  components/prize_pool/wikis/rainbowsix/prize_pool_custom.lua
  components/squad/wikis/rainbowsix/squad_custom.lua
Labels: g: rainbow six, chore

#3785 Remove redundant `requireDevIfEnabled` from rl git modules
  components/earnings/wikis/rocketleague/earnings.lua
  components/hidden_data_box/wikis/rocketleague/hidden_data_box_custom.lua
  components/infobox/extensions/wikis/rocketleague/years_active.lua
  components/infobox/wikis/rocketleague/infobox_company_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_team_custom.lua
  components/infobox/wikis/rocketleague/infobox_unit_car.lua
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
  components/match2/wikis/rocketleague/legacy/legacy_match_list.lua
  components/match2/wikis/rocketleague/match_group_display_bracket_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_summary.lua
  components/match2/wikis/rocketleague/player_ext_custom.lua
  components/opponent/wikis/rocketleague/opponent_display_custom.lua
  components/prize_pool/wikis/rocketleague/prize_pool_custom.lua
  components/squad/wikis/rocketleague/squad_custom.lua
  standard/tier/wikis/rocketleague/tier_custom.lua
Labels: g: rocket league, chore

#3786 Remove redundant `requireDevIfEnabled` from aoe git modules
  components/earnings/wikis/ageofempires/earnings.lua
  components/faction/wikis/ageofempires/faction_data.lua
  components/faction/wikis/ageofempires/faction_icon_data.lua
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/ageofempires/infobox_map_custom.lua
  components/infobox/wikis/ageofempires/infobox_series_custom.lua
  components/infobox/wikis/ageofempires/infobox_team_custom.lua
  components/prize_pool/wikis/ageofempires/prize_pool_award_custom.lua
  components/prize_pool/wikis/ageofempires/prize_pool_custom.lua
  standard/tier/wikis/ageofempires/tier_custom.lua
Labels: chore, g: ageofempires

#3788 Remove redundant `requireDevIfEnabled` from lol git modules
  components/hidden_data_box/wikis/leagueoflegends/hidden_data_box_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_unit_champion.lua
  components/match2/wikis/leagueoflegends/big_match.lua
  components/match2/wikis/leagueoflegends/brkts_wiki_specific.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
  components/prize_pool/wikis/leagueoflegends/prize_pool_custom.lua
  components/prize_pool/wikis/leagueoflegends/prize_pool_legacy_custom.lua
  components/squad/wikis/leagueoflegends/squad_custom.lua
Labels: chore, g: leagueoflegends

#3787 Remove redundant `requireDevIfEnabled` from dota git modules
  components/hidden_data_box/wikis/dota2/hidden_data_box_custom.lua
  components/infobox/wikis/dota2/infobox_company_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_patch_custom.lua
  components/infobox/wikis/dota2/infobox_person_user_custom.lua
  components/infobox/wikis/dota2/infobox_series_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/dota2/match_summary.lua
  components/prize_pool/wikis/dota2/prize_pool_award_custom.lua
  components/prize_pool/wikis/dota2/prize_pool_custom.lua
  components/prize_pool/wikis/dota2/prize_pool_legacy_custom.lua
  components/squad/wikis/dota2/squad_custom.lua
Labels: chore, g: dota2

#3794 Fix wrapper valorant
  components/match2/wikis/valorant/legacy/match_maps_legacy.lua
Labels: bug, g: valorant, c: match2

#3793 Remove redundant `requireDevIfEnabled` on another 10 wikis
  components/hidden_data_box/wikis/simracing/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/splatoon/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/squadrons/hidden_data_box_custom.lua
  components/infobox/wikis/criticalops/infobox_league_custom.lua
  components/infobox/wikis/magic/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
  components/infobox/wikis/omegastrikers/infobox_character_custom.lua
  components/infobox/wikis/osu/infobox_league_custom.lua
  components/infobox/wikis/osu/infobox_person_player_custom.lua
  components/infobox/wikis/osu/infobox_team_custom.lua
  components/infobox/wikis/simracing/infobox_league_custom.lua
  components/infobox/wikis/simracing/infobox_person_player_custom.lua
  components/infobox/wikis/splatoon/infobox_league_custom.lua
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
  components/infobox/wikis/squadrons/infobox_league_custom.lua
  components/infobox/wikis/zula/infobox_person_player_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_legacy.lua
  components/match2/wikis/criticalops/match_summary.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_summary.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/osu/match_summary.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_legacy.lua
  components/match2/wikis/splatoon/match_summary.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_summary.lua
  components/match2/wikis/zula/match_group_input_custom.lua
  components/match2/wikis/zula/match_legacy.lua
  components/match2/wikis/zula/match_summary.lua
Labels: chore, g: splitgate, g: naraka, g: criticalops, g: Splatoon, g: zula, g: simracing, g: magic, g: squadrons, g: omegastrikers, g: osu

#3801 R6 Category adjustment
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
Labels: g: rainbow six, c: infobox

#3799 Fix: warcraft legacy match maps filterByKey condition
  components/match2/wikis/warcraft/legacy/legacy_match_maps.lua
Labels: bug, c: match2, g: warcraft

#3776 Add fighters series infobox
  components/infobox/wikis/fighters/infobox_series_custom.lua
Labels: c: infobox, g: fighters

#3778 refactor: remove remaining unneeded `requireDevIfEnabled=true`
  components/infobox/commons/infobox_widget_links.lua
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
  components/infobox/wikis/counterstrike/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
  components/infobox/wikis/esports/infobox_game_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/stormgate/infobox_map_custom.lua
  components/infobox/wikis/stormgate/infobox_person_player_custom.lua
  components/infobox/wikis/warcraft/infobox_person_player_custom.lua
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/commons/match_group.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/leagueoflegends/legacy/match_maps_legacy.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/match2/wikis/stormgate/brkts_wiki_specific.lua
  standard/links/commons/links.lua
  standard/lua.lua
  standard/mock/mock_lpdb.lua
  standard/region/commons/region.lua
  standard/test/json_test.lua
Labels: chore

#3797 Catch non strings for string match
  components/infobox/commons/infobox_league.lua
Labels: bug, c: infobox

#3649 Setting up MatchGroup CopyPaste for ArenaFPS
  components/match2/wikis/arenafps/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: arenafps

#3804 chore: move tournaments summary table to components
  components/tournaments_summary_table/commons/tournaments_summary_table.lua
  components/tournaments_summary_table/commons/tournaments_summary_table_custom.lua
Labels: chore

#3803 chore: test coverage for local running
  .gitignore
  .luacov
Labels: chore

#3767 feat: match2 for ArenaFPS
  components/match2/wikis/arenafps/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_legacy.lua
  components/match2/wikis/arenafps/match_summary.lua
Labels: c: match2, g: arenafps

#3806 Update valorant's match2 status
  standard/info/wikis/valorant/info.lua
Labels: g: valorant, c: match2

#3807 Add new statistic Cell to Formula 1 Team Infobox
  components/infobox/wikis/formula1/infobox_team_custom.lua
Labels: c: infobox, s: formula1

#3771 Refactor first batch (5) of infoboxes player
  components/faction/commons/faction.lua
  components/infobox/wikis/trackmania/infobox_person_player_custom.lua
  components/infobox/wikis/warcraft/infobox_person_player_custom.lua
  components/infobox/wikis/worldoftanks/infobox_person_player_custom.lua
  components/infobox/wikis/worldofwarcraft/infobox_person_player_custom.lua
  components/infobox/wikis/zula/infobox_person_player_custom.lua
Labels: c: infobox, g: warcraft, g: trackmania, g: worldofwarcraft, g: zula, g: worldoftanks

#3770 Refactor sc2 and stormagte infobox player
  components/infobox/extensions/commons/years_active_base.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/infobox/wikis/stormgate/infobox_person_player_custom.lua
  definitions/liquipedia_db.lua
Labels: g: starcraft, c: infobox, g: stormgate

#3789 Refactor second batch (5) of infoboxes player
  components/infobox/wikis/apexlegends/infobox_person_player_custom.lua
  components/infobox/wikis/arenafps/infobox_person_player_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_person_player_custom.lua
  components/infobox/wikis/brawlhalla/infobox_person_player_custom.lua
  components/infobox/wikis/callofduty/infobox_person_player_custom.lua
Labels: c: infobox, g: apex, g: arenaofvalor, g: brawlhalla, g: callofduty, g: arenafps

#3809 Delete osu custom infobox team
  components/infobox/wikis/osu/infobox_team_custom.lua
Labels: c: infobox, chore, g: osu

#3800 Refactor third batch (16) of infoboxes player
  components/infobox/wikis/clashroyale/infobox_person_player_custom.lua
  components/infobox/wikis/crossfire/infobox_person_player_custom.lua
  components/infobox/wikis/fifa/infobox_person_player_custom.lua
  components/infobox/wikis/fighters/infobox_person_player_custom.lua
  components/infobox/wikis/formula1/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/freefire/infobox_person_player_custom.lua
  components/infobox/wikis/halo/infobox_person_player_custom.lua
  components/infobox/wikis/hearthstone/infobox_person_player_custom.lua
  components/infobox/wikis/heroes/infobox_person_player_custom.lua
  components/infobox/wikis/naraka/infobox_person_player_custom.lua
  components/infobox/wikis/osu/infobox_person_player_custom.lua
  components/infobox/wikis/pokemon/infobox_person_player_custom.lua
  components/infobox/wikis/simracing/infobox_person_player_custom.lua
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
  components/infobox/wikis/tetris/infobox_person_player_custom.lua
Labels: c: infobox, g: fortnite, g: halo, g: naraka, g: pokemon, g: crossfire, g:freefire, g: Splatoon, g: clashroyale, g: fifa, g: hearthstone, g: heroes, g: tetris, g: simracing, g: fighters, s: formula1, g: osu

#3811 Fix some annotations in CS infobox league
  components/infobox/wikis/counterstrike/infobox_league_custom.lua
Labels: c: infobox, chore, g: counter-strike

#3810 Fix: Cast string to number
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: bug, g: starcraft, c: infobox

#3814 Fix match2 for afps
  components/match2/wikis/arenafps/match_group_input_custom.lua
Labels: c: match2, g: arenafps

#3815 Fix even bestof issue for CrossFire Match processing
  components/match2/wikis/crossfire/match_group_input_custom.lua
Labels: enhancement, c: match2, g: crossfire

#3812 Fix: Catch a nil in HDB
  components/hidden_data_box/commons/hidden_data_box.lua
Labels: bug, c: hidden_data_box

#3756 AoE: Change game identifiers to be full names
  standard/info/wikis/ageofempires/info.lua
Labels: c: infobox, c: standard, g: ageofempires

#3813 Fix some anno warnings
  components/infobox/commons/infobox_character.lua
  components/infobox/commons/infobox_manufacturer.lua
  components/infobox/commons/infobox_map.lua
  components/infobox/commons/infobox_weapon.lua
  components/mvp_table/commons/mvp_table.lua
  standard/abbreviation.lua
  standard/game.lua
  standard/tournament_structure.lua
Labels: chore

#3695 Add stormgate custom match2
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
  components/match2/commons/match_group_input.lua
  components/match2/wikis/stormgate/brkts_wiki_specific.lua
  components/match2/wikis/stormgate/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/stormgate/hero_data.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_util_custom.lua
  components/match2/wikis/stormgate/match_summary.lua
Labels: c: match2, g: stormgate

#3818 Rename class `InfoboxLeagueTemp` to `InfoboxLeague` - part 1
  components/infobox/commons/infobox_league.lua
  components/infobox/wikis/ageofempires/infobox_league_custom.lua
  components/infobox/wikis/apexlegends/infobox_league_custom.lua
  components/infobox/wikis/arenafps/infobox_league_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_league_custom.lua
  components/infobox/wikis/brawlhalla/infobox_league_custom.lua
  components/infobox/wikis/brawlstars/infobox_league_custom.lua
  components/infobox/wikis/callofduty/infobox_league_custom.lua
  components/infobox/wikis/clashofclans/infobox_league_custom.lua
  components/infobox/wikis/clashroyale/infobox_league_custom.lua
Labels: chore

#3805 Fifth batch (5) of infobox player refactor
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
  components/infobox/wikis/counterstrike/infobox_person_player_custom.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
  components/infobox/wikis/rainbowsix/infobox_person_player_custom.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
Labels: g: rocket league, g: rainbow six, c: infobox, g: brawl stars, g: counter-strike, g: dota2

#3819 Rename class `InfoboxLeagueTemp` to `InfoboxLeague` - part 2
  components/infobox/wikis/criticalops/infobox_league_custom.lua
  components/infobox/wikis/crossfire/infobox_league_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
  components/infobox/wikis/fifa/infobox_league_custom.lua
  components/infobox/wikis/fighters/infobox_league_custom.lua
  components/infobox/wikis/formula1/infobox_league_custom.lua
  components/infobox/wikis/fortnite/infobox_league_custom.lua
  components/infobox/wikis/freefire/infobox_league_custom.lua
  components/infobox/wikis/halo/infobox_league_custom.lua
Labels: chore

#3823 Fix: lowercase key where it is expected to be lowercase
  components/infobox/wikis/worldofwarcraft/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: worldofwarcraft

#3820 Rename class `InfoboxLeagueTemp` to `InfoboxLeague` - part 3
  components/infobox/wikis/hearthstone/infobox_league_custom.lua
  components/infobox/wikis/heroes/infobox_league_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_league_custom.lua
  components/infobox/wikis/magic/infobox_league_custom.lua
  components/infobox/wikis/mobilelegends/infobox_league_custom.lua
  components/infobox/wikis/naraka/infobox_league_custom.lua
  components/infobox/wikis/osu/infobox_league_custom.lua
  components/infobox/wikis/overwatch/infobox_league_custom.lua
  components/infobox/wikis/pokemon/infobox_league_custom.lua
  components/infobox/wikis/pubg/infobox_league_custom.lua
Labels: chore

#3821 Rename class `InfoboxLeagueTemp` to `InfoboxLeague` - part 4
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  components/infobox/wikis/sideswipe/infobox_league_custom.lua
  components/infobox/wikis/simracing/infobox_league_custom.lua
  components/infobox/wikis/splatoon/infobox_league_custom.lua
  components/infobox/wikis/squadrons/infobox_league_custom.lua
  components/infobox/wikis/starcraft/infobox_league_custom.lua
  components/infobox/wikis/starcraft2/infobox_league_custom.lua
Labels: chore

#3822 Rename class `InfoboxLeagueTemp` to `InfoboxLeague` - part 5
  components/infobox/wikis/stormgate/infobox_league_custom.lua
  components/infobox/wikis/teamfortress/infobox_league_custom.lua
  components/infobox/wikis/tetris/infobox_league_custom.lua
  components/infobox/wikis/tft/infobox_league_custom.lua
  components/infobox/wikis/trackmania/infobox_league_custom.lua
  components/infobox/wikis/valorant/infobox_league_custom.lua
  components/infobox/wikis/warcraft/infobox_league_custom.lua
  components/infobox/wikis/wildrift/infobox_league_custom.lua
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
Labels: chore

#3802 Fourth batch (10) of infobox player refactor
  components/infobox/wikis/leagueoflegends/infobox_person_player_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
  components/infobox/wikis/pubg/infobox_person_player_custom.lua
  components/infobox/wikis/pubgmobile/infobox_person_player_custom.lua
  components/infobox/wikis/smash/infobox_person_player_custom.lua
  components/infobox/wikis/teamfortress/infobox_person_player_custom.lua
  components/infobox/wikis/tft/infobox_person_player_custom.lua
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
  components/infobox/wikis/wildrift/infobox_person_player_custom.lua
Labels: g: valorant, c: infobox, g: pubg, g: wildrift, g: mobilelegends, g: overwatch, g: leagueoflegends, g: pubgmobile, g: tft, g: teamfortress, g: smash

#3828 Remove left margin of inotes dd elements after dd fix in skin
  stylesheets/commons/Teamcard.css
Labels: c: team_card, stylesheets

#3835 Fix role display in cs infobox player
  components/infobox/wikis/counterstrike/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: counter-strike

#3830 Adding Affiliate to Team Infoboxes
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
Labels: g: valorant, c: infobox, g: leagueoflegends

#3829 Create Smite Info
  standard/info/wikis/smite/info.lua
Labels: c: standard, g: smite

#3837 Improve visibility for tie matches in dark mode
  stylesheets/commons/Miscellaneous.css
Labels: stylesheets

#3838 Refactor infobox building
  components/infobox/commons/infobox_building.lua
  components/infobox/wikis/clashofclans/infobox_building_custom.lua
  components/infobox/wikis/starcraft/infobox_building_custom.lua
Labels: c: infobox, g: broodwar, g: clashofclans

#3836 Cleanup `Module:Infobox/Person`
  components/infobox/commons/infobox_person.lua
  components/infobox/wikis/dota2/infobox_person_player_custom.lua
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
Labels: c: infobox

#3841 chore: update arenafps match2 status
  standard/info/wikis/arenafps/info.lua
Labels: g: arenafps

#3847 Minor wiki text change to Formula 1 driver portal
  components/portal_players/wikis/formula1/portal_players_custom.lua
Labels: c: portal_player, s: formula1

#3842 Refactor infobox character
  components/infobox/commons/infobox_character.lua
  components/infobox/wikis/apexlegends/infobox_character_custom.lua
  components/infobox/wikis/omegastrikers/infobox_character_custom.lua
Labels: c: infobox, g: apex, g: omegastrikers

#3848 Re-Add `Former Squad` header
  components/squad/commons/squad.lua
Labels: c: squad

#3840 Refactor infobox strategy
  components/infobox/commons/infobox_strategy.lua
  components/infobox/wikis/starcraft/infobox_strategy_custom.lua
Labels: c: infobox, g: broodwar

#3824 Create Smite God Infobox
  components/infobox/wikis/smite/infobox_unit_god_custom.lua
Labels: c: infobox, g: smite

#3844 Fixing Team Affiliate always throwing errors
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
Labels: bug, g: valorant, c: infobox, g: leagueoflegends

#3850 Fix WoT publishertier storage in infobox league
  components/infobox/wikis/worldoftanks/infobox_league_custom.lua
Labels: bug, c: infobox, g: worldoftanks

#3851 chore: use correct extension for `.less`
  .vscode/settings.json
  stylesheets/commons/Achievement.less
  stylesheets/commons/Ambox.less
  stylesheets/commons/AutomaticPointsTable.less
  stylesheets/commons/Bracket.less
  stylesheets/commons/Brackets.less
  stylesheets/commons/Colours.less
  stylesheets/commons/Columns.less
  stylesheets/commons/Crosstable.less
  stylesheets/commons/DivTable.less
  stylesheets/commons/FilterButtons.less
  stylesheets/commons/Grid.less
  stylesheets/commons/GroupTableLeague.less
  stylesheets/commons/Icons.less
  stylesheets/commons/Infobox.less
  stylesheets/commons/Mainpage.less
  stylesheets/commons/Matchseries.less
  stylesheets/commons/Miscellaneous.less
  stylesheets/commons/NavFrame.less
  stylesheets/commons/Navbox.less
  stylesheets/commons/OpponentList.less
  stylesheets/commons/Panels.less
  stylesheets/commons/Prizepooltable.less
  stylesheets/commons/Quote.less
  stylesheets/commons/Selectall.less
  stylesheets/commons/Statisticstable.less
  stylesheets/commons/Swisstable.less
  stylesheets/commons/Tables.less
  stylesheets/commons/Tabs.less
  stylesheets/commons/TeamTemplates.less
  stylesheets/commons/Teamcard.less
  stylesheets/commons/Techtree.less
Labels: chore, stylesheets

#3852 ci: add support for `.less` files in sync for resources
  scripts/deploy_res.sh
Labels: chore, scripts, stylesheets

#3833 Create Smite Infobox Player
  components/infobox/wikis/smite/infobox_person_player_custom.lua
Labels: c: infobox, g: smite

#3853 Fix: Use correct class in bw infobox unit
  components/infobox/wikis/starcraft/infobox_unit_custom.lua
Labels: bug, g: starcraft, c: infobox

#3769 Battle Royale JS & CSS
  .eslintrc.json
  components/match2/commons/match_group_display_horizontallist.lua
  components/match2/wikis/apexlegends/match_summary.lua
  javascript/commons/BattleRoyale.js
  stylesheets/commons/BattleRoyale/NavigationContent.less
  stylesheets/commons/BattleRoyale/NavigationTabs.less
  stylesheets/commons/BattleRoyale/Panel.less
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2, g: apex

#3857 refactor: remove unused icon
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/warcraft/match_summary.lua
Labels: g: starcraft, c: match2, g: warcraft, g: broodwar

#3855 feat: standard lib for icons
  spec/icon_spec.lua
  standard/icon.lua
  standard/icon_data.lua
Labels: c: standard, t: standard

#3860 add missing class to clock icon
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#3861 fix(m2, apex): non-numeric score breaks stuff
  components/match2/wikis/apexlegends/match_group_input_custom.lua
Labels: c: match2, g: apex

#3862 feat(m2, apex): improve sorting of ongoing matches
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#3863 fix(m2, apex): fix stream display
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#3864 feat(m2, apex): always display rank/placement even when not finalized
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#3868 Make game schedule align better
  components/match2/wikis/apexlegends/match_summary.lua
  stylesheets/commons/BattleRoyale/Panel.less
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2, stylesheets

#3867 feat(m2, apex): create mapping to match1
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_legacy.lua
Labels: c: match2, g: apex

#3870 fix(m2, apex): issues with showmatch
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#3874 HOTFIX: Fix header in apex match legacy
  components/match2/wikis/apexlegends/match_legacy.lua
Labels: bug, g: rainbow six, c: match2, severe, g: apex

#3878 Changed "Six Major" to "Major" in Ubisoft Tiers
  components/infobox/wikis/rainbowsix/infobox_league_custom.lua
Labels: g: rainbow six, c: infobox

#3879 fix: BS infobox player role processing call
  components/infobox/wikis/brawlstars/infobox_person_player_custom.lua
Labels: bug, c: infobox, g: brawl stars

#3871 Add veto to icon_data.lua
  standard/icon_data.lua
Labels: c: standard

#3866 feat(m2, apex): create copy pastable
  components/match2/wikis/apexlegends/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: apex

#3875 Refactor ml infobox hero
  components/infobox/wikis/mobilelegends/infobox_unit_hero_custom.lua
Labels: c: infobox, g: mobilelegends

#3873 Add Omega Strikers player and league infobox
  components/infobox/wikis/omegastrikers/infobox_league_custom.lua
  components/infobox/wikis/omegastrikers/infobox_person_player_custom.lua
Labels: c: infobox, g: omegastrikers

#3757 Refactor region handling in team infoboxes
  components/infobox/commons/infobox_team.lua
  components/infobox/wikis/apexlegends/infobox_team_custom.lua
  components/infobox/wikis/arenaofvalor/infobox_team_custom.lua
  components/infobox/wikis/brawlhalla/infobox_team_custom.lua
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/infobox/wikis/freefire/infobox_team_custom.lua
  components/infobox/wikis/halo/infobox_team_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/overwatch/infobox_team_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
  components/infobox/wikis/starcraft/infobox_team_custom.lua
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
  components/infobox/wikis/stormgate/infobox_team_custom.lua
  components/infobox/wikis/wildrift/infobox_team_custom.lua
  standard/flags_master_data.lua
  standard/region/commons/region.lua
  standard/region/commons/region_data.lua
Labels: c: infobox

#3270 Resolve ExternalMediaList subject input
  components/external_media_links/external_media_list.lua
Labels: c: external_media_links

#3884 BR - Team name overflow in table
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2

#3876 Clean up the base infoboxes
  components/hidden_data_box/commons/hidden_data_box.lua
  components/infobox/commons/infobox.lua
  components/infobox/commons/infobox_basic.lua
  components/infobox/commons/infobox_campaign.lua
  components/infobox/commons/infobox_campaign_mission.lua
  components/infobox/commons/infobox_game.lua
  components/infobox/commons/infobox_league.lua
  components/infobox/commons/infobox_manufacturer.lua
  components/infobox/commons/infobox_map.lua
  components/infobox/commons/infobox_patch.lua
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_scene.lua
  components/infobox/commons/infobox_series.lua
  components/infobox/commons/infobox_show.lua
  components/infobox/commons/infobox_team.lua
  components/infobox/commons/infobox_tool.lua
  components/infobox/commons/infobox_unit.lua
  components/infobox/commons/infobox_weapon.lua
  components/infobox/commons/infobox_website.lua
  components/infobox/wikis/arenaofvalor/infobox_person_player_custom.lua
  components/infobox/wikis/mobilelegends/infobox_person_player_custom.lua
  components/infobox/wikis/splatoon/infobox_person_player_custom.lua
  standard/warning_box.lua
Labels: c: infobox

#3825 Add 1v1 TDM mode to PUBG Mobile Infobox league
  components/infobox/wikis/pubgmobile/infobox_league_custom.lua
Labels: c: infobox, g: pubgmobile

#3885 fix(m2, apex): fix logic for finished games
  components/match2/wikis/apexlegends/match_legacy.lua
Labels: bug, c: match2, g: apex

#3887 Fix: custom hdb return annos string --> Html
  components/hidden_data_box/commons/hidden_data_box_custom.lua
  components/hidden_data_box/test/hidden_data_box_test.lua
  components/hidden_data_box/wikis/ageofempires/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/apexlegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/arenaofvalor/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/brawlstars/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/counterstrike/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/dota2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/freefire/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/halo/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/hearthstone/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/leagueoflegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/mobilelegends/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/overwatch/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/pokemon/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/pubg/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/pubgmobile/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/rainbowsix/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/rocketleague/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/simracing/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/splatoon/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/squadrons/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/starcraft2/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/stormgate/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/teamfortress/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/trackmania/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/valorant/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/warcraft/hidden_data_box_custom.lua
  components/hidden_data_box/wikis/wildrift/hidden_data_box_custom.lua
Labels: bug, chore, c: hidden_data_box

#3886 Fix: Sc2 infobox team earnings display
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: bug, g: starcraft, c: infobox

#3889 Adding LAN and LAS as Latin America Region aliases
  standard/region/commons/region_data.lua
Labels: c: standard, data

#3890 fix(m2, apex): also inherit header to m1 for matchlists
  components/match2/wikis/apexlegends/match_legacy.lua
Labels: c: match2, g: apex

#3891 feat(m2. apex): status (up, down etc) coloring
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex
