Repository Liquipedia/Lua-Modules, pull requests merged in 2024-08, with the labels that each got.

#4452 fix(match2): missing patch information on lol match pages
  components/match2/commons/match_group_util.lua
Labels: c: match2

#4453 fix(match2): error when mixing input modes on lol match pages
  components/match2/wikis/leagueoflegends/match_group_input_custom_match_page.lua
Labels: c: match2, g: leagueoflegends

#4456 feat: styles for template:$craft
  stylesheets/commons/Fountain.less
Labels: g: dota2, stylesheets

#4457 fix(match2): league of legend's vetophase character name normalization
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
Labels: c: match2, g: leagueoflegends

#4458 fix(match2): league of legends hero pick order
  components/match2/wikis/leagueoflegends/match_group_input_custom_match_page.lua
Labels: c: match2, g: leagueoflegends

#4459 feat(match2): minor improvements on dota2 match page
  components/match2/wikis/dota2/match_page_template.lua
Labels: c: match2, g: dota2

#4449 feat(match2): matchpages for dota2
  components/match2/commons/match_group_util.lua
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/dota2/brkts_wiki_specific.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom_match_page.lua
  components/match2/wikis/dota2/match_group_input_custom_normal.lua
  components/match2/wikis/dota2/match_links.lua
  components/match2/wikis/dota2/match_page.lua
  components/match2/wikis/dota2/match_summary.lua
Labels: c: match2, g: dota2

#4399 feat(match2): add MVPs to Clash Royale
  components/match2/wikis/clashroyale/match_summary.lua
Labels: c: match2, g: clashroyale

#4442 feat(match2): create Match CopyPaste for osu
  components/match2/wikis/osu/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: osu

#4422 feat(match2): store player and agent info on valorant
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#4470 feat(faction): add darkmode support for stormgate's celestial faction
  stylesheets/commons/Faction.less
Labels: c: faction, stylesheets, g: stormgate

#4467 feat: add techtree styles for stormgate
  stylesheets/commons/Techtree.less
Labels: stylesheets, g: stormgate

#4463 feat(match2): on br-mode, show match phase next to the header
  components/match2/commons/match_group_display_horizontallist.lua
  components/match2/commons/match_group_util.lua
  components/match2/wikis/apexlegends/match_summary.lua
  components/match2/wikis/dota2/match_page.lua
  spec/icon_spec.lua
  standard/icon.lua
  standard/icon_data.lua
  stylesheets/commons/BattleRoyale/NavigationTabs.less
  stylesheets/commons/BattleRoyale/Panel.less
Labels: c: match2, g: apex

#4475 feat: update trackmania notabilty calculations for 2024
  components/notability/wikis/trackmania/notability_checker_config.lua
Labels: c: notability, g: trackmania

#4477 fix(gameTable): stats do not respect limit
  components/game_table/commons/game_table.lua
Labels: c: match_table

#4479 fix(match2): ongoing and upcoming swapped in certain cases
  components/match2/commons/match_group_util.lua
Labels: c: match2

#4480 docs: fix annotation on stormgate
  components/infobox/extensions/wikis/stormgate/infobox_extension_attack.lua
Labels: g: stormgate

#4476 fix(match2): Dupe types in Osu match copypaste
  components/match2/wikis/osu/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: osu

#4485 test: properly stub in HDB test
  spec/hidden_data_box_spec.lua
Labels: c: hidden_data_box

#4486 feat: update fighter's match2 status
  standard/info/wikis/fighters/info.lua
Labels: c: standard, data

#4490 feat(infobox): add 2 game modes for Hearthstone
  components/infobox/wikis/hearthstone/infobox_league_custom.lua
Labels: c: infobox, g: hearthstone

#4488 feat: add Geoguessr links
  standard/links/commons/links.lua
  stylesheets/commons/Icons.less
Labels: c: standard, data

#4491 feat: add group for GeoGuessr link
  standard/links/commons/links_priority_groups.lua
Labels: data

#4493 feat(standard): build lightweight i18n library
  spec/i18n_spec.lua
  standard/i18n.lua
  standard/i18n_data.lua
Labels: c: standard

#4494 feat(match2): use i18n over mw.messages for bracket headers
  components/match2/commons/get_match_group_copy_paste.lua
  components/match2/commons/match_group_display_helper.lua
  components/match_ticker/commons/match_ticker_display_components.lua
  standard/i18n_data.lua
Labels: c: match2

#4498 fix: typo in a comment in new i18n library
  standard/i18n.lua
Labels: c: standard

#4501 fix(match2) Prevent matches with default date to be automatically marked as finished
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: c: match2, g: ageofempires

#4483 feat(info): add GeoGuessr
  standard/info/wikis/geoguessr/info.lua
Labels: c: standard, data, g: geoguessr

#4440 fix(participantTable): random event handling on stormgate
  components/participant_table/wikis/stormgate/participant_table_custom.lua
Labels: c: participant_table, g: stormgate

#4500 feat(FilterButtons): filter buttons alignment
  components/tournaments_list/filter_buttons.lua
  stylesheets/commons/FilterButtons.less
Labels: stylesheets

#4472 feat: Update Heroes match2 status
  standard/info/wikis/heroes/info.lua
Labels: c: match2, g: heroes

#4502 refactor(opponent): remove redundant code
  components/opponent/commons/opponent.lua
Labels: chore, c: opponent

#4503 feat(match2): add support for duo, trio, quad in copy paste
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
Labels: c: match2

#4327 feat(match2): Clash Royale Copy/Paste Generator
  components/match2/wikis/clashroyale/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: clashroyale

#4505 feat(MatchTicker): move date and countdown to a new row in new style
  components/match_ticker/commons/match_ticker_display_components_new.lua
  stylesheets/commons/MatchTicker.less
Labels: stylesheets

#4507 refactor(match2): remove unused function
  components/match2/commons/display_util.lua
Labels: c: match2

#4509 refactor(match2): remove garbage code in moba's input parsing
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/opponent/commons/opponent.lua
Labels: c: match2

#4508 feat(match2): styling and structure dota2 match page player stats
  components/match2/wikis/dota2/match_page_template.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2

#4513 refactor(match2): remove unused function
  components/match2/commons/display_util.lua
Labels: c: match2

#4506 feat(countdown): display `completed` for completed matches in new style
  components/match_ticker/commons/match_ticker_display_components_new.lua
  javascript/commons/Countdown.js
  standard/countdown.lua
Labels: javascript

#4515 feat(links): Add Untapped for stormgate and remove sgworld
  standard/links/commons/links.lua
  standard/links/wikis/stormgate/links_custom_data.lua
  stylesheets/commons/Icons.less
Labels: c: standard, stylesheets, g: stormgate

#4519 fix(FilterButton): issues with default filters
  javascript/commons/FilterButtons.js
Labels: javascript

#4510 feat: add 2XKO to Fighters
  standard/info/wikis/fighters/info.lua
Labels: g: fighters, data

#4517 feat(infobox): Update Unit, Building and Skill Infoboxes for Stormgate (Griffin patch)
  components/infobox/extensions/wikis/stormgate/infobox_extension_cost_display.lua
  components/infobox/wikis/stormgate/infobox_building_custom.lua
  components/infobox/wikis/stormgate/infobox_skill_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, g: stormgate

#4512 fix(match2): on AoV bans are not shown unless previous game(s) have a bans
  components/match2/wikis/arenaofvalor/match_summary.lua
Labels: c: match2, g: arenaofvalor

#4516 refactor(standard): error handling
  components/match2/commons/display_util.lua
  components/match2/commons/match_group_input.lua
  components/opponent/commons/player_ext_custom.lua
  standard/error.lua
  standard/error_display.lua
  standard/error_ext.lua
  standard/feature_flag.lua
  standard/logic.lua
  standard/result_or_error.lua
Labels: c: standard

#4484 feat(infobox): add matchticker/tournaments to player on Overwatch
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
Labels: g: overwatch, c: match_ticker

#4525 tests(match2): remove old unused semi-manual tests
  components/match2/test/match_test.lua
  components/match2/test/match_test_config.lua
Labels: c: match2

#4522 fix(infobox): do not error when player has team1 but not team2
  components/infobox/wikis/overwatch/infobox_person_player_custom.lua
Labels: c: infobox, g: overwatch

#4526 refactor(standard): error handling additionally
  components/match2/commons/display_util.lua
  standard/error.lua
  standard/error_display.lua
  standard/result_or_error.lua
Labels: c: standard

#4533 fix(infobox): remove overwatch game-specific map links
  components/infobox/wikis/overwatch/infobox_league_custom.lua
Labels: c: infobox, g: overwatch

#4532 feat: disallow manual squads on stormgate
  standard/info/wikis/stormgate/info.lua
Labels: c: standard, c: squad, g: stormgate

#4528 feat(infobox): Update stormgate infobox building
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, g: stormgate

#4521 fix(countdown): Remove countdown init call on all update
  javascript/commons/FilterButtons.js
Labels: javascript

#4534 fix(Infobox): autopatch using non-patch data sometimes
  components/infobox/extensions/commons/infobox_extension_patch_auto.lua
Labels: c: infobox_extensions

#4531 feat(FilterButtons): show filter elements if filter state doesn't exist
  javascript/commons/FilterButtons.js
Labels: javascript

#4523 feat(match2): dota2 match page picks and bans
  components/match2/wikis/dota2/match_page_template.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2, stylesheets

#4529 feat(match2): dota2 match page team stats section
  components/match2/wikis/dota2/match_page_template.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2

#4536 refactor(match2): remove processPlayer layer
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_subobjects.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/brkts_wiki_specific.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/brkts_wiki_specific.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: c: match2

#4537 feat(match2): add SAP logo to template Dota2 match page
  components/match2/wikis/dota2/match_page_template.lua
Labels: c: match2, g: dota2

#4538 feat: remove some need of DisplayUtil/downstreams
  components/match2/commons/display_util.lua
Labels: c: standard

#4540 feat(match2): fix aspect ratio of hero avatars on dota2 matchpages
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2

#4511 feat(match2): add default readOpponent function
  components/match2/commons/match_group_input.lua
Labels: c: match2

#4539 feat(match2): handle match/legacy errors
  components/match2/commons/display_util.lua
  components/match2/commons/match.lua
  standard/error_display.lua
  standard/lua.lua
Labels: c: match2

#4541 feat(standard): automatically setup performance testing if enabled
  components/match2/commons/match.lua
  components/match2/commons/match_group.lua
  components/match2/commons/match_subobjects.lua
  standard/lua.lua
Labels: c: standard

#4542 feat(match2): on dota2 match pages add winnerName prop
  components/match2/commons/match_group_util.lua
  components/match2/wikis/dota2/match_group_input_custom_match_page.lua
  components/match2/wikis/dota2/match_page.lua
Labels: c: match2, g: dota2

#4543 fix(standard): Prevent nil display if called module returns nothing
  standard/lua.lua
Labels: c: standard

#4535 fix(match2): add maps copy pasta for CR
  components/match2/wikis/clashroyale/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: clashroyale

#4547 feat(match2): normalize caster input and display on sc/sc2
  components/match2/commons/starcraft_starcraft2/get_match_group_copy_paste_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2, g: broodwar

#4548 fix(match2): opponent extradata is empty array instead of null
  components/match2/commons/match.lua
Labels: c: match2

#4549 fix(match2): missing indent for casters in sc(2) copy pasta
  components/match2/commons/starcraft_starcraft2/get_match_group_copy_paste_starcraft.lua
Labels: g: starcraft, c: match2

#4545 feat(match2): Add caster support for OW & AOE
  components/match2/wikis/ageofempires/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_summary.lua
  components/match2/wikis/overwatch/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: ageofempires, g: overwatch

#4552 feat(infobox) Allow querying organizer prizepool by Title::baseText
  components/infobox/commons/infobox_company.lua
Labels: c: infobox

#4263 feat(match2): handle AoE split teams
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_legacy.lua
Labels: g: ageofempires, c: opponent

#4561 fix(match2): aov comments cut off
  components/match2/wikis/arenaofvalor/match_summary.lua
Labels: c: match2, g: arenaofvalor

#4562 fix(match2): AoE: Prevent hard error on missing team template
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: c: match2, g: ageofempires

#4565 refactor(match2): remove unused deprecated functions
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_base.lua
Labels: c: match2

#4567 feat(match2): remove unused section of dota2 match page
  components/match2/wikis/dota2/match_page_template.lua
Labels: c: match2, g: dota2

#4568 fix(match2): AoE: Do not use default timestamp to resolve team templates
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: c: match2, g: ageofempires

#4524 refactor(match2): remove duplicated regex
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_display_horizontallist.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/match_group_display_matchpage.lua
  components/match2/commons/match_group_display_single_match.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_single_match_starcraft.lua
Labels: c: match2

#4569 feat(match2): add facets and increase item render size on dota2 match pags
  components/match2/wikis/dota2/match_page_template.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2

#4566 feat(TournamentsListing): add option to condition on country, city and venue
  components/tournaments_listing/commons/tournaments_listing_conditions.lua
Labels: c: tournaments_listing

#4481 refactor(match2): match parsing refactor on lol
  components/match2/commons/match.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_util.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  standard/array.lua
  standard/table.lua
Labels: c: match2, g: leagueoflegends

#4578 fix(match2): unset status causing `hasSpecialStatus` to be true
  components/match2/commons/match_group_input.lua
Labels: c: match2

#4573 docs(match2): missing annotation
  components/match2/commons/brkts_wiki_specific_base.lua
Labels: c: match2

#4551 refactor(match2): input parsing on R6
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
Labels: g: rainbow six, c: match2

#4579 fix(match2): prep walkover consumers for walkover value fix
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/match_group_util.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/match2/wikis/ageofempires/match_legacy.lua
  components/match2/wikis/brawlhalla/match_legacy.lua
  components/match2/wikis/fighters/match_legacy.lua
Labels: c: match2

#4574 refactor(match2): dota2 input parsing
  components/match2/wikis/dota2/match_group_input_custom.lua
Labels: c: match2, g: dota2

#4580 refactor(match2): aov input parsing
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
Labels: c: match2, g: arenaofvalor

#4586 fix(match2): mapscore started auto calcing too early on R6
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
Labels: g: rainbow six, c: match2

#4575 refactor(match2): input parsing for valorant
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#4587 feat(infobox): Formula 1 Custom Series
  components/infobox/wikis/formula1/infobox_series_custom.lua
Labels: c: infobox, g: formula1

#4584 refactor(match2): call of duty input parsing
  components/match2/wikis/callofduty/match_group_input_custom.lua
Labels: c: match2, g: callofduty

#4581 refactor(match2): overwatch input parsing
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_summary.lua
Labels: c: match2, g: overwatch

#4589 feat(standard): set a different category for userspace errors
  standard/lua.lua
Labels: c: standard

#4583 refactor(match2): input parsing on heroes
  components/match2/commons/match_group_input.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/heroes/match_summary.lua
Labels: c: match2, g: heroes

#4582 refactor(match2): wild rift's input parsing
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2, g: wildrift

#4550 refactor(match2): sc & sc2 input processing
  components/match2/commons/match_group_input.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_deprecated.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
  components/opponent/commons/starcraft_starcraft2/player_ext_starcraft.lua
  spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
Labels: g: starcraft, c: match2, g: broodwar

#4585 refactor(match2): brawl star's match parsing
  components/match2/commons/match_group_input.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_summary.lua
Labels: c: match2, g: brawl stars

#4576 refactor(match2): input parsing on rocketleague
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/opponent/wikis/rocketleague/opponent_display_custom.lua
Labels: g: rocket league, c: match2

#4590 fix(match2): invalid team template on halo causes hard error
  components/match2/wikis/halo/match_summary.lua
Labels: c: match2, g: halo

#4556 feat(infobox): add creep camp support in stormgate infobox building
  components/infobox/commons/infobox_building.lua
  components/infobox/wikis/stormgate/infobox_building_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
Labels: c: infobox, g: stormgate

#4557 refractor(match2): Refractor legacy bracket
  components/match2/commons/match_group_legacy.lua
  components/match2/wikis/arenaofvalor/legacy/match_group_legacy_default.lua
  components/match2/wikis/brawlstars/legacy/match_group_legacy_default.lua
  components/match2/wikis/callofduty/legacy/match_group_legacy_default.lua
  components/match2/wikis/dota2/legacy/match_group_legacy_default.lua
  components/match2/wikis/heroes/legacy/match_group_legacy_default.lua
  components/match2/wikis/leagueoflegends/legacy/match_group_legacy_default.lua
  components/match2/wikis/overwatch/legacy/match_group_legacy_default.lua
  components/match2/wikis/rainbowsix/legacy/match_group_legacy_default.lua
  components/match2/wikis/rocketleague/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy.lua
  components/match2/wikis/starcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy_default.lua
  components/match2/wikis/valorant/legacy/match_group_legacy_default.lua
  components/match2/wikis/warcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/wildrift/legacy/match_group_legacy_default.lua
Labels: c: match2, breaking change

#4592 fix(match2): random error on rocketleague
  components/opponent/wikis/rocketleague/opponent_display_custom.lua
Labels: g: rocket league, c: match2

#4594 fix(match2): starcraft match group legacy header
  components/match2/wikis/starcraft/legacy/match_group_legacy_default.lua
Labels: g: starcraft, c: match2

#4597 fix(match2): pass wrong var to `canUseAutoScore`
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#4598 fix(match2): on sc(2), uniform display triggers when it shouldn't
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
Labels: g: starcraft, c: match2, g: broodwar

#4595 fix(match2): on sc(2), sometimes trying to do math on nil
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#4593 fix(match2): issue with fallback dates
  components/match2/commons/match_group_input.lua
Labels: c: match2

#4596 feat(match2): improve error messages
  components/match2/commons/match_group_input.lua
Labels: c: match2

#4606 fix(match): #4597 for rest of the wikis
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#4605 feat(match2): entering map-score on rocketleague should finish the map, unless `|finished=false`
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: g: rocket league, c: match2

#4604 feat(match2): improve map score display on R6 and OW
  components/match2/commons/match_group_display_helper.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2, g: overwatch

#4603 feat: change hearthstone startdate to 2013
  standard/info/wikis/hearthstone/info.lua
Labels: c: standard, g: hearthstone

#4609 fix(match2): displaying oppo 1 map score for oppo 2 on r6
  components/match2/wikis/rainbowsix/match_summary.lua
Labels: g: rainbow six, c: match2

#4610 fix(match2): dota2 matchpage team logo stretching
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2

#4611 feat(match2): #4604 for rocketleague
  components/match2/wikis/rocketleague/match_summary.lua
Labels: g: rocket league, c: match2

#4614 fix(match2): `acs` misspelled as `asc`
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#4607 feat(match2): on sc&sc2, improve the pattern matching for winners bracket advantage
  components/match2/wikis/starcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy_default.lua
Labels: g: starcraft, c: match2

#4613 fix(match2): missing links for COD
  components/match2/wikis/callofduty/match_group_input_custom.lua
Labels: c: match2, g: callofduty

#4591 feat(match2): remove temp workarounds on sc(2) MGI
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2, g: broodwar

#4615 fix(match2): uncalculated mode for games with missing opponents
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#4616 feat(match2): improve score display on sc(2) submatches
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#4617 feat(match2): improve name and displayName processing
  components/match2/commons/match_group_input.lua
Labels: c: match2

#4599 feat(match2): use real api on dota2
  components/match2/wikis/dota2/match_group_input_custom_match_page.lua
  components/match2/wikis/dota2/match_page.lua
  components/match2/wikis/dota2/match_page_template.lua
  components/match2/wikis/leagueoflegends/match_page_template.lua
Labels: c: match2, g: dota2

#4571 fix(match2): dota2 match page typo facets
  components/match2/wikis/dota2/match_page_template.lua
Labels: c: match2, g: dota2

#4577 fix(match2): Clash Royale Copy & Paste fix
  components/match2/wikis/clashroyale/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: clashroyale

#4612 fix(infobox): RL nationality categories
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
Labels: g: rocket league, c: infobox

#4620 fix(match2): manual winner for partial unknown score overwritten with `-1`
  components/match2/commons/match_group_input.lua
Labels: c: match2

#4623 feat(match2): ignore empty string scores
  components/match2/commons/match_group_input.lua
Labels: c: match2

#4622 feat(match2): improve walkover display on Brawl Stars and CoD
  components/match2/wikis/brawlstars/match_summary.lua
  components/match2/wikis/callofduty/match_summary.lua
Labels: c: match2, g: brawl stars, g: callofduty

#4621 feat(match2): map score display for walkovers on VAL
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#4546 feat(match2): Add casters support to valorant match2 copy pasta
  components/match2/wikis/valorant/get_match_group_copy_paste_wiki.lua
Labels: g: valorant, c: match2

#4624 feat(participantsTable): display columns if only dq opponents are in them
  components/participant_table/wikis/warcraft/participant_table_custom.lua
Labels: g: warcraft, c: participant_table

#4625 fix(match2): typo in #4621
  components/match2/wikis/valorant/match_summary.lua
Labels: g: valorant, c: match2

#4626 docs(infobox): fix anno issue on stormgate
  components/infobox/wikis/stormgate/infobox_building_custom.lua
Labels: c: infobox

#4628 feat(opponent): sort playerNames in `toName`
  components/opponent/commons/opponent.lua
  spec/opponent_spec.lua
Labels: c: opponent

#4630 fix(match2): on sc(2), faction fallback in participants data is missing
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
Labels: g: starcraft, c: match2

#4619 feat(match2): new data struct for items on dota2 api
  components/match2/wikis/dota2/match_group_input_custom_match_page.lua
  components/match2/wikis/dota2/match_page.lua
  components/match2/wikis/dota2/match_page_template.lua
Labels: c: match2, g: dota2

#4629 feat(match2): automate BR match that showup when entering the page
  components/match2/commons/match_group_display_horizontallist.lua
  components/match2/commons/match_group_util.lua
  javascript/commons/BattleRoyale.js
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
Labels: c: match2

#4564 feat(match2): improve error catching
  components/match2/commons/display_util.lua
  components/match2/commons/match.lua
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_display_bracket.lua
  components/match2/commons/match_group_display_horizontallist.lua
  components/match2/commons/match_group_display_matchlist.lua
  components/match2/commons/match_group_display_matchpage.lua
  components/match2/commons/match_group_display_single_match.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/starcraft_starcraft2/match_group_display_single_match_starcraft.lua
  standard/logic.lua
Labels: c: match2

#4601 fix(match2): not played input handling - step 1
  components/match2/commons/match_group_input.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/arenaofvalor/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
Labels: c: match2

#4637 feat(infobox): change cell title from `Nicknames` to `Nickname(s)`
  components/infobox/commons/infobox_person.lua
Labels: c: infobox

#4638 feat(infobox): map infobox for PUBG custom
  components/infobox/wikis/pubg/infobox_map_custom.lua
Labels: c: infobox, g: pubg

#4642 chore(prizepool): remove unsued function form sc(2) custom
  components/prize_pool/commons/starcraft_starcraft2/prize_pool_starcraft.lua
Labels: chore, c: prize_pool

#4634 refactor(match2): move storematch1 check to commons
  components/match2/commons/match.lua
  components/match2/wikis/ageofempires/match_legacy.lua
  components/match2/wikis/apexlegends/match_legacy.lua
  components/match2/wikis/arenafps/match_legacy.lua
  components/match2/wikis/arenaofvalor/match_legacy.lua
  components/match2/wikis/brawlhalla/match_legacy.lua
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/callofduty/match_legacy.lua
  components/match2/wikis/counterstrike/match_legacy.lua
  components/match2/wikis/criticalops/match_legacy.lua
  components/match2/wikis/crossfire/match_legacy.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/easportsfc/match_legacy.lua
  components/match2/wikis/fighters/match_legacy.lua
  components/match2/wikis/halo/match_legacy.lua
  components/match2/wikis/heroes/match_legacy.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/magic/match_legacy.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/pokemon/match_legacy.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/rocketleague/match_legacy.lua
  components/match2/wikis/sideswipe/match_legacy.lua
  components/match2/wikis/splatoon/match_legacy.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/starcraft2/match_legacy.lua
  components/match2/wikis/tetris/match_legacy.lua
  components/match2/wikis/trackmania/match_legacy.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/warcraft/match_legacy.lua
  components/match2/wikis/wildrift/match_legacy.lua
  components/match2/wikis/zula/match_legacy.lua
Labels: c: match2

#4635 feat: move hearthstone to tiertypes
  standard/tier/wikis/hearthstone/tier_data.lua
Labels: c: standard, g: hearthstone

#4632 refactor(standard): Have ClassicError return html instead of string
  standard/error_display.lua
  standard/lua.lua
Labels: c: standard

#4639 fix(match2): Don't fill score when empty in legacy maps on valorant
  components/match2/wikis/valorant/legacy/match_group_legacy_default.lua
  components/match2/wikis/valorant/legacy/match_maps_legacy.lua
Labels: g: valorant, c: match2

#4646 feat(opponnet): add `StarcraftPlayerExt.TemplateStorePlayerLink`
  components/opponent/commons/starcraft_starcraft2/player_ext_starcraft.lua
Labels: g: starcraft, c: opponent
