Repository Liquipedia/Lua-Modules, pull requests merged in 2024-12, with the labels that each got.

#5153 fix(match2): finished handling in hearthstone's legacy wrapper
  components/match2/wikis/hearthstone/legacy/match_group_legacy_default.lua
Labels: c: match2, g: hearthstone

#5151 refactor(match2): standardize BR display further
  components/match2/commons/match_summary_ffa.lua
  components/match2/wikis/apexlegends/game_summary.lua
  components/match2/wikis/pubg/game_summary.lua
  components/match2/wikis/pubg/match_summary.lua
  components/match2/wikis/pubgmobile/game_summary.lua
  components/match2/wikis/pubgmobile/match_summary.lua
Labels: c: match2, g: pubg, g: apex, g: pubgmobile

#5152 refactor(match2): fully standardize game countdown and games schedule
  components/match2/commons/match_summary_ffa.lua
  components/match2/wikis/apexlegends/game_summary.lua
  components/match2/wikis/apexlegends/match_summary.lua
  components/match2/wikis/pubg/game_summary.lua
  components/match2/wikis/pubg/match_summary.lua
  components/match2/wikis/pubgmobile/game_summary.lua
  components/match2/wikis/pubgmobile/match_summary.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_all.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_game_countdown.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_games_schedule.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
Labels: c: match2, g: pubg, g: apex, g: pubgmobile

#5154 refactor(match2): standardize input to `ItemContainer`
  components/match2/wikis/apexlegends/game_summary.lua
  components/match2/wikis/pubg/game_summary.lua
  components/match2/wikis/pubgmobile/game_summary.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_content_item_container.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_games_schedule.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_points_distribution.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
  stylesheets/commons/BattleRoyale/Panel.less
Labels: c: match2, g: pubg, g: apex, g: pubgmobile

#5155 feat(match2): Make Match Point commons handling for all BR/FFA
  components/match2/commons/match_summary_ffa.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#5159 feat(infobox): show the stay22 accommodation button on events with multiple venues in same city
  components/infobox/commons/infobox_league.lua
Labels: c: infobox

#5157 feat(match2): Add MVP to copypaste for HoK
  components/match2/wikis/honorofkings/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: honorofkings

#5111 feat(match2): switch crafts from participants to mapOpponents
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_util_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_util_custom.lua
  components/match2/wikis/warcraft/match_legacy.lua
  components/opponent/commons/starcraft_starcraft2/opponent_starcraft.lua
Labels: g: starcraft, c: match2, g: warcraft, g: broodwar, g: stormgate

#5140 feat(match2): add vodgameX support in sc(2) legacy wrappers
  components/match2/wikis/starcraft/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft/legacy/match_maps_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_group_legacy_default.lua
  components/match2/wikis/starcraft2/legacy/match_maps_legacy.lua
  components/match2/wikis/starcraft2/legacy/match_maps_team_legacy.lua
Labels: g: starcraft, c: match2, g: broodwar

#5161 test(match2): brkts/wikispec always uses commons
  components/infobox/wikis/rocketleague/infobox_league_custom.lua
  definitions/mw.lua
  spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  spec/match2_spec.lua
  spec/test_helper.lua
Labels: c: match2

#5163 fix(match2): missing nil catch, missing passalong on sc and sg
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/wikis/starcraft2/legacy/match_maps_team_legacy.lua
  components/match2/wikis/warcraft/match_group_util_custom.lua
Labels: g: starcraft, c: match2, g: stormgate

#5164 feat(match2): increase max players on some BRs
  components/match2/wikis/freefire/match_group_input_custom.lua
  components/match2/wikis/pubg/match_group_input_custom.lua
  components/match2/wikis/pubgmobile/match_group_input_custom.lua
Labels: c: match2, g: pubg, g: pubgmobile, g: freefire

#5165 feat(match2): add SAP logo to LoL's match pages
  components/match2/wikis/dota2/match_page_template.lua
  components/match2/wikis/leagueoflegends/match_page_template.lua
Labels: c: match2, g: leagueoflegends

#5156 feat(match2): Support team players in hearthstone
  components/match2/wikis/hearthstone/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/hearthstone/legacy/match_group_legacy_default.lua
  components/match2/wikis/hearthstone/match_group_input_custom.lua
  components/match2/wikis/hearthstone/match_summary.lua
Labels: c: match2, g: hearthstone

#5137 fix(match2): Prevent line wrap in bracket popups on AoE
  components/match2/wikis/ageofempires/match_summary.lua
Labels: c: match2, g: ageofempires

#5175 feat(match2): Add MatchMaps m1 -> m2 support for hearthstone
  components/match2/wikis/hearthstone/legacy/match_maps_legacy.lua
Labels: c: match2, g: hearthstone

#5162 feat(match2): support fortnite
  components/match2/commons/match.lua
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/match_group_util.lua
  components/match2/commons/match_summary_ffa.lua
  components/match2/wikis/fortnite/game_summary.lua
  components/match2/wikis/fortnite/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/fortnite/match_group_input_custom.lua
  components/match2/wikis/fortnite/match_legacy.lua
  components/match2/wikis/fortnite/match_summary.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2, g: fortnite

#5172 fix(match2): Don't try to build class icon if is empty on hearthstone
  components/match2/wikis/hearthstone/match_summary.lua
Labels: c: match2

#5168 fix(match2): extradata for 1v1 maps in team matches incomplete on craft wikis
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: g: starcraft, c: match2, g: warcraft, g: broodwar, g: stormgate

#5176 feat(match2): Use parseMapPlayers on AoE
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_legacy.lua
  components/match2/wikis/ageofempires/match_summary.lua
Labels: c: match2, g: ageofempires

#5177 fix(match2): fix nil in array on hearthstone
  components/match2/wikis/hearthstone/match_summary.lua
Labels: c: match2, g: hearthstone

#5180 feat(match2): always set score on BR/FFA matches, even on upcoming matches
  components/match2/commons/match_group_input_util.lua
Labels: c: match2

#5179 feat(match2): further standarize BR
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/match_summary_ffa.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_summary.lua
  components/match2/wikis/fortnite/match_group_input_custom.lua
  components/match2/wikis/fortnite/match_summary.lua
  components/match2/wikis/freefire/match_group_input_custom.lua
  components/match2/wikis/freefire/match_summary.lua
  components/match2/wikis/naraka/match_group_input_custom.lua
  components/match2/wikis/naraka/match_summary.lua
  components/match2/wikis/pubg/match_group_input_custom.lua
  components/match2/wikis/pubg/match_summary.lua
  components/match2/wikis/pubgmobile/match_group_input_custom.lua
  components/match2/wikis/pubgmobile/match_summary.lua
Labels: c: match2

#5181 chore: Update match2 status on some wikis
  standard/info/wikis/ageofempires/info.lua
  standard/info/wikis/hearthstone/info.lua
  standard/info/wikis/smite/info.lua
Labels: c: match2, g: ageofempires, g: hearthstone, g: smite

#5183 fix(match2): alignement of column content on BR
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2

#5186 feat(match2): make standard BR-map parsing
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/fortnite/match_group_input_custom.lua
  components/match2/wikis/freefire/match_group_input_custom.lua
  components/match2/wikis/naraka/match_group_input_custom.lua
  components/match2/wikis/pubg/match_group_input_custom.lua
  components/match2/wikis/pubgmobile/match_group_input_custom.lua
Labels: c: match2

#5189 feat(match2): standardize br-map opponent enrichment
  components/match2/commons/match_summary_ffa.lua
  components/match2/wikis/apexlegends/game_summary.lua
  components/match2/wikis/fortnite/game_summary.lua
  components/match2/wikis/freefire/game_summary.lua
  components/match2/wikis/naraka/game_summary.lua
  components/match2/wikis/pubg/game_summary.lua
  components/match2/wikis/pubgmobile/game_summary.lua
  components/match2/wikis/underlords/game_summary.lua
Labels: c: match2

#5190 feat(match2): standardize BR game details
  components/match2/wikis/apexlegends/game_summary.lua
  components/match2/wikis/fortnite/game_summary.lua
  components/match2/wikis/freefire/game_summary.lua
  components/match2/wikis/naraka/game_summary.lua
  components/match2/wikis/pubg/game_summary.lua
  components/match2/wikis/pubgmobile/game_summary.lua
  components/match2/wikis/underlords/game_summary.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_all.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_game_details.lua.lua
Labels: c: match2

#5191 feat(match2): support for autochess
  components/match2/wikis/autochess/game_summary.lua
  components/match2/wikis/autochess/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/autochess/match_group_input_custom.lua
  components/match2/wikis/autochess/match_summary.lua
Labels: c: match2, g: autochess

#5193 feat(match2): BR/FFA Sidescrolling behavior not working properly on chrome
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2

#5194 fix(match2): Game Tab countdowns are not working
  javascript/commons/BattleRoyale.js
Labels: c: match2, javascript

#5195 feat(match2): support both normal and ffa handling for a single wiki
  components/match2/commons/brkts_wiki_specific_base.lua
  components/match2/commons/match_group.lua
  components/match2/commons/match_group_display_helper.lua
  components/match2/commons/match_group_display_horizontallist.lua
  components/match2/commons/match_group_input.lua
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/match_summary_base_ffa.lua
  components/match2/wikis/apexlegends/game_summary.lua
  components/match2/wikis/apexlegends/match_summary_ffa.lua
  components/match2/wikis/autochess/game_summary.lua
  components/match2/wikis/autochess/match_summary_ffa.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/fortnite/game_summary.lua
  components/match2/wikis/fortnite/match_summary_ffa.lua
  components/match2/wikis/freefire/game_summary.lua
  components/match2/wikis/freefire/match_summary_ffa.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/naraka/game_summary.lua
  components/match2/wikis/naraka/match_summary_ffa.lua
  components/match2/wikis/pubg/game_summary.lua
  components/match2/wikis/pubg/match_summary_ffa.lua
  components/match2/wikis/pubgmobile/game_summary.lua
  components/match2/wikis/pubgmobile/match_summary_ffa.lua
  components/match2/wikis/rocketleague/brkts_wiki_specific.lua
  components/match2/wikis/smash/brkts_wiki_specific.lua
  components/match2/wikis/starcraft/brkts_wiki_specific.lua
  components/match2/wikis/starcraft2/brkts_wiki_specific.lua
  components/match2/wikis/trackmania/brkts_wiki_specific.lua
  components/match2/wikis/underlords/game_summary.lua
  components/match2/wikis/underlords/match_summary_ffa.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_table_header.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
  spec/match2_spec.lua
Labels: c: match2

#5196 feat(match2): support TFT FFA
  components/match2/wikis/autochess/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/tft/game_summary.lua
  components/match2/wikis/tft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/tft/match_summary_ffa.lua
  components/match2/wikis/underlords/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: tft

#5202 fix(match2): error when using ShowBracket
  components/match2/commons/match_group_input.lua
Labels: c: match2

#5197 feat(match2): support arenafps FFA
  components/match2/wikis/arenafps/game_summary.lua
  components/match2/wikis/arenafps/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_summary_ffa.lua
Labels: c: match2, g: arenafps

#5198 feat(match2): support halo FFA
  components/match2/wikis/halo/game_summary.lua
  components/match2/wikis/halo/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/halo/match_summary_ffa.lua
Labels: c: match2, g: halo

#5199 feat(match2): support call of duty warzone (BR)
  components/match2/wikis/callofduty/game_summary.lua
  components/match2/wikis/callofduty/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_summary_ffa.lua
Labels: c: match2, g: callofduty

#5200 fix(match2): sorting on (ffa) game tabs
  javascript/commons/BattleRoyale.js
Labels: c: match2, javascript

#5204 feat(match2): support light/dark theme for BR display
  stylesheets/commons/BattleRoyale/NavigationTabs.less
  stylesheets/commons/BattleRoyale/Panel.less
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2, stylesheets

#5201 chore(match2): remove temp workaround after cleanup
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
Labels: g: starcraft, c: match2

#5212 feat: enable headtohead storage and wiki variable on dota2
  components/hidden_data_box/wikis/dota2/hidden_data_box_custom.lua
  components/infobox/wikis/dota2/infobox_league_custom.lua
Labels: c: infobox, g: dota2, c: hidden_data_box

#5208 fix: Load scripts from current skin for WC3 creep spots
  javascript/commons/Miscellaneous.js
Labels: g: warcraft, javascript

#5211 feat(opponent): support faction darkmode icons on SG and WC
  components/opponent/wikis/stormgate/player_display_custom.lua
  components/opponent/wikis/warcraft/player_display_custom.lua
Labels: g: warcraft, c: opponent, g: stormgate

#5213 fix(match2): Prevent premature return in match legacy on AoE
  components/match2/wikis/ageofempires/match_legacy.lua
Labels: c: match2

#5205 fix(match2): warcraft legacyBrackets erroring on map walkovers
  components/match2/wikis/warcraft/legacy/match_group_legacy_convert_map_data.lua
Labels: c: match2, g: warcraft

#5192 feat(statistics): improve game stats performance
  components/statistics/count.lua
  components/statistics/portal_statistics.lua
Labels: c: statistics

#5203 fix(match2): GameComment overflowing matchsummary box
  components/widget/match/summary/widget_match_summary_game_comment.lua
Labels: c: match2

#5214 feat(match2): Add dark theme support for BR table navigation
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2

#5184 feat(match2): Support for Marvel Rivals
  components/match2/wikis/marvelrivals/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/marvelrivals/match_group_input_custom.lua
  components/match2/wikis/marvelrivals/match_summary.lua
  standard/info/wikis/marvelrivals/info.lua
Labels: c: match2, g: marvelrivals

#5223 chore: update match2 status on paladins
  standard/info/wikis/paladins/info.lua
Labels: chore, g: paladins

#5210 feat(match2): Make use of `standardProcessMaps`
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/easportsfc/match_group_input_custom.lua
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/goals/match_group_input_custom.lua
  components/match2/wikis/honorofkings/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/worldofwarcraft/match_group_input_custom.lua
Labels: g: valorant, c: match2, g: brawl stars, g: mobilelegends, g: overwatch, g: Splatoon, g: clashroyale, g: worldofwarcraft, g: easportsfc, g: tetris, g: fighters, g: omegastrikers, g: clashofclans, g: osu, g: smite, g: goals

#5225 chore: update match2 status on goals
  standard/info/wikis/goals/info.lua
Labels: chore, g: goals

#5224 feat(match2): Adjust background color for placement and kills
  stylesheets/commons/BattleRoyale/PanelTable.less
Labels: c: match2, stylesheets

#5239 chore(earnings): kick useless `defaultNumberOfPlayersInTeam`
  components/earnings/wikis/halo/earnings.lua
  components/earnings/wikis/rocketleague/earnings.lua
  components/earnings/wikis/valorant/earnings.lua
  components/earnings/wikis/worldofwarcraft/earnings.lua
Labels: chore, c: earnings

#5231 fix(opponent): resolve pagename for sc(2) `TemplatePlayer`
  components/opponent/commons/starcraft_starcraft2/player_display_starcraft.lua
Labels: g: starcraft, g: broodwar, c: opponent

#5227 feat(match2): show mapRow for set players but missing winner/map on aoe
  components/match2/commons/match_group_util.lua
  components/match2/wikis/ageofempires/match_summary.lua
Labels: c: match2, g: ageofempires

#5233 feat(match2): remove `game.participants` usage
  components/game_table/valorant/game_table_character_custom.lua
  components/match2/commons/match_group_util.lua
  components/match2/wikis/ageofempires/match_legacy.lua
  components/match2/wikis/ageofempires/match_summary.lua
  components/match2/wikis/brawlhalla/match_legacy.lua
  components/match2/wikis/clashroyale/match_summary.lua
  components/match2/wikis/deadlock/match_summary.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/dota2/match_page.lua
  components/match2/wikis/easportsfc/match_summary.lua
  components/match2/wikis/fighters/match_legacy.lua
  components/match2/wikis/fighters/match_summary.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/smash/match_legacy.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/stormgate/match_summary.lua
  components/match2/wikis/warcraft/match_legacy.lua
  components/match2/wikis/warcraft/match_summary.lua
Labels: c: match2

#5236 feat(matchticker): show vods on finished matches
  components/match_ticker/commons/match_ticker_display_components_new.lua
Labels: c: match_ticker

#5247 feat(Infobox): on stormgate, allow attacks to have multiple bonus damage instances
  components/infobox/extensions/wikis/stormgate/infobox_extension_attack.lua
Labels: c: infobox_extensions, g: stormgate

#5234 feat: increase match card widths for SMITE
  standard/info/wikis/smite/info.lua
Labels: g: smite

#5242 feat(match2): support non-ffa matches on autochess
  components/match2/wikis/autochess/match_group_input_custom.lua
  components/match2/wikis/autochess/match_summary.lua
  standard/info/wikis/autochess/info.lua
Labels: c: match2, g: autochess

#5246 fix(match2): Archon submatches in team matches not displaying properly
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft.lua
Labels: g: starcraft, c: match2

#5255 feat(match2): standardize CS match processsing and add FFA support
  components/match2/wikis/counterstrike/game_summary.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_summary_ffa.lua
Labels: c: match2, g: counter-strike
