Repository Liquipedia/Lua-Modules, pull requests merged in 2025-07, with the labels that each got.

#6084 feat(match2): add storage support for simracing
  lua/wikis/simracing/MatchGroup/Input/Custom.lua
Labels: c: match2, g: simracing

#6089 chore: fix an anno in Module:Lua
  lua/wikis/commons/Lua.lua
Labels: chore

#6086 feat(mainPage): Update link to Heroes Portal
  lua/wikis/honorofkings/MainPageLayout/data.lua
Labels: g: honorofkings, c: main_page

#6090 feat(mainpage): new Battlerite main page
  lua/wikis/battlerite/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: battlerite, c: main_page

#6093 feat: update the "go to match page" button
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/Widget/Match/PageButton.lua
Labels: c: match2

#6095 feat: add match page button to recent match/game tables
  lua/wikis/commons/GameTable.lua
  lua/wikis/commons/GameTable/Character.lua
  lua/wikis/commons/MatchTable.lua
  lua/wikis/valorant/GameTable/Character/Custom.lua
Labels: c: match_table

#6096 feat(match2): change match page button to primary
  lua/spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_mobilelegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_overwatch.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_valorant.txt
  lua/wikis/commons/MatchSummary/Base.lua
  lua/wikis/commons/Widget/Match/PageButton.lua
  lua/wikis/commons/Widget/Match/Summary/MatchPageLink.lua
  lua/wikis/dota2/MatchSummary.lua
  lua/wikis/leagueoflegends/MatchSummary.lua
  lua/wikis/valorant/MatchSummary.lua
Labels: c: match2

#6122 Shorten line lengths
  .eslintrc.json
  javascript/commons/Bracket.js
  javascript/commons/Collapse.js
  javascript/commons/Commons_mainpage.js
  javascript/commons/Commons_tools.js
  javascript/commons/Countdown.js
  javascript/commons/Crosstable.js
  javascript/commons/Mainpage.js
  javascript/commons/Miscellaneous.js
  javascript/commons/Prizepooltable.js
Labels: javascript

#6118 feat(infobox): add participants number to rematch infobox league
  lua/wikis/rematch/Infobox/League/Custom.lua
Labels: c: infobox, g: rematch

#6113 feat: add Lab info
  lua/wikis/lab/Info.lua
Labels: c: standard, data, lab

#6073 feat(dota): adjust blasttv link for dota
  lua/wikis/dota2/Links/CustomData.lua
Labels: c: standard, g: dota2

#6099 feat(mainpage): rematch mainpage
  lua/wikis/rematch/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: c: main_page, g: rematch

#6098 feat(Match2): Rematch implementation
  lua/wikis/rematch/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/rematch/MatchGroup/Input/Custom.lua
  lua/wikis/rematch/MatchSummary.lua
Labels: c: match2, g: rematch

#6103 chore: use Lua.import in leagueoflegends
  lua/wikis/leagueoflegends/FilterButtons/Config.lua
  lua/wikis/leagueoflegends/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/leagueoflegends/HiddenDataBox/Custom.lua
  lua/wikis/leagueoflegends/Infobox/Character/Custom.lua
  lua/wikis/leagueoflegends/Infobox/League/Custom.lua
  lua/wikis/leagueoflegends/Infobox/Patch/Custom.lua
  lua/wikis/leagueoflegends/Infobox/Person/Player/Custom.lua
  lua/wikis/leagueoflegends/Infobox/Team/Custom.lua
  lua/wikis/leagueoflegends/Match/Legacy.lua
  lua/wikis/leagueoflegends/MatchGroup/Input/Custom/MatchPage.lua
  lua/wikis/leagueoflegends/MatchGroup/Legacy/Default.lua
  lua/wikis/leagueoflegends/MatchMaps/Legacy.lua
  lua/wikis/leagueoflegends/MatchPage.lua
  lua/wikis/leagueoflegends/MatchSummary.lua
  lua/wikis/leagueoflegends/PrizePool/Custom.lua
  lua/wikis/leagueoflegends/PrizePool/Legacy/Custom.lua
  lua/wikis/leagueoflegends/Widget/CharacterTable/Entry/Custom.lua
Labels: g: leagueoflegends

#6087 feat(infobox): Add HS Infobox hero and hero power
  lua/wikis/commons/Infobox/Effect.lua
  lua/wikis/commons/Infobox/Effect/Custom.lua
  lua/wikis/hearthstone/Infobox/Character/Custom.lua
  lua/wikis/hearthstone/Infobox/Effect/Custom.lua
Labels: c: infobox, g: hearthstone

#6126 feat: Adjust main page and esports portal on dota2 to move rankings down a bit
  lua/wikis/dota2/MainPageLayout/data.lua
Labels: g: dota2, c: main_page

#6025 feat(navbox): consider lists with >5 items as 2 rows in navbox uncollapse calculations
  lua/wikis/commons/Widget/NavBox.lua
Labels: c: nav_box

#6014 feat(navBox): add requested options
  lua/wikis/commons/Widget/NavBox.lua
  lua/wikis/commons/Widget/NavBox/Child.lua
  lua/wikis/commons/Widget/NavBox/Title.lua
Labels: c: nav_box

#5660 feat(mainpage): new rocketleague main page
  lua/wikis/rocketleague/FilterButtons/Config.lua
  lua/wikis/rocketleague/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: rocket league, c: main_page

#6123 feat(prizePool): store prizepoints2
  lua/spec/prize_pool_spec.lua
  lua/wikis/ageofempires/PrizePool/Award/Custom.lua
  lua/wikis/ageofempires/PrizePool/Custom.lua
  lua/wikis/apexlegends/PrizePool/Custom.lua
  lua/wikis/brawlstars/PrizePool/Custom.lua
  lua/wikis/commons/PrizePool/Award/Placement.lua
  lua/wikis/commons/PrizePool/Award/Starcraft.lua
  lua/wikis/commons/PrizePool/Custom.lua
  lua/wikis/commons/PrizePool/Placement.lua
  lua/wikis/commons/PrizePool/Starcraft.lua
  lua/wikis/counterstrike/PrizePool/Custom.lua
  lua/wikis/dota2/PrizePool/Custom.lua
  lua/wikis/formula1/PrizePool/Custom.lua
  lua/wikis/fortnite/PrizePool/Custom.lua
  lua/wikis/halo/PrizePool/Custom.lua
  lua/wikis/leagueoflegends/PrizePool/Custom.lua
  lua/wikis/mobilelegends/PrizePool/Custom.lua
  lua/wikis/overwatch/PrizePool/Custom.lua
  lua/wikis/pokemon/PrizePool/Custom.lua
  lua/wikis/pubg/PrizePool/Custom.lua
  lua/wikis/pubgmobile/PrizePool/Custom.lua
  lua/wikis/rainbowsix/PrizePool/Custom.lua
  lua/wikis/rocketleague/PrizePool/Custom.lua
  lua/wikis/tetris/PrizePool/Custom.lua
  lua/wikis/trackmania/PrizePool/Custom.lua
  lua/wikis/valorant/PrizePool/Custom.lua
  lua/wikis/warcraft/PrizePool/Custom.lua
Labels: c: prize_pool

#6133 feat(match2): standardize template usage on paladins
  lua/wikis/paladins/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: paladins

#6130 feat(TournamentsListing): add byYear handling to commons
  lua/wikis/commons/TournamentsListing/CardList.lua
  lua/wikis/commons/TournamentsListing/CardList/Custom.lua
  lua/wikis/starcraft2/TournamentsListing/CardList/Custom.lua
Labels: c: tournaments_listing

#6147 fix: match ticker "show countdown" is only visible with default filters
  lua/wikis/commons/Widget/Match/Ticker/Container.lua
Labels: c: match_ticker

#6142 refactor(match2): remove custom collapsible in favor on general collapsible
  lua/spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_mobilelegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_overwatch.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_valorant.txt
  lua/wikis/commons/MatchGroup/Display/Matchlist.lua
  lua/wikis/commons/Widget/GeneralCollapsible/Default.lua
  stylesheets/commons/Brackets.less
Labels: c: match2

#6106 feat(navbox): allow to condition on default tiertype
  lua/wikis/commons/Widget/NavBox/SeriesChildFromLpdb.lua
Labels: c: nav_box

#6104 feat(mainpage): remove marvel rivals heroes table
  lua/wikis/marvelrivals/MainPageLayout/data.lua
Labels: g: marvelrivals, c: main_page

#6149 fix(MatchTable): Swap INVALID_TIER_SORT and _DISPLAY
  lua/wikis/commons/MatchTable.lua
Labels: c: match_table

#6153 chore: remove unneeded string replace
  lua/wikis/commons/TeamTemplate.lua
Labels: chore

#6109 refactor(infobox): simplify chronology handling
  lua/wikis/commons/Infobox/League.lua
  lua/wikis/commons/Infobox/Patch.lua
  lua/wikis/commons/Widget/All.lua
  lua/wikis/commons/Widget/Infobox/All.lua
  lua/wikis/commons/Widget/Infobox/Chronology.lua
  lua/wikis/commons/Widget/Infobox/ChronologyContainer.lua
  lua/wikis/fighters/Infobox/League/Custom.lua
  lua/wikis/formula1/Infobox/Team/Custom.lua
  lua/wikis/formula1/Infobox/Unit/Car/Custom.lua
  lua/wikis/formula1/Infobox/Unit/Engine/Custom.lua
  lua/wikis/smash/Infobox/League/Custom.lua
  lua/wikis/trackmania/Infobox/League/Custom.lua
  lua/wikis/valorant/Infobox/Series/Custom.lua
Labels: c: infobox, chore

#6102 feat(Infobox): Add Infobox League for Rematch
  lua/wikis/rematch/Infobox/League/Custom.lua
Labels: c: infobox, g: rematch

#6108 feat(infobox): Infobox Upgrade
  lua/wikis/ageofempires/Infobox/Faction/Custom.lua
  lua/wikis/ageofempires/Infobox/Upgrade/Custom.lua
  lua/wikis/ageofempires/Widget/AgeIcon.lua
  lua/wikis/ageofempires/Widget/ExpensionIcon.lua
  lua/wikis/commons/Infobox/Upgrade.lua
  lua/wikis/commons/Infobox/Upgrade/Custom.lua
Labels: c: infobox, g: ageofempires

#6114 feat(infobox): standardize aoe units and hs/artifact/cr card infoboxes
  lua/wikis/ageofempires/Infobox/Unit/Custom.lua
  lua/wikis/artifact/Infobox/Unit/Custom.lua
  lua/wikis/clashroyale/Infobox/Unit/Custom.lua
  lua/wikis/hearthstone/Infobox/Unit/Custom.lua
Labels: c: infobox, g: ageofempires, g: clashroyale, g: hearthstone, g: artifact

#6156 feat(match2): remove player names being links in RL Brackets
  lua/wikis/rocketleague/OpponentDisplay/Custom.lua
Labels: g: rocket league, c: match2

#6152 chore: use Lua.import in pubg
  lua/wikis/pubg/FilterButtons/Config.lua
  lua/wikis/pubg/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/pubg/HiddenDataBox/Custom.lua
  lua/wikis/pubg/Infobox/Company/Custom.lua
  lua/wikis/pubg/Infobox/League/Custom.lua
  lua/wikis/pubg/Infobox/Person/Player/Custom.lua
  lua/wikis/pubg/Infobox/Weapon/Custom.lua
  lua/wikis/pubg/Match/Legacy.lua
  lua/wikis/pubg/MatchGroup/Input/Custom.lua
  lua/wikis/pubg/PrizePool/Award/Custom.lua
  lua/wikis/pubg/PrizePool/Custom.lua
Labels: chore, g: pubg

#6161 chore: use Lua.import in overwatch
  lua/wikis/overwatch/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/overwatch/HiddenDataBox/Custom.lua
  lua/wikis/overwatch/HighlightConditions.lua
  lua/wikis/overwatch/Infobox/Character/Custom.lua
  lua/wikis/overwatch/Infobox/League/Custom.lua
  lua/wikis/overwatch/Infobox/Team/Custom.lua
  lua/wikis/overwatch/Match/Legacy.lua
  lua/wikis/overwatch/MatchGroup/Input/Custom.lua
  lua/wikis/overwatch/MatchGroup/Legacy/Default.lua
  lua/wikis/overwatch/MatchSummary.lua
  lua/wikis/overwatch/NotabilityChecker/config.lua
  lua/wikis/overwatch/PrizePool/Custom.lua
  lua/wikis/overwatch/Squad/Custom.lua
Labels: chore, g: overwatch

#6067 feat(infobox): pokemon company infobox
  lua/wikis/pokemon/Infobox/Company/Custom.lua
Labels: c: infobox, g: pokemon

#6131 feat: implement default TBD icon for teams
  lua/wikis/ageofempires/MatchGroup/Input/Custom.lua
  lua/wikis/ageofempires/ParticipantTable/Custom.lua
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/Infobox/UnofficialWorldChampion.lua
  lua/wikis/commons/MatchGroup/Display/Bracket.lua
  lua/wikis/commons/MatchGroup/Input/Util.lua
  lua/wikis/commons/MatchGroup/Util.lua
  lua/wikis/commons/MatchTicker/DisplayComponents/New.lua
  lua/wikis/commons/Opponent.lua
  lua/wikis/commons/Opponent/Starcraft.lua
  lua/wikis/commons/OpponentDisplay.lua
  lua/wikis/commons/OpponentDisplay/Starcraft.lua
  lua/wikis/commons/ParticipantTable/Base.lua
  lua/wikis/commons/ParticipantTable/Starcraft.lua
  lua/wikis/commons/Standings/Storage.lua
  lua/wikis/commons/Widget/Image/Icon/TeamIcon.lua
  lua/wikis/commons/Widget/TeamDisplay/Inline.lua
  lua/wikis/rocketleague/MatchGroup/Display/Bracket/Custom.lua
  lua/wikis/smash/MatchGroup/Display/Bracket/Custom.lua
  lua/wikis/stormgate/Opponent/Custom.lua
  lua/wikis/stormgate/OpponentDisplay/Custom.lua
  lua/wikis/stormgate/ParticipantTable/Custom.lua
  lua/wikis/trackmania/MatchGroup/Display/Bracket/Custom.lua
  lua/wikis/warcraft/Opponent/Custom.lua
  lua/wikis/warcraft/OpponentDisplay/Custom.lua
  lua/wikis/warcraft/ParticipantTable/Custom.lua
  stylesheets/commons/Brackets.less
  stylesheets/commons/TeamTemplates.less
Labels: c: opponent

#6146 refactor(match2): use TeamIcon widget in match pages
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/Widget/Match/Page/MapVeto.lua
  lua/wikis/commons/Widget/Match/Page/TeamDisplay.lua
Labels: c: match2

#6167 fix(matchticker): nil in ffa mode
  lua/wikis/commons/MatchTicker.lua
Labels: c: match_ticker

#6168 fix: remove force team linking on commons
  lua/wikis/commons/MatchSummary/Base/Ffa.lua
  lua/wikis/commons/MvpTable.lua
  lua/wikis/commons/Widget/Standings/Ffa.lua
  lua/wikis/commons/Widget/Standings/MatchOverview.lua
  lua/wikis/commons/Widget/Standings/Swiss.lua
Labels: c: match2

#6165 chore: remove apex highlightconditions overwrite
  lua/wikis/apexlegends/HighlightConditions.lua
Labels: g: apex

#6170 fix(opponent): all literals are assumed tbd in BracketOpponentEntry
  lua/wikis/commons/OpponentDisplay.lua
Labels: c: opponent

#6172 feat(match2): customizable teamStyle on popups
  lua/wikis/commons/Widget/Match/Header.lua
Labels: c: match2

#6162 feat(match2): add vod param to leagueoflegends matchpage generator
  lua/wikis/leagueoflegends/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: leagueoflegends

#6174 fix(match2): TBD opponent points to a link on match pages
  lua/wikis/commons/Widget/Match/Page/TeamDisplay.lua
Labels: c: match2

#6151 feat: new design for match cards in the match ticker
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_valorant.txt
  lua/spec/vod_link_spec.lua
  lua/wikis/commons/Date/Ext.lua
  lua/wikis/commons/HighlightConditions.lua
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/Links/Stream.lua
  lua/wikis/commons/MatchGroup/Util.lua
  lua/wikis/commons/MatchTable.lua
  lua/wikis/commons/MatchTicker.lua
  lua/wikis/commons/MatchTicker/DisplayComponents/New.lua
  lua/wikis/commons/MatchesScheduleDisplay.lua
  lua/wikis/commons/Tournament.lua
  lua/wikis/commons/VodLink.lua
  lua/wikis/commons/Widget/Basic/Button.lua
  lua/wikis/commons/Widget/Match/Card.lua
  lua/wikis/commons/Widget/Match/Countdown.lua
  lua/wikis/commons/Widget/Match/Header.lua
  lua/wikis/commons/Widget/Match/PageButton.lua
  lua/wikis/commons/Widget/Match/Stream.lua
  lua/wikis/commons/Widget/Match/StreamsContainer.lua
  lua/wikis/commons/Widget/Match/Summary/MatchPageLink.lua
  lua/wikis/commons/Widget/Tournament/Label.lua
  lua/wikis/commons/Widget/Tournament/Title.lua
  lua/wikis/counterstrike/HighlightConditions.lua
  lua/wikis/overwatch/HighlightConditions.lua
  lua/wikis/valorant/HighlightConditions.lua
  stylesheets/commons/Match.less
  stylesheets/commons/MatchTicker.less
Labels: c: match_ticker

#6179 feat: change the highlight to only be the tournament bar
  lua/wikis/commons/Widget/Match/Card.lua
Labels: c: match_ticker

#6157 feat(notability checker): Add Free Fire
  lua/wikis/freefire/NotabilityChecker/config.lua
Labels: c: notability, g: freefire

#6175 feat(match2): use new elements in match summary
  lua/spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_mobilelegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_overwatch.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_valorant.txt
  lua/wikis/ageofempires/MatchSummary.lua
  lua/wikis/brawlhalla/MatchSummary.lua
  lua/wikis/brawlstars/MatchSummary.lua
  lua/wikis/chess/MatchSummary.lua
  lua/wikis/clashroyale/MatchSummary.lua
  lua/wikis/commons/Date/Ext.lua
  lua/wikis/commons/MatchSummary/Base.lua
  lua/wikis/commons/MatchSummary/Starcraft.lua
  lua/wikis/commons/Widget/Match/ButtonBar.lua
  lua/wikis/commons/Widget/Match/Card.lua
  lua/wikis/commons/Widget/Match/Countdown.lua
  lua/wikis/commons/Widget/Match/Summary/All.lua
  lua/wikis/commons/Widget/Match/Summary/Break.lua
  lua/wikis/counterstrike/MatchSummary.lua
  lua/wikis/deadlock/MatchSummary.lua
  lua/wikis/dota2/MatchSummary.lua
  lua/wikis/easportsfc/MatchSummary.lua
  lua/wikis/fighters/MatchSummary.lua
  lua/wikis/hearthstone/MatchSummary.lua
  lua/wikis/heroes/MatchSummary.lua
  lua/wikis/honorofkings/MatchSummary.lua
  lua/wikis/leagueoflegends/MatchSummary.lua
  lua/wikis/mobilelegends/MatchSummary.lua
  lua/wikis/omegastrikers/MatchSummary.lua
  lua/wikis/osu/MatchSummary.lua
  lua/wikis/overwatch/MatchSummary.lua
  lua/wikis/pokemon/MatchSummary.lua
  lua/wikis/rainbowsix/MatchSummary.lua
  lua/wikis/rocketleague/MatchSummary.lua
  lua/wikis/smash/MatchSummary.lua
  lua/wikis/smite/MatchSummary.lua
  lua/wikis/stormgate/MatchSummary.lua
  lua/wikis/valorant/MatchSummary.lua
  lua/wikis/warcraft/MatchSummary.lua
  lua/wikis/wildrift/MatchSummary.lua
  stylesheets/commons/Brackets.less
  stylesheets/commons/Match.less
Labels: c: match2

#6187 feat(match2): match summary popup redesign
  lua/spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_mobilelegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_overwatch.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_valorant.txt
  lua/wikis/commons/Widget/Match/Summary/Casters.lua
  lua/wikis/commons/Widget/Match/Summary/CharacterBanTable.lua
  lua/wikis/commons/Widget/Match/Summary/MatchComment.lua
  lua/wikis/dota2/MatchSummary.lua
  stylesheets/commons/Brackets.less
Labels: c: match2, stylesheets

#6204 fix(match2): hide on mobile not working
  lua/wikis/commons/Widget/Match/Summary/Characters.lua
  stylesheets/commons/Bracket.less
  stylesheets/commons/Brackets.less
Labels: c: match2

#6206 fix(match2): quick fix for map veto styling
  lua/wikis/commons/Widget/Match/Summary/MapVeto.lua
Labels: c: match2

#6210 fix(matchticker): CTA text is showing when there's 4+ streams
  stylesheets/commons/Match.less
Labels: c: match_ticker

#6216 feat(match2): improve map veto header on SC2
  lua/wikis/commons/MatchSummary/Starcraft.lua
  lua/wikis/stormgate/MatchSummary.lua
  lua/wikis/warcraft/MatchSummary.lua
  stylesheets/commons/Brackets.less
Labels: g: starcraft, c: match2, g: warcraft, g: broodwar, stylesheets, g: stormgate

#6221 revert: "feat(match): move comments and links into the body (#6196)"
  lua/spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_mobilelegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_overwatch.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_valorant.txt
  lua/wikis/ageofempires/MatchSummary.lua
  lua/wikis/brawlhalla/MatchSummary.lua
  lua/wikis/brawlstars/MatchSummary.lua
  lua/wikis/chess/MatchSummary.lua
  lua/wikis/clashroyale/MatchSummary.lua
  lua/wikis/commons/MatchSummary/Base.lua
  lua/wikis/commons/MatchSummary/Starcraft.lua
  lua/wikis/counterstrike/MatchSummary.lua
  lua/wikis/deadlock/MatchSummary.lua
  lua/wikis/dota2/MatchSummary.lua
  lua/wikis/easportsfc/MatchSummary.lua
  lua/wikis/fighters/MatchSummary.lua
  lua/wikis/hearthstone/MatchSummary.lua
  lua/wikis/heroes/MatchSummary.lua
  lua/wikis/honorofkings/MatchSummary.lua
  lua/wikis/leagueoflegends/MatchSummary.lua
  lua/wikis/mobilelegends/MatchSummary.lua
  lua/wikis/omegastrikers/MatchSummary.lua
  lua/wikis/osu/MatchSummary.lua
  lua/wikis/overwatch/MatchSummary.lua
  lua/wikis/pokemon/MatchSummary.lua
  lua/wikis/rainbowsix/MatchSummary.lua
  lua/wikis/smash/MatchSummary.lua
  lua/wikis/smite/MatchSummary.lua
  lua/wikis/stormgate/MatchSummary.lua
  lua/wikis/valorant/MatchSummary.lua
  lua/wikis/warcraft/MatchSummary.lua
  lua/wikis/wildrift/MatchSummary.lua
Labels: c: match2

#6222 feat(match): move comments and links into the body (working this time)
  lua/spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_mobilelegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_overwatch.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_valorant.txt
  lua/wikis/ageofempires/MatchSummary.lua
  lua/wikis/brawlhalla/MatchSummary.lua
  lua/wikis/brawlstars/MatchSummary.lua
  lua/wikis/chess/MatchSummary.lua
  lua/wikis/clashroyale/MatchSummary.lua
  lua/wikis/commons/MatchSummary/Base.lua
  lua/wikis/commons/MatchSummary/Starcraft.lua
  lua/wikis/counterstrike/MatchSummary.lua
  lua/wikis/deadlock/MatchSummary.lua
  lua/wikis/dota2/MatchSummary.lua
  lua/wikis/easportsfc/MatchSummary.lua
  lua/wikis/fighters/MatchSummary.lua
  lua/wikis/hearthstone/MatchSummary.lua
  lua/wikis/heroes/MatchSummary.lua
  lua/wikis/honorofkings/MatchSummary.lua
  lua/wikis/leagueoflegends/MatchSummary.lua
  lua/wikis/mobilelegends/MatchSummary.lua
  lua/wikis/omegastrikers/MatchSummary.lua
  lua/wikis/osu/MatchSummary.lua
  lua/wikis/overwatch/MatchSummary.lua
  lua/wikis/pokemon/MatchSummary.lua
  lua/wikis/rainbowsix/MatchSummary.lua
  lua/wikis/smash/MatchSummary.lua
  lua/wikis/smite/MatchSummary.lua
  lua/wikis/stormgate/MatchSummary.lua
  lua/wikis/valorant/MatchSummary.lua
  lua/wikis/warcraft/MatchSummary.lua
  lua/wikis/wildrift/MatchSummary.lua
Labels: c: match2

#6225 feat(match2): increase the winloss icon size
  lua/wikis/commons/Widget/Match/Summary/GameWinLossIndicator.lua
  stylesheets/commons/Brackets.less
Labels: c: match2

#6182 feat(infobox): Adjusting icon size for upcoming matches
  lua/wikis/commons/MatchTicker/DisplayComponents.lua
  stylesheets/commons/Mainpage.less
Labels: c: infobox_extensions, stylesheets

#6230 fix(ParticipantTable): Reduce button size on AoE seeding table
  lua/wikis/ageofempires/ParticipantTable/Custom.lua
Labels: g: ageofempires, c: participant_table

#6237 fix(opponent): `.block-players-wrapper` wrapper missing for solo opponents on sc(2)
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/wikis/commons/OpponentDisplay/Starcraft.lua
Labels: c: opponent

#6241 fix(mainpage): fix classes count g:hearthstone
  lua/wikis/hearthstone/MainPageLayout/data.lua
Labels: g: hearthstone, c: main_page

#6240 feat(mainpage): Add Wild Rift
  lua/wikis/wildrift/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: wildrift, c: main_page

#6235 chore: remove unused css class
  stylesheets/commons/Brackets.less
Labels: chore, stylesheets

#6242 feat(match2): decrease gap between body elements
  stylesheets/commons/Brackets.less
Labels: c: match2

#6229 feat(mainpage): new Paladins main page
  lua/wikis/paladins/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: paladins, c: main_page

#6246 feat(mainpage): Add Battalion Main Page
  lua/wikis/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: battalion, c: main_page

#6238 feat(match2): make the smallest MS popup wider
  lua/spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  lua/wikis/clashroyale/MatchSummary.lua
  lua/wikis/counterstrike/MatchSummary.lua
  lua/wikis/rainbowsix/MatchSummary.lua
  stylesheets/commons/Brackets.less
Labels: g: starcraft, c: match2, g: warcraft, g: broodwar, stylesheets, g: stormgate

#6248 feat: grow stream buttons when there's text in them
  stylesheets/commons/Match.less
Labels: c: match2, c: match_ticker

#6259 chore(mainpage): fix deploy header in chess data
  lua/wikis/chess/MainPageLayout/data.lua
Labels: g: chess, c: main_page

#6245 feat(match2): add bg color to thumbs
  stylesheets/commons/Brackets.less
Labels: c: match2

#6263 feat(Mainpage): Add Clash Royale
  lua/wikis/clashroyale/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: clashroyale, c: main_page

#6266 feat(mainpage): Add Sideswipe Main Page
  lua/wikis/sideswipe/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: sideswipe, c: main_page

#6269 feat(mainpage): Add Auto Chess Main Page
  lua/wikis/autochess/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: autochess, c: main_page

#6270 feat(mainpage): Add Underlords Main Page
  lua/wikis/underlords/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: underlords, c: main_page

#6272 docs(notability): function type annotations
  lua/wikis/ageofempires/NotabilityChecker/config.lua
  lua/wikis/apexlegends/NotabilityChecker/config.lua
  lua/wikis/brawlstars/NotabilityChecker/config.lua
  lua/wikis/callofduty/NotabilityChecker/config.lua
  lua/wikis/clashofclans/NotabilityChecker/config.lua
  lua/wikis/commons/NotabilityChecker.lua
  lua/wikis/freefire/NotabilityChecker/config.lua
  lua/wikis/geoguessr/NotabilityChecker/config.lua
  lua/wikis/halo/NotabilityChecker/config.lua
  lua/wikis/marvelrivals/NotabilityChecker/config.lua
  lua/wikis/osu/NotabilityChecker/config.lua
  lua/wikis/overwatch/NotabilityChecker/config.lua
  lua/wikis/pubgmobile/NotabilityChecker/config.lua
  lua/wikis/rainbowsix/NotabilityChecker/config.lua
  lua/wikis/rocketleague/NotabilityChecker/config.lua
  lua/wikis/trackmania/NotabilityChecker/config.lua
Labels: documentation, c: notability

#6277 feat(mainpage): Add Splitgate Main Page
  lua/wikis/splitgate/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: splitgate, c: main_page

#6283 fix: match date not shown in schedules display if time zone adjustment is disabled
  lua/wikis/commons/MatchesScheduleDisplay.lua
Labels: c: matches_schedule_display

#6279 feat(mainpage): Add Warcraft Main Page
  lua/wikis/warcraft/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: warcraft, c: main_page

#6280 feat(mainpage): Clash Royale tweaks
  lua/wikis/clashroyale/MainPageLayout/data.lua
Labels: g: clashroyale, c: main_page

#6284 feat(mainpage): add thisday to valorant
  lua/wikis/valorant/MainPageLayout/data.lua
Labels: g: valorant, c: main_page

#6288 feat: re-order ThisDay in Warcraft mainpage
  lua/wikis/warcraft/MainPageLayout/data.lua
Labels: g: warcraft, c: main_page

#6291 feat(mainpage): Add Stormgate Main Page
  lua/wikis/stormgate/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: stormgate, c: main_page
