Repository Liquipedia/Lua-Modules, pull requests merged in 2025-01, with the labels that each got.

#5244 feat(match2): Add non-BR support for Fortnite
  components/match2/wikis/fortnite/match_group_input_custom.lua
  components/match2/wikis/fortnite/match_summary.lua
Labels: c: match2, g: fortnite

#5245 feat(prizepool): make ppt display behavour of win and lose similar to other placements
  stylesheets/commons/Prizepooltable.less
Labels: c: prize_pool, stylesheets

#5261 feat(match2): Change `team` to `participant` on BR/FFA tables
  components/match2/commons/match_summary_base_ffa.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
Labels: c: match2

#5257 fix(match2): several issues from #5210
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/artifact/match_group_input_custom.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/hearthstone/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/honorofkings/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/honorofkings/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/paladins/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/smash/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldofwarcraft/match_group_input_custom.lua
Labels: c: match2, g: brawl stars, g: clashroyale, g: fighters, g: omegastrikers

#5262 feat(match2): don't show countdowns for empty dates on FFA/BR
  components/match2/commons/match_group_util.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_game_countdown.lua
Labels: c: match2

#5266 feat(match2): add support for arena in Apex
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_summary.lua
Labels: c: match2, g: apex

#5269 fix(match2): import loop on stormgate
  components/match2/wikis/stormgate/match_group_util_custom.lua
Labels: c: match2, g: stormgate

#5185 feat(Infobox): add Character for Marvel Rivals
  components/infobox/wikis/marvelrivals/infobox_character_custom.lua
Labels: c: infobox, g: marvelrivals

#5221 feat(match2): always populate game and match dates
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
Labels: c: match2

#5271 fix(match2): typo in record parsing
  components/match2/commons/match_group_util.lua
  definitions/liquipedia_db.lua
Labels: c: match2

#5270 chore: fix misspelling of Gran Turismo Sport
  standard/info/wikis/simracing/info.lua
Labels: g: simracing

#5265 feat(match2): on FFA, hide Navigation Button if there's only 1 Match
  components/match2/commons/match_group_display_horizontallist.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
  stylesheets/commons/BattleRoyale/NavigationTabs.less
Labels: c: match2

#5272 feat(match2): create m2->m1 mapping for tft
  components/match2/wikis/tft/match_legacy.lua
Labels: c: match2, g: tft

#5275 feat(match2): add support for trackmania FFA
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/trackmania/brkts_wiki_specific.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_summary_ffa.lua
Labels: c: match2, g: trackmania

#5273 feat(match2): standardize aoe's match parsing
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
Labels: c: match2, g: ageofempires

#5274 feat(match2): support FFA on AoE
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/ageofempires/match_summary_ffa.lua
Labels: c: match2, g: ageofempires

#5277 feat(match2): add civ display on AoE FFA
  components/match2/commons/game_summary.lua
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/match_summary_base_ffa.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/opponent/wikis/ageofempires/player_display_custom.lua
Labels: c: match2, g: ageofempires

#5278 feat(match2): Add non-BR support for PUBG Mobile
  components/match2/wikis/pubgmobile/match_group_input_custom.lua
  components/match2/wikis/pubgmobile/match_summary.lua
Labels: c: match2, g: pubgmobile

#5259 fix(match2): handle game links with interruptions
  components/match2/commons/match_summary_base.lua
Labels: c: match2

#5217 feat(match2): Handle submatch/subgroup on hearthstone
  components/match2/wikis/hearthstone/brkts_wiki_specific.lua
  components/match2/wikis/hearthstone/match_group_input_custom.lua
  components/match2/wikis/hearthstone/match_group_util_custom.lua
  components/match2/wikis/hearthstone/match_summary.lua
Labels: c: match2, g: hearthstone

#5280 chore(match2): Remove the remaining usage of deprecated match2/match2game fields
  components/infobox/wikis/starcraft/infobox_person_player_custom.lua
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
  components/match2/wikis/clashroyale/match_summary.lua
Labels: g: starcraft, c: infobox, c: match2, chore, g: broodwar, g: clashroyale

#5279 feat(match2): Bracket support for Fortnite copypaste
  components/match2/wikis/fortnite/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: fortnite

#5282 feat(match2): support hearthstone ffa
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/hearthstone/match_group_input_custom.lua
  components/match2/wikis/hearthstone/match_summary_ffa.lua
  components/opponent/commons/opponent_display.lua
Labels: c: match2, g: hearthstone

#5286 feat: add national tiertype on dota2
  standard/tier/wikis/dota2/tier_data.lua
Labels: c: standard, g: dota2, data

#5285 fix(match2): missing nil catch in submatch check
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
  components/match2/wikis/stormgate/match_group_util_custom.lua
  components/match2/wikis/warcraft/match_group_util_custom.lua
Labels: g: starcraft, c: match2, g: warcraft, g: stormgate

#5289 feat(match2): support ffa on warcraft
  components/match2/wikis/warcraft/game_summary.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_summary_ffa.lua
Labels: c: match2, g: warcraft

#5288 chore(CountryRepresentation): cleanup after bot runs
  components/country_representation/commons/country_representation.lua
Labels: chore

#5292 fix(match2): wrong table used to call function from on wc3
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: c: match2, g: warcraft

#5295 feat: support FFA/BR events in Match Ticker
  components/match_ticker/commons/match_ticker_display_components_new.lua
Labels: c: match_ticker

#5303 feat: Opponent-hover darkmode support
  stylesheets/commons/Brackets.less
  stylesheets/commons/OpponentList.less
Labels: stylesheets

#5297 feat: make Smash infobox colors dark-mode compatible
  stylesheets/commons/Infobox.less
Labels: c: infobox, stylesheets

#5300 feat(match2): Include round scores in fighters generators
  components/match2/wikis/fighters/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: fighters

#5188 feat(match2) Allow to disregard transfer dates for players of team
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
Labels: g: valorant, c: match2

#5134 feat(matchTable): support redirected pages that are not set in the team templates
  components/match_table/commons/match_table.lua
Labels: c: match_table

#5299 feat(tier): Remove multiple legacy tiers
  standard/tier/wikis/artifact/tier_data.lua
  standard/tier/wikis/freefire/tier_data.lua
  standard/tier/wikis/heroes/tier_data.lua
  standard/tier/wikis/simracing/tier_data.lua
  standard/tier/wikis/squadrons/tier_data.lua
  standard/tier/wikis/teamfortress/tier_data.lua
Labels: c: standard, g: freefire, g: teamfortress, g: heroes, g: simracing, g: artifact, g: squadrons

#5310 feat(match2): do not show skipped games on lol
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: c: match2, g: leagueoflegends

#5312 feat(mainpage): Main page redesign for PUBG Mobile
  components/filter_buttons/wikis/pubgmobile/filter_buttons_config.lua
  components/main_page/wikis/pubgmobile/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: pubgmobile

#5283 feat(match2): add more options on LoL copy-paste generator
  components/match2/wikis/leagueoflegends/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: leagueoflegends

#5301 feat(mainpage): Standardize PUBG main page
  components/filter_buttons/wikis/pubg/filter_buttons_config.lua
  components/main_page/wikis/pubg/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: pubg

#5132 feat(match2): change "Missing tournament context" to different category in user space
  components/match2/commons/match_group_base.lua
Labels: c: match2

#5314 feat(mainpage): Standardize Halo main page
  components/filter_buttons/wikis/halo/filter_buttons_config.lua
  components/main_page/wikis/halo/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: halo

#5302 feat(mainpage): Standardize LoL main page
  components/filter_buttons/wikis/leagueoflegends/filter_buttons_config.lua
  components/main_page/wikis/leagueoflegends/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: leagueoflegends

#5320 perf: improve memory performance of match ticker
  components/match_ticker/commons/match_ticker.lua
Labels: c: match_ticker

#5331 chore: fix false positive hard-coded color
  components/main_page/wikis/leagueoflegends/main_page_layout_data.lua
  components/main_page/wikis/pubgmobile/main_page_layout_data.lua
Labels: chore, c: main_page

#5334 chore: rename MatchOpponentHelper and de-deprecate it
  components/match2/commons/match_group_legacy_util.lua
  components/match2/commons/match_opponent_helper.lua
  components/match2/wikis/ageofempires/match_legacy.lua
  components/match2/wikis/arenafps/match_legacy.lua
  components/match2/wikis/artifact/match_legacy.lua
  components/match2/wikis/battalion/match_legacy.lua
  components/match2/wikis/brawlhalla/match_legacy.lua
  components/match2/wikis/brawlstars/match_legacy.lua
  components/match2/wikis/callofduty/match_legacy.lua
  components/match2/wikis/counterstrike/match_legacy.lua
  components/match2/wikis/criticalops/match_legacy.lua
  components/match2/wikis/crossfire/match_legacy.lua
  components/match2/wikis/dota2/match_legacy.lua
  components/match2/wikis/easportsfc/match_legacy.lua
  components/match2/wikis/fighters/match_legacy.lua
  components/match2/wikis/halo/match_legacy.lua
  components/match2/wikis/hearthstone/match_legacy.lua
  components/match2/wikis/heroes/match_legacy.lua
  components/match2/wikis/honorofkings/match_legacy.lua
  components/match2/wikis/leagueoflegends/match_legacy.lua
  components/match2/wikis/mobilelegends/match_legacy.lua
  components/match2/wikis/overwatch/match_legacy.lua
  components/match2/wikis/paladins/match_legacy.lua
  components/match2/wikis/pokemon/match_legacy.lua
  components/match2/wikis/rainbowsix/match_legacy.lua
  components/match2/wikis/rocketleague/match_legacy.lua
  components/match2/wikis/runeterra/match_legacy.lua
  components/match2/wikis/sideswipe/match_legacy.lua
  components/match2/wikis/smash/match_legacy.lua
  components/match2/wikis/splatoon/match_legacy.lua
  components/match2/wikis/squadrons/match_legacy.lua
  components/match2/wikis/starcraft/match_legacy.lua
  components/match2/wikis/teamfortress/match_legacy.lua
  components/match2/wikis/tetris/match_legacy.lua
  components/match2/wikis/trackmania/match_legacy.lua
  components/match2/wikis/valorant/match_legacy.lua
  components/match2/wikis/warcraft/match_legacy.lua
  components/match2/wikis/wildrift/match_legacy.lua
  components/match2/wikis/zula/match_legacy.lua
Labels: c: match2

#5332 feat(gameTable): deadlock support
  components/game_table/deadlock/game_table_character_custom.lua
Labels: c: match_table, g: deadlock

#5323 feat: support for the curated option for the new main pages
  components/filter_buttons/filter_buttons.lua
  components/match_ticker/commons/match_ticker.lua
  components/tournament/tournament.lua
  components/widget/tournaments/widget_tournaments_ticker.lua
  standard/i18n_data.lua
Labels: c: main_page

#5219 feat: new mainpage for deadlock
  components/components/filter_buttons/wikis/deadlock/filter_buttons_config.lua
  components/main_page/wikis/deadlock/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: deadlock, c: main_page

#5336 feat(mainpage): new Hearthstone main page
  components/filter_buttons/wikis/hearthstone/filter_buttons_config.lua
  components/main_page/wikis/hearthstone/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: hearthstone

#5337 ci(deploy): remove deploy to dev-wikis
  .github/workflows/deploy.yml
  .github/workflows/scheduled.yml
  scripts/deploy.sh
Labels: CI/CD

#5341 feat: change standings to look on started rather than finished to determine rounds to show
  components/standings/commons/standings.lua
  components/widget/standings/widget_standings_ffa.lua
Labels: c: standings

#5342 feat: save/load standings via wiki-vars in addition to lpdb
  components/standings/commons/standings.lua
  components/standings/commons/standings_storage.lua
Labels: c: standings

#5343 feat: update gamedata on arenafps
  standard/info/wikis/arenafps/info.lua
Labels: c: standard, g: arenafps

#5345 feat(match2): Handle 2 opponents in pubg
  components/match2/wikis/pubg/match_group_input_custom.lua
  components/match2/wikis/pubg/match_summary.lua
Labels: c: match2, g: pubg

#5344 feat: throw proper error on unsupported TZ in the match table
  components/match_table/commons/match_table.lua
Labels: c: match_table

#5316 feat(infobox): create custom item infobox for stormgate
  components/infobox/wikis/stormgate/infobox_item_custom.lua
Labels: g: stormgate

#5340 feat(Infobox): Update unit and building infobox on stormgate regarding subfaction data (part 2)
  components/infobox/wikis/stormgate/infobox_building_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
  standard/icon_data.lua
Labels: g: stormgate

#5347 chore(tier): Remove WoW/ArenaFPS tier data
  standard/tier/wikis/arenafps/tier_data.lua
  standard/tier/wikis/worldofwarcraft/tier_data.lua
Labels: chore, g: worldofwarcraft, g: arenafps, data

#5348 feat(match2): add darkmode support to link icons on matchPages
  components/match2/wikis/dota2/match_page_template.lua
  components/match2/wikis/leagueoflegends/match_page_template.lua
Labels: c: match2

#5349 chore(tier): Remove more legacy tier data
  standard/tier/wikis/battlerite/tier_data.lua
  standard/tier/wikis/crossfire/tier_data.lua
  standard/tier/wikis/magic/tier_data.lua
  standard/tier/wikis/runeterra/tier_data.lua
  standard/tier/wikis/underlords/tier_data.lua
Labels: chore, g: runeterra, g: crossfire, g: magic, g: battlerite, data, g: underlords

#5355 feat: add missing flag entries
  standard/flags_master_data.lua
Labels: c: standard, data

#5356 feat(mainpage): new ArenaFPS main page
  components/filter_buttons/wikis/arenafps/filter_buttons_config.lua
  components/main_page/wikis/arenafps/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: arenafps

#5350 feat: update link for transfer edits on halo
  components/main_page/wikis/halo/main_page_layout_data.lua
Labels: g: halo, c: main_page

#5357 feat(mainpage): new Fortnite main page
  components/filter_buttons/wikis/fortnite/filter_buttons_config.lua
  components/main_page/wikis/fortnite/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: fortnite, c: main_page

#5351 feat(standard): remove template fallback in flags
  spec/flags_spec.lua
  standard/flags.lua
Labels: c: standard

#5354 feat: standardize ffa standings parsing
  components/standings/commons/standings.lua
  components/standings/commons/standings_parse_wiki.lua
  components/standings/commons/standings_parser.lua
  components/standings/commons/standings_storage.lua
  components/standings/commons/standings_table.lua
  components/widget/standings/widget_standings_ffa.lua
Labels: c: standings

#5361 feat: add leagueid to dota2 lpdb storage
  components/infobox/wikis/dota2/infobox_league_custom.lua
Labels: c: infobox, g: dota2

#5363 feat(mainpage): Add news and stats navcards to LoL mainpage
  components/main_page/wikis/leagueoflegends/main_page_layout_data.lua
Labels: g: leagueoflegends, c: main_page

#5364 fix(match2): all players shown in each game on fifa team games
  components/match2/wikis/easportsfc/match_summary.lua
Labels: c: match2, g: easportsfc

#5362 feat: add Latin America flag
  standard/flags_master_data.lua
Labels: data

#5359 feat: Add option to link to a subpage in match table
  components/match_table/commons/match_table.lua
Labels: c: match_table

#5358 fix: Set batch limit when querying in match table
  components/match_table/commons/match_table.lua
Labels: c: match_table

#5243 feat: change var for bg-first
  stylesheets/commons/Colours.less
Labels: stylesheets

#5338 feat(match2): store further date props in game extradata
  components/match2/commons/match.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/ageofempires/match_group_input_custom.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/artifact/match_group_input_custom.lua
  components/match2/wikis/autochess/match_group_input_custom.lua
  components/match2/wikis/battalion/match_group_input_custom.lua
  components/match2/wikis/battlerite/match_group_input_custom.lua
  components/match2/wikis/brawlhalla/match_group_input_custom.lua
  components/match2/wikis/brawlstars/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/clashofclans/match_group_input_custom.lua
  components/match2/wikis/clashroyale/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/criticalops/match_group_input_custom.lua
  components/match2/wikis/crossfire/match_group_input_custom.lua
  components/match2/wikis/deadlock/match_group_input_custom.lua
  components/match2/wikis/dota2/match_group_input_custom.lua
  components/match2/wikis/easportsfc/match_group_input_custom.lua
  components/match2/wikis/fighters/match_group_input_custom.lua
  components/match2/wikis/fortnite/match_group_input_custom.lua
  components/match2/wikis/freefire/match_group_input_custom.lua
  components/match2/wikis/geoguessr/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/hearthstone/match_group_input_custom.lua
  components/match2/wikis/heroes/match_group_input_custom.lua
  components/match2/wikis/honorofkings/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/magic/match_group_input_custom.lua
  components/match2/wikis/marvelrivals/match_group_input_custom.lua
  components/match2/wikis/mobilelegends/match_group_input_custom.lua
  components/match2/wikis/naraka/match_group_input_custom.lua
  components/match2/wikis/omegastrikers/match_group_input_custom.lua
  components/match2/wikis/osu/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/paladins/match_group_input_custom.lua
  components/match2/wikis/pokemon/match_group_input_custom.lua
  components/match2/wikis/pubg/match_group_input_custom.lua
  components/match2/wikis/pubgmobile/match_group_input_custom.lua
  components/match2/wikis/rainbowsix/match_group_input_custom.lua
  components/match2/wikis/rocketleague/match_group_input_custom.lua
  components/match2/wikis/sideswipe/match_group_input_custom.lua
  components/match2/wikis/smash/match_group_input_custom.lua
  components/match2/wikis/smite/match_group_input_custom.lua
  components/match2/wikis/splatoon/match_group_input_custom.lua
  components/match2/wikis/splitgate/match_group_input_custom.lua
  components/match2/wikis/stormgate/match_group_input_custom.lua
  components/match2/wikis/teamfortress/match_group_input_custom.lua
  components/match2/wikis/tetris/match_group_input_custom.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/underlords/match_group_input_custom.lua
  components/match2/wikis/valorant/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/wildrift/match_group_input_custom.lua
  components/match2/wikis/worldoftanks/match_group_input_custom.lua
  components/match2/wikis/worldofwarcraft/match_group_input_custom.lua
  components/match2/wikis/zula/match_group_input_custom.lua
Labels: c: match2

#5366 feat: automatically import ffa standings from matches
  components/standings/commons/standings_parse_lpdb.lua
  components/standings/commons/standings_parse_wiki.lua
  components/standings/commons/standings_parser.lua
  components/standings/commons/standings_table.lua
  standard/lpdb.lua
Labels: c: standings

#5368 fix: error handling and typo on ffa standings
  components/standings/commons/standings.lua
  components/standings/commons/standings_parse_lpdb.lua
  components/standings/commons/standings_table.lua
Labels: c: standings

#5370 fix(match2): match vod not showing on lol match pages
  components/match2/wikis/leagueoflegends/match_page.lua
Labels: c: match2, g: leagueoflegends

#5367 feat: legacy support for ffa standings on apex
  components/standings/commons/standings_parse_wiki.lua
  components/standings/commons/standings_parser.lua
  components/standings/wikis/apexlegends/standings_table_legacy_ffa.lua
  components/widget/standings/widget_standings_ffa.lua
Labels: g: apex, c: standings

#5375 feat(match2): show ffa display if > 2 opponents and matchlist on trackmania
  components/match2/wikis/trackmania/brkts_wiki_specific.lua
Labels: c: match2, g: trackmania

#5373 feat: remove of unused games for worldoftanks
  standard/info/wikis/worldoftanks/info.lua
Labels: g: worldoftanks, data

#5372 fix(mvpTable): `Category:Pages with underscore team templates` gets set in some cases
  components/mvp_table/commons/mvp_table.lua
Labels: c: mvp_table

#5377 feat(tier): align halo's FFA shortname to tiertype
  standard/tier/wikis/halo/tier_data.lua
Labels: c: standard, g: halo

#5376 fix: CrossFire text capitalization
  standard/info/wikis/crossfire/info.lua
Labels: c: standard, g: crossfire

#5166 feat: add bluesky to infoboxes
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
  stylesheets/commons/Icons.less
Labels: c: standard, stylesheets

#5267 feat: add chess
  standard/info/wikis/chess/info.lua
Labels: c: standard, g: chess

#5360 feat(Infobox): add Infobox League for Chess
  components/infobox/wikis/chess/infobox_league_custom.lua
Labels: c: infobox, g: chess

#5103 feat(transfers): Add new type to support tournament leave
  components/transfer/commons/transfer_references.lua
Labels: c: transfer

#5381 feat: legacy support for ffa standings on pubgm
  components/standings/commons/standings_parse_wiki.lua
  components/standings/commons/standings_parser.lua
  components/standings/commons/standings_table.lua
  components/standings/wikis/pubgmobile/standings_table_legacy_ffa.lua
Labels: c: standings, g: pubgmobile

#5382 feat: legacy support for ffa standings on pubg
  components/standings/wikis/pubg/standings_table_legacy_ffa.lua
Labels: g: pubg, c: standings

#5388 feat(standings): improve party opponent support in ffa standings
  components/standings/commons/standings_parse_wiki.lua
  components/standings/wikis/pubg/standings_table_legacy_ffa.lua
  components/standings/wikis/pubgmobile/standings_table_legacy_ffa.lua
Labels: c: standings

#5385 feat: separate variants and time controls on chess infobox league
  components/infobox/wikis/chess/infobox_league_custom.lua
  standard/info/wikis/chess/info.lua
Labels: c: infobox, g: chess

#5390 feat: legacy ffa standings support for freefire
  components/standings/commons/legacy/standings_table_legacy_ffa.lua
  components/standings/wikis/apexlegends/standings_table_legacy_ffa.lua
  components/standings/wikis/pubg/standings_table_legacy_ffa.lua
Labels: c: standings, g: freefire

#5386 feat(Infobox): Update Skill Infobox for Stormgate to properly display subfaction casters
  components/infobox/commons/infobox_skill.lua
  components/infobox/wikis/stormgate/infobox_building_custom.lua
  components/infobox/wikis/stormgate/infobox_skill_custom.lua
  components/infobox/wikis/stormgate/infobox_unit_custom.lua
  standard/icon_data.lua
Labels: c: infobox, g: stormgate
