Repository Liquipedia/Lua-Modules, pull requests merged in 2025-03, with the labels that each got.

#5529 docs: fix incorrect return type anno for Panel
  components/widget/misc/widget_panel.lua
Labels: documentation

#5534 docs: fix spelling mistakes in Array documentation
  standard/array.lua
Labels: documentation, c: standard

#5535 fix(infobox): userspace errors on sc2 infobox player
  components/infobox/wikis/starcraft2/infobox_person_player_custom.lua
Labels: g: starcraft, c: infobox

#5536 refactor(match2): standardize ffa opponent code generation
  components/match2/commons/get_match_group_copy_paste_wiki_base.lua
  components/match2/wikis/apexlegends/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/arenafps/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/autochess/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/callofduty/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/fortnite/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/freefire/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/halo/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/naraka/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/pubg/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/pubgmobile/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/tft/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/underlords/get_match_group_copy_paste_wiki.lua
Labels: c: match2

#5527 refactor(mainpage): header banner into widget
  components/main_page/commons/main_page_layout.lua
Labels: c: main_page

#5540 chore(infobox): fix spelling in CellWidgetOptions
  components/infobox/wikis/dota2/infobox_cosmetic_custom.lua
  components/widget/infobox/widget_infobox_cell.lua
Labels: c: infobox, chore

#5538 feat(Infobox): Infobox League for War Thunder
  components/infobox/wikis/warthunder/infobox_league_custom.lua
Labels: c: infobox, g: warthunder

#5545 feat: add support for FIDE tournament links and Chess-Results links
  standard/links/commons/links.lua
  standard/links/commons/links_priority_groups.lua
  stylesheets/commons/Icons.less
Labels: c: standard, data

#5548 refactor(infobox): move regional distribution in unofficial world champions to commons
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/wikis/leagueoflegends/infobox_unofficial_world_champion_custom.lua
  components/infobox/wikis/overwatch/infobox_unofficial_world_champion_custom.lua
Labels: c: infobox, g: overwatch, g: leagueoflegends

#5539 refactor(mainpage): filter buttons into widgets
  components/filter_buttons/commons/filter_buttons.lua
  components/main_page/wikis/apexlegends/main_page_layout_data.lua
  components/main_page/wikis/arenafps/main_page_layout_data.lua
  components/main_page/wikis/brawlstars/main_page_layout_data.lua
  components/main_page/wikis/deadlock/main_page_layout_data.lua
  components/main_page/wikis/dota2/main_page_layout_data.lua
  components/main_page/wikis/fortnite/main_page_layout_data.lua
  components/main_page/wikis/halo/main_page_layout_data.lua
  components/main_page/wikis/hearthstone/main_page_layout_data.lua
  components/main_page/wikis/leagueoflegends/main_page_layout_data.lua
  components/main_page/wikis/marvelrivals/main_page_layout_data.lua
  components/main_page/wikis/overwatch/main_page_layout_data.lua
  components/main_page/wikis/pubg/main_page_layout_data.lua
  components/main_page/wikis/pubgmobile/main_page_layout_data.lua
  components/main_page/wikis/rainbowsix/main_page_layout_data.lua
  components/main_page/wikis/valorant/main_page_layout_data.lua
  components/widget/filter_buttons/widget_filter_buttons.lua
  components/widget/filter_buttons/widget_filter_buttons_button.lua
  components/widget/filter_buttons/widget_filter_buttons_row.lua
Labels: c: main_page

#5530 refactor(mainpage): grid into widget
  components/main_page/commons/main_page_layout.lua
  components/main_page/wikis/leagueoflegends/main_page_layout_data.lua
  components/main_page/wikis/pubg/main_page_layout_data.lua
  components/main_page/wikis/valorant/main_page_layout_data.lua
  components/transfer/commons/transfer_list.lua
  components/widget/grid/widget_grid.lua
  components/widget/grid/widget_grid_cell.lua
  components/widget/grid/widget_grid_container.lua
  components/widget/main_page/widget_main_page_center_dot.lua
  components/widget/main_page/widget_main_page_transfers_list.lua
  components/widget/misc/widget_panel.lua
Labels: g: valorant, g: pubg, g: leagueoflegends, c: main_page

#5553 fix(infobox): missing nil catch in weapon infobox
  components/infobox/commons/infobox_weapon.lua
Labels: c: infobox

#5551 refactor(mainpage): rewrite this day components as widgets
  components/main_page/wikis/leagueoflegends/main_page_layout_data.lua
  components/main_page/wikis/pubg/main_page_layout_data.lua
  components/widget/main_page/widget_main_page_this_day.lua
  components/widget/main_page/widget_main_page_this_day_content.lua
  components/widget/main_page/widget_main_page_this_day_title.lua
Labels: c: main_page

#5544 feat(Infobox): add Wildcard Character
  components/infobox/wikis/wildcard/infobox_character_custom.lua
Labels: c: infobox, g: wildcard

#5555 revert: feat(infobox): remove staff sections in infobox team
  components/infobox/commons/infobox_team.lua
  components/infobox/extensions/commons/role_of.lua
  components/infobox/wikis/apexlegends/infobox_team_custom.lua
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/infobox/wikis/freefire/infobox_team_custom.lua
  components/infobox/wikis/heroes/infobox_team_custom.lua
  components/infobox/wikis/honorofkings/infobox_team_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/pubgmobile/infobox_team_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
  components/infobox/wikis/teamfortress/infobox_team_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
  components/infobox/wikis/wildrift/infobox_team_custom.lua
Labels: c: infobox

#5558 feat: update order of nav cards on Marvel Rival's mainpage
  components/main_page/wikis/marvelrivals/main_page_layout_data.lua
Labels: g: marvelrivals, c: main_page

#5557 feat: handle uppercase mode names in osu notability checker
  components/notability/wikis/osu/notability_checker_config.lua
Labels: c: notability, g: osu

#5563 fix(infobox): lpdb field/data inconsistent with valorant weapons infobox params
  components/infobox/wikis/valorant/infobox_weapon_custom.lua
Labels: g: valorant, c: infobox

#5427 feat(opponent): Advanced filter and return for team history in Player/Ext
  components/opponent/commons/player_ext.lua
  components/opponent/wikis/rocketleague/player_ext_custom.lua
Labels: c: opponent

#5560 ci: annotate test results for pull requests from forks
  .github/workflows/luacheck.yml
Labels: CI/CD

#5451 feat(mainpage): new Starcraft II main page
  components/filter_buttons/wikis/starcraft2/filter_buttons_config.lua
  components/main_page/wikis/starcraft2/main_page_layout_data.lua
  standard/date_ext.lua
  stylesheets/commons/Banner.less
Labels: g: starcraft, c: main_page

#5571 chore: kick now unused FilterButtons module
  components/filter_buttons/commons/filter_buttons.lua
Labels: chore, c: filter_buttons

#5567 feat(standard): implement name order logic
  components/infobox/commons/infobox_person.lua
  spec/name_order_spec.lua
  standard/name_order.lua
Labels: c: standard

#5570 refactor(mainpage): load Lua directly from mainpage layout data
  components/main_page/wikis/apexlegends/main_page_layout_data.lua
  components/main_page/wikis/arenafps/main_page_layout_data.lua
  components/main_page/wikis/brawlstars/main_page_layout_data.lua
  components/main_page/wikis/deadlock/main_page_layout_data.lua
  components/main_page/wikis/dota2/main_page_layout_data.lua
  components/main_page/wikis/fortnite/main_page_layout_data.lua
  components/main_page/wikis/halo/main_page_layout_data.lua
  components/main_page/wikis/hearthstone/main_page_layout_data.lua
  components/main_page/wikis/marvelrivals/main_page_layout_data.lua
  components/main_page/wikis/overwatch/main_page_layout_data.lua
  components/main_page/wikis/pubgmobile/main_page_layout_data.lua
  components/main_page/wikis/rainbowsix/main_page_layout_data.lua
Labels: c: main_page

#5575 feat(mainpage): use local version of transfer input form if available
  components/widget/main_page/widget_main_page_transfers_list.lua
Labels: c: main_page

#5550 feat(Infobox): Infobox Map for War Thunder
  components/infobox/wikis/warthunder/infobox_map_custom.lua
Labels: c: infobox, g: warthunder

#5576 refactor(mainpage): convert html strings to widgets in dota2 mainpage
  components/main_page/wikis/dota2/main_page_layout_data.lua
  standard/icon_data.lua
Labels: g: dota2, c: main_page

#5578 fix(infobox): broken deploy header in warthunder map infobox
  components/infobox/wikis/warthunder/infobox_map_custom.lua
Labels: c: infobox, chore, g: warthunder

#5585 feat(standard): add TeamTemplate util functions
  standard/team_template.lua
Labels: c: standard

#5589 docs: add documentation to Array.flatMap and Array.parseCommaSeparatedString
  standard/array.lua
Labels: documentation, c: standard

#5588 fix(filter): Add missing entries to region mapping on Valorant
  components/filter_buttons/wikis/valorant/filter_buttons_config.lua
Labels: g: valorant, c: main_page

#5559 feat(infobox): automatically include achievements in player and team infoboxes
  components/infobox/extensions/commons/infobox_extension_achievements.lua
  components/infobox/wikis/fortnite/infobox_person_player_custom.lua
  components/infobox/wikis/fortnite/infobox_team_custom.lua
Labels: c: infobox, g: fortnite

#5581 feat: Add option showRoundStats to MatchTable
  components/match_table/commons/match_table.lua
Labels: c: match_table

#5438 feat: add support for multiple time controls on chess
  components/infobox/wikis/chess/infobox_league_custom.lua
Labels: c: infobox, g: chess

#5577 feat: Add custom match table on CS
  components/match_table/wikis/counterstrike/match_table_custom.lua
Labels: g: counter-strike, c: match_table

#5590 feat(infobox): LPDB data point for RL unofficial world champion infobox
  components/infobox/commons/infobox_unofficial_world_champion.lua
  components/infobox/wikis/rocketleague/infobox_unofficial_world_champion_custom.lua
Labels: c: infobox

#5592 feat(notability checker): add missing notability checker config for overwatch and add newly created notability checker config for marvelrivals
  components/notability/wikis/marvelrivals/notablity_checker_config.lua
  components/notability/wikis/overwatch/notability_checker_config.lua
Labels: c: notability, g: overwatch, g: marvelrivals

#5593 feat: Add tracking category for limited match pages
  components/match_table/commons/match_table.lua
Labels: c: match_table

#5597 feat(infobox): remove staff section on sc2 infobox team
  components/infobox/wikis/starcraft2/infobox_team_custom.lua
Labels: g: starcraft, c: infobox

#5556 feat(infobox): remove lpdb storage of deprecated infobox team fields
  components/infobox/commons/infobox_team.lua
  components/infobox/extensions/commons/role_of.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
Labels: c: infobox

#5599 ci: fix files pattern
  .github/workflows/deploy test.yml
  .github/workflows/deploy.yml
Labels: CI/CD

#5610 docs: add instructions for ubuntu and neovim
  README.md
Labels: documentation

#5603 feat: Allow to filter match table by type
  lua/wikis/commons/MatchTable.lua
Labels: c: match_table

#5552 feat(mainpage): new TFT main page
  lua/wikis/tft/FilterButtons/Config.lua
  lua/wikis/tft/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: tft, c: main_page

#5612 chore: add blame ignore to the restructuring commits
  .git-blame-ignore-revs
Labels: chore

#5613 chore(mainpage): normalize line endings
  lua/wikis/tft/FilterButtons/Config.lua
  lua/wikis/tft/MainPageLayout/data.lua
Labels: chore, g: tft, c: main_page

#5611 feat: update MLBB logo
  lua/wikis/mobilelegends/Info.lua
Labels: g: mobilelegends, data

#5606 chore: drop the `/Ffa` from sc(2) gamesummary module name
  lua/wikis/commons/GameSummary/Starcraft.lua
  lua/wikis/starcraft/GameSummary.lua
  lua/wikis/starcraft2/GameSummary.lua
Labels: g: starcraft, c: match2, chore

#5614 feat: map more countries to APAC on TFT's main page
  lua/wikis/tft/FilterButtons/Config.lua
Labels: g: tft, c: main_page

#5615 fix: Make enddate inclusive on matchtable
  lua/wikis/commons/MatchTable.lua
Labels: c: match_table

#5620 feat(match2): Artifact Bracket Legacy Wrapper
  lua/wikis/artifact/MatchGroup/Legacy/Default.lua
Labels: c: match2, g: artifact

#5608 feat(match2): change gamenoun used in substitute comment
  lua/wikis/commons/MatchSummary/Base.lua
  lua/wikis/counterstrike/Info.lua
Labels: c: match2

#5621 chore: nuke sc2 LegacyPlayerCrossTable
  lua/wikis/starcraft2/LegacyPlayerCrossTable.lua
Labels: g: starcraft, c: match2

#5623 feat(match): Legacy wrappers for runeterra
  lua/wikis/runeterra/MatchGroup/Legacy/Default.lua
Labels: c: match2, g: runeterra

#5630 feat: add another region mapping for valorant
  lua/wikis/valorant/FilterButtons/Config.lua
Labels: g: valorant, c: filter_buttons, c: main_page

#5625 feat(match2): legacy wrappers for wow
  lua/wikis/ageofempires/MatchGroup/Legacy/Default.lua
  lua/wikis/battalion/Match/Legacy.lua
  lua/wikis/commons/MatchGroup/Legacy.lua
  lua/wikis/worldofwarcraft/MatchGroup/Legacy/Default.lua
  lua/wikis/worldofwarcraft/MatchGroup/Legacy/MatchList.lua
Labels: c: match2, g: worldoftanks

#5520 feat(standings): tiebreak resolving support
  lua/wikis/commons/Array.lua
  lua/wikis/commons/Standings/Parse/Lpdb.lua
  lua/wikis/commons/Standings/Parse/Wiki.lua
  lua/wikis/commons/Standings/Parser.lua
  lua/wikis/commons/Standings/Table.lua
  lua/wikis/commons/Standings/Tiebreaker/Buchholz.lua
  lua/wikis/commons/Standings/Tiebreaker/Factory.lua
  lua/wikis/commons/Standings/Tiebreaker/Interface.lua
  lua/wikis/commons/Standings/Tiebreaker/Manual.lua
  lua/wikis/commons/Standings/Tiebreaker/Match/Diff.lua
  lua/wikis/commons/Standings/Tiebreaker/Points.lua
  lua/wikis/commons/StringUtils.lua
Labels: c: standings

#5628 fix(MatchTicker): Use correct FilterButtonCategory field
  lua/wikis/commons/Widget/Match/Ticker/Container.lua
Labels: c: match_ticker

#5634 feat(match2): Legacy wrappers for battalion
  lua/wikis/battalion/MatchGroup/Legacy/Default.lua
  lua/wikis/battalion/MatchGroup/Legacy/MatchList.lua
Labels: c: match2, g: battalion

#5638 fix: Make BR date section not span over infobox
  stylesheets/commons/Brackets.less
Labels: c: match2

#5635 fix(StandingsFfa): Mobile overflow issue with round button
  lua/wikis/commons/Widget/Standings/Ffa.lua
  stylesheets/commons/Standings.less
Labels: c: standings

#5641 fix(StandingsFfa): wrong css selector
  stylesheets/commons/Standings.less
Labels: c: standings

#5637 feat: Drop dependency on MainPageTicker templates
  lua/wikis/commons/MatchTicker/Custom.lua
  lua/wikis/commons/Widget/Match/Ticker/Container.lua
Labels: c: match_ticker, c: main_page

#5640 feat: Support games filter in match ticker
  lua/wikis/commons/MatchTicker.lua
Labels: c: match_ticker

#5644 fix(GameSummary): Removed flex-basis to fit icon and content on the same row on mobile
  stylesheets/commons/BattleRoyale/Panel.less
Labels: c: match2

#5645 feat: Allow custom limit on match ticker container
  lua/wikis/commons/Widget/Match/Ticker/Container.lua
Labels: c: match_ticker

#5646 feat(infobox): Set specialRoles=true for TeamHistoryAuto on valorant
  lua/wikis/valorant/Infobox/Person/Player/Custom.lua
Labels: g: valorant, c: infobox

#5653 fix: Add trailing slash for bluesky link prefix
  lua/wikis/commons/Links.lua
Labels: c: standard

#5651 feat(infobox): Expose THA special roles flag to infobox args on valorant
  lua/wikis/valorant/Infobox/Person/Player/Custom.lua
Labels: g: valorant, c: infobox

#5659 fix(prizepool): ppt incompatible with existing fighters leaderboards
  lua/wikis/fighters/Infobox/League/Custom.lua
  lua/wikis/fighters/PrizePool/Custom.lua
Labels: c: prize_pool, g: fighters

#5648 chore: add extra label pattern in vscode
  .vscode/settings.json
Labels: chore

#5647 fix: Fix defaultItems being nil in MatchTickerContainer
  lua/wikis/commons/Widget/Match/Ticker/Container.lua
Labels: c: match_ticker

#5617 ci: better format deploy script output
  .gitattributes
  .github/workflows/deploy.yml
  .github/workflows/scheduled.yml
  scripts/deploy.sh
  scripts/deploy_res.sh
Labels: CI/CD

#5650 feat(match2): legacy wrappers for trackmania
  lua/wikis/trackmania/MatchGroup/Legacy/Default.lua
  lua/wikis/trackmania/MatchGroup/Legacy/MatchList.lua
Labels: c: match2, g: trackmania

#5661 chore(match2): fix broken deploy header
  lua/wikis/trackmania/MatchGroup/Legacy/Default.lua
Labels: c: match2, chore, g: trackmania

#5662 feat(mainpage): use lpdb query for counting operators in r6 mainpage
  lua/wikis/rainbowsix/MainPageLayout/data.lua
Labels: g: rainbow six, c: main_page

#5636 feat(match2): Legacy wrappers for cr
  lua/wikis/clashroyale/MatchGroup/Input/Custom.lua
  lua/wikis/clashroyale/MatchGroup/Legacy/BMS.lua
  lua/wikis/clashroyale/MatchGroup/Legacy/Default.lua
  lua/wikis/clashroyale/MatchGroup/Legacy/MatchList.lua
  lua/wikis/clashroyale/MatchSummary.lua
  lua/wikis/commons/Array.lua
Labels: c: match2, g: clashroyale

#5663 fix(infobox): missing nil catch in R6 character infobox
  lua/wikis/rainbowsix/Infobox/Character/Custom.lua
Labels: g: rainbow six, c: infobox

#5666 feat: add App to Apex Mainpage
  lua/wikis/apexlegends/MainPageLayout/data.lua
Labels: g: apex, c: main_page

#5665 feat: add app on Deadlock Mainpage
  lua/wikis/deadlock/MainPageLayout/data.lua
Labels: g: deadlock, c: main_page

#5664 feat: add app on LoL Mainpage
  lua/wikis/leagueoflegends/MainPageLayout/data.lua
Labels: g: leagueoflegends, c: main_page

#5667 fix(participantTable): highlight key unresolved
  lua/wikis/ageofempires/ParticipantTable/Custom.lua
  lua/wikis/commons/ParticipantTable/Base.lua
  lua/wikis/commons/ParticipantTable/Starcraft.lua
  lua/wikis/stormgate/ParticipantTable/Custom.lua
  lua/wikis/warcraft/ParticipantTable/Custom.lua
Labels: c: participant_table

#5668 fix(participantTable): imported opponents are not sorted
  lua/wikis/commons/ParticipantTable/Base.lua
Labels: c: participant_table

#5670 chore: delete COD custom tier data
  lua/wikis/callofduty/Tier/Data.lua
Labels: chore, g: callofduty, data

#5671 fix(prizepool): missing 'no circuit defined' catch
  lua/wikis/fighters/PrizePool/Custom.lua
Labels: c: prize_pool, g: fighters

#5675 docs: update type annotations for grid and panel widgets
  lua/wikis/commons/Widget/Grid/Container.lua
  lua/wikis/commons/Widget/Panel.lua
Labels: documentation

#5676 feat: display scores better on fighters' match2
  lua/wikis/fighters/MatchSummary.lua
Labels: c: match2, g: fighters

#5657 feat(mainpage): COD new mainpage
  lua/wikis/callofduty/FilterButtons/Config.lua
  lua/wikis/callofduty/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: callofduty, c: main_page

#5677 feat: unify mobile break points to one value
  stylesheets/commons/BigMatch.less
  stylesheets/commons/Brackets.less
  stylesheets/commons/Mainpage.less
  stylesheets/commons/Miscellaneous.less
  stylesheets/commons/Teamcard.less
Labels: chore, stylesheets

#5633 refactor(infobox): use AutoInlineIcon for creds icon
  lua/wikis/commons/AutoInlineIcon.lua
  lua/wikis/commons/Widget/Image/Icon.lua
  lua/wikis/valorant/Infobox/Weapon/Custom.lua
Labels: g: valorant, c: infobox

#5673 feat(mainpage): add special events panel to marvelrivals mainpage
  lua/wikis/marvelrivals/MainPageLayout/data.lua
Labels: g: marvelrivals, c: main_page

#5654 feat(infobox): Support for mutiple Games on Map Infobox
  lua/wikis/callofduty/Infobox/Map/Custom.lua
Labels: c: infobox, g: callofduty

#5683 docs: fix spelling in WikiCopyPaste.getStart documentation
  lua/wikis/commons/GetMatchGroupCopyPaste/wiki/Base.lua
Labels: documentation, c: match2

#5682 feat(spellcard): larger width for the ru wiki
  stylesheets/commons/Fountain.less
Labels: stylesheets

#5686 fix(mainpage): wrong COD Transfer pages
  lua/wikis/callofduty/MainPageLayout/data.lua
Labels: g: callofduty, c: main_page

#5408 feat: improve sorting the tournament ticker
  lua/spec/operator_spec.lua
  lua/wikis/commons/Operator.lua
  lua/wikis/commons/Widget/Tournaments/Ticker.lua
Labels: c: main_page

#5687 refactor(mainpage): use mainpage match ticker widget in COD mainpage
  lua/wikis/callofduty/MainPageLayout/data.lua
Labels: g: callofduty, c: main_page

#5696 fix(Statistics): Don't limit to past events for ongoing years
  lua/wikis/commons/PortalStatistics.lua
Labels: c: statistics

#5700 feat(Notability): Change B-Tier points to 700 in overwatch
  lua/wikis/overwatch/NotabilityChecker/config.lua
Labels: c: notability, g: overwatch

#5694 fix(MatchTicker): error on ffa matchlists without inherited header
  lua/wikis/commons/MatchTicker/DisplayComponents.lua
Labels: c: match_ticker

#5689 chore: Remove by now unused functionality
  lua/wikis/commons/Lua.lua
  lua/wikis/commons/Match.lua
  lua/wikis/commons/MatchGroup.lua
Labels: chore, c: standard

#5695 feat: Increase Tap Area for Section Header Accordions on new Main Page
  lua/wikis/commons/Widget/Panel.lua
  stylesheets/commons/Panels.less
Labels: c: main_page

#5699 feat(filterButtons): tier type filter buttons for hearthstone
  lua/wikis/hearthstone/FilterButtons/Config.lua
Labels: g: hearthstone, c: filter_buttons

#5709 Additional light/darkmode styling for Facetcard and Aghcard templates
  stylesheets/commons/Fountain.less
Labels: g: dota2, stylesheets

#5710 fix: class naming for Facetcard and Aghcard-related styles
  stylesheets/commons/Fountain.less
Labels: g: dota2, stylesheets

#5707 fix(match2): in FFA view, sorting ignores decimals
  javascript/commons/BattleRoyale.js
Labels: c: match2, javascript

#5713 fix: Aghcard's aghupgShadow hover values for light and dark themes
  stylesheets/commons/Fountain.less
Labels: g: dota2, stylesheets

#5684 feat: implement Comparator.ge and Comparator.le
  lua/spec/condition_spec.lua
  lua/wikis/commons/Condition.lua
  lua/wikis/commons/YearsActive/Base.lua
Labels: c: standard

#5698 feat(infobox): automatically include achievements in LoL team infobox
  lua/wikis/leagueoflegends/Infobox/Team/Custom.lua
Labels: c: infobox, g: leagueoflegends

#5716 feat(mainpage): new HotS main page
  lua/wikis/heroes/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: heroes, c: main_page

#5715 feat: Allow empty ConditionTrees to be added as node to a ConditionTree
  lua/spec/condition_spec.lua
  lua/wikis/commons/Condition.lua
Labels: c: standard

#5717 feat(mainpage): new Free Fire main page
  lua/wikis/freefire/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: freefire, c: main_page

#5724 docs(match2): fix incorrect MatchSummary.createSubstitutesComment documentation
  lua/wikis/commons/MatchSummary/Base.lua
Labels: documentation, c: match2

#5702 fix(match2): vod param in LoL MatchPage map is ignored
  lua/wikis/leagueoflegends/MatchGroup/Input/Custom/MatchPage.lua
Labels: c: match2, g: leagueoflegends

#5669 feat(infobox): create infobox unit for wildcard
  lua/wikis/wildcard/Infobox/Unit/Custom.lua
Labels: c: infobox, g: wildcard

#5720 feat: adjust tier links to handle the World of Tanks / Mir Tankov split
  lua/wikis/worldoftanks/Tier/Custom.lua
Labels: c: standard, g: worldoftanks

#5734 refactor #5712
  lua/wikis/commons/Format/Table.lua
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/Patch/Calendar.lua
  lua/wikis/commons/Patch/Fetch.lua
  lua/wikis/commons/Patch/List.lua
  lua/wikis/commons/Widget/Basic/DataTable.lua
Labels: c: patches

#5739 feat(mainpage): format numbers in nav cards
  lua/wikis/commons/Widget/MainPage/NavigationCard.lua
Labels: c: main_page

#5742 chore: improve settings for the Lua vscode extensions
  .luarc.json
Labels: chore

#5738 feat(notability checker): Update points for brawlstars
  lua/wikis/brawlstars/NotabilityChecker/config.lua
Labels: g: brawl stars, c: notability

#5733 refactor(match2): use standardProcessMaps in leagueoflegends
  lua/wikis/commons/MatchGroup/Input/Util.lua
  lua/wikis/leagueoflegends/MatchGroup/Input/Custom.lua
Labels: c: match2, g: leagueoflegends
