Repository Liquipedia/Lua-Modules, pull requests merged in 2025-06, with the labels that each got.

#5968 fix(match2): round scores are not displayed in valorant match pages on desktop environments
  lua/wikis/valorant/MatchPage.lua
Labels: g: valorant, c: match2

#5957 fix: some components show score with 2 decimal places
  lua/wikis/commons/OpponentDisplay/Starcraft.lua
Labels: g: starcraft, c: opponent

#5974 chore: simplify WantToHelp widget a bit
  lua/wikis/commons/Widget/MainPage/WantToHelp.lua
Labels: c: main_page

#5977 refactor(mainpage): replace preprocessing with callParserFunction
  lua/wikis/commons/MainPageLayout.lua
Labels: c: main_page

#5981 feat(match2): change valorant round numbers to 1-based
  lua/wikis/valorant/MatchGroup/Input/Custom/MatchPage.lua
Labels: g: valorant, c: match2

#5982 feat(match2): match page copy-paste generator for valorant
  lua/wikis/valorant/GetMatchGroupCopyPaste/wiki.lua
Labels: g: valorant, c: match2

#5984 feat: do not show placement change column if there is only 1 round
  lua/wikis/commons/Widget/Standings/Ffa.lua
Labels: c: standings

#5986 chore(match2): remove finished param from Valorant match2 copy-paste generator
  lua/wikis/valorant/GetMatchGroupCopyPaste/wiki.lua
Labels: g: valorant, c: match2, chore

#5994 fix: typo in R6 copy paste generator
  lua/wikis/rainbowsix/GetMatchGroupCopyPaste/wiki.lua
Labels: g: rainbow six, c: match2

#5999 chore(match2): fix spelling in ShortenBracket._processMatches
  lua/wikis/commons/MatchGroup/ShortenBracket.lua
Labels: c: match2, chore

#6000 feat: Add TGM4 game to Tetris wiki
  lua/wikis/tetris/Info.lua
Labels: c: standard, g: tetris, data

#5997 docs(match2): fix incorrect return type annotation in valorant match page map parser
  lua/wikis/valorant/MatchGroup/Input/Custom/MatchPage.lua
Labels: documentation, g: valorant, c: match2

#5995 feat(infobox): Unit rework for Wildcard
  lua/wikis/wildcard/Infobox/Unit/Custom.lua
Labels: c: infobox, g: wildcard

#6006 ci: use snapshot version of gh-actions-lua
  .github/workflows/luacheck.yml
Labels: CI/CD

#5998 fix: Use OpponentDisplay.InlineScore on match pages
  lua/wikis/commons/Widget/Match/Page/Header.lua
Labels: c: match2

#6012 feat(navBox): allow empty child overwrite
  lua/wikis/commons/Widget/NavBox/Child.lua
Labels: c: nav_box

#6005 refactor(match2): clean up mapveto start widget
  lua/wikis/commons/I18n/Data.lua
  lua/wikis/commons/Widget/Match/Summary/MapVetoStart.lua
Labels: c: match2

#6007 feat(match2): always enable match popups on valorant
  lua/wikis/commons/MatchGroup/Display/Helper.lua
  lua/wikis/dota2/Brkts/WikiSpecific.lua
  lua/wikis/leagueoflegends/Brkts/WikiSpecific.lua
Labels: g: valorant, c: match2

#5958 feat(Import): Add support to merge several pages into a stage during import
  lua/wikis/commons/TournamentStructure.lua
Labels: c: prize_pool

#5978 feat: Team Roster NavBox
  lua/wikis/ageofempires/Info.lua
  lua/wikis/apexlegends/Info.lua
  lua/wikis/brawlstars/Info.lua
  lua/wikis/commons/Service/Team.lua
  lua/wikis/commons/Widget/NavBox/AutoTeam.lua
  lua/wikis/commons/Widget/NavBox/AutoTeam/Player.lua
  lua/wikis/counterstrike/Info.lua
  lua/wikis/fighters/Info.lua
  lua/wikis/formula1/Info.lua
  lua/wikis/fortnite/Info.lua
  lua/wikis/smash/Info.lua
  lua/wikis/starcraft2/Info.lua
  lua/wikis/starcraft2/Squad/Custom.lua
  lua/wikis/tft/Info.lua
  lua/wikis/valorant/Info.lua
Labels: c: nav_box

#6017 feat(infobox): move AutoPI into infobox
  lua/wikis/honorofkings/Infobox/Person/Player/Custom.lua
  lua/wikis/leagueoflegends/Infobox/Person/Player/Custom.lua
  lua/wikis/valorant/Infobox/Person/Player/Custom.lua
  lua/wikis/wildrift/Infobox/Person/Player/Custom.lua
Labels: g: valorant, c: infobox, g: wildrift, g: honorofkings, g: leagueoflegends

#6022 feat(infobox): update AutoPI to use the new roles data
  lua/wikis/ageofempires/Infobox/Person/Player/Custom.lua
  lua/wikis/arenafps/InGameRoles.lua
  lua/wikis/brawlstars/Infobox/Person/Player/Custom.lua
  lua/wikis/commons/Infobox/Person.lua
  lua/wikis/commons/PlayerIntroduction.lua
  lua/wikis/commons/Roles/ContractRoles.lua
  lua/wikis/commons/Roles/StaffRoles.lua
  lua/wikis/counterstrike/InGameRoles.lua
  lua/wikis/dota2/InGameRoles.lua
  lua/wikis/freefire/InGameRoles.lua
  lua/wikis/honorofkings/InGameRoles.lua
  lua/wikis/honorofkings/Infobox/Person/Player/Custom.lua
  lua/wikis/leagueoflegends/InGameRoles.lua
  lua/wikis/leagueoflegends/Infobox/Person/Player/Custom.lua
  lua/wikis/marvelrivals/InGameRoles.lua
  lua/wikis/mobilelegends/InGameRoles.lua
  lua/wikis/omegastrikers/InGameRoles.lua
  lua/wikis/osu/InGameRoles.lua
  lua/wikis/overwatch/InGameRoles.lua
  lua/wikis/pubg/InGameRoles.lua
  lua/wikis/rainbowsix/InGameRoles.lua
  lua/wikis/smite/InGameRoles.lua
  lua/wikis/splatoon/InGameRoles.lua
  lua/wikis/valorant/InGameRoles.lua
  lua/wikis/valorant/Infobox/Person/Player/Custom.lua
  lua/wikis/wildrift/InGameRoles.lua
  lua/wikis/wildrift/Infobox/Person/Player/Custom.lua
  lua/wikis/worldoftanks/InGameRoles.lua
  lua/wikis/worldofwarcraft/InGameRoles.lua
  lua/wikis/zula/InGameRoles.lua
Labels: c: infobox_extensions

#6023 fix: team templates with underscores causing lots of errors
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/Opponent.lua
  lua/wikis/commons/Opponent/Starcraft.lua
  lua/wikis/commons/Player/Ext.lua
  lua/wikis/commons/TeamTemplate.lua
  lua/wikis/commons/Widget/Match/Page/TeamDisplay.lua
  lua/wikis/commons/Widget/TeamDisplay/Inline.lua
  lua/wikis/rocketleague/Player/Ext/Custom.lua
  lua/wikis/stormgate/Opponent/Custom.lua
  lua/wikis/warcraft/Opponent/Custom.lua
Labels: c: opponent

#6028 fix(NavBox): edit link not opening page to edit
  lua/wikis/commons/Widget/NavBox/EditButton.lua
Labels: c: nav_box

#6033 feat(notability): adjust borders on marvelrivals
  lua/wikis/marvelrivals/NotabilityChecker/config.lua
Labels: c: notability, g: marvelrivals

#6019 feat(NavBox): add lpdb auto generated transfer navbox
  lua/wikis/commons/Widget/NavBox/Transfer.lua
Labels: c: nav_box

#6036 feat(NavBox): add more cases in transfer navbox
  lua/wikis/commons/Widget/NavBox/Transfer.lua
Labels: c: nav_box

#6034 feat(infobox): standardize freefire character infobox
  lua/wikis/freefire/Infobox/Character/Custom.lua
Labels: c: infobox, g: freefire

#6029 feat(match2): automated patch display for Valorant match page
  lua/wikis/commons/MatchGroup/Input/Util.lua
  lua/wikis/commons/MatchGroup/Util.lua
  lua/wikis/valorant/MatchGroup/Input/Custom.lua
Labels: g: valorant, c: match2

#6039 docs(match2): fix incorrect type annotation in MatchGroupUtil
  lua/wikis/commons/MatchGroup/Util.lua
Labels: documentation, c: match2

#6037 fix(NavBox): missing nil catch in transfer navbox
  lua/wikis/commons/Widget/NavBox/Transfer.lua
Labels: c: nav_box

#6042 feat(infobox): character infobox for Underlords
  lua/wikis/commons/Widget/Infobox/All.lua
  lua/wikis/commons/Widget/Infobox/Cell.lua
  lua/wikis/commons/Widget/Infobox/Table.lua
  lua/wikis/underlords/Infobox/Character/Custom.lua
Labels: c: infobox, g: underlords

#6051 feat(infobox): character infobox for tf2
  lua/wikis/teamfortress/Infobox/Character/Custom.lua
Labels: c: infobox, g: teamfortress

#6053 feat(notability): Adjust notability gain from qualifiers for marvelrivals
  lua/wikis/marvelrivals/NotabilityChecker/config.lua
Labels: c: notability, g: marvelrivals

#6054 feat(infobox): Add default player infobox custom
  lua/wikis/commons/Infobox/Person/Player/Custom.lua
Labels: c: infobox

#6027 feat: Allow to inherit map dates
  lua/wikis/ageofempires/MatchGroup/Input/Custom.lua
  lua/wikis/commons/MatchGroup/Input/Util.lua
Labels: c: match2, g: ageofempires

#6055 feat: update roles on hots
  stylesheets/commons/HexagonPortraits.less
Labels: g: heroes

#6041 feat(Infobox): Port remaining patch infoboxes
  lua/wikis/ageofempires/Infobox/Patch/Custom.lua
  lua/wikis/commons/Infobox/Patch.lua
  lua/wikis/heroes/Infobox/Patch/Custom.lua
  lua/wikis/rocketleague/Infobox/Patch/Custom.lua
  lua/wikis/runeterra/Infobox/Patch/Custom.lua
  lua/wikis/squadrons/Infobox/Patch/Custom.lua
  lua/wikis/underlords/Infobox/Patch/Custom.lua
  lua/wikis/wildrift/Infobox/Patch/Custom.lua
Labels: c: infobox

#6059 feat(mainpage): new smite main page
  lua/wikis/smite/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: smite, c: main_page

#6057 feat(NavBox): "always" show current month/quarter/year
  lua/wikis/commons/Date/Ext.lua
  lua/wikis/commons/Widget/NavBox/Transfer.lua
Labels: c: nav_box

#6058 feat(NavBox): Allow uncollapsed overwrite outside of main and user space
  lua/wikis/commons/Widget/NavBox.lua
Labels: c: nav_box

#6044 feat(Infobox): Add new restriction inputs
  lua/wikis/chess/Infobox/League/Custom.lua
Labels: c: infobox, g: chess

#6026 feat: Let matchticker group expanded games that share the same date
  lua/wikis/commons/MatchTicker.lua
  lua/wikis/commons/MatchTicker/DisplayComponents.lua
Labels: c: match_ticker

#6064 feat(infobox): adjust heroes infobox team
  lua/wikis/heroes/Infobox/Team/Custom.lua
Labels: c: infobox, g: heroes

#6061 feat(infobox): add weapon custom infoboxes
  lua/wikis/commons/Infobox/Weapon.lua
  lua/wikis/counterstrike/Infobox/Weapon/Custom.lua
  lua/wikis/pubgmobile/Infobox/Weapon/Custom.lua
Labels: c: infobox

#6075 feat(match2): reorder stats display in lol matchpage
  lua/wikis/leagueoflegends/MatchPage.lua
Labels: c: match2, g: leagueoflegends

#6076 feat(match2): add additional objectives to league of legends match pages
  lua/wikis/leagueoflegends/MatchGroup/Input/Custom/MatchPage.lua
  lua/wikis/leagueoflegends/MatchPage.lua
Labels: c: match2, g: leagueoflegends

#6082 fix(infobox): faction category has initial letter instead of full name in StarCraft's player infobox
  lua/wikis/starcraft/Infobox/Person/Player/Custom.lua
Labels: g: starcraft, c: infobox

#6080 feat(mainpage): change chess transfer links to yearly
  lua/wikis/chess/MainPageLayout/data.lua
Labels: g: chess, c: main_page

#5943 feat(Infobox): add tracking categorie for marginalized gender tournaments on overwatch
  lua/wikis/overwatch/Infobox/League/Custom.lua
Labels: c: infobox, g: overwatch
