Repository Liquipedia/Lua-Modules, pull requests merged in 2025-05, with the labels that each got.

#5890 chore(infobox): Remove extradata.earningsinXXXX storage
  lua/definitions/liquipedia_db.lua
  lua/test_assets/lpdb_player.lua
  lua/wikis/commons/Infobox/Person.lua
  lua/wikis/commons/Infobox/Team.lua
  lua/wikis/commons/PortalStatistics.lua
  lua/wikis/rocketleague/MatchGroup/Input/Custom.lua
Labels: c: infobox, chore

#5743 docs(Tier): un-deprecate `Tier.toNumber`
  lua/wikis/commons/Tier/Utils.lua
Labels: documentation

#5896 feat: Add FFA options to AoE CopyPaste generator
  lua/wikis/ageofempires/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: ageofempires

#5897 feat(mainpage): Wildcard new pill images
  lua/wikis/wildcard/MainPageLayout/data.lua
Labels: c: main_page, g: wildcard

#5902 fix(prizepool): fighters ppt saving incorrect display names for leaderboard
  lua/wikis/fighters/PrizePool/Custom.lua
Labels: c: prize_pool, g: fighters

#5591 feat(mainpage): new GeoGuessr main page
  lua/wikis/geoguessr/FilterButtons/Config.lua
  lua/wikis/geoguessr/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: geoguessr, c: main_page

#5905 chore: fix OpponentLibraries type annotation
  lua/wikis/commons/OpponentLibraries.lua
Labels: chore

#5898 VALMatch: Implement map veto section
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/OpponentLibraries.lua
  lua/wikis/commons/Widget/Match/Page/MapVeto.lua
  lua/wikis/valorant/MatchPage.lua
  stylesheets/commons/BigMatch.less
Labels: g: valorant, c: match2

#5910 docs: update Module:Logic documentation
  lua/wikis/commons/Logic.lua
Labels: documentation

#5908 feat: add tostring support to condition nodes
  lua/spec/condition_spec.lua
  lua/wikis/commons/Condition.lua
Labels: c: standard

#5909 refactor(mainpage): simplify transferPage param for transfer list widget
  lua/wikis/apexlegends/MainPageLayout/data.lua
  lua/wikis/arenafps/MainPageLayout/data.lua
  lua/wikis/brawlstars/MainPageLayout/data.lua
  lua/wikis/callofduty/MainPageLayout/data.lua
  lua/wikis/commons/Widget/MainPage/TransfersList.lua
  lua/wikis/deadlock/MainPageLayout/data.lua
  lua/wikis/dota2/MainPageLayout/data.lua
  lua/wikis/fortnite/MainPageLayout/data.lua
  lua/wikis/freefire/MainPageLayout/data.lua
  lua/wikis/geoguessr/MainPageLayout/data.lua
  lua/wikis/halo/MainPageLayout/data.lua
  lua/wikis/hearthstone/MainPageLayout/data.lua
  lua/wikis/heroes/MainPageLayout/data.lua
  lua/wikis/marvelrivals/MainPageLayout/data.lua
  lua/wikis/mobilelegends/MainPageLayout/data.lua
  lua/wikis/osu/MainPageLayout/data.lua
  lua/wikis/starcraft2/MainPageLayout/data.lua
  lua/wikis/worldoftanks/MainPageLayout/data.lua
Labels: c: main_page

#5913 fix(mainpage): Wildcard header naming
  lua/wikis/wildcard/MainPageLayout/data.lua
Labels: c: main_page, g: wildcard

#5917 refactor(infobox): use StandardPatch in rainbowsix character infobox
  lua/wikis/rainbowsix/Infobox/Character/Custom.lua
Labels: g: rainbow six, c: infobox

#5916 fix(Standings): `Template:ShowStandings` only showing up to 9 rounds
  lua/wikis/commons/Standings.lua
Labels: c: standings

#5901 feat(infobox): upcoming and ongoing tournaments widget
  lua/wikis/commons/Widget/Infobox/UpcomingTournaments.lua
  lua/wikis/commons/Widget/Infobox/UpcomingTournaments/Header.lua
  lua/wikis/commons/Widget/Infobox/UpcomingTournaments/Row.lua
  lua/wikis/leagueoflegends/Infobox/Person/Player/Custom.lua
  lua/wikis/leagueoflegends/Infobox/Team/Custom.lua
  lua/wikis/valorant/Infobox/Person/Player/Custom.lua
  lua/wikis/valorant/Infobox/Team/Custom.lua
  stylesheets/commons/Mainpage.less
Labels: c: infobox_extensions, stylesheets

#5899 VALMatch: Implement Rounds Overview section
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/Widget/Match/Page/RoundsOverview.lua
  lua/wikis/valorant/MatchGroup/Input/Custom.lua
  lua/wikis/valorant/MatchGroup/Input/Custom/MatchPage.lua
  lua/wikis/valorant/MatchGroup/Input/Custom/Normal.lua
  lua/wikis/valorant/MatchPage.lua
  stylesheets/commons/BigMatch.less
Labels: g: valorant, c: match2

#5911 refactor(mainpage): want to help panel to widget
  lua/definitions/mw.lua
  lua/wikis/ageofempires/MainPageLayout/data.lua
  lua/wikis/apexlegends/MainPageLayout/data.lua
  lua/wikis/arenafps/MainPageLayout/data.lua
  lua/wikis/brawlstars/MainPageLayout/data.lua
  lua/wikis/callofduty/MainPageLayout/data.lua
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/WantToHelpList.lua
  lua/wikis/commons/Widget/MainPage/WantToHelp.lua
  lua/wikis/deadlock/MainPageLayout/data.lua
  lua/wikis/dota2/MainPageLayout/data.lua
  lua/wikis/fortnite/MainPageLayout/data.lua
  lua/wikis/freefire/MainPageLayout/data.lua
  lua/wikis/geoguessr/MainPageLayout/data.lua
  lua/wikis/halo/MainPageLayout/data.lua
  lua/wikis/hearthstone/MainPageLayout/data.lua
  lua/wikis/heroes/MainPageLayout/data.lua
  lua/wikis/leagueoflegends/MainPageLayout/data.lua
  lua/wikis/marvelrivals/MainPageLayout/data.lua
  lua/wikis/mobilelegends/MainPageLayout/data.lua
  lua/wikis/osu/MainPageLayout/data.lua
  lua/wikis/overwatch/MainPageLayout/data.lua
  lua/wikis/pubg/MainPageLayout/data.lua
  lua/wikis/pubgmobile/MainPageLayout/data.lua
  lua/wikis/rainbowsix/MainPageLayout/data.lua
  lua/wikis/starcraft2/MainPageLayout/data.lua
  lua/wikis/tft/MainPageLayout/data.lua
  lua/wikis/wildcard/MainPageLayout/data.lua
  lua/wikis/worldoftanks/MainPageLayout/data.lua
Labels: c: main_page

#5925 chore(Info): Update match2 status on some wikis
  lua/wikis/artifact/Info.lua
  lua/wikis/battalion/Info.lua
  lua/wikis/clashroyale/Info.lua
  lua/wikis/runeterra/Info.lua
  lua/wikis/squadrons/Info.lua
Labels: chore, g: runeterra, g: clashroyale, g: artifact, g: squadrons, g: battalion

#5923 fix(mvpTable): team displays ignore htts
  lua/wikis/commons/MvpTable.lua
Labels: c: mvp_table

#5912 feat: create "Details" button on Dota2 & LoL match popups
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/MatchGroup/Util.lua
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/MatchTicker/DisplayComponents/New.lua
  lua/wikis/commons/Widget/Basic/Button.lua
  lua/wikis/commons/Widget/Match/PageButton.lua
  lua/wikis/commons/Widget/Match/Summary/MatchPageLink.lua
  lua/wikis/dota2/Brkts/WikiSpecific.lua
  lua/wikis/dota2/MatchPage.lua
  lua/wikis/dota2/MatchSummary.lua
  lua/wikis/leagueoflegends/Brkts/WikiSpecific.lua
  lua/wikis/leagueoflegends/MatchPage.lua
  lua/wikis/leagueoflegends/MatchSummary.lua
  stylesheets/commons/MatchTicker.less
Labels: c: match2, g: dota2, g: leagueoflegends

#5922 feat: update sadbox styling to match new mainpages
  stylesheets/commons/Miscellaneous.less
Labels: stylesheets

#5930 feat(match2): store valorant matchid if available
  lua/wikis/valorant/MatchGroup/Input/Custom.lua
Labels: g: valorant, c: match2

#5931 feat(match2): add publisher-region to valorant lpdb
  lua/wikis/valorant/MatchGroup/Input/Custom.lua
Labels: g: valorant, c: match2

#5929 fix(match2): rocketleague match summary creates ellipsis too early
  lua/spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  lua/wikis/rocketleague/MatchSummary.lua
  lua/wikis/sideswipe/MatchSummary.lua
  stylesheets/commons/Brackets.less
Labels: g: rocket league, c: match2

#5934 chore(match2): kick bestof param from dota2 copy-paste generator
  lua/wikis/dota2/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, chore, g: dota2

#5938 feat(match2): read patch information from Valorant API
  lua/wikis/valorant/MatchGroup/Input/Custom.lua
  lua/wikis/valorant/MatchGroup/Input/Custom/MatchPage.lua
  lua/wikis/valorant/MatchGroup/Input/Custom/Normal.lua
Labels: g: valorant, c: match2

#5939 fix(match2): map image zoom not triggered when hovering over mapveto title
  stylesheets/commons/BigMatch.less
Labels: c: match2, stylesheets

#5944 fix(match2): team names in rocketleague match summary
  lua/wikis/rocketleague/MatchSummary.lua
  lua/wikis/sideswipe/MatchSummary.lua
Labels: g: rocket league, c: match2, g: sideswipe

#5950 refactor(match2): clean up head-to-head link generator in dota2
  lua/definitions/mw.lua
  lua/wikis/dota2/MatchGroup/Input/Custom.lua
Labels: c: match2, g: dota2

#5954 feat(mainpage): update navigation card images for geoguessr
  lua/wikis/geoguessr/MainPageLayout/data.lua
Labels: g: geoguessr, c: main_page

#5955 feat(match2): add tournament highlight to match pages
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/Widget/Match/Page/Header.lua
Labels: c: match2

#5937 feat(match2): use map information from LPDB for match page mapveto
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/Widget/Match/Page/MapVeto.lua
Labels: c: match2
