Repository Liquipedia/Lua-Modules, pull requests merged in 2025-09, with the labels that each got.

#6487 fix(mainpage): incorrect map in pubgm main page
  lua/wikis/pubgmobile/MainPageLayout/data.lua
Labels: g: pubgmobile, c: main_page

#6481 feat(infobox): character infobox for illuvium
  lua/wikis/illuvium/Infobox/Character/Custom.lua
Labels: c: infobox, g: illuvium

#6466 refactor(match2): splatoon map display rework
  lua/wikis/splatoon/MatchSummary.lua
Labels: c: match2, g: Splatoon

#6475 chore(standings): kick sc(2) legacy storage wrapper
  lua/wikis/commons/Standings/Storage/StarcraftLegacy.lua
Labels: g: starcraft, chore, c: standings, g: broodwar

#6489 feat: add links data for tetr.io
  lua/wikis/commons/Links.lua
  stylesheets/commons/Icons.scss
Labels: data

#6480 refactor: warningbox to widget
  lua/spec/hidden_data_box_spec.lua
  lua/spec/warning_box_spec.lua
  lua/wikis/ageofempires/HiddenDataBox/Custom.lua
  lua/wikis/apexlegends/HiddenDataBox/Custom.lua
  lua/wikis/brawlhalla/HiddenDataBox/Custom.lua
  lua/wikis/brawlstars/HiddenDataBox/Custom.lua
  lua/wikis/commons/HiddenDataBox.lua
  lua/wikis/commons/HiddenDataBox/Custom.lua
  lua/wikis/commons/MatchGroup.lua
  lua/wikis/commons/WarningBox.lua
  lua/wikis/commons/Widget/Infobox/Core.lua
  lua/wikis/commons/Widget/WarningBox.lua
  lua/wikis/commons/Widget/WarningBox/Group.lua
  lua/wikis/counterstrike/HiddenDataBox/Custom.lua
  lua/wikis/dota2/HiddenDataBox/Custom.lua
  lua/wikis/fighters/HiddenDataBox/Custom.lua
  lua/wikis/freefire/HiddenDataBox/Custom.lua
  lua/wikis/halo/HiddenDataBox/Custom.lua
  lua/wikis/hearthstone/HiddenDataBox/Custom.lua
  lua/wikis/honorofkings/HiddenDataBox/Custom.lua
  lua/wikis/leagueoflegends/HiddenDataBox/Custom.lua
  lua/wikis/mobilelegends/HiddenDataBox/Custom.lua
  lua/wikis/overwatch/HiddenDataBox/Custom.lua
  lua/wikis/pubg/HiddenDataBox/Custom.lua
  lua/wikis/pubgmobile/HiddenDataBox/Custom.lua
  lua/wikis/rainbowsix/HiddenDataBox/Custom.lua
  lua/wikis/rocketleague/HiddenDataBox/Custom.lua
  lua/wikis/simracing/HiddenDataBox/Custom.lua
  lua/wikis/smash/HiddenDataBox/Custom.lua
  lua/wikis/squadrons/HiddenDataBox/Custom.lua
  lua/wikis/starcraft/HiddenDataBox/Custom.lua
  lua/wikis/starcraft2/HiddenDataBox/Custom.lua
  lua/wikis/stormgate/HiddenDataBox/Custom.lua
  lua/wikis/teamfortress/HiddenDataBox/Custom.lua
  lua/wikis/trackmania/HiddenDataBox/Custom.lua
  lua/wikis/valorant/HiddenDataBox/Custom.lua
  lua/wikis/warcraft/HiddenDataBox/Custom.lua
Labels: c: standard

#5642 ci: change failure to import from a print to error
  lua/spec/helpers/test_helper.lua
Labels: CI/CD

#6477 feat(infobox): return empty game for misisng date on wc3
  lua/wikis/warcraft/Infobox/League/Custom.lua
Labels: c: infobox, g: warcraft

#6428 feat(standings): only display title if it is not empty
  lua/wikis/commons/Widget/Standings/Swiss.lua
Labels: c: standings

#6421 refactor(opponent): Opponent block displays to widgets
  lua/wikis/commons/DisplayUtil.lua
  lua/wikis/commons/MatchGroup/Display/Matchlist.lua
  lua/wikis/commons/MatchGroup/Util.lua
  lua/wikis/commons/MatchSummary/Starcraft.lua
  lua/wikis/commons/OpponentDisplay.lua
  lua/wikis/commons/OpponentDisplay/Starcraft.lua
  lua/wikis/commons/ResultsTable/Base.lua
  lua/wikis/commons/SeriesMedalStats.lua
  lua/wikis/commons/Widget/TeamDisplay/Block.lua
  lua/wikis/commons/Widget/TeamDisplay/Component/BlockName.lua
  lua/wikis/starcraft2/ResultsTable/Custom.lua
  lua/wikis/stormgate/MatchSummary.lua
  lua/wikis/warcraft/MatchSummary.lua
Labels: c: opponent

#6452 feat: Add custom PlayerIntroduction to chess
  lua/wikis/chess/Infobox/Person/Player/Custom.lua
  lua/wikis/chess/PlayerIntroduction/Custom.lua
Labels: c: infobox, g: chess

#6488 feat(mainpage): Add game filters for Crossfire
  lua/wikis/crossfire/FilterButtons/Config.lua
  lua/wikis/crossfire/Info.lua
Labels: g: crossfire, c: main_page

#6440 refactor: replace uses of Module:Team
  lua/wikis/ageofempires/Infobox/Team/Custom.lua
  lua/wikis/brawlstars/Infobox/Person/Player/Custom.lua
  lua/wikis/commons/Count.lua
  lua/wikis/commons/Earnings/Base.lua
  lua/wikis/commons/InfoboxPlacementStats.lua
  lua/wikis/commons/MatchGroup/Display/Helper.lua
  lua/wikis/commons/MatchTable.lua
  lua/wikis/commons/MatchTicker.lua
  lua/wikis/commons/ResultsTable/Base.lua
  lua/wikis/commons/TeamLogoGallery.lua
  lua/wikis/commons/Transfer/Model.lua
  lua/wikis/commons/TransferList.lua
  lua/wikis/leagueoflegends/Infobox/Person/Player/Custom.lua
  lua/wikis/marvelrivals/Infobox/Person/Player/Custom.lua
  lua/wikis/naraka/Infobox/Person/Player/Custom.lua
  lua/wikis/overwatch/Infobox/Person/Player/Custom.lua
  lua/wikis/rainbowsix/Infobox/Person/Player/Custom.lua
  lua/wikis/smash/PortalPlayers/Custom.lua
  lua/wikis/valorant/Infobox/Person/Player/Custom.lua
  lua/wikis/wildrift/Infobox/Person/Player/Custom.lua
Labels: c: standard

#6498 feat(match2): new design for matchpage footers
  stylesheets/commons/BigMatch.scss
Labels: g: valorant, c: match2, g: dota2, g: leagueoflegends, stylesheets

#6500 refactor(infobox): use standardized match ticker / widget for infobox footer
  lua/wikis/brawlstars/Infobox/Person/Player/Custom.lua
  lua/wikis/dota2/Infobox/Team/Custom.lua
  lua/wikis/rainbowsix/Infobox/Person/Player/Custom.lua
  lua/wikis/wildrift/Infobox/Person/Player/Custom.lua
Labels: g: rainbow six, c: infobox, g: brawl stars, g: dota2, g: wildrift

#6468 feat(match2): use new VodButton in match pages
  lua/wikis/commons/MatchPage/Base.lua
Labels: g: valorant, c: match2, g: dota2, g: leagueoflegends

#6505 fix(transfer): transfer list not reading wiki config properly
  lua/wikis/commons/TransferList.lua
Labels: c: transfer

#6509 feat(infobox) Suppress unknown faction display in person infoboxes
  lua/wikis/starcraft2/Infobox/Person/MapMaker/Custom.lua
  lua/wikis/starcraft2/Infobox/Person/Player/Custom.lua
Labels: g: starcraft, c: infobox

#6507 refactor(transfer): clean up transfer row widget implementation
  lua/wikis/commons/Widget/Transfer/Row.lua
Labels: c: transfer

#6511 feat(infobox): use upcoming and ongoing tournaments widget in all wikis
  lua/wikis/apexlegends/Infobox/Team/Custom.lua
  lua/wikis/brawlstars/Infobox/Person/Player/Custom.lua
  lua/wikis/commons/Infobox/Extension/UpcomingTournaments.lua
  lua/wikis/commons/Widget/Infobox/UpcomingTournaments.lua
  lua/wikis/counterstrike/Infobox/Team/Custom.lua
  lua/wikis/dota2/Infobox/Person/Player/Custom.lua
  lua/wikis/dota2/Infobox/Team/Custom.lua
  lua/wikis/freefire/Infobox/Team/Custom.lua
  lua/wikis/honorofkings/Infobox/Team/Custom.lua
  lua/wikis/leagueoflegends/Infobox/Person/Player/Custom.lua
  lua/wikis/leagueoflegends/Infobox/Team/Custom.lua
  lua/wikis/marvelrivals/Infobox/Person/Player/Custom.lua
  lua/wikis/naraka/Infobox/Person/Player/Custom.lua
  lua/wikis/overwatch/Infobox/Person/Player/Custom.lua
  lua/wikis/overwatch/Infobox/Team/Custom.lua
  lua/wikis/pubg/Infobox/Person/Player/Custom.lua
  lua/wikis/pubgmobile/Infobox/Person/Player/Custom.lua
  lua/wikis/pubgmobile/Infobox/Team/Custom.lua
  lua/wikis/rainbowsix/Infobox/Person/Player/Custom.lua
  lua/wikis/valorant/Infobox/Person/Player/Custom.lua
  lua/wikis/valorant/Infobox/Team/Custom.lua
  lua/wikis/wildrift/Infobox/Person/Player/Custom.lua
  lua/wikis/wildrift/Infobox/Team/Custom.lua
Labels: c: infobox

#6478 feat: store the match2 bracket type
  lua/wikis/commons/Bracket/Template.lua
  lua/wikis/commons/GetMatchGroupCopyPaste.lua
  lua/wikis/commons/GetMatchGroupCopyPaste/wiki/Base.lua
  lua/wikis/commons/MatchGroup/Input.lua
  lua/wikis/commons/MatchGroup/Legacy.lua
  lua/wikis/commons/MatchGroup/Util.lua
Labels: c: lpdb

#6513 fix(infobox): wrong import for html widgets on marvelrivals
  lua/wikis/marvelrivals/Infobox/Person/Player/Custom.lua
Labels: c: infobox, g: marvelrivals

#6499 chore: wrap Countdown with Class.export
  lua/wikis/commons/Countdown.lua
  lua/wikis/commons/MatchGroup/Display/Matchlist.lua
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/MatchTable.lua
  lua/wikis/commons/MatchTicker/DisplayComponents.lua
  lua/wikis/commons/MatchesScheduleDisplay.lua
  lua/wikis/commons/Widget/Infobox/UpcomingTournaments/Row.lua
  lua/wikis/commons/Widget/Match/Countdown.lua
  lua/wikis/commons/Widget/Match/Summary/Ffa/GameCountdown.lua
  lua/wikis/lab/Widget/ProjectOverview.lua
  lua/wikis/starcraft2/Infobox/League/Custom.lua
  lua/wikis/warcraft/Infobox/League/Custom.lua
Labels: chore, c: standard

#6512 fix(match2): matchpage footer being displayed even if it has no content
  lua/wikis/commons/MatchPage/Base.lua
Labels: g: valorant, c: match2, g: dota2, g: leagueoflegends

#6517 feat(transfer): update transfer arrow icons
  lua/wikis/commons/Icon/Data.lua
Labels: c: transfer

#6518 feat: add missing major fighting games data
  lua/wikis/fighters/Info.lua
Labels: g: fighters, data

#5854 feat: add Option to switch to underscores wiki by wiki
  lua/wikis/commons/Opponent.lua
  lua/wikis/commons/Page.lua
  lua/wikis/commons/Player/Ext.lua
  lua/wikis/commons/TeamTemplate.lua
  lua/wikis/starcraft2/Info.lua
Labels: c: opponent

#6521 fix(match2): map veto styling fixes
  lua/wikis/commons/Widget/Match/Summary/MapVetoRound.lua
  stylesheets/commons/Brackets.scss
Labels: c: match2

#6525 fix(matchticker): align tournament name and image
  stylesheets/commons/Match.scss
Labels: c: match_ticker

#6474 refactor(mvpTable): use widgets for display
  lua/wikis/commons/MvpTable.lua
  lua/wikis/commons/TournamentStructure.lua
Labels: c: mvp_table

#6503 fix: display buttons correctly on the vod dropdown
  lua/wikis/commons/Widget/Basic/Button.lua
  lua/wikis/commons/Widget/Match/ButtonBar.lua
  lua/wikis/commons/Widget/Match/VodButton.lua
Labels: c: match_ticker

#6493 feat: add more staff roles
  lua/wikis/commons/StaffRoles.lua
Labels: data

#6528 feat(mainPage): Switch to monthly transfers for MLBB
  lua/wikis/mobilelegends/MainPageLayout/data.lua
Labels: g: mobilelegends, c: main_page

#6529 fix(mvpTable): parsed args not used for display
  lua/wikis/commons/MvpTable.lua
Labels: c: mvp_table

#6531 fix(match2): map veto type not readable in light theme
  stylesheets/commons/Brackets.scss
Labels: c: match2, stylesheets

#6530 docs: type annotation for MatchGroupsSpec
  lua/wikis/commons/MvpTable.lua
  lua/wikis/commons/ParticipantTable/Base.lua
  lua/wikis/commons/PrizePool/Import.lua
  lua/wikis/commons/TournamentStructure.lua
Labels: documentation

#6537 fix: TH erroring if second date starts with `?`
  lua/wikis/commons/Infobox/Extension/TeamHistory/Manual.lua
Labels: c: infobox_extensions

#6526 feat(match2): Add conversion helper for LegacyBrackets
  lua/wikis/ageofempires/MatchGroup/Legacy/Default.lua
  lua/wikis/arenafps/MatchGroup/Legacy/Default.lua
  lua/wikis/artifact/MatchGroup/Legacy/Default.lua
  lua/wikis/battalion/MatchGroup/Legacy/Default.lua
  lua/wikis/brawlstars/MatchGroup/Legacy/Default.lua
  lua/wikis/callofduty/MatchGroup/Legacy/Default.lua
  lua/wikis/clashroyale/MatchGroup/Legacy/Default.lua
  lua/wikis/commons/MatchGroup/Legacy.lua
  lua/wikis/dota2/MatchGroup/Legacy/Default.lua
  lua/wikis/hearthstone/MatchGroup/Legacy/Default.lua
  lua/wikis/heroes/MatchGroup/Legacy/Default.lua
  lua/wikis/honorofkings/MatchGroup/Legacy/Default.lua
  lua/wikis/leagueoflegends/MatchGroup/Legacy/Default.lua
  lua/wikis/overwatch/MatchGroup/Legacy/Default.lua
  lua/wikis/rainbowsix/MatchGroup/Legacy/Default.lua
  lua/wikis/rocketleague/MatchGroup/Legacy/Default.lua
  lua/wikis/runeterra/MatchGroup/Legacy/Default.lua
  lua/wikis/squadrons/MatchGroup/Legacy/Default.lua
  lua/wikis/starcraft/MatchGroup/Legacy/Default.lua
  lua/wikis/starcraft2/MatchGroup/Legacy/Default.lua
  lua/wikis/trackmania/MatchGroup/Legacy/Default.lua
  lua/wikis/valorant/MatchGroup/Legacy/Default.lua
  lua/wikis/warcraft/MatchGroup/Legacy/Default.lua
  lua/wikis/wildrift/MatchGroup/Legacy/Default.lua
  lua/wikis/worldofwarcraft/MatchGroup/Legacy/Default.lua
Labels: c: match2

#6539 fix: Missing limit parameter for executeMassQuery
  lua/wikis/commons/PortalStatistics.lua
Labels: c: statistics

#6555 fix: THA not finding data for player with underscores on sc2
  lua/wikis/commons/Infobox/Extension/TeamHistory/Auto.lua
Labels: c: infobox_extensions

#6567 fix(match2): league icon not read properly in valorant matchpage under light theme
  lua/wikis/valorant/MatchPage.lua
Labels: g: valorant, c: match2

#6557 feat(infobox): Add automatic achievements for Apex legends
  lua/wikis/apexlegends/Infobox/Person/Player/Custom.lua
  lua/wikis/apexlegends/Infobox/Team/Custom.lua
Labels: c: infobox_extensions, g: apex

#6543 feat: support mobile tournament on ea fc in the infobox
  lua/wikis/easportsfc/Infobox/League/Custom.lua
Labels: c: infobox, g: easportsfc

#6560 fix(match2): win/loss indicator in matchpage header overflows at certain width
  stylesheets/commons/BigMatch.scss
Labels: g: valorant, c: match2, g: dota2, g: leagueoflegends, stylesheets

#6561 feat: adjust breakpoints
  lua/wikis/commons/MainPageLayout.lua
  lua/wikis/commons/Widget/Grid/Cell.lua
  lua/wikis/dota2/MainPageLayout/data.lua
  lua/wikis/hearthstone/MainPageLayout/data.lua
  lua/wikis/wildrift/MainPageLayout/data.lua
  stylesheets/commons/BattleRoyale/NavigationTabs.scss
  stylesheets/commons/BootstrapVisibility.scss
  stylesheets/commons/Grid.scss
  stylesheets/commons/Miscellaneous.scss
Labels: stylesheets

#6563 feat(match2): update vod button behavior in match pages
  lua/wikis/commons/MatchPage/Base.lua
Labels: g: valorant, c: match2, g: dota2, g: leagueoflegends

#6590 chore(infobox): normalize line endings
  lua/wikis/marvelrivals/Infobox/Team/Custom.lua
Labels: c: infobox, chore, g: marvelrivals

#6596 ci: fontawesome support
  lua/snapshot.mjs
  lua/spec/snapshots/Slider.png
  lua/spec/snapshots/match2_matchlist_smoke_apexlegends.png
  lua/spec/snapshots/match2_matchlist_smoke_counterstrike.png
  lua/spec/snapshots/match2_matchlist_smoke_dota2.png
  lua/spec/snapshots/match2_matchlist_smoke_leagueoflegends.png
  lua/spec/snapshots/match2_matchlist_smoke_mobilelegends.png
  lua/spec/snapshots/match2_matchlist_smoke_overwatch.png
  lua/spec/snapshots/match2_matchlist_smoke_rainbowsix.png
  lua/spec/snapshots/match2_matchlist_smoke_rocketleague.png
  lua/spec/snapshots/match2_matchlist_smoke_starcraft2.png
  lua/spec/snapshots/match2_matchlist_smoke_valorant.png
  lua/spec/snapshots/transfer_row_apexlegends.png
  lua/spec/snapshots/transfer_row_counterstrike.png
  lua/spec/snapshots/transfer_row_dota2.png
  lua/spec/snapshots/transfer_row_leagueoflegends.png
  lua/spec/snapshots/transfer_row_mobilelegends.png
  lua/spec/snapshots/transfer_row_overwatch.png
  lua/spec/snapshots/transfer_row_rainbowsix.png
  lua/spec/snapshots/transfer_row_rocketleague.png
  lua/spec/snapshots/transfer_row_starcraft2.png
  lua/spec/snapshots/transfer_row_valorant.png
Labels: CI/CD

#6595 feat(mainpage): Add Fighters Main Page
  lua/wikis/fighters/MainPageLayout/data.lua
  stylesheets/commons/Banner.scss
Labels: g: fighters, c: main_page

#6605 feat(infobox): do not display POS icon on special roles
  lua/wikis/commons/Widget/Infobox/TeamHistory/Display.lua
Labels: c: infobox_extensions

#6604 feat(opponent): parse team opponent players from lpdb struct
  lua/wikis/commons/Opponent.lua
Labels: c: opponent

#6593 ci: implement a simple mediawiki parser for basic stuff
  lua/spec/helpers/test_helper.lua
  lua/spec/medals_spec.lua
  lua/spec/snapshots/infobox_league_apexlegends.png
  lua/spec/snapshots/infobox_league_counterstrike.png
  lua/spec/snapshots/infobox_league_dota2.png
  lua/spec/snapshots/infobox_league_leagueoflegends.png
  lua/spec/snapshots/infobox_league_mobilelegends.png
  lua/spec/snapshots/infobox_league_overwatch.png
  lua/spec/snapshots/infobox_league_rainbowsix.png
  lua/spec/snapshots/infobox_league_rocketleague.png
  lua/spec/snapshots/infobox_league_starcraft2.png
  lua/spec/snapshots/infobox_league_valorant.png
  lua/spec/snapshots/match2_matchlist_smoke_apexlegends.png
  lua/spec/snapshots/match2_matchlist_smoke_counterstrike.png
  lua/spec/snapshots/match2_matchlist_smoke_dota2.png
  lua/spec/snapshots/match2_matchlist_smoke_leagueoflegends.png
  lua/spec/snapshots/match2_matchlist_smoke_mobilelegends.png
  lua/spec/snapshots/match2_matchlist_smoke_overwatch.png
  lua/spec/snapshots/match2_matchlist_smoke_rainbowsix.png
  lua/spec/snapshots/match2_matchlist_smoke_rocketleague.png
  lua/spec/snapshots/match2_matchlist_smoke_starcraft2.png
  lua/spec/snapshots/match2_matchlist_smoke_valorant.png
  lua/spec/snapshots/prize_pool.png
  lua/spec/snapshots/squad_row_apexlegends.png
  lua/spec/snapshots/squad_row_counterstrike.png
  lua/spec/snapshots/squad_row_dota2.png
  lua/spec/snapshots/squad_row_leagueoflegends.png
  lua/spec/snapshots/squad_row_mobilelegends.png
  lua/spec/snapshots/squad_row_overwatch.png
  lua/spec/snapshots/squad_row_rocketleague.png
  lua/spec/snapshots/squad_row_starcraft2.png
  lua/spec/snapshots/squad_row_valorant.png
  lua/spec/snapshots/transfer_row_apexlegends.png
  lua/spec/snapshots/transfer_row_counterstrike.png
  lua/spec/snapshots/transfer_row_dota2.png
  lua/spec/snapshots/transfer_row_leagueoflegends.png
  lua/spec/snapshots/transfer_row_mobilelegends.png
  lua/spec/snapshots/transfer_row_overwatch.png
  lua/spec/snapshots/transfer_row_rainbowsix.png
  lua/spec/snapshots/transfer_row_rocketleague.png
  lua/spec/snapshots/transfer_row_starcraft2.png
  lua/spec/snapshots/transfer_row_valorant.png
  lua/wikis/commons/Match/Placement.lua
  lua/wikis/commons/Medals.lua
Labels: CI/CD
