Repository Liquipedia/Lua-Modules, pull requests merged in 2025-02, with the labels that each got.

#5391 fix: historic team templates for players not working as expected
  components/opponent/commons/opponent.lua
Labels: c: opponent

#5397 ci: Bump mikepenz/action-junit-report from 4 to 5
  .github/workflows/luacheck.yml
Labels: chore, CI/CD

#5396 fix(mainPage): linking to non existing monthly transfer pages on deadlock
  components/main_page/wikis/deadlock/main_page_layout_data.lua
Labels: g: deadlock, c: main_page

#5398 feat(match2): use more commons for sc(2) and wc ffa input parsing
  components/match2/commons/match_group_input_util.lua
  components/match2/commons/starcraft_starcraft2/game_summary_starcraft_ffa.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft_ffa.lua
  components/match2/wikis/apexlegends/match_group_input_custom.lua
  components/match2/wikis/arenafps/match_group_input_custom.lua
  components/match2/wikis/autochess/match_group_input_custom.lua
  components/match2/wikis/callofduty/match_group_input_custom.lua
  components/match2/wikis/counterstrike/match_group_input_custom.lua
  components/match2/wikis/fortnite/match_group_input_custom.lua
  components/match2/wikis/freefire/match_group_input_custom.lua
  components/match2/wikis/halo/match_group_input_custom.lua
  components/match2/wikis/pubg/match_group_input_custom.lua
  components/match2/wikis/pubgmobile/match_group_input_custom.lua
  components/match2/wikis/tft/match_group_input_custom.lua
  components/match2/wikis/trackmania/match_group_input_custom.lua
  components/match2/wikis/warcraft/game_summary.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
Labels: g: starcraft, c: match2, g: warcraft, g: broodwar

#5400 docs(standings): missing anno
  components/standings/commons/standings_parse_wiki.lua
Labels: chore, c: standings

#5395 feat(infobox): additional storage in items/charactes infobox
  components/infobox/wikis/deadlock/infobox_character_custom.lua
  components/infobox/wikis/deadlock/infobox_item_custom.lua
Labels: c: infobox, g: deadlock

#5399 feat(standings): Don't import TBDs in ffa standings
  components/standings/commons/standings_parse_lpdb.lua
Labels: c: standings

#5405 feat: allow editors to merge regions into super-regions in the new mainpage filters
  components/components/filter_buttons/wikis/deadlock/filter_buttons_config.lua
  components/filter_buttons/filter_buttons.lua
  components/filter_buttons/wikis/leagueoflegends/filter_buttons_config.lua
  components/widget/tournaments/widget_tournaments_ticker_sublist.lua
Labels: g: leagueoflegends, c: main_page

#5406 feat(match2): Add comment display in ffa matches and games
  components/match2/commons/starcraft_starcraft2/match_group_input_starcraft.lua
  components/match2/commons/starcraft_starcraft2/match_summary_starcraft_ffa.lua
  components/match2/wikis/ageofempires/match_summary_ffa.lua
  components/match2/wikis/apexlegends/match_summary_ffa.lua
  components/match2/wikis/arenafps/match_summary_ffa.lua
  components/match2/wikis/autochess/match_summary_ffa.lua
  components/match2/wikis/callofduty/match_summary_ffa.lua
  components/match2/wikis/counterstrike/match_summary_ffa.lua
  components/match2/wikis/fortnite/match_summary_ffa.lua
  components/match2/wikis/freefire/match_summary_ffa.lua
  components/match2/wikis/halo/match_summary_ffa.lua
  components/match2/wikis/hearthstone/match_summary_ffa.lua
  components/match2/wikis/naraka/match_summary_ffa.lua
  components/match2/wikis/pubg/match_summary_ffa.lua
  components/match2/wikis/pubgmobile/match_summary_ffa.lua
  components/match2/wikis/tft/match_summary_ffa.lua
  components/match2/wikis/trackmania/match_summary_ffa.lua
  components/match2/wikis/underlords/match_summary_ffa.lua
  components/match2/wikis/warcraft/match_group_input_custom.lua
  components/match2/wikis/warcraft/match_summary_ffa.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_all.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_game_details.lua.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_match_comment.lua
  spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
  standard/icon_data.lua
Labels: c: match2

#5412 feat(match2): Add team mode to fighters generator
  components/match2/wikis/fighters/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: fighters

#5411 feat: disable ffa prizepool imports
  components/prize_pool/commons/prize_pool_import.lua
  standard/tournament_structure.lua
Labels: c: prize_pool

#5416 feat(Statistics): make `prizepoolBreakdown` responsive
  components/statistics/portal_statistics.lua
Labels: c: statistics

#5394 feat(stylesheets): Add class for zoom effect
  stylesheets/commons/Miscellaneous.less
Labels: stylesheets

#5410 feat(tier): Add valorant data
  standard/tier/wikis/valorant/tier_data.lua
Labels: g: valorant, c: standard

#5407 fix(Statistics): game identifiers not found
  components/statistics/count.lua
  components/statistics/portal_statistics.lua
Labels: c: statistics

#5330 feat(mainpage): new Valorant main page
  components/filter_buttons/wikis/valorant/filter_buttons_config.lua
  components/main_page/wikis/valorant/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: valorant, c: main_page

#5402 feat(opponent): add char support in `toLpdbStruct` and `fromLpdbStruct`
  components/opponent/wikis/fighters/opponent_custom.lua
  components/opponent/wikis/smash/opponent_custom.lua
Labels: c: opponent, g: smash, g: fighters

#5418 feat(mainpage): update image for statistics navbox in valorant mainpage
  components/main_page/wikis/valorant/main_page_layout_data.lua
Labels: g: valorant, c: main_page

#5419 feat(ExternalMediaList): Add option to display team icons besides EMLs
  components/external_media_links/external_media_list.lua
Labels: c: external_media_links

#5420 feat(infobox): Enable TeamHistory datapoints on valorant
  components/infobox/wikis/valorant/infobox_person_player_custom.lua
Labels: g: valorant, c: infobox

#5453 feat: Dota 2 Rankings table for the main rankings page
  components/ratings/ratings_storage_extension.lua
  components/ratings/ratings_storage_factory.lua
  components/ratings/rocketleague/ratings_display.lua
  components/ratings/rocketleague/ratings_display_graph.lua
  components/ratings/rocketleague/ratings_display_list.lua
  components/ratings/rocketleague/ratings_storage_lpdb.lua
  components/widget/ratings/widget_ratings.lua
  components/widget/ratings/widget_ratings_list.lua
  components/widget/standings/widget_standings_placement_change.lua
  definitions/mw.lua
  standard/info/wikis/dota2/info.lua
  stylesheets/commons/RankingTable.less
Labels: g: dota2, c: ratings

#5454 feat: Main Page snippet of Dota 2 rankings
  components/widget/ratings/widget_ratings.lua
  components/widget/ratings/widget_ratings_list.lua
  standard/icon_data.lua
Labels: g: dota2, c: ratings

#5450 feat(infobox): Add Update FIFAe Word Cup history to RL Infobox player
  components/infobox/wikis/rocketleague/infobox_person_player_custom.lua
Labels: g: rocket league, c: infobox

#5435 fix(mvpTable): Player Cell not left aligned
  components/mvp_table/commons/mvp_table.lua
Labels: c: mvp_table

#5442 feat: add Armenian dram (AMD) currency
  standard/currency_data.lua
Labels: c: standard

#5434 feat(infobox): additional storage in the infobox hero on MLBB
  components/infobox/wikis/mobilelegends/infobox_unit_hero_custom.lua
Labels: c: infobox, g: mobilelegends

#5459 fix(match2): missing tower cards on clash royale
  components/match2/wikis/clashroyale/match_summary.lua
Labels: c: match2, g: clashroyale

#5443 feat: add headlines to Apex Mainpage
  components/main_page/wikis/apexlegends/main_page_layout_data.lua
Labels: g: apex, c: main_page

#5446 fix(match2): missing nil catch sc(2)
  components/match2/commons/starcraft_starcraft2/match_group_util_starcraft.lua
Labels: g: starcraft, c: match2

#5404 feat: COD Notability Config
  components/notability/wikis/callofduty/notability_checker_config.lua
Labels: c: notability, g: callofduty

#5445 fix(Infobox): Stormgate Skill Infobox didn't show standard factions as caster of top-bar abilites
  components/infobox/wikis/stormgate/infobox_skill_custom.lua
Labels: c: infobox, g: stormgate

#5448 fix(match2): brawlstars re-add skip strikethrough
  components/match2/wikis/brawlstars/match_summary.lua
  components/widget/html/widget_html_all.lua
Labels: c: match2, g: brawl stars

#5423 feat(mainpage): Update Region Mapping for LoL and Valorant
  components/filter_buttons/wikis/leagueoflegends/filter_buttons_config.lua
  components/filter_buttons/wikis/valorant/filter_buttons_config.lua
Labels: g: valorant, g: leagueoflegends, c: main_page

#5424 fix(opponent): smash char standardization errors due to game suffix
  components/opponent/wikis/smash/opponent_custom.lua
Labels: c: opponent, g: smash

#5460 feat: Display game icons in tournament ticker
  components/tournament/tournament.lua
  components/widget/tournaments/widget_tournament_label.lua
  components/widget/tournaments/widget_tournaments_ticker.lua
  components/widget/tournaments/widget_tournaments_ticker_sublist.lua
Labels: c: main_page

#5461 fix: Changing honorofkings wiki default game & name to Honor of Kings
  standard/info/wikis/honorofkings/info.lua
Labels: g: honorofkings

#5455 feat: team rankings progression graph on rankings table
  .eslintrc.json
  components/widget/ratings/widget_ratings.lua
  components/widget/ratings/widget_ratings_list.lua
  javascript/commons/RankingTable.js
  standard/icon_data.lua
Labels: g: dota2, c: ratings

#5447 feat(infobox): update mobile legends infobox item
  components/infobox/wikis/mobilelegends/infobox_item_custom.lua
Labels: c: infobox, g: mobilelegends

#5403 feat(notability checker): configurations for GeoGuessr
  components/notability/wikis/geoguessr/notability_checker_config.lua
Labels: c: notability, g: geoguessr

#5431 fix(match2): underscores in opponent names in figherts legacy storage
  components/match2/wikis/fighters/match_legacy.lua
Labels: c: match2, g: fighters

#5462 fix(match2): underscores in winner field in fighters legacy storage
  components/match2/wikis/fighters/match_legacy.lua
Labels: c: match2, g: fighters

#5319 feat(mainpage): new Overwatch main page
  components/filter_buttons/wikis/overwatch/filter_buttons_config.lua
  components/main_page/wikis/overwatch/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: overwatch, c: main_page

#5456 feat: week selection menu for Dota 2 rankings table
  components/patch/patch.lua
  components/widget/ratings/widget_ratings.lua
  components/widget/ratings/widget_ratings_dropdown.lua
  javascript/commons/RankingTable.js
Labels: g: dota2, c: ratings

#5466 fix(match2): missing nil catch in fighters legacy storage
  components/match2/wikis/fighters/match_legacy.lua
Labels: c: match2, g: fighters

#5436 fix(opponent): game handling in opponents on fighters and smash
  components/opponent/wikis/fighters/opponent_custom.lua
  components/opponent/wikis/smash/opponent_custom.lua
  components/tournaments_listing/commons/tournaments_listing_card_list.lua
Labels: c: opponent, g: smash, g: fighters

#5440 feat: increase limit of imported entries per standingsTable
  standard/tournament_structure.lua
Labels: c: standard

#5473 feat(match2): add caster row support to LoL
  components/match2/wikis/leagueoflegends/match_group_input_custom.lua
  components/match2/wikis/leagueoflegends/match_summary.lua
Labels: c: match2, g: leagueoflegends

#5470 feat(mainpage): use Overwatch2 logo in mainpage
  components/main_page/wikis/overwatch/main_page_layout_data.lua
Labels: g: overwatch, c: main_page

#5475 feat(infobox): add custom game infobox to fighters
  components/infobox/wikis/fighters/infobox_game_custom.lua
Labels: c: infobox, g: fighters

#5444 feat(mainpage): new Brawl Stars main page
  components/filter_buttons/wikis/brawlstars/filter_buttons_config.lua
  components/main_page/wikis/brawlstars/main_page_layout_data.lua
  stylesheets/commons/Banner.less
Labels: g: brawl stars, c: main_page

#5481 feat: add ussr country codes
  standard/flags_master_data.lua
Labels: data

#5479 feat: add all allowed html to widget html
  components/widget/html/widget_html_all.lua
Labels: c: standard

#5477 feat: add `Beta` label to Dota 2 rankings
  components/widget/ratings/widget_ratings_list.lua
  stylesheets/commons/RankingTable.less
Labels: g: dota2, c: ratings

#5464 feat: add R6:Vegas (1)
  standard/info/wikis/rainbowsix/info.lua
Labels: g: rainbow six, c: standard

#5452 feat: Allow to modify tier-specific thresholds in TournamentsTicker
  components/main_page/wikis/hearthstone/main_page_layout_data.lua
  components/main_page/wikis/leagueoflegends/main_page_layout_data.lua
  components/widget/tournaments/widget_tournaments_ticker.lua
Labels: c: main_page

#4856 feat: switch from female to game changer on valorant
  components/hidden_data_box/wikis/valorant/hidden_data_box_custom.lua
  components/infobox/wikis/valorant/infobox_league_custom.lua
  components/match2/wikis/valorant/match_legacy.lua
Labels: g: valorant, c: infobox, c: match2, c: hidden_data_box

#5417 feat(match2): add mvp support to ffa matches
  components/match2/commons/game_summary.lua
  components/match2/commons/match_group_input_util.lua
  components/match2/wikis/ageofempires/match_summary_ffa.lua
  components/match2/wikis/apexlegends/match_summary_ffa.lua
  components/match2/wikis/arenafps/match_summary_ffa.lua
  components/match2/wikis/autochess/match_summary_ffa.lua
  components/match2/wikis/callofduty/match_summary_ffa.lua
  components/match2/wikis/counterstrike/match_summary_ffa.lua
  components/match2/wikis/fortnite/match_summary_ffa.lua
  components/match2/wikis/freefire/match_summary_ffa.lua
  components/match2/wikis/halo/match_summary_ffa.lua
  components/match2/wikis/hearthstone/match_summary_ffa.lua
  components/match2/wikis/naraka/match_summary_ffa.lua
  components/match2/wikis/pubg/match_group_input_custom.lua
  components/match2/wikis/pubg/match_summary_ffa.lua
  components/match2/wikis/pubgmobile/match_summary_ffa.lua
  components/match2/wikis/tft/match_summary_ffa.lua
  components/match2/wikis/trackmania/match_summary_ffa.lua
  components/match2/wikis/underlords/match_summary_ffa.lua
  components/match2/wikis/warcraft/match_summary_ffa.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_all.lua
  components/widget/match/summary/ffa/widget_match_summary_ffa_mvp.lua
  standard/icon_data.lua
Labels: c: match2

#5486 chore(infobox): followup cleanup for 4856
  components/hidden_data_box/wikis/valorant/hidden_data_box_custom.lua
  components/infobox/wikis/valorant/infobox_league_custom.lua
Labels: g: valorant, c: infobox

#5492 docs: fix typo in readme
  README.md
Labels: documentation

#5494 feat(mainpage): update image for players navigation in valorant mainpage
  components/main_page/wikis/valorant/main_page_layout_data.lua
Labels: g: valorant, c: main_page

#5495 docs: fix some stormgate infobox item annos
  components/infobox/wikis/stormgate/infobox_item_custom.lua
Labels: documentation, g: stormgate

#5504 ci: js-lint pipeline is failing due to upstreams change
  javascript/commons/BattleRoyale.js
  javascript/commons/Commons_mainpage.js
  javascript/commons/Commons_tools.js
  javascript/commons/FilterButtons.js
  javascript/commons/Mainpage.js
  javascript/commons/RankingTable.js
Labels: CI/CD

#5497 chore: move deadlock filterbutton config to correct directory
  components/filter_buttons/wikis/deadlock/filter_buttons_config.lua
Labels: chore, g: deadlock

#5501 feat(infobox): add lol unoff. world champ infobox
  components/infobox/wikis/leagueoflegends/infobox_unofficial_world_champion_custom.lua
Labels: c: infobox, g: leagueoflegends

#5506 chore(infobox): normalize line ending
  components/infobox/wikis/leagueoflegends/infobox_patch_custom.lua
Labels: c: infobox, chore, g: leagueoflegends

#5503 feat(match2): support MatchPages in Userspace
  components/match2/commons/match_group.lua
Labels: c: match2, g: dota2, g: leagueoflegends

#5508 feat: update sc2 tier names
  standard/tier/wikis/starcraft2/tier_data.lua
Labels: g: starcraft, data

#5472 feat: Re-enable rating fetch from AoEDB extension
  components/infobox/wikis/ageofempires/infobox_person_player_custom.lua
Labels: c: infobox, g: ageofempires

#5499 feat(match2): support char bans on overwatch
  components/match2/commons/match_summary_base.lua
  components/match2/wikis/overwatch/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/overwatch/match_group_input_custom.lua
  components/match2/wikis/overwatch/match_summary.lua
  components/widget/match/summary/widget_match_summary_character_ban_table.lua
  standard/icon_data.lua
Labels: c: match2, g: overwatch

#5480 feat(infobox): remove staff sections in infobox team
  components/infobox/commons/infobox_team.lua
  components/infobox/extensions/commons/role_of.lua
  components/infobox/wikis/apexlegends/infobox_team_custom.lua
  components/infobox/wikis/counterstrike/infobox_team_custom.lua
  components/infobox/wikis/dota2/infobox_team_custom.lua
  components/infobox/wikis/freefire/infobox_team_custom.lua
  components/infobox/wikis/heroes/infobox_team_custom.lua
  components/infobox/wikis/honorofkings/infobox_team_custom.lua
  components/infobox/wikis/leagueoflegends/infobox_team_custom.lua
  components/infobox/wikis/pubgmobile/infobox_team_custom.lua
  components/infobox/wikis/rainbowsix/infobox_team_custom.lua
  components/infobox/wikis/teamfortress/infobox_team_custom.lua
  components/infobox/wikis/valorant/infobox_team_custom.lua
  components/infobox/wikis/wildrift/infobox_team_custom.lua
Labels: c: infobox

#5488 feat(match2): Support for Tarkov Arena
  components/match2/wikis/tarkovarena/get_match_group_copy_paste_wiki.lua
  components/match2/wikis/tarkovarena/match_group_input_custom.lua
  components/match2/wikis/tarkovarena/match_summary.lua
Labels: c: match2, g: tarkovarena

#5491 feat(Infobox): custom map for COD
  components/infobox/wikis/callofduty/infobox_map_custom.lua
Labels: c: infobox, g: callofduty

#5509 feat(mainpage): add default filter button config
  components/filter_buttons/commons/filter_buttons.lua
  components/filter_buttons/commons/filter_buttons_config.lua
  components/filter_buttons/wikis/overwatch/filter_buttons_config.lua
Labels: c: main_page

#5430 feat(infobox): set wiki vars in all namespaces
  components/infobox/commons/infobox_person.lua
  components/infobox/commons/infobox_team.lua
Labels: c: infobox

#5510 feat(infobox): character infobox for Valorant
  components/infobox/wikis/valorant/infobox_character_custom.lua
Labels: g: valorant, c: infobox

#5511 fix(infobox): Valorant character infobox breaking backwards compatibility
  components/infobox/commons/infobox_character.lua
  components/main_page/wikis/valorant/main_page_layout_data.lua
Labels: g: valorant, c: infobox, c: main_page

#5512 feat: Separate DACH and germanspeaking flags
  standard/flags_master_data.lua
Labels: data

#5505 feat(standings): swiss display style
  components/opponent/commons/opponent.lua
  components/standings/commons/standings.lua
  components/widget/standings/widget_standings.lua
  components/widget/standings/widget_standings_match_overview.lua
  components/widget/standings/widget_standings_swiss.lua
Labels: c: standings

#5517 feat(match2): add caster params in LoL generator
  components/match2/wikis/leagueoflegends/get_match_group_copy_paste_wiki.lua
Labels: c: match2, g: leagueoflegends

#5516 ci: update dependencies to versions running node20
  .github/workflows/luacheck.yml
Labels: CI/CD

#5515 feat(standings): import swiss
  components/standings/commons/standings_parse_lpdb.lua
  components/standings/commons/standings_parse_wiki.lua
  components/standings/commons/standings_parser.lua
  components/standings/commons/standings_storage.lua
  components/standings/commons/standings_table.lua
Labels: c: standings

#5514 feat: adjust panel-box colors on certain wiki themes
  stylesheets/commons/Panels.less
Labels: stylesheets

#5518 feat: allow countdown switch group to be containable so it does not change unrelated countdowns
  components/main_page/commons/main_page_layout.lua
  components/main_page/wikis/apexlegends/main_page_layout_data.lua
  components/main_page/wikis/arenafps/main_page_layout_data.lua
  components/main_page/wikis/brawlstars/main_page_layout_data.lua
  components/main_page/wikis/deadlock/main_page_layout_data.lua
  components/main_page/wikis/dota2/main_page_layout_data.lua
  components/main_page/wikis/halo/main_page_layout_data.lua
  components/main_page/wikis/hearthstone/main_page_layout_data.lua
  components/main_page/wikis/leagueoflegends/main_page_layout_data.lua
  components/main_page/wikis/marvelrivals/main_page_layout_data.lua
  components/main_page/wikis/overwatch/main_page_layout_data.lua
  components/main_page/wikis/pubg/main_page_layout_data.lua
  components/main_page/wikis/pubgmobile/main_page_layout_data.lua
  components/main_page/wikis/rainbowsix/main_page_layout_data.lua
  components/main_page/wikis/valorant/main_page_layout_data.lua
  javascript/commons/Countdown.js
Labels: javascript, c: main_page

#5522 feat(notability): update notability for R6
  components/notability/wikis/rainbowsix/notability_checker_config.lua
Labels: g: rainbow six, c: notability

#5521 fix: beta tag is not wrapping on dota2 rankings
  stylesheets/commons/RankingTable.less
Labels: g: dota2, c: ratings
