Repository Liquipedia/Lua-Modules, pull requests merged in 2025-10, with the labels that each got.

#6615 feat(mainpage): update photos for champions and patches navigation cards
  lua/wikis/leagueoflegends/MainPageLayout/data.lua
Labels: g: leagueoflegends, c: main_page

#6617 docs(standings): fix standings widget type annotations not being picked up
  lua/wikis/commons/Widget/Standings.lua
  lua/wikis/commons/Widget/Standings/Ffa.lua
  lua/wikis/commons/Widget/Standings/MatchOverview.lua
  lua/wikis/commons/Widget/Standings/PlacementChange.lua
  lua/wikis/commons/Widget/Standings/RoundSelector.lua
  lua/wikis/commons/Widget/Standings/Swiss.lua
Labels: c: standings

#6580 feat(match2): matchpage overview tab for valorant
  lua/wikis/commons/MatchGroup/Util.lua
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/valorant/MatchGroup/Input/Custom.lua
  lua/wikis/valorant/MatchPage.lua
Labels: g: valorant, c: match2

#6630 refactor(match2): add tournament icon getter to base matchpage
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/leagueoflegends/MatchPage.lua
  lua/wikis/valorant/MatchPage.lua
Labels: g: valorant, c: match2, g: leagueoflegends

#6619 chore: force LF line endings for Lua files
  .gitattributes
Labels: chore

#6632 fix: loans erroring for TH/THA
  lua/wikis/commons/Widget/Infobox/TeamHistory/Display.lua
Labels: c: infobox_extensions

#6633 feat(match2): esports wiki implementation
  lua/wikis/esports/MatchGroup/Input/Custom.lua
  lua/wikis/esports/MatchSummary.lua
Labels: c: match2, g: esports
