Repository Liquipedia/Lua-Modules, pull requests merged in 2025-04, with the labels that each got.

#5759 feat(MatchTable): handle decimal score display
  lua/wikis/commons/MatchTable.lua
Labels: c: match_table

#5758 feat(matchticker): Remove maximumLiveHours
  lua/wikis/commons/MatchTicker.lua
Labels: c: match_ticker

#5756 chore: remove some unused stuff
  lua/wikis/commons/Match.lua
  lua/wikis/commons/MatchGroup/Display/BracketTemplate.lua
  lua/wikis/commons/TemplateMatch.lua
Labels: c: match2, chore

#5744 refactor(match2): use standardProcessMaps in dota2
  lua/wikis/dota2/MatchGroup/Input/Custom.lua
  lua/wikis/dota2/MatchGroup/Input/Custom/MatchPage.lua
Labels: c: match2, g: dota2

#5745 feat(match2): add toggle for date, vod, stream, and maps in fighters generator
  lua/wikis/fighters/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: fighters

#5754 feat(match2): do not show skipped games on dota2
  lua/wikis/dota2/MatchSummary.lua
Labels: c: match2, g: dota2

#5753 feat: update bg-color for map veto "protect"
  stylesheets/commons/Brackets.less
Labels: c: match2, stylesheets

#5757 feat(mainpage): new Mobile Legends main page
  lua/wikis/mobilelegends/FilterButtons/Config.lua
  lua/wikis/mobilelegends/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: mobilelegends, c: filter_buttons, c: main_page

#5749 feat(match2): standardize template usage on dota2
  lua/wikis/dota2/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: dota2

#5763 fix(match2): finished handling for matches without scores
  lua/wikis/commons/MatchGroup/Input/Util.lua
Labels: c: match2

#5746 fix: standard lib doesn't handle namespaces with underscore correctly
  lua/definitions/mw.lua
  lua/wikis/commons/Namespace.lua
Labels: c: standard

#5792 feat(match2): standardize template usage on worldofwarcraft
  lua/wikis/worldofwarcraft/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: worldofwarcraft

#5791 feat(match2): standardize template usage on teamfortress
  lua/wikis/teamfortress/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: teamfortress

#5790 feat(mainpage): update image for patches navigation card in mobilelegends mainpage
  lua/wikis/mobilelegends/MainPageLayout/data.lua
Labels: g: mobilelegends, c: main_page

#5787 refactor(mainpage): use mainpage match ticker widget in mobilelegends mainpage
  lua/wikis/mobilelegends/MainPageLayout/data.lua
Labels: g: mobilelegends, c: main_page

#5781 fix(mainpage): Restore MLBB's tournament upcoming defaults
  lua/wikis/mobilelegends/MainPageLayout/data.lua
Labels: g: mobilelegends, c: main_page

#5779 chore: fix incorrect filename of aoe module:Tier/Data
  lua/wikis/ageofempires/Tier/Data.lua
Labels: chore, c: standard, g: ageofempires

#5777 chore: fix incorrect filename of fighters info module
  lua/wikis/fighters/Info.lua
Labels: chore, c: standard, g: fighters

#5772 feat(match2): Set finished to true for all Matches in Legacy wrapper
  lua/wikis/commons/MatchGroup/Legacy.lua
  lua/wikis/hearthstone/MatchGroup/Legacy/Default.lua
Labels: c: match2

#5773 chore(earnings): remove unneeded customs
  lua/wikis/halo/Earnings.lua
  lua/wikis/rocketleague/Earnings.lua
  lua/wikis/valorant/Earnings.lua
Labels: chore, c: earnings

#5766 feat(infobox): patch infobox for counterstrike
  lua/wikis/commons/Infobox/Patch.lua
  lua/wikis/counterstrike/Infobox/Patch/Custom.lua
Labels: c: infobox, g: counter-strike

#5783 feat(match2): copy-paste generator for easportsfc
  lua/wikis/easportsfc/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: easportsfc

#5771 fea: update faction icons and name for AoM chinese gods
  lua/wikis/ageofempires/Faction/Data.lua
  lua/wikis/ageofempires/Faction/IconData.lua
Labels: g: ageofempires, c: faction

#5767 feat(resultsTable): custom results table for trackmania
  lua/wikis/trackmania/ResultsTable/Custom.lua
Labels: c: results_table

#5730 feat(transfer): allow per-wiki settings for contract database TRef type
  lua/wikis/commons/Transfer/References.lua
  lua/wikis/leagueoflegends/Info.lua
  lua/wikis/valorant/Info.lua
Labels: g: valorant, g: leagueoflegends, c: transfer

#5780 chore(infobox): add missing pubgm infobox weapon
  lua/wikis/pubgmobile/Infobox/Weapon/Custom.lua
Labels: c: infobox, g: pubgmobile

#5748 feat(match2): add matchpage support to copy-paste generator
  lua/wikis/commons/GetMatchGroupCopyPaste.lua
  lua/wikis/dota2/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/leagueoflegends/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: dota2, g: leagueoflegends

#5786 feat(match2): copy-paste generator for heroes
  lua/wikis/heroes/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: heroes

#5679 feat(infobox): Marvel Rivals Character Infobox Update
  lua/wikis/marvelrivals/Infobox/Character/Custom.lua
Labels: c: infobox, g: marvelrivals

#5784 feat(mainpage): new Osu! main page
  lua/wikis/osu/FilterButtons/Config.lua
  lua/wikis/osu/MainPageLayout/data.lua
  lua/wikis/osu/Tier/Data.lua
  stylesheets/commons/Banner.less
Labels: g: osu, c: filter_buttons, c: main_page

#5705 ci: protect git-based modules and static list of templates
  .github/workflows/deploy.yml
  .github/workflows/protect new wiki modules.yml
  .github/workflows/protect new wiki templates.yml
  scripts/deploy.sh
  scripts/deploy_res.sh
  scripts/login_and_get_token.sh
  scripts/protect.sh
  scripts/protect_page.sh
  scripts/protect_templates.sh
  templates/templatesToProtect
Labels: CI/CD

#5798 chore(mainpage): fix broken deploy header
  lua/wikis/osu/MainPageLayout/data.lua
Labels: chore, g: osu, c: main_page

#5627 feat: Add new mainpage on AoE
  lua/wikis/ageofempires/FilterButtons/Config.lua
  lua/wikis/ageofempires/Info.lua
  lua/wikis/ageofempires/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: ageofempires, c: main_page

#4487 feat: Add new version of Alma-Ata Time
  lua/wikis/commons/Timezone/Data.lua
Labels: data

#5741 chore(docs): Fix some annos
  lua/wikis/ageofempires/Tier/Custom.lua
  lua/wikis/apexlegends/HighlightConditions.lua
  lua/wikis/commons/BroadcastTalentTable.lua
  lua/wikis/commons/CharacterIcon.lua
  lua/wikis/commons/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/commons/GetMatchGroupCopyPaste/wiki/Base.lua
  lua/wikis/commons/HiddenDataBox.lua
  lua/wikis/commons/Infobox/Tool/Custom.lua
  lua/wikis/commons/MatchGroup/Display/Helper.lua
  lua/wikis/commons/MatchGroup/Display/Horizontallist.lua
  lua/wikis/commons/MatchTable.lua
  lua/wikis/commons/ParticipantTable/Custom.lua
  lua/wikis/commons/PlayerIntroduction/Custom.lua
  lua/wikis/commons/PrizePool/Legacy.lua
  lua/wikis/commons/PrizePool/Legacy/Starcraft.lua
  lua/wikis/commons/Standings/Table.lua
  lua/wikis/commons/Tier/Custom.lua
  lua/wikis/commons/Tier/Utils.lua
  lua/wikis/commons/TournamentsSummaryTable/Custom.lua
  lua/wikis/commons/Widget/MainPage/ThisDay/Content.lua
  lua/wikis/counterstrike/ResultsTable/Custom.lua
  lua/wikis/overwatch/HighlightConditions.lua
  lua/wikis/stormgate/Infobox/Building/Custom.lua
  lua/wikis/stormgate/Infobox/Skill/Custom.lua
  lua/wikis/stormgate/Infobox/Unit/Custom.lua
  lua/wikis/valorant/HighlightConditions.lua
Labels: documentation, chore

#5799 feat: Cache Stream Links
  lua/wikis/commons/Links/Stream.lua
Labels: c: standard

#5770 feat(Infobox): Tarkov Arena player
  lua/wikis/tarkovarena/Infobox/Person/Player/Custom.lua
Labels: c: infobox, g: tarkovarena

#5794 feat(match2): add "new" match2 generators to repository
  lua/wikis/omegastrikers/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/sideswipe/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/splatoon/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/tetris/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: sideswipe, g: Splatoon, g: tetris, g: omegastrikers

#5703 refactor(match2): standardized match page layout
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/Widget/Match/Page/AdditionalSection.lua
  lua/wikis/commons/Widget/Match/Page/Footer.lua
  lua/wikis/commons/Widget/Match/Page/Header.lua
  lua/wikis/commons/Widget/Match/Page/TeamDisplay.lua
  lua/wikis/dota2/MatchPage.lua
  lua/wikis/dota2/MatchPage/Template.lua
  lua/wikis/leagueoflegends/MatchPage.lua
  lua/wikis/leagueoflegends/MatchPage/Template.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2, g: leagueoflegends, stylesheets

#5801 feat(mainpage): Improve navigation card display on various screen sizes
  stylesheets/commons/NavigationCard.less
Labels: stylesheets, c: main_page

#5776 fix: Lua.invoke args adjust causing issues
  lua/wikis/commons/Class.lua
  lua/wikis/commons/Lua.lua
Labels: c: standard

#5807 feat(match2): comment display for match page
  lua/wikis/commons/MatchGroup/Display/Helper.lua
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/MatchSummary/Base.lua
  lua/wikis/commons/Widget/Match/Page/Comment.lua
  lua/wikis/commons/Widget/Match/Page/Footer.lua
  lua/wikis/commons/Widget/Match/Summary/Casters.lua
  lua/wikis/commons/Widget/Match/Summary/Ffa/GameDetails.lua
  lua/wikis/commons/Widget/Match/Summary/Ffa/MatchInformation.lua
  lua/wikis/dota2/MatchPage.lua
  lua/wikis/leagueoflegends/MatchPage.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2, g: leagueoflegends, stylesheets

#5804 fix(mainpage): osu! name fix
  lua/wikis/osu/MainPageLayout/data.lua
Labels: chore, g: osu, c: main_page

#5380 feat(match2): Add Chess support
  lua/wikis/chess/ChessOpenings.lua
  lua/wikis/chess/ChessOpenings/Data.lua
  lua/wikis/chess/GetMatchGroupCopyPaste/wiki.lua
  lua/wikis/chess/MatchGroup/Input/Custom.lua
  lua/wikis/chess/MatchSummary.lua
  lua/wikis/commons/Icon/Data.lua
Labels: c: match2, g: chess

#5598 feat(mainpage): add Liquipedia App panel to valorant mainpage
  lua/wikis/valorant/MainPageLayout/data.lua
Labels: g: valorant, c: main_page

#5814 feat: add CotW to Fighters
  lua/wikis/fighters/Info.lua
Labels: c: standard, g: fighters, data

#5812 fix(match2): error when there are no caster in FFA mode
  lua/wikis/commons/Widget/Match/Summary/Ffa/GameDetails.lua
Labels: c: match2

#5805 feat(faction): upcoming Aoe2 Three Kingdoms dlc civs and Inca & Maya renaming
  lua/wikis/ageofempires/Faction/Data.lua
  lua/wikis/ageofempires/Faction/IconData.lua
Labels: g: ageofempires, c: faction

#5797 feat: New Age of Empires 4 civs
  lua/wikis/ageofempires/Faction/Data.lua
  lua/wikis/ageofempires/Faction/IconData.lua
Labels: g: ageofempires, c: faction

#5803 fix(match2): team icon in matchpage header not aligned properly in darkmode
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2, g: leagueoflegends, stylesheets

#5819 feat: increase font-size for certain class
  stylesheets/commons/Fountain.less
Labels: stylesheets

#5778 chore: prepare git usages of Class.export for its removal process
  lua/wikis/commons/Abbreviation.lua
  lua/wikis/commons/AutoInlineIcon.lua
  lua/wikis/commons/Hotkey.lua
  lua/wikis/commons/Links.lua
  lua/wikis/commons/Placement.lua
  lua/wikis/commons/ReferenceCleaner.lua
  lua/wikis/commons/Timezone.lua
Labels: chore

#5543 feat(mainpage): add Wildcard main page
  lua/wikis/wildcard/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
  stylesheets/commons/Miscellaneous.less
Labels: c: main_page, g: wildcard

#5820 ci: add matchpage copy-paste template to protected template list
  templates/templatesToProtect
Labels: c: match2, chore, CI/CD

#5810 refactor(match2): use widgets for game details in match pages
  lua/spec/template_engine_spec.lua
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/MatchPage/Base.lua
  lua/wikis/commons/TemplateEngine.lua
  lua/wikis/commons/Widget/Image/Icon/Image.lua
  lua/wikis/commons/Widget/Match/Page/PlayerDisplay.lua
  lua/wikis/commons/Widget/Match/Page/PlayerStat.lua
  lua/wikis/commons/Widget/Match/Page/StatsList.lua
  lua/wikis/commons/Widget/Match/Page/VetoItem.lua
  lua/wikis/commons/Widget/Match/Page/VetoRow.lua
  lua/wikis/dota2/MatchPage.lua
  lua/wikis/dota2/MatchPage/Template.lua
  lua/wikis/dota2/Widget/Match/Page/TeamVeto.lua
  lua/wikis/leagueoflegends/MatchPage.lua
  lua/wikis/leagueoflegends/MatchPage/Template.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2, g: leagueoflegends, stylesheets

#5823 fix(match2): missing nil catches in matchpages
  lua/wikis/commons/Widget/Match/Page/PlayerDisplay.lua
  lua/wikis/dota2/MatchPage.lua
  lua/wikis/leagueoflegends/MatchPage.lua
Labels: c: match2, g: dota2, g: leagueoflegends

#5829 fix(mainpage): Wildcard map categories
  lua/wikis/wildcard/MainPageLayout/data.lua
Labels: chore, c: main_page, g: wildcard

#5826 feat(mainpage): Fornite change transfer data formatting
  lua/wikis/fortnite/MainPageLayout/data.lua
Labels: g: fortnite, c: main_page

#5825 chore(MainPage): box id 1516 for `specialEvents`
  lua/wikis/ageofempires/MainPageLayout/data.lua
  lua/wikis/apexlegends/MainPageLayout/data.lua
  lua/wikis/arenafps/MainPageLayout/data.lua
  lua/wikis/brawlstars/MainPageLayout/data.lua
  lua/wikis/callofduty/MainPageLayout/data.lua
  lua/wikis/dota2/MainPageLayout/data.lua
  lua/wikis/fortnite/MainPageLayout/data.lua
  lua/wikis/freefire/MainPageLayout/data.lua
  lua/wikis/halo/MainPageLayout/data.lua
  lua/wikis/hearthstone/MainPageLayout/data.lua
  lua/wikis/leagueoflegends/MainPageLayout/data.lua
  lua/wikis/marvelrivals/MainPageLayout/data.lua
  lua/wikis/mobilelegends/MainPageLayout/data.lua
  lua/wikis/osu/MainPageLayout/data.lua
  lua/wikis/overwatch/MainPageLayout/data.lua
  lua/wikis/pubg/MainPageLayout/data.lua
  lua/wikis/pubgmobile/MainPageLayout/data.lua
  lua/wikis/rainbowsix/MainPageLayout/data.lua
  lua/wikis/starcraft2/MainPageLayout/data.lua
  lua/wikis/tft/MainPageLayout/data.lua
  lua/wikis/valorant/MainPageLayout/data.lua
Labels: chore, c: main_page

#5822 chore: clean up `Class._wrapFunction`
  lua/wikis/commons/Class.lua
Labels: c: standard

#5714 feat(infobox): Add Platform cell to Marvel Rivals League Infobox
  lua/wikis/marvelrivals/Infobox/League/Custom.lua
Labels: c: infobox, g: marvelrivals

#5722 feat(Infobox): custom player infobox for marvelrivals
  lua/wikis/marvelrivals/Infobox/Person/Player/Custom.lua
Labels: c: infobox, g: marvelrivals

#5813 refactor(mainpage): remove unneeded <nowiki> on deadlock
  lua/wikis/deadlock/MainPageLayout/data.lua
Labels: g: deadlock, c: main_page

#5833 chore: CRLF -> LF
  lua/wikis/marvelrivals/Infobox/Person/Player/Custom.lua
Labels: c: infobox, chore, g: marvelrivals

#5831 feat(infobox): add support for armortype2 for Warcraft
  lua/wikis/warcraft/Infobox/Building/Custom.lua
  lua/wikis/warcraft/Infobox/Unit/Custom.lua
Labels: c: infobox, g: warcraft

#5837 chore: Flags cleanup for class cleanup
  lua/spec/flags_spec.lua
  lua/wikis/commons/BroadcasterCard.lua
  lua/wikis/commons/Flags.lua
  lua/wikis/commons/Infobox/League.lua
  lua/wikis/commons/Infobox/Person.lua
  lua/wikis/commons/Infobox/Scene.lua
  lua/wikis/commons/Infobox/Show.lua
  lua/wikis/commons/Infobox/Team.lua
  lua/wikis/commons/Locale.lua
  lua/wikis/commons/MatchGroup/Input/Starcraft.lua
  lua/wikis/commons/MatchGroup/Input/Util.lua
  lua/wikis/commons/Opponent.lua
  lua/wikis/commons/Player/Ext.lua
  lua/wikis/commons/Player/Ext/Starcraft.lua
  lua/wikis/commons/Region.lua
  lua/wikis/commons/SeriesMedalStats/Flags.lua
  lua/wikis/commons/Squad/Utils.lua
  lua/wikis/commons/TournamentsListing/CardList.lua
  lua/wikis/commons/TournamentsListing/Conditions.lua
  lua/wikis/commons/TransferRow.lua
  lua/wikis/commons/Widget/Ratings/List.lua
  lua/wikis/dota2/Infobox/Person/Player/Custom.lua
  lua/wikis/heroes/Infobox/League/Custom.lua
  lua/wikis/rocketleague/Infobox/Person/Player/Custom.lua
  lua/wikis/stormgate/MatchGroup/Input/Custom.lua
  lua/wikis/stormgate/Player/Ext/Custom.lua
  lua/wikis/warcraft/MatchGroup/Input/Custom.lua
  lua/wikis/warcraft/Player/Ext/Custom.lua
Labels: chore, c: standard

#5832 fix: `Lua.requireIfExists` not checking for existence of dev module in dev mode
  lua/wikis/commons/Lua.lua
Labels: c: standard

#5847 feat: split ggxrd and ggxrds on Fighters
  lua/wikis/fighters/Info.lua
Labels: g: fighters, data

#5844 feat(infobox): Publishertier for Trackmania Infobox league
  lua/wikis/trackmania/Infobox/League/Custom.lua
Labels: c: infobox, g: trackmania

#5862 feat(match2): use display name for teams in match page header
  lua/wikis/commons/Widget/Match/Page/TeamDisplay.lua
Labels: c: match2, g: dota2, g: leagueoflegends

#5858 feat(match2): use display name for players instead of pagename in LoL match page
  lua/wikis/leagueoflegends/MatchGroup/Input/Custom.lua
  lua/wikis/leagueoflegends/MatchPage.lua
Labels: c: match2, g: leagueoflegends

#5856 fix(participantTable): merge with ppt placement failing for some underscore constelations
  lua/wikis/commons/ParticipantTable/Base.lua
Labels: c: participant_table

#5846 fix: Add additional unmapped regions on Valorant
  lua/wikis/valorant/FilterButtons/Config.lua
Labels: g: valorant, c: filter_buttons, c: main_page

#5850 fix(infobox): fortnite infobox team using deprecated lpdb fields
  lua/wikis/fortnite/Infobox/Team/Custom.lua
Labels: c: infobox, g: fortnite

#5849 fix(mainpage): footer links of transfer list widget overflowing in mobile
  lua/wikis/commons/Widget/MainPage/TransfersList.lua
Labels: c: main_page

#5848 feat(match2): literal opponent support for match page header
  lua/wikis/commons/Widget/Match/Page/TeamDisplay.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2, g: leagueoflegends, stylesheets

#5861 feat: Add R6 Mobile to R6 wiki
  lua/wikis/rainbowsix/Info.lua
Labels: g: rainbow six, data

#5865 refactor(match2): clean up player loadout code in lol match page
  lua/wikis/leagueoflegends/MatchPage.lua
Labels: c: match2, g: leagueoflegends

#5867 fix(MatchesScheduleDisplay): not accounting for possibility of non-string args keys
  lua/wikis/commons/MatchesScheduleDisplay.lua
Labels: c: matches_schedule_display

#5866 feat(match2): make team name alignment consistent in match page header
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2, g: leagueoflegends, stylesheets

#5845 feat: Migrate AoE to standardized matchticker for players and tournaments
  lua/wikis/ageofempires/Infobox/League/Custom.lua
  lua/wikis/ageofempires/Infobox/Person/Player/Custom.lua
  lua/wikis/commons/MatchTicker/Custom.lua
Labels: c: infobox, g: ageofempires

#5841 fix: Correctly display tournament tags with Tier Misc and tiertype
  lua/wikis/ageofempires/Tier/Data.lua
  lua/wikis/brawlhalla/Tier/Data.lua
  lua/wikis/brawlstars/Tier/Data.lua
  lua/wikis/counterstrike/Tier/Data.lua
  lua/wikis/criticalops/Tier/Data.lua
  lua/wikis/easportsfc/Tier/Data.lua
  lua/wikis/formula1/Tier/Data.lua
  lua/wikis/honorofkings/Tier/Data.lua
  lua/wikis/mobilelegends/Tier/Data.lua
  lua/wikis/osu/Tier/Data.lua
  lua/wikis/overwatch/Tier/Data.lua
  lua/wikis/pubg/Tier/Data.lua
  lua/wikis/rainbowsix/Tier/Data.lua
  lua/wikis/rocketleague/Tier/Data.lua
  lua/wikis/sideswipe/Tier/Data.lua
  lua/wikis/splatoon/Tier/Data.lua
  lua/wikis/splitgate/Tier/Data.lua
  lua/wikis/starcraft/Tier/Data.lua
  lua/wikis/starcraft2/Tier/Data.lua
  lua/wikis/stormgate/Tier/Data.lua
  lua/wikis/tetris/Tier/Data.lua
  lua/wikis/wildrift/Tier/Data.lua
  lua/wikis/worldoftanks/Tier/Data.lua
  lua/wikis/zula/Tier/Data.lua
  stylesheets/commons/TournamentTags.less
Labels: c: main_page

#5691 refactor(mainpage): app panel content to widget
  lua/wikis/apexlegends/MainPageLayout/data.lua
  lua/wikis/commons/Icon.lua
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/Widget/MainPage/LiquipediaApp.lua
  lua/wikis/deadlock/MainPageLayout/data.lua
  lua/wikis/leagueoflegends/MainPageLayout/data.lua
  lua/wikis/mobilelegends/MainPageLayout/data.lua
  lua/wikis/osu/MainPageLayout/data.lua
  lua/wikis/valorant/MainPageLayout/data.lua
Labels: c: main_page

#5868 chore: Clean up `Flags.Icon` and `Flags.languageIcon`
  lua/spec/flags_spec.lua
  lua/wikis/commons/CountryRepresentation.lua
  lua/wikis/commons/ExternalMediaLink.lua
  lua/wikis/commons/Flags.lua
  lua/wikis/commons/Infobox/Character.lua
  lua/wikis/commons/Infobox/Company.lua
  lua/wikis/commons/Infobox/Person.lua
  lua/wikis/commons/Infobox/Scene.lua
  lua/wikis/commons/Infobox/Series.lua
  lua/wikis/commons/Infobox/Show.lua
  lua/wikis/commons/Infobox/Team.lua
  lua/wikis/commons/Infobox/Weapon.lua
  lua/wikis/commons/MatchGroup/Display/Helper.lua
  lua/wikis/commons/Player/Display.lua
  lua/wikis/commons/PortalPlayers.lua
  lua/wikis/commons/Widget/Ratings/List.lua
  lua/wikis/heroes/Infobox/League/Custom.lua
  lua/wikis/rocketleague/Infobox/Person/Player/Custom.lua
Labels: chore

#5876 fix: Correct vertical offset of game icons in tournaments ticker
  stylesheets/commons/Mainpage.less
Labels: stylesheets, c: main_page

#5882 fix(infobox): counterstrike patch infobox reading incorrect argument in chronology
  lua/wikis/counterstrike/Infobox/Patch/Custom.lua
Labels: c: infobox, g: counter-strike

#5879 fix(match2): missing nil catch in dota2 match page
  lua/wikis/dota2/MatchGroup/Input/Custom.lua
  lua/wikis/dota2/MatchPage.lua
Labels: c: match2, g: dota2

#5883 fix: Disambiguate some faction links on AoE
  lua/wikis/ageofempires/Faction/Data.lua
Labels: g: ageofempires, c: faction, data

#5877 fix(match2): tft bestof processing inconsistent with map removal
  lua/wikis/tft/MatchGroup/Input/Custom.lua
Labels: c: match2, g: tft

#5881 fix: Handle removed match2games in matchticker
  lua/wikis/commons/MatchTicker/DisplayComponents.lua
Labels: c: match_ticker

#5880 feat: create Infobox Faction for AoE
  lua/wikis/ageofempires/Infobox/Faction/Custom.lua
  lua/wikis/commons/Infobox/Faction.lua
  lua/wikis/commons/Infobox/Faction/Custom.lua
Labels: c: infobox, g: ageofempires

#5892 feat: Improve details on AoE mainpage
  lua/wikis/ageofempires/FilterButtons/Config.lua
  lua/wikis/ageofempires/MainPageLayout/data.lua
  lua/wikis/commons/Widget/FilterButtons.lua
Labels: g: ageofempires, c: filter_buttons, c: main_page

#5889 fix(match2): wrong capitalisation in extradata key
  lua/wikis/commons/MatchGroup/Input/Starcraft.lua
Labels: g: starcraft, c: match2

#5893 fix: Remove default tiers in AoE filterbuttons
  lua/wikis/ageofempires/FilterButtons/Config.lua
Labels: g: ageofempires, c: filter_buttons, c: main_page

#5891 feat: add R6 points and award as TierType
  lua/wikis/rainbowsix/Tier/Data.lua
Labels: g: rainbow six

#5878 fix(match2): lol matchpage does not display game length for bo1 matches
  lua/wikis/leagueoflegends/MatchPage.lua
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: leagueoflegends, stylesheets

#5887 feat: Implement valorant match page header & footer
  lua/wikis/valorant/MatchPage.lua
Labels: g: valorant, c: match2

#5886 feat: add match page buttons to VAL matchticker
  lua/wikis/valorant/Info.lua
  lua/wikis/valorant/MatchSummary.lua
Labels: g: valorant, c: match2
