Repository Liquipedia/Lua-Modules, pull requests merged in 2025-08, with the labels that each got.

#6298 feat(mainpage): Add War Thunder Main Page
  lua/wikis/warthunder/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: c: main_page, g: warthunder

#6295 feat(mainpage): Add Omega Strikers Main Page
  lua/wikis/omegastrikers/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: omegastrikers, c: main_page

#6294 fix(MatchTicker): Merge extradata into correct table
  lua/wikis/commons/MatchTicker.lua
Labels: c: match_ticker

#6260 feat: redesign vod handling on the match ticker
  javascript/commons/FilterButtons.js
  lua/wikis/commons/Icon/Data.lua
  lua/wikis/commons/Widget/Match/ButtonBar.lua
  lua/wikis/commons/Widget/Match/VodsDropdown.lua
  stylesheets/commons/Match.less
  stylesheets/commons/Miscellaneous.less
Labels: c: match_ticker

#6303 fix: partially missing annos
  lua/wikis/commons/Widget/Match/VodsDropdown.lua
Labels: documentation

#6255 ci: add action to remove a dev "env"
  .github/workflows/delete dev env.yml
  scripts/remove_dev.sh
Labels: CI/CD

#6265 Add HUNTER×HUNTER NEN×IMPACT to Fighters
  lua/wikis/fighters/Info.lua
Labels: g: fighters

#6276 feat(infobox): standardize underlords' Alliance Infobox
  lua/wikis/underlords/Infobox/Faction/Custom.lua
Labels: c: infobox, g: underlords

#6273 feat(infobox): add magic and runeterra card infoboxes
  lua/wikis/magic/Infobox/Unit/Custom.lua
  lua/wikis/runeterra/Infobox/Unit/Custom.lua
Labels: c: infobox, g: runeterra, g: magic

#6293 feat(mainpage): show top 10 players in Warcraft ELO ranking
  lua/wikis/warcraft/MainPageLayout/data.lua
  lua/wikis/warcraft/Widget/W3EloRanking.lua
  stylesheets/commons/Mainpage.less
Labels: g: warcraft, c: main_page

#6275 feat(infobox): standardize wildrift's rune infobox
  lua/wikis/wildrift/Infobox/Item/Rune/Custom.lua
Labels: c: infobox, g: wildrift

#6208 refactor(infobox): deduplicate league and series
  lua/spec/golden_masters/infobox_league_apexlegends.txt
  lua/spec/golden_masters/infobox_league_counterstrike.txt
  lua/spec/golden_masters/infobox_league_dota2.txt
  lua/spec/golden_masters/infobox_league_leagueoflegends.txt
  lua/spec/golden_masters/infobox_league_mobilelegends.txt
  lua/spec/golden_masters/infobox_league_overwatch.txt
  lua/spec/golden_masters/infobox_league_rainbowsix.txt
  lua/spec/golden_masters/infobox_league_rocketleague.txt
  lua/spec/golden_masters/infobox_league_starcraft2.txt
  lua/spec/golden_masters/infobox_league_valorant.txt
  lua/wikis/commons/Infobox/League.lua
  lua/wikis/commons/Infobox/Series.lua
  lua/wikis/commons/ReferenceCleaner.lua
  lua/wikis/commons/Widget/All.lua
  lua/wikis/commons/Widget/Infobox/Accommodation.lua
  lua/wikis/commons/Widget/Infobox/All.lua
  lua/wikis/commons/Widget/Infobox/Location.lua
  lua/wikis/commons/Widget/Infobox/Organizers.lua
  lua/wikis/commons/Widget/Infobox/Venue.lua
  lua/wikis/smash/Infobox/League/Custom.lua
Labels: c: infobox

#6308 fix(match2): scores of submatch headers compressed
  stylesheets/commons/Brackets.less
Labels: g: starcraft, c: match2, g: warcraft, g: broodwar, stylesheets, g: stormgate

#6309 fix: broken Opponent module import in TournamentStructure
  lua/wikis/commons/TournamentStructure.lua
Labels: c: standard

#6249 feat(opponent): move faction support to commons
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/spec/golden_masters/squad_row_starcraft2.txt
  lua/spec/golden_masters/transfer_row_starcraft2.txt
  lua/spec/opponent_spec.lua
  lua/test_assets/opponent_test_config.lua
  lua/wikis/ageofempires/Player/Display/Custom.lua
  lua/wikis/commons/MatchGroup/Input/Util.lua
  lua/wikis/commons/MatchGroup/Util.lua
  lua/wikis/commons/Opponent.lua
  lua/wikis/commons/Opponent/Starcraft.lua
  lua/wikis/commons/OpponentDisplay.lua
  lua/wikis/commons/OpponentDisplay/Starcraft.lua
  lua/wikis/commons/Player/Display.lua
  lua/wikis/commons/Player/Display/Starcraft.lua
  lua/wikis/commons/Player/Ext.lua
  lua/wikis/commons/Player/Ext/Starcraft.lua
  lua/wikis/fighters/Player/Display/Custom.lua
  lua/wikis/smash/Player/Display/Custom.lua
  lua/wikis/starcraft/Player/Ext/Custom.lua
  lua/wikis/starcraft2/Player/Ext/Custom.lua
  lua/wikis/stormgate/MatchGroup/Util/Custom.lua
  lua/wikis/stormgate/Opponent/Custom.lua
  lua/wikis/stormgate/OpponentDisplay/Custom.lua
  lua/wikis/stormgate/ParticipantTable/Custom.lua
  lua/wikis/stormgate/Player/Display/Custom.lua
  lua/wikis/stormgate/Player/Ext/Custom.lua
  lua/wikis/warcraft/MatchGroup/Util/Custom.lua
  lua/wikis/warcraft/Opponent/Custom.lua
  lua/wikis/warcraft/OpponentDisplay/Custom.lua
  lua/wikis/warcraft/ParticipantTable/Custom.lua
  lua/wikis/warcraft/Player/Display/Custom.lua
  lua/wikis/warcraft/Player/Ext/Custom.lua
  stylesheets/commons/Brackets.less
Labels: c: opponent

#6296 feat: remove streak from dota2 ratings
  lua/wikis/commons/Widget/Ratings/List.lua
Labels: g: dota2, c: ratings

#6310 fix(infobox): venue description causing error
  lua/wikis/commons/Widget/Infobox/Venue.lua
Labels: c: infobox

#6110 feat(match2): make Winner/Loser pills in dota2 match page prettier
  stylesheets/commons/BigMatch.less
Labels: c: match2, g: dota2, stylesheets

#6312 fix(TransferList): Missing grouping on main teams
  lua/wikis/commons/TransferList.lua
Labels: c: transfer

#6318 fix(TransferList): Add date to group conditions
  lua/wikis/commons/TransferList.lua
Labels: c: transfer

#6321 fix: accessing undefined variable in RL `Module:YearsActive`
  lua/wikis/rocketleague/YearsActive.lua
Labels: g: rocket league

#6314 fix(TransferList): Restore behavior for display limit
  lua/wikis/commons/TransferList.lua
Labels: c: transfer

#6192 feat(infobox): Vehicle Infobox for WarThunder
  lua/wikis/warthunder/Infobox/Unit/Custom.lua
Labels: c: infobox, g: warthunder

#6306 feat(mainpage): Add Naraka Main Page
  lua/wikis/naraka/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: naraka, c: main_page

#6333 fix(infobox): country category singular
  lua/wikis/commons/Widget/Infobox/Location.lua
Labels: c: infobox

#6347 fix(infobox_extension): Missing team display for THA rows with role
  lua/wikis/commons/Infobox/Extension/TeamHistoryAuto.lua
Labels: c: infobox_extensions

#6352 fix(infobox): venue desc using span instead of small
  lua/wikis/commons/Widget/Infobox/Venue.lua
Labels: c: infobox

#6342 feat(mainpage): Add Illuvium Main Page
  lua/wikis/illuvium/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: illuvium, c: main_page

#6329 feat(standings): support swiss placement mappings
  lua/wikis/commons/Standings/Parse/Wiki.lua
  lua/wikis/commons/Standings/Table.lua
Labels: c: standings

#6359 feat(mainpage): Add Critical Ops Main Page
  lua/wikis/criticalops/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: criticalops, c: main_page

#6361 feat(mainpage): Add StarCraft (1) Main Page
  lua/wikis/starcraft/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: broodwar, c: main_page

#6363 feat(mainpage): Add Splatoon Main Page
  lua/wikis/splatoon/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: Splatoon, c: main_page

#6362 fix: Zula metadesc
  lua/wikis/zula/MainPageLayout/data.lua
Labels: g: zula, c: main_page

#6346 feat(mainPage): add additional mapping for region filters on tft
  lua/wikis/tft/FilterButtons/Config.lua
Labels: g: tft, c: main_page

#6370 feat(infobox): darkmode EA icon for apex infobox league
  lua/wikis/apexlegends/Infobox/League/Custom.lua
Labels: c: infobox, g: apex

#6374 feat(match2): adjust icon sizes on WarCraft 3 for FFA
  lua/wikis/warcraft/MatchSummary.lua
  stylesheets/commons/Brackets.less
Labels: c: match2, g: warcraft

#6376 feat(resultstable): enable type display in counterstrike
  lua/wikis/counterstrike/ResultsTable/Custom.lua
Labels: g: counter-strike, c: results_table

#6369 feat(copypaste) move finish param to map for FC
  lua/wikis/easportsfc/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: easportsfc

#6378 feat(match2): add round corners to mvp display in match summaries
  stylesheets/commons/Brackets.less
Labels: c: match2, stylesheets

#6381 feat(mainpage): Add Trackmania Main Page
  lua/wikis/trackmania/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: g: trackmania, c: main_page

#6380 feat(mainpage): Add Esports Main Page
  lua/wikis/esports/MainPageLayout/data.lua
  stylesheets/commons/Banner.less
Labels: c: main_page, g: esports

#6383 feat(match2): always show streams in match popups (when variant is primary)
  lua/wikis/commons/MatchSummary/Base.lua
  lua/wikis/commons/Widget/Match/ButtonBar.lua
Labels: c: match2

#5914 feat(Infobox): Add Infobox player for chess
  lua/wikis/chess/Info.lua
  lua/wikis/chess/Infobox/Person/Player/Custom.lua
Labels: c: infobox, g: chess

#6375 feat: better tbd display for players/parties
  lua/spec/flags_spec.lua
  lua/spec/golden_masters/match2_matchlist_smoke_apexlegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_mobilelegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_overwatch.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_valorant.txt
  lua/spec/prize_pool_spec.lua
  lua/wikis/commons/Flags/MasterData.lua
  lua/wikis/commons/MatchesScheduleDisplay.lua
  lua/wikis/commons/OpponentDisplay.lua
  lua/wikis/commons/OpponentDisplay/Starcraft.lua
  lua/wikis/commons/Player/Display.lua
  lua/wikis/commons/PrizePool/Base.lua
  lua/wikis/fighters/Player/Display/Custom.lua
  lua/wikis/smash/Player/Display/Custom.lua
Labels: c: opponent

#6367 feat(standings): Improve standings query options
  lua/wikis/commons/Namespace.lua
  lua/wikis/commons/Standings/Parse/Lpdb.lua
  lua/wikis/commons/Standings/Parse/Wiki.lua
Labels: c: standings

#6396 refactor(match2): remove hardcoded match namespace id
  lua/wikis/commons/MatchGroup/Input/Util.lua
Labels: c: match2

#6394 fix(match2): resolve #6393
  lua/wikis/commons/OpponentDisplay/Starcraft.lua
Labels: g: starcraft, c: match2, g: broodwar

#6397 refactor(matchTable): use DateExt.toCountdownArg for date display
  lua/wikis/commons/MatchTable.lua
Labels: c: match_table

#6398 refactor(match2): use DateExt.toCountdownArg in display helper
  lua/wikis/commons/MatchGroup/Display/Helper.lua
Labels: c: match2

#6411 feat: improve match header
  lua/spec/golden_masters/match2_matchlist_smoke_counterstrike.txt
  lua/spec/golden_masters/match2_matchlist_smoke_dota2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_leagueoflegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_mobilelegends.txt
  lua/spec/golden_masters/match2_matchlist_smoke_overwatch.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rainbowsix.txt
  lua/spec/golden_masters/match2_matchlist_smoke_rocketleague.txt
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/spec/golden_masters/match2_matchlist_smoke_valorant.txt
  lua/wikis/commons/Widget/Match/Header.lua
  stylesheets/commons/Match.less
Labels: c: match_ticker, stylesheets

#6345 feat: show tiebreakers in standings tables
  lua/wikis/commons/Standings.lua
  lua/wikis/commons/Standings/Parse/Wiki.lua
  lua/wikis/commons/Standings/Parser.lua
  lua/wikis/commons/Standings/Tiebreaker/Buchholz.lua
  lua/wikis/commons/Standings/Tiebreaker/Factory.lua
  lua/wikis/commons/Standings/Tiebreaker/Interface.lua
  lua/wikis/commons/Standings/Tiebreaker/Manual.lua
  lua/wikis/commons/Standings/Tiebreaker/Match/Count.lua
  lua/wikis/commons/Standings/Tiebreaker/Match/Diff.lua
  lua/wikis/commons/Standings/Tiebreaker/Match/Draws.lua
  lua/wikis/commons/Standings/Tiebreaker/Match/WinRate.lua
  lua/wikis/commons/Standings/Tiebreaker/Match/Wins.lua
  lua/wikis/commons/Standings/Tiebreaker/Points.lua
  lua/wikis/commons/Widget/Standings/Ffa.lua
  lua/wikis/commons/Widget/Standings/MatchOverview.lua
  lua/wikis/commons/Widget/Standings/Swiss.lua
Labels: c: standings

#6414 chore: Adjust MatchSummary width on sc(2)
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/wikis/commons/MatchSummary/Starcraft.lua
  lua/wikis/stormgate/MatchSummary.lua
  lua/wikis/warcraft/MatchSummary.lua
Labels: g: starcraft, c: match2, chore, g: broodwar

#6417 chore: remove some craft specific classes
  lua/spec/golden_masters/match2_matchlist_smoke_starcraft2.txt
  lua/wikis/chess/MatchSummary.lua
  lua/wikis/commons/MatchSummary/Starcraft.lua
  lua/wikis/stormgate/MatchSummary.lua
  lua/wikis/warcraft/MatchSummary.lua
  stylesheets/commons/Brackets.less
Labels: g: starcraft, c: match2, g: warcraft, g: broodwar, stylesheets, g: stormgate

#6407 feat(match2): always sort players by role in LoL match page
  lua/wikis/leagueoflegends/MatchPage.lua
Labels: c: match2, g: leagueoflegends

#6137 feat(flag): Split HKTW from East Asia flag
  lua/wikis/commons/Flags/MasterData.lua
Labels: data

#6422 chore: remove last `hasFactionOrFlag` in sc(2)
  lua/wikis/commons/OpponentDisplay/Starcraft.lua
Labels: g: starcraft, chore, g: broodwar, c: opponent

#6431 fix: Remove "tbd" results display in ResultsTable
  lua/wikis/commons/ResultsTable/Base.lua
Labels: c: results_table

#6429 feat: add icons for Pokemon
  lua/wikis/pokemon/Info.lua
Labels: g: pokemon, data, c: main_page

#6418 fix: vod dropdown on match page wikis
  lua/wikis/commons/Widget/Match/ButtonBar.lua
  lua/wikis/commons/Widget/Match/VodButton.lua
  lua/wikis/commons/Widget/Match/VodsDropdown.lua
  lua/wikis/commons/Widget/Match/VodsDropdownButton.lua
  stylesheets/commons/Match.less
Labels: c: match_ticker, stylesheets

#6373 feat(match2): Ffa support
  lua/wikis/geoguessr/GameSummary.lua
  lua/wikis/geoguessr/MatchGroup/Input/Custom.lua
  lua/wikis/geoguessr/MatchSummary/Ffa.lua
Labels: c: match2, g: geoguessr

#6442 fix: Do not duplicate last group in transfer list
  lua/wikis/commons/TransferList.lua
Labels: c: transfer

#6443 fix: Catch nil in mapDisplayName on AoE
  lua/wikis/ageofempires/MatchSummary.lua
Labels: c: match2, g: ageofempires

#6444 chore: Add West Africa Time (WAT)
  lua/wikis/commons/Timezone/Data.lua
Labels: c: standard, data

#6448 fix: Remove colors in CR matchsummary
  lua/wikis/clashroyale/MatchSummary.lua
Labels: c: match2, g: clashroyale

#6457 docs(opponent): fix spelling in documentation
  lua/wikis/commons/Opponent.lua
Labels: documentation, c: opponent

#6472 test: remove TeamTemplate fake
  lua/spec/helpers/test_helper.lua
  lua/spec/standings_storage_spec.lua
  lua/test_assets/team_template_data.lua
Labels: CI/CD

#6470 fix: missing nil catch in opponent module
  lua/wikis/commons/Opponent.lua
Labels: c: opponent

#6461 refactor(infobox): use daterange widget in upcoming and ongoing tournaments widget
  lua/wikis/commons/Widget/Infobox/UpcomingTournaments/Row.lua
  lua/wikis/commons/Widget/Misc/DateRange.lua
Labels: c: infobox_extensions

#6453 refactor: replace style attribute with css in project overview
  lua/wikis/lab/Widget/ProjectOverview.lua
Labels: lab

#6465 chore: Add youtube param to AoE CopyPaste
  lua/wikis/ageofempires/GetMatchGroupCopyPaste/wiki.lua
Labels: c: match2, g: ageofempires
